---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/tracks/12472418?client_id=<SOUNDCLOUD_TEST_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"artwork_url":"https://i1.sndcdn.com/artworks-000005813687-l755p4-large.jpg","caption":null,"commentable":true,"comment_count":84,"created_at":"2011-03-24T14:58:03Z","description":"","downloadable":false,"download_count":0,"duration":198945,"full_duration":198945,"embeddable_by":"all","genre":"Pop","has_downloads_left":false,"id":12472418,"kind":"track","label_name":"Captured
        Tracks","last_modified":"2022-03-19T17:13:28Z","license":"all-rights-reserved","likes_count":5792,"permalink":"chinatown","permalink_url":"https://soundcloud.com/wildnothing/chinatown","playback_count":410844,"public":true,"publisher_metadata":null,"purchase_title":null,"purchase_url":"http://itunes.apple.com/us/album/gemini/id365194361","release_date":null,"reposts_count":504,"secret_token":null,"sharing":"public","state":"finished","streamable":true,"tag_list":"wildnothing
        gemini chinatown captured tracks jack tatum","title":"Chinatown","uri":"https://api.soundcloud.com/tracks/12472418","urn":"soundcloud:tracks:12472418","user_id":3820545,"visuals":null,"waveform_url":"https://wave.sndcdn.com/aPeRGvbN3lfq_m.json","display_date":"2011-03-24T14:58:03Z","media":{"transcodings":[{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:12472418/49aa64ee-0ee1-4b7e-b79d-3b19584cbd7e/stream/hls","preset":"mp3_0_0","duration":198945,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mpeg"},"quality":"sq"},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:12472418/49aa64ee-0ee1-4b7e-b79d-3b19584cbd7e/stream/progressive","preset":"mp3_0_0","duration":198945,"snipped":false,"format":{"protocol":"progressive","mime_type":"audio/mpeg"},"quality":"sq"},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:12472418/14a8753c-70a4-483a-9f6b-61da945e565a/stream/hls","preset":"opus_0_0","duration":198945,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/ogg;
        codecs=\"opus\""},"quality":"sq"}]},"station_urn":"soundcloud:system-playlists:track-stations:12472418","station_permalink":"track-stations:12472418","track_authorization":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJCWSIsInN1YiI6IiIsInJpZCI6ImQ3YzllZGI5LTJjMmEtNGRmNi04NzkzLWViZDBjMjFjMTg5ZiIsImlhdCI6MTcxODgyOTg3M30.gstVms3e_PopLD4eRzhvGFTfcEmeu2CL6MquOsKLQ7o","monetization_model":"NOT_APPLICABLE","policy":"ALLOW","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000194665247-0u9he3-large.jpg","first_name":"WIld
        Nothing","followers_count":18264,"full_name":"WIld Nothing","id":3820545,"kind":"user","last_modified":"2020-11-19T16:12:41Z","last_name":"","permalink":"wildnothing","permalink_url":"https://soundcloud.com/wildnothing","uri":"https://api.soundcloud.com/users/3820545","urn":"soundcloud:users:3820545","username":"Wild_Nothing","verified":true,"city":"New
        York","country_code":"US","badges":{"pro":false,"pro_unlimited":false,"verified":true},"station_urn":"soundcloud:system-playlists:artist-stations:3820545","station_permalink":"artist-stations:3820545"}}'
  recorded_at: Wed, 19 Jun 2024 20:44:33 GMT
recorded_with: VCR 6.2.0
