---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/tracks/2203363?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Yandex-Music-Application:
      - music-web
      X-Yandex-Music-Execution-Duration:
      - '2'
      X-Yandex-Music-Hostname:
      - music-stable-back-sas-55.sas.yp-c.yandex.net
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"req-id":"1683645174716122-792836943954958137","hostname":"music-stable-back-sas-55.sas.yp-c.yandex.net","exec-duration-millis":2},"result":[{"id":"2203363","realId":"2203363","title":"Running
        Up That Hill (A Deal With God)","available":false,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"availableForOptions":["bookmate"],"disclaimers":[],"storageDir":"","durationMs":298930,"fileSize":0,"r128":{"i":-15.63,"tp":0.17},"fade":{"inStart":2.3,"inStop":6.0,"outStart":284.3,"outStop":291.6},"previewDurationMs":30000,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/42108/67876e03.a.24376-1/%%","prefix":"67876e03.a.24376-1"},"genres":[]}],"albums":[{"id":2688178,"title":"Cirkeln","type":"compilation","metaType":"music","version":"Official
        Motion Picture Soundtrack","contentWarning":"explicit","year":2015,"releaseDate":"2015-03-04T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","ogImage":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","genre":"soundtrack","trackCount":4,"likesCount":37,"recent":false,"veryImportant":false,"artists":[{"id":171,"name":"Various
        artists","various":true,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/2411511/adea840e.a.13203052-1/%%","prefix":"adea840e.a.13203052-1"},"genres":[]}],"labels":[{"id":450532,"name":"RMV
        Grammofon"}],"available":true,"availableForPremiumUsers":true,"availableForOptions":["bookmate"],"availableForMobile":true,"availablePartially":true,"bests":[2203363],"trackPosition":{"volume":1,"index":3}}],"coverUri":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","ogImage":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","lyricsAvailable":true,"type":"music","rememberPosition":false,"trackSharingFlag":"COVER_ONLY","lyricsInfo":{"hasAvailableSyncLyrics":true,"hasAvailableTextLyrics":true},"trackSource":"OWN","error":"no-rights"}]}'
  recorded_at: Tue, 09 May 2023 15:12:53 GMT
- request:
    method: get
    uri: https://api.music.yandex.net/albums/2688178/with-tracks?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Yandex-Music-Application:
      - music-web
      X-Yandex-Music-Execution-Duration:
      - '6'
      X-Yandex-Music-Hostname:
      - music-stable-back-sas-48.sas.yp-c.yandex.net
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-sas-48.sas.yp-c.yandex.net","req-id":"1683645174990760-1304193337632314934","exec-duration-millis":"7"},"result":{"id":2688178,"title":"Cirkeln","type":"compilation","metaType":"music","version":"Official
        Motion Picture Soundtrack","contentWarning":"explicit","year":2015,"releaseDate":"2015-03-04T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","ogImage":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","genre":"soundtrack","metaTagId":"58e3c0796ebb3476087d1911","trackCount":4,"likesCount":37,"recent":false,"veryImportant":false,"artists":[{"id":171,"name":"Various
        artists","various":true,"composer":false,"cover":{"type":"from-album-cover","prefix":"adea840e.a.13203052-1","uri":"avatars.yandex.net/get-music-content/2411511/adea840e.a.13203052-1/%%"},"genres":[]}],"labels":[{"id":450532,"name":"RMV
        Grammofon"}],"available":true,"availableForPremiumUsers":true,"disclaimers":[],"availableForOptions":["bookmate"],"availableForMobile":true,"availablePartially":true,"bests":[2203363],"customWave":{"title":"Cirkeln","animationUrl":"https://music-custom-wave-media.s3.yandex.net/base.json"},"sortOrder":"asc","volumes":[[{"id":"23340352","realId":"23340352","title":"Mountains
        Crave","trackSource":"OWN","major":{"id":1,"name":"UNIVERSAL_MUSIC"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"disclaimers":[],"availableForOptions":["bookmate"],"durationMs":217700,"storageDir":"","fileSize":0,"r128":{"i":-11.33,"tp":-0.12},"previewDurationMs":30000,"artists":[{"id":546630,"name":"Anna
        von Hausswolff","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"cb676374.a.5080737-2","uri":"avatars.yandex.net/get-music-content/149669/cb676374[...]
