---
http_interactions:
- request:
    method: get
    uri: https://bandcamp.com/api/mobile/22/tralbum_details?band_id=2707934946&tralbum_id=2530224521&tralbum_type=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":2530224521,"type":"a","title":"high society","bandcamp_url":"https://luxuryelite.bandcamp.com/album/high-society","art_id":1077852600,"band":{"band_id":2707934946,"name":"luxury
        elite","image_id":30557033,"bio":null,"location":null},"tralbum_artist":"luxury
        elite","package_art":[],"featured_track_id":3792959704,"tracks":[{"track_id":3792959704,"track_license_id":null,"title":"night
        walk","track_num":1,"streaming_url":{"mp3-128":"https://bandcamp.com/stream_redirect?enc=mp3-128&track_id=3792959704&ts=1682849584&t=572d625b4cd6b39365b5f5ad4611c2a6da3288dc"},"duration":151.414,"encodings_id":3619024542,"album_title":null,"band_name":"luxury
        elite","art_id":null,"album_id":2530224521,"is_streamable":true,"has_lyrics":false,"is_set_price":false,"price":null,"has_digital_download":false,"merch_ids":null,"merch_sold_out":null,"currency":"USD","require_email":false,"is_purchasable":false,"band_id":2707934946,"label":null,"label_id":null},{"track_id":2272935581,"track_license_id":null,"title":"perfume
        commercials","track_num":2,"streaming_url":{"mp3-128":"https://bandcamp.com/stream_redirect?enc=mp3-128&track_id=2272935581&ts=1682849584&t=17b03b81caec03627dacf228d37fca9b489779c3"},"duration":124.343,"encodings_id":2635014297,"album_title":null,"band_name":"luxury
        elite","art_id":null,"album_id":2530224521,"is_streamable":true,"has_lyrics":false,"is_set_price":false,"price":null,"has_digital_download":false,"[...]
