---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?lang=en&page=0&text=kate%20bush&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-man-21.man.yp-c.yandex.net","req-id":"1633032898832466-8537567805382363359","exec-duration-millis":"95"},"result":{"type":"album","page":0,"perPage":10,"text":"kate
        bush","searchRequestId":"music-stable-back-man-21.man.yp-c.yandex.net-1633032898832466-8537567805382363359-1633032898873","albums":{"total":94,"perPage":10,"order":0,"results":[{"id":12874238,"storageDir":"170b7b50.a.12874238","originalReleaseYear":2020,"year":2020,"artists":[{"id":243849,"name":"Stoner","cover":{"type":"from-album-cover","prefix":"1ab73ee8.a.17536709-1","uri":"avatars.yandex.net/get-music-content/5282321/1ab73ee8.a.17536709-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2411511/170b7b50.a.12874238-1/%%","trackCount":1,"likesCount":2,"genre":"rock","available":true,"availableForPremiumUsers":true,"type":"single","title":"Kate
        Bush","availableRegions":["ge","kg","kz","am","ru","az","il","md","by","ua","tj","uz","tm"],"labels":["Stoner"],"regions":["BELARUS_PREMIUM","BELARUS"]},{"id":9289032,"storageDir":"de894b92.a.9289032","originalReleaseYear":2019,"year":2019,"artists":[{"id":7118854,"name":"Sharpson","cover":{"type":"from-album-cover","prefix":"3f3b8993.a.17303521-1","uri":"avatars.yandex.net/get-music-content/5236179/3f3b8993.a.17303521-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2114230/de894b92.a.9289032-1/%%","trackCount":1,"likesCount":1,"genre":"techno","available":[...]
