---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?lang=en&page=0&text=wejlhg239gh23&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-man-31.man.yp-c.yandex.net","req-id":"1633032899222366-204683063293533675","exec-duration-millis":"51"},"result":{"type":"album","page":0,"perPage":10,"text":"wejlhg239gh23","searchRequestId":"music-stable-back-man-31.man.yp-c.yandex.net-1633032899222366-204683063293533675-1633032899251"}}'
  recorded_at: Thu, 30 Sep 2021 20:14:59 GMT
recorded_with: VCR 6.0.0
