---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/charts?f=tag:dream%20pop&nr=15&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '3300'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"artist":[{"listeners":"962720","name":"Mitski","scrobbles":"127651258","weight":2985888,"url":"https://www.last.fm/music/Mitski","image":"https://lastfm.freetls.fastly.net/i/u/174s/c0a3c48ab4f2ae8f7ffe7c9a1e3e4704.png"},{"listeners":"1090419","name":"Joji","scrobbles":"90243878","weight":1400720,"url":"https://www.last.fm/music/Joji","image":"https://lastfm.freetls.fastly.net/i/u/174s/fd3b4865104d584287016c14ee02cd87.png"},{"listeners":"1012121","name":"Clairo","scrobbles":"56145546","weight":981480,"url":"https://www.last.fm/music/Clairo","image":"https://lastfm.freetls.fastly.net/i/u/174s/9b6809893dbb1b694c09f870c353e9ce.png"},[...]
