---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?key=<GOOGLE_API_KEY>&q=wild%20nothing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Request contains an invalid argument.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Fri, 05 Feb 2021 10:03:23 GMT
recorded_with: VCR 6.0.0
