---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/artist?index=0&limit=20&q=kate%20bush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-133
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1049,"name":"Kate Bush","link":"https:\/\/www.deezer.com\/artist\/1049","picture":"https:\/\/api.deezer.com\/artist\/1049\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/1000x1000-000000-80-0-0.jpg","nb_album":28,"nb_fan":146155,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist"},{"id":5327124,"name":"Kate''s
        Bush","link":"https:\/\/www.deezer.com\/artist\/5327124","picture":"https:\/\/api.deezer.com\/artist\/5327124\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2b75017035349be22d85d47ce831a1ad\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2b75017035349be22d85d47ce831a1ad\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2b75017035349be22d85d47ce831a1ad\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2b75017035349be22d85d47ce831a1ad\/1000x1000-000000-80-0-0.jpg","nb_album":1,"nb_fan":59,"radio":false,"tracklist":"https:\/\/api.deezer.com\/artist\/5327124\/top?limit=50","type":"artist"},{"id":1049866,"name":"Karaoke
        - Kate Bush","link":"https:\/\/www.deezer.com\/artist\/1049866","picture":"https:\/\/api.deezer.com\/artist\/1049866\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/1000x1000-000000-80-0-0.jpg","nb_album":0,"nb_fan":80,"radio":false,"tracklist":"https:\/\/api.deezer.com\/artist\/1049866\/top?limit=50","type":"artist"}],"total":3}'
  recorded_at: Tue, 26 Jan 2021 10:55:38 GMT
recorded_with: VCR 6.0.0
