---
http_interactions:
- request:
    method: post
    uri: https://eu.mesk.skill.music.a2z.com/api/searchCatalogArtists
    body:
      encoding: UTF-8
      string: '{"keyword":"kate bush","headers":"{\"x-amzn-authentication\":\"{\\\"interface\\\":\\\"ClientAuthenticationInterface.v1_0.ClientTokenElement\\\",\\\"accessToken\\\":\\\"Atza|IwEBIIQd1ug2SOj_RQotgALoBSDScJuKIBKiCCEKJRv-OZJVTIc0AddPd7U7H7MM55xARpmkFBWyE91VPL9YXxNSXR0FeaeSqEu10ulIb3PuP9pIb3jJNGjYo437NY6nGaePiRftL55IyP014lrm3NcxsDPfasAtM31kzTpQ8Z-HN8enuJChGt3BCIbpYe_XJnK_hRHMwXXRCtY-Z606C2vLQQNniP-w5WEwutmtAhg14D02I3KHOryR5Sn0ajdJav3H41Pj0yL9xgw6ZXdh4yB-1XN8cy85zJjXmPtB-QJZtuK4cVS-qhnBlKL9nCaaXao4YW7lUFZOzTFpVM3zd4pbDJl1ON6eTHaLE3NbNlK1EK5GslLLNDs8DTRk10Oukp5GOaaR8xhpP8-fES7nEa4sIlRn\\\"}\",\"x-amzn-device-model\":\"WEBPLAYER\",\"x-amzn-device-width\":\"1920\",\"x-amzn-device-family\":\"WebPlayer\",\"x-amzn-device-id\":\"25814726589747619\",\"x-amzn-user-agent\":\"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41
        Safari/537.36\",\"x-amzn-device-height\":\"1080\",\"x-amzn-request-id\":\"54406f3d-144b-42e7-90f9-5dcaa97a4a6e\",\"x-amzn-device-language\":\"en_GB\",\"x-amzn-os-version\":\"1.0\",\"x-amzn-application-version\":\"1.0.15759.0\",\"x-amzn-timestamp\":\"1739135574000\",\"x-amzn-page-url\":\"https://music.amazon.com\",\"x-amzn-video-player-token\":\"{}\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - FvENng7dDoEEMZA=
    body:
      encoding: ASCII-8BIT
      string: '{"methods":[{"interface":"TemplateListInterface.v1_0.BindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.GalleryTemplateInterface.GalleryTemplate","widgets":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.VisualListingWidgetElement","items":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.CircleVerticalItemElement","primaryText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Kate
        Bush","disabled":false},"primaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/artists/B001EE18FM/kate-bush","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ARTIST%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7C8H8SRBTR2RM51YSSG2E1%7C0%7C1%7C0%7CB001EE18FM%7C-1%7Cnull%7CZ0ndsl88PW%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"TemplateListInterface.v1_0.CreateTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.DetailTemplateInterface.DetailTemplate","headerText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Kate
        Bush","disabled":false},"widgets":[],"templateData":{"interface":"Web.PageInterface.v1_0.TemplateDataElement","deeplink":"/artists/B001EE18FM/kate-bush","seoHead":{"interface":"Web.PageInterface.v1_0.SEOHeadElement","title":"Play
        Kate Bush on Amazon Music","meta":[{"interface":"Web.PageInterface.v1_0.SEOHeadMetaElement","name":"description","content":"Listen
        to your favourite songs from Kate Bush.  Stream ad-free with Amazon Music
        on mobile, desktop, and tablet. Download our mobile app now."}],"link":[{"interface":"Web.PageInterface.v1_0.SEOHeadLinkElement","rel":"canonical","href":"https://music.amazon.com/artists/B001EE18FM/kate-bush"}],"script":[]},"title":"Play
        Kate Bush on Amazon Music","description":"","keywords":""},"backgroundImage":"https://m.media-amazon.com/images/I/61OLMUG+MuL._AA500._SX1920_SY1080_BL0_QL100_.jpg","headerLabel":"Artist","headerButtons":[],"contextMenu":{"interface":"Web.ContextInterface.v1_0.ContextMenuElement","options":[{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"Share
        this artist","icon":"shareandroid","disabled":false,"hidden":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/shareCatalogArtist?id=B001EE18FM&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[{"interface":"TemplateListInterface.v1_0.CreateAndBindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.MessageTemplateInterface.MessageTemplate","message":"We
        are unable to complete your action.  Please try again later. ","header":"We''re
        Sorry","image":"https://images-na.ssl-images-amazon.com/images/G/01/digital/music/player/recs-error-headphones._SX626_SY213_BL0_QL100_FMpng_.png","onCreated":[],"onBound":[],"onViewed":[],"onInteraction":[],"onLeave":[],"launchMode":"standard","cacheSeconds":9223372036854775807},"screenMode":"templateShard","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"TEMPLATE"},"forced":false}],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22DISPLAY_SHARE%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7C8H8SRBTR2RM51YSSG2E1%7C0%7C1%7C0%7CB001EE18FM%7C-1%7Cnull%7CZ0ndsl88PW%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false}]},{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"","disabled":false,"hidden":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"ARTIST_FOLLOW_STATE","storageKey":"B001EE18FM","states":{"PENDING":{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"","disabled":false,"hidden":false,"onItemSelected":[]},"NOT_FOLLOWING":{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"Follow","disabled":false,"hidden":false,"onItemSelected":[{"interface":"StorageInterface.v1_0.SetValueInGroupMethod","group":"ARTIST_FOLLOW_STATE","key":"B001EE18FM","value":"PENDING","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/likeMusicEntity?artistCatalogId=B001EE18FM&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[{"interface":"TemplateListInterface.v1_0.CreateAndBindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_[...]
