---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"kate
        bush","specType":"artist","firstLimit":20,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca2878a753a7b7b77dd0d123c29067
      X-Amzn-Requestid:
      - 63b50bb4-f2d5-4880-b4db-11ddb2d87c2a
      Etag:
      - W/"9f9-XkA9e6P+P0Icggd4AU30kO18P+Y"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_21389c157d","searchText":"kate
        bush","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":false,"endCursor":null,"token":null,"hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:artist:asin:B001EE18FM?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Artist","id":"B001EE18FM","name":"Kate
        Bush","images":[{"id":"814Hdgg3aeL:BACKGROUND","url":"https://m.media-amazon.com/images/I/814Hdgg3aeL.jpg","width":2560,"height":1920,"imageType":"BACKGROUND","__typename":"Image"},{"id":"41Fp3RAAkqL:BACKGROUND","url":"https://m.media-amazon.com/images/I/41Fp3RAAkqL.jpg","width":500,"height":375,"imageType":"BACKGROUND","__typename":"Image"},{"id":"71MTuK85DBL:PROFILE","url":"https://m.media-amazon.com/images/I/71MTuK85DBL.jpg","width":2560,"height":1486,"imageType":"PROFILE","__typename":"Image"},{"id":"31PzJkE0xuL:PROFILE","url":"https://m.media-amazon.com/images/I/31PzJkE0xuL.jpg","width":500,"height":290,"imageType":"PROFILE","__typename":"Image"}],"uri":"mrn:1.0:catalog:artist:asin:B001EE18FM?territory=GB","playParams":{"id":"mrn:1.0:catalog:artist:asin:B001EE18FM?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"url":"https://music.amazon.co.uk/artists/B001EE18FM?ref=dm_ff_amazonmusic_greenhornet_web","followsContext":{"isFollowed":false,"__typename":"FollowsContext"}}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:artist:asin:B0F8C272CG?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Artist","id":"B0F8C272CG","name":"Kate
        Bush","images":[{"id":"81U-VSsn4bL:PROFILE","url":"https://m.media-amazon.com/images/I/81U-VSsn4bL.jpg","width":2560,"height":2560,"imageType":"PROFILE","__typename":"Image"},{"id":"51dO4-plDYL:PROFILE","url":"https://m.media-amazon.com/images/I/51dO4-plDYL.jpg","width":500,"height":500,"imageType":"PROFILE","__typename":"Image"}],"uri":"mrn:1.0:catalog:artist:asin:B0F8C272CG?territory=GB","playParams":{"id":"mrn:1.0:catalog:artist:asin:B0F8C272CG?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"url":"https://music.amazon.co.uk/artists/B0F8C272CG?ref=dm_ff_amazonmusic_greenhornet_web","followsContext":{"isFollowed":false,"__typename":"FollowsContext"}}}]}],"__typename":"SpecificationSearchResults"}},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:48 GMT
recorded_with: VCR 6.4.0
