---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-74
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"<DEEZER_LICENSE_TOKEN>","expiration_timestamp":1623920431,"license_country":"BY","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1622624431,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"BY","has_joined_family":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"featurefm_token":false,"test_format":false,"force_adsource":"auto"},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card","option":"svd_discovery","behaviour":"new
        discovery algorithm, based on nearest neighbours search"},"flow_algorithms":{"id":"Flow-2021-april-2","option":"C","behaviour":"default
        algorithm, using v2 tags for reco, old tag embeddings"},"playlists_suggestion_algorithm_october_2020":{"id":"playlists_suggestion_algorithm_october_2020","option":"default","behaviour":"Suggest
        playlists thompson sampling reinforcement learning, fallback on coldstart
        models"},"share_android_image_preview":{"id":"share_android_image_preview","option":"default","behaviour":"default
        sharing"},"artist_essentials_rail":{"id":"artist_essentials_rail","option":"B","behaviour":"display
        artist essentials rail"},"family_page":{"id":"family_page","option":"control","behaviour":"Default
        \"classical\" family page. User is part of the AB test"},"premium_tab":{"id":"premium_tab","option":"default","behaviour":"Default
        classical Premium Tab"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"BY","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"<DEEZER_USER_TOKEN>","PLAYLIST_WELCOME_ID":"1362496565","OFFER_ID":"0","OFFER_ELIGIBILITIES":[],"COUNTRY":"BY","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1622624431,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3c839c46248c5afdf30b288b3e7fda3ab307ee2340e3af9c4d2181cc8f8397401fce4cf3fa90e230a4655f0f93d7266cba4d6344dafebe6122c5c8d4a2b3884fcd0d36cbe303238d34453dc36fac17efb46863da3d6e594c205412b8d85a2d7ec2259b5e0bab751122a8a00b8114325a2e72cca4ea286a8496c1bf65f7ca04a105badf0f40611dba5b4326c31ba0e250675866fcc0f63d3aca604b4129dec11ac9e1a55a58143ab65c85a80b01ac5bebfc75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_API_TOKEN>&api_version=1.0&method=search.music
    body:
      encoding: UTF-8
      string: '{"filter":"all","nb":20,"output":"ALBUM","query":"kate bush","start":0}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-156
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"data":[{"ALB_ID":"1063611","ALB_TITLE":"Hounds
        Of Love","ALB_PICTURE":"9f2d90023183010d657b01cba6bd5f19","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"0","ART_NAME":"Kate
        Bush","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"}],"AVAILABLE":true,"VERSION":"","ART_ID":"1049","ART_NAME":"Kate
        Bush","EXPLICIT_ALBUM_CONTENT":{"EXPLICIT_LYRICS_STATUS":7,"EXPLICIT_COVER_STATUS":2},"PHYSICAL_RELEASE_DATE":"2011-05-16","TYPE":"1","ARTIST_IS_DUMMY":false,"NUMBER_TRACK":"12","ORIGINAL_RELEASE_DATE":"1985-09-16","__TYPE__":"album"},{"ALB_ID":"93835602","ALB_TITLE":"Hounds
        of Love (2018 Remaster)","ALB_PICTURE":"c1f05172a345a81595307fb2fef118dd","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"0","ART_NAME":"Kate
        Bush","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_zh-hant":{"name":"[...]
