---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/5319?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 5319, "main_release": 2897713, "most_recent_release": 15771473,
        "resource_url": "https://api.discogs.com/masters/5319", "uri": "https://www.discogs.com/Madonna-Madonna/master/5319",
        "versions_url": "https://api.discogs.com/masters/5319/versions", "main_release_url":
        "https://api.discogs.com/releases/2897713", "most_recent_release_url": "https://api.discogs.com/releases/15771473",
        "num_for_sale": 1781, "lowest_price": 1.07, "images": [{"type": "primary",
        "uri": "https://img.discogs.com/rixdaC6cvsrM9IAsKtADIq2bN3c=/fit-in/589x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2897713-1306246651.jpeg.jpg",
        "resource_url": "https://img.discogs.com/rixdaC6cvsrM9IAsKtADIq2bN3c=/fit-in/589x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2897713-1306246651.jpeg.jpg",
        "uri150": "https://img.discogs.com/_zZ0cXp9rtV_RI4nxTGv7ofKSg0=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-2897713-1306246651.jpeg.jpg",
        "width": 589, "height": 589}, {"type": "secondary", "uri": "https://img.discogs.com/CCUQB0RQyI2AVZOTlLgvrm_99W4=/fit-in/589x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2897713-1306246668.jpeg.jpg",
        "resource_url": "https://img.discogs.com/CCUQB0RQyI2AVZOTlLgvrm_99W4=/fit-in/589x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2897713-1306246668.jpeg.jpg",
        "uri150": "https://img.discogs.com/wTBT-sDECE8WWll9obRb0JRw39k=/fit-in/150x150/filters:s[...]
