---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?lang=en&page=0&text=wejlhg239gh23&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-vla-40.vla.yp-c.yandex.net","req-id":"1633032923029381-9574733688842001065","exec-duration-millis":"81"},"result":{"type":"track","page":0,"perPage":20,"text":"wejlhg239gh23","searchRequestId":"music-stable-back-vla-40.vla.yp-c.yandex.net-1633032923029381-9574733688842001065-1633032923036"}}'
  recorded_at: Thu, 30 Sep 2021 20:15:23 GMT
recorded_with: VCR 6.0.0
