---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/artists/wejlhg239gh23?lang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"invocationInfo":{"req-id":"1633032898021066-2239264706803312563","hostname":"music-stable-back-man-17.man.yp-c.yandex.net"},"error":{"name":"validate","message":"Parameters
        requirements are not met"}}'
  recorded_at: Thu, 30 Sep 2021 20:14:58 GMT
recorded_with: VCR 6.0.0
