---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&offset=0&q=kate%20bush&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=kate+bush&type=artist&offset=0&limit=20",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
              },
              "followers" : {
                "href" : null,
                "total" : 680104
              },
              "genres" : [ "art pop", "art rock", "baroque pop", "chamber psych", "dance pop", "dance rock", "new wave pop", "permanent wave", "piano rock", "singer-songwriter" ],
              "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
              "id" : "1aSxMhuvixZ8h9dK9jIDwL",
              "images" : [ {
                "height" : 930,
                "url" : "https://i.scdn.co/image/3b2db6840f31b367518f97b1a5d6bea653ea56ae",
                "width" : 620
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/b8e74146831af09bd16bf5b7c77cbe92e86355db",
                "width" : 200
              }, {
                "height" : 96,
                "url" : "https://i.scdn.co/image/08ec46ff35f3c5b2085ac0d3d3f8ba0f77086a8f",
                "width" : 64
              } ],
              "name" : "Kate Bush",
              "popularity" : 67,
              "type" : "artist",
              "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/2OVyEZ8pzFnBw0XfZCKhqe"
              },
              "followers" : {
                "href" : null,
                "total" : 103
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/2OVyEZ8pzFnBw0XfZCKhqe",
              "id" : "2OVyEZ8pzFnBw0XfZCKhqe",
     [...]
