---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDXlski5Nk80PjNwaSTw-Qr_gz0Eche_x0o7gnXRR5CoX1DQqIKYRhKnmJru0RMmzYVB76yvwuI9AlwzRh1ePUoNZ4zVylJfZ5p0U8XafJoAp1aGBO2POMSyVbQoZHM7-gcSike96ET6NP3o-5r_doPt0PtRoH2kPmIeP0kms01KQY6IqmCJ1z-jpQGI8cx_qSQJcNVEgA2kRoDUB3iZavdOqy8y66fnhpu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_name" : "staniel",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/user/varkxpososm9sp59ojzpoc7rj"
          },
          "href" : "https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj",
          "id" : "varkxpososm9sp59ojzpoc7rj",
          "images" : [ {
            "url" : "https://i.scdn.co/image/ab67757000003b82faab16b92aabff3f819a446a",
            "height" : 64,
            "width" : 64
          }, {
            "url" : "https://i.scdn.co/image/ab6775700000ee85faab16b92aabff3f819a446a",
            "height" : 300,
            "width" : 300
          } ],
          "type" : "user",
          "uri" : "spotify:user:varkxpososm9sp59ojzpoc7rj",
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "country" : "GB",
          "product" : "free",
          "explicit_content" : {
            "filter_enabled" : false,
            "filter_locked" : false
          }
        }
  recorded_at: Fri, 07 Jul 2023 15:38:21 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks?limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDXlski5Nk80PjNwaSTw-Qr_gz0Eche_x0o7gnXRR5CoX1DQqIKYRhKnmJru0RMmzYVB76yvwuI9AlwzRh1ePUoNZ4zVylJfZ5p0U8XafJoAp1aGBO2POMSyVbQoZHM7-gcSike96ET6NP3o-5r_doPt0PtRoH2kPmIeP0kms01KQY6IqmCJ1z-jpQGI8cx_qSQJcNVEgA2kRoDUB3iZavdOqy8y66fnhpu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjhmZTZkZTY0NjY0ZjM2NWQ0MDkxNmMzNDgwYzdmNjAxIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/me/tracks?offset=0&limit=20",
          "items" : [ {
            "added_at" : "2023-07-03T12:47:18Z",
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB",
                  "id" : "6NrkINd80slV25wkBu9mEB",
                  "name" : "Wild Nothing",
                  "type" : "artist",
                  "uri" : "spotify:artist:6NrkINd80slV25wkBu9mEB"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "ET", "FI", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "KE", "KG", "KH", "KM", "KN", "KR",[...]
