---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_LASTFM_TAGS>&fields=queries(request(totalResults)),items(pagemap(metatags(og:site_name,og:url,og:title),cse_image))&key=<GOOGLE_API_KEY>&q=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "8970000"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Last.fm",
                    "og:title": "Pop music | Last.fm",
                    "og:url": "https://www.last.fm/tag/pop"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://www.last.fm/static/images/lastfm_logo_facebook.15d8133be114.png"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Last.fm",
                    "og:title": "Indie pop music | Last.fm",
                    "og:url": "https://www.last.fm/tag/indie+pop"
                  }
                ],
                "cse_image": [
                  {
 [...]
