---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=50&method=chart.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"wAp (fEAt. mEgAn thEe stAllIOn)","duration":"0","playcount":"3662209","listeners":"260768","mbid":"","url":"https://www.last.fm/music/Cardi+B/_/wAp+(fEAt.+mEgAn+thEe+stAllIOn)","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Cardi
        B","mbid":"","url":"https://www.last.fm/music/Cardi+B"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]},{"name":"Blinding
        Lights","duration":"0","playcount":"8242560","listeners":"503920","mbid":"","url":"https://www.last.fm/music/The+Weeknd/_/Blinding+Lig[...]
