---
http_interactions:
- request:
    method: post
    uri: https://music.youtube.com/youtubei/v1/browse
    body:
      encoding: UTF-8
      string: '{"context":{"client":{"userAgent":"Mozilla/5.0 (X11; Linux x86_64)
        AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7445.3 Safari/537.36","clientName":"WEB_REMIX","clientVersion":"1.20251013.03.00"}},"browseId":"wejlhg239gh23"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Request contains an invalid argument.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Wed, 15 Oct 2025 20:41:32 GMT
recorded_with: VCR 6.3.1
