---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/bee184b6-493b-46bc-a3a1-31e434367c4a?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '1681044248'
      Etag:
      - W/"40273e1923dc945db30f58708a3a89fb"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"bee184b6-493b-46bc-a3a1-31e434367c4a","asin":null,"title":"Never
        for Ever","cover-art-archive":{"count":5,"artwork":true,"darkened":false,"back":true,"front":true},"media":[{"format":"12\"
        Vinyl","format-id":"3e9080b0-5e6c-34ab-bd15-f526b6306a64","title":"","tracks":[{"recording":{"artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"type":"Person","name":"Kate Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate"}}],"title":"Babooshka","length":208000,"video":false,"id":"21026567-8554-45f3-9644-ec251571f8c1","tags":[{"name":"art
        pop","count":2},{"count":1,"name":"art rock"},{"name":"baroque pop","count":1},{"count":1,"name":"piano
        rock"},{"name":"pop","count":2},{"name":"pop rock","count":4},{"count":2,"name":"progressive
        pop"}],"first-release-date":"1980-06-27","disambiguation":""},"position":1,"number":"A1","title":"Babooshka","length":197000,"artist-credit":[{"artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush","type":"Person","sort-name":"Bush, Kate","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396"},"name":"Kate
        Bush","joinphrase":""}],"id":"9d944fb3-3034-4de8-b3bf-20256a1e013c"},{"length":169000,"title":"Delius","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"sort-name":"Bush, Kate","id":"4b585938-f271-45e2-b19a[...]
