---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/288149/with-tracks?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-man-37.man.yp-c.yandex.net","req-id":"1636181971032632-15436388298057417911","exec-duration-millis":"3"},"result":{"id":288149,"title":"Hounds
        Of Love","metaType":"music","year":1985,"releaseDate":"2011-05-16T00:00:00+04:00","coverUri":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","ogImage":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","genre":"pop","buy":[],"trackCount":12,"likesCount":118,"recent":false,"veryImportant":false,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"8eeff4ab.a.218262-1","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%"},"genres":[]}],"labels":[{"id":589640,"name":"Noble
        And Brite"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[2203361,2203363,2203362],"duplicates":[{"id":6081879,"title":"Hounds
        of Love","metaType":"music","version":"2018 Remaster","year":1985,"releaseDate":"1985-09-16T00:00:00+04:00","coverUri":"avatars.yandex.net/get-music-content/139444/71de75d8.a.6081879-1/%%","ogImage":"avatars.yandex.net/get-music-content/139444/71de75d8.a.6081879-1/%%","genre":"pop","buy":[],"trackCount":12,"likesCount":7,"recent":false,"veryImportant":false,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"8eeff4ab.a.218262-1","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%"},"genres":[]}],"labels":[{"id":32287,"name":"Rhino"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[]}],"prerolls":[],"volumes":[[{"id":"2203363","realId":"2203363","title":"Running
        up That Hill (A Deal with God)","version":"","major":{"id":4,"name":"WARNER"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"durationMs":298930,"storageDir":"","fileSize":0,"normalization":{"gain":-3.52,"peak":32766},"r128":{"i":-15.63,"tp":0.17},"previewDurationMs":30000,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"8eeff4ab.a.218262-1","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%"},"genres":[]}],"albums":[{"id":288149,"title":"Hounds
        Of Love","metaType":"music","year":1985,"releaseDate":"2011-05-16T00:00:00+04:00","coverUri":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","ogImage":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","genre":"pop","buy":[],"trackCount":12,"likesCount":118,"recent":false,"veryImportant":false,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"8eeff4ab.a.218262-1","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%"},"genres":[]}],"labels":[{"id":589640,"name":"Noble
        And Brite"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[2203361,2203363,2203362],"trackPosition":{"volume":1,"index":1}}],"coverUri":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","ogImage":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","lyricsAvailable":true,"best":true,"type":"music","rememberPosition":false,"trackSharingFlag":"COVER_ONLY"},{"id":"2203362","realId":"2203362","title":"Hounds
        Of Love","major":{"id":4,"name":"WARNER"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"durationMs":183260,"storageDir":"","fileSize":0,"normalization":{"gain":-2.61,"peak":31025},"r128":{"i":-15.10,"tp":-0.20},"previewDurationMs":30000,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","prefix":"8eeff4ab.a.218262-1[...]
