---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=kate%20bush&autocorrect=0&format=json&lang=en&method=track.getInfo&track=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"Track not found","links":[]}'
  recorded_at: Wed, 15 Apr 2026 18:31:34 GMT
recorded_with: VCR 6.4.0
