---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists?limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD6w1sCdKd3EGArNa1EsLhcmuJTK166Os0dXmAh-1OJc9SWTzOM1vr57ZilXE20yBrlEGliRBFsimKlukFNldgkOTq8NeOr2y0QFiGI5UeAWOH_B3Y-EFyn5nHohhsess0a0rSRfrgzWwzFVALG27vS4_OJTC7cgH4D3K1jDyL5WD3Cz3PJOJjnoqYNCT97Z9OqW3AxQEcR2jF5ojZNFeTYo0FS97j_mASzjTD7E_OoRtJ-tOJSABOD-iTK_z6HARo5qNiBZFqNrZY4vkreN4L5tV-CvtQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-Ijc2YTRmOGIzYzZiNGRmNWNhY2UyYzBlMzZjMDlmZDBjIg=="'
    body:
      encoding: ASCII-8BIT
      string: '{"href":"https://api.spotify.com/v1/me/playlists?offset=5&limit=5","limit":5,"next":null,"offset":5,"previous":"https://api.spotify.com/v1/me/playlists?offset=0&limit=5","total":4,"items":[]}'
  recorded_at: Fri, 08 May 2026 22:39:03 GMT
recorded_with: VCR 6.4.0
