---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getArtistById?access_token=<VK_ACCESS_TOKEN>&artist_id=1812072207025459236&sig=62b29c31f7875438daf5b5422270bd18&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656610
      X-Trace-Id:
      - ZWQpjQb1eGE6CKX7YQOpGE-7qNK54g
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"name":"Sparks","domain":"sparks_mtyymjm0odq5mw","id":"1812072207025459236","is_followed":false,"can_follow":true,"genres":[{"id":53,"name":"Electronic"},{"id":19,"name":"Techno"},{"id":1,"name":"Pop"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:09:17 GMT
recorded_with: VCR 6.3.1
