---
http_interactions:
- request:
    method: get
    uri: https://bandcamp.com/api/mobile/22/band_details?band_id=2707934946
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"shows":[],"artists":[],"merch":[],"bio_image_id":13766189,"header_image_id":null,"bio":null,"bio_image_width":640,"location":null,"discography":[{"title":"high
        society","band_name":"luxury elite","release_date":"05 Oct 2020 00:00:00 GMT","item_type":"album","artist_name":null,"band_id":2707934946,"item_id":2530224521,"is_purchasable":false,"art_id":1077852600},{"title":"prism","band_name":"luxury
        elite","release_date":"04 Jul 2018 00:00:00 GMT","item_type":"album","artist_name":null,"band_id":2707934946,"item_id":1412946879,"is_purchasable":false,"art_id":348046143},{"title":"noir","band_name":"luxury
        elite","release_date":"08 Jan 2016 00:00:00 GMT","item_type":"album","artist_name":null,"band_id":2707934946,"item_id":3864219355,"is_purchasable":false,"art_id":4043434006},{"title":"world
        class","band_name":"luxury e[...]
