---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/7375624/with-tracks?lang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-man-23.man.yp-c.yandex.net","req-id":"1633032912810322-15846000981822588031","exec-duration-millis":"3"},"result":{"id":7375624,"title":"Love
        + Fear","metaType":"music","year":2019,"releaseDate":"2019-04-26T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","ogImage":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","genre":"pop","buy":[],"trackCount":16,"likesCount":285,"recent":false,"veryImportant":false,"artists":[{"id":140285,"name":"MARINA","various":false,"composer":false,"cover":{"type":"from-artist-photos","prefix":"d8c93416.p.140285/","uri":"avatars.yandex.net/get-music-content/113160/d8c93416.p.140285/%%"},"genres":[]}],"labels":[{"id":445759,"name":"Atlantic
        Records UK"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[52395207,44617314,51789405],"duplicates":[{"id":8705612,"title":"Love
        + Fear","metaType":"music","version":"Acoustic","year":2019,"releaseDate":"2019-09-13T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/149669/e94d2d05.a.8705612-1/%%","ogImage":"avatars.yandex.net/get-music-content/149669/e94d2d05.a.8705612-1/%%","genre":"pop","buy":[],"trackCount":5,"likesCount":18,"recent":false,"veryImportant":false,"artists":[{"id":140285,"name":"MARINA","various":false,"composer":false,"cover":{"type":"from-artist-photos","prefix":"d8c93416.p.140285/","uri":"avatars.yandex.net/get-music-content/113160/d8c93416.p.140285/%%"},"genres":[]}],"labels":[{"id":445759,"name":"Atlantic
        Records UK"},{"id":393562,"name":"Warner Music UK"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[57750753]}],"prerolls":[],"volumes":[[{"id":"49709184","realId":"49709184","title":"Handmade
        Heaven","major":{"id":4,"name":"WARNER"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"durationMs":209860,"storageDir":"","fileSize":0,"normalization":{"gain":-9.10,"peak":32766},"r128":{"i":-7.59,"tp":0.69},"previewDurationMs":30000,"artists":[{"id":140285,"name":"MARINA","various":false,"composer":false,"cover":{"type":"from-artist-photos","prefix":"d8c93416.p.140285/","uri":"avatars.yandex.net/get-music-content/113160/d8c93416.p.140285/%%"},"genres":[]}],"albums":[{"id":7375624,"title":"Love
        + Fear","metaType":"music","year":2019,"releaseDate":"2019-04-26T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","ogImage":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","genre":"pop","buy":[],"trackCount":16,"likesCount":285,"recent":false,"veryImportant":false,"artists":[{"id":140285,"name":"MARINA","various":false,"composer":false,"cover":{"type":"from-artist-photos","prefix":"d8c93416.p.140285/","uri":"avatars.yandex.net/get-music-content/113160/d8c93416.p.140285/%%"},"genres":[]}],"labels":[{"id":445759,"name":"Atlantic
        Records UK"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[52395207,44617314,51789405],"trackPosition":{"volume":1,"index":1}}],"coverUri":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","ogImage":"avatars.yandex.net/get-music-content/192707/2f768705.a.7375624-1/%%","lyricsAvailable":true,"best":false,"type":"music","rememberPosition":false,"trackSharingFlag":"COVER_ONLY"},{"id":"50690162","realId":"50690162","title":"Superstar","major":{"id":4,"name":"WARNER"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"durationMs":233790,"storageDir":"","fileSize":0,"normalization":{"gain":-8.22,"peak":32766},"r128":{"i":-8.78,"tp":1.16},"previewDurationMs":30000,"artists":[{"id":140285,"name":"MARINA","various":false,"composer":false,"cover":{"type":"from-artist-photos","prefix":"d8c93416.p.140285/","uri":"avatars.yande[...]
