---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '790'
      X-Ratelimit-Reset:
      - '1681047197'
      Etag:
      - W/"014dc2e76cf5234bdc0af4c2c9df900e"
    body:
      encoding: ASCII-8BIT
      string: '{"releases":[{"release-events":[{"area":{"type-id":null,"sort-name":"France","type":null,"name":"France","iso-3166-1-codes":["FR"],"disambiguation":"","id":"08310658-51eb-3801-80de-5a0739207115"},"date":"1985-07-30"}],"id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","packaging":"Cardboard/Paper
        Sleeve","barcode":"","country":"FR","status-id":"518ffc83-5cde-34df-8627-81bff5093d92","title":"Hounds
        of Love","status":"Promotion","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","disambiguation":"","text-representation":{"script":"Latn","language":"eng"},"quality":"normal","date":"1985-07-30","artist-credit":[{"joinphrase":"","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","name":"Kate
        Bush","type":"Person","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"name":"ambient pop","count":2},{"name":"art pop","count":5},{"count":5,"name":"art
        rock"},{"name":"baroque pop","count":1},{"count":1,"name":"british"},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"count":1,"name":"new wave"},{"name":"pop","count":5},{"name":"pop
        rock","count":1},{"name":"progressive pop","count":5},{"name":"rock","count":3},{"count":1,"name":"singer-songwriter"}],"sort-name":"Bush[...]
