---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/26126?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 26126, "name": "EMI", "resource_url": "https://api.discogs.com/labels/26126",
        "uri": "https://www.discogs.com/label/26126-EMI", "releases_url": "https://api.discogs.com/labels/26126/releases",
        "images": [{"type": "primary", "uri": "https://img.discogs.com/6YLyXJC1fsIMm4eUaWcrY1cxTMo=/fit-in/600x338/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/L-26126-1620581139-7748.jpeg.jpg",
        "resource_url": "https://img.discogs.com/6YLyXJC1fsIMm4eUaWcrY1cxTMo=/fit-in/600x338/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/L-26126-1620581139-7748.jpeg.jpg",
        "uri150": "https://img.discogs.com/m87E1f_YdAonsthfUxmcxBJDxjg=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/L-26126-1620581139-7748.jpeg.jpg",
        "width": 600, "height": 338}, {"type": "secondary", "uri": "https://img.discogs.com/Ic_CY2JvgeciBmF8y6pf1uhSNwc=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/L-26126-1588617999-6338.jpeg.jpg",
        "resource_url": "https://img.discogs.com/Ic_CY2JvgeciBmF8y6pf1uhSNwc=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/L-26126-1588617999-6338.jpeg.jpg",
        "uri150": "https://img.discogs.com/x0nK65U3gRlIMMmamXBehv47vWs=/fit-in/150x150/fil[...]
