---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/releases/546618?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 546618, "status": "Accepted", "year": 2001, "resource_url":
        "https://api.discogs.com/releases/546618", "uri": "https://www.discogs.com/Various-I-Love-Disco-Diamonds-Collection-Vol-5/release/546618",
        "artists": [{"name": "Various", "anv": "", "join": "", "role": "", "tracks":
        "", "id": 194, "resource_url": ""}], "artists_sort": "Various", "labels":
        [{"name": "Blanco Y Negro (2)", "catno": "MXCD 1155 (c)", "entity_type": "1",
        "entity_type_name": "Label", "id": 1967, "resource_url": "https://api.discogs.com/labels/1967"}],
        "series": [{"name": "I Love Disco Diamonds", "catno": "5", "entity_type":
        "2", "entity_type_name": "Series", "id": 271628, "resource_url": "https://api.discogs.com/labels/271628"}],
        "companies": [{"name": "Blanco Y Negro Music Studios", "catno": "", "entity_type":
        "29", "entity_type_name": "Mastered At", "id": 271932, "resource_url": "https://api.discogs.com/labels/271932"},
        {"name": "GEMA O.D.", "catno": "", "entity_type": "16", "entity_type_name":
        "Made By", "id": 286537, "resource_url": "https://api.discogs.com/labels/286537"}],
        "formats": [{"name": "CD", "qty": "1", "descriptions": ["Compilation", "Limited
        Edition"]}], "data_quality": "Needs Vote", "community": {"have": 224, "want":
        49, "rating": {"count": 48, "average": 4.71}, "submitter": {"username": "DiscoMagic",
        "resource_url": "https://api.discogs.com/users/DiscoMagic"}, "contributors":
        [{"username": "DiscoMagic", "resource_url": "https://api.discogs.com/users/DiscoMagic"},
        {"username": "memory", "resource_url": "https://api.discogs.com/users/memory"},
        {"username": "moseslawson", "resource_url": "https://api.discogs.com/users/moseslawson"},
        {"username": "djmark", "resource_url": "https://api.discogs.com/users/djmark"},
        {"username": "bausl", "resource_url": "https://api.discogs.com/users/bausl"},
        {"username": "m-basic", "resource_url": "https://api.discogs.com/users/m-basic"},
        {"username": "ThomDLorean", "resource_url": "https://api.discogs.com/users/ThomDLorean"},
        {"username": "zipjezopje", "resource_url": "https://api.discogs.com/users/zipjezopje"},
        {"username": "frank42", "resource_url": "https://api.discogs.com/users/frank42"}],
        "data_quality": "Needs Vote", "status": "Accepted"}, "format_quantity": 1,
        "date_added": "2005-10-24T08:15:19-07:00", "date_changed": "2020-03-29T06:34:46-07:00",
        "num_for_sale": 12, "lowest_price": 9.76, "title": "I Love Disco Diamonds
        Collection Vol.  5", "country": "Spain", "released": "2001", "notes": "Special
        Edition.\nOriginal Extended Versions\nTrack 13 is a Hidden Track With the
        \"I Love Disco Diamonds\" radio wedge (title take from cdtext)\n", "released_formatted":
        "2001", "identifiers": [{"type": "Barcode", "value": "8421597030294", "description":
        "Scanned"}, {"type": "Barcode", "value": "8 421597 030294", "description":
        "Text"}, {"type": "Rights Society", "value": "SGAE"}, {"type": "Dep\u00f3sito
        Legal", "value": "B-26539/01"}, {"type": "Matrix / Runout", "value": "GEMA
        O.D. MXCD1155 #1$"}, {"type": "Mastering SID Code", "value": "IFPI L192"},
        {"type": "Mould SID Code", "value": "IFPI 3290"}], "genres": ["Electronic"],
        "styles": ["Italo-Disco"], "tracklist": [{"position": "1", "type_": "track",
        "artists": [{"name": "Michael Fortunati", "anv": "", "join": "", "role": "",
        "tracks": "", "id": 106993, "resource_url": "https://api.discogs.com/artists/106993"}],
        "title": "Into The Night (Slip And Slide)", "extraartists": [{"name": "M.
        De San Antonio", "anv": "", "join": "", "role": "Written-By", "tracks": "",
        "id": 113562, "resource_url": "https://api.discogs.com/artists/113562"}, {"name":
        "Mario Nigro", "anv": "M. Nigro", "join": "", "role": "Written-By", "tracks":
        "", "id": 738036, "resource_url": "https://api.discogs.com/artists/738036"},
        {"name": "Pierre Nigro", "anv": "P. Nigro", "join": "", "role": "Written-By",
        "tracks": "", "id": 738037, "resource_url": "https://api.discogs.com/artists/738037"}],
        "duration": "5:15"}, {"position": "2", "type_": "track", "artists": [{"name":
        "Silvio Pozzoli", "anv": "Silver Pozzoli", "join": "", "role": "", "tracks":
        "", "id": 253528, "resource_url": "https://api.discogs.com/artists/253528"}],
        "title": "Step By Step", "extraartists": [{"name": "Graziano Pegoraro", "anv":
        "Pegoraro", "join": "", "role": "Written-By", "tracks": "", "id": 149987,
        "resource_url": "https://api.discogs.com/artists/149987"}, {"name": "Naimy
        Ha[...]
