---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.ru/search/instant/mixed?filter=artist&page=1&pageSize=20&text=a&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
      X-Retpath-Y:
      - https://music.yandex.ru/search?text=kate+bush
      X-Yandex-Music-Client:
      - YandexMusicWebNext/1.0.0
      X-Yandex-Music-Multi-Auth-User-Id:
      - '2273883602'
      X-Yandex-Music-Without-Invocation-Info:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yandex-Music-Execution-Duration:
      - '345'
      X-Yandex-Music-Application:
      - music-search
      Traceid:
      - 1b785a656a91555dce42b53569d5d0d7
      X-Yandex-Music-Hostname:
      - music-search-production-music-search-23.vla.yp-c.yandex.net
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"searchRequestId":"27aee9e6-82f3-49bd-b7a8-10eeb782322d","text":"a","misspellCorrected":false,"lastPage":false,"perPage":20,"results":[{"type":"artist","artist":{"id":"48094","name":"Arash","various":false,"composer":false,"cover":{"prefix":"6e9cf705.p.48094/","uri":"avatars.yandex.net/get-music-content/1880735/6e9cf705.p.48094/%%","type":"from-artist-photos"},"ogImage":"avatars.yandex.net/get-music-content/1880735/6e9cf705.p.48094/%%","genres":["pop","dance","folk"],"counts":{"tracks":112,"directAlbums":35,"alsoAlbums":11,"alsoTracks":15},"available":true,"disclaimers":[],"ratings":{"week":713,"month":699,"day":733},"links":[{"title":"Arashmusic","href":"https://twitter.com/Arashmusic","type":"social","socialNetwork":"twitter"},{"title":"user/ArashOfficialChannel","href":"http://www.youtube.com/user/ArashOfficialChannel","type":"social","socialNetwork":"youtube"}],"likesCount":0,"dbAliases":[],"extraActions":[],"derivedColors":{"average":"#4a525b","waveText":"#c1deff","miniPlayer":"#b0b7be","accent":"#8e98a3"}}},{"type":"artist","artist":{"id":"2932990","name":"Abtmelody","various":false,"composer":false,"cover":{"prefix":"668594d2.a.32785710-1","uri":"avatars.yandex.net/get-music-content/13911897/668594d2.a.32785710-1/%%","type":"from-album-cover"},"ogImage":"avatars.yandex.net/get-music-content/13911897/668594d2.a.32785710-1/%%","genres":["pop","electronics","blues"],"counts":{"tracks":59,"directAlbums":21,"alsoAlbums":0,"alsoTracks":0},"available":true,"disclaimers":[],"ratings":{"week":[...]
