---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?language=en&page=0&text=wejlhg239gh23&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-vla-40.vla.yp-c.yandex.net","req-id":"1636181979774489-9978161655723599827","exec-duration-millis":"83"},"result":{"type":"artist","page":0,"perPage":10,"text":"wejlhg239gh23","searchRequestId":"music-stable-back-vla-40.vla.yp-c.yandex.net-1636181979774489-9978161655723599827-1636181979778"}}'
  recorded_at: Sat, 06 Nov 2021 06:59:39 GMT
recorded_with: VCR 6.0.0
