---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.ru/search/instant/mixed?filter=artist&page=0&pageSize=20&text=wejlhg239gh23&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
      X-Retpath-Y:
      - https://music.yandex.ru/search?text=kate+bush
      X-Yandex-Music-Client:
      - YandexMusicWebNext/1.0.0
      X-Yandex-Music-Multi-Auth-User-Id:
      - '2273883602'
      X-Yandex-Music-Without-Invocation-Info:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Traceid:
      - 88834abf4f83247f1ab4fdb86dfd4454
      X-Yandex-Music-Application:
      - music-search
      Content-Type:
      - application/json
      X-Yandex-Music-Execution-Duration:
      - '63'
      X-Yandex-Music-Hostname:
      - music-search-production-music-search-70.sas.yp-c.yandex.net
    body:
      encoding: ASCII-8BIT
      string: '{"searchRequestId":"93794554-92d0-41f4-8860-1c0256278f93","text":"wejlhg239gh23","misspellCorrected":false,"lastPage":true,"perPage":20,"results":[],"responseType":"mixed"}'
  recorded_at: Fri, 15 May 2026 22:25:29 GMT
recorded_with: VCR 6.4.0
