---
http_interactions:
- request:
    method: get
    uri: https://music.yandex.ru/handlers/music-search.jsx?language=en&page=0&text=wejlhg239gh23&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Compat:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"text":"wejlhg239gh23","albums":{"items":[]},"tracks":{"items":[]},"podcasts":{"items":[]},"podcast_episodes":{"items":[]},"artists":{"items":[]},"videos":{"items":[]},"playlists":{"items":[]},"users":{"items":[]},"request_id":"1720879708845892-4533420000757570812.2","searchRequestId":"music-stable-back-vla-95.vla.yp-c.yandex.net-1720879708845892-4533420000757570812.2-1720879708871","nullifyPage":false,"extendedParams":{},"misspell":{},"counts":{"artists":0,"albums":0,"tracks":0,"podcasts":0,"podcast_episodes":0,"videos":0,"playlists":0,"users":0}}'
  recorded_at: Sat, 13 Jul 2024 14:08:28 GMT
recorded_with: VCR 6.2.0
