---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release?fmt=json&limit=5&offset=5&query=kate%20bush%20hounds%20of%20love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '706'
      X-Ratelimit-Reset:
      - '1680898333'
      Last-Modified:
      - Fri, 07 Apr 2023 20:10:18 GMT
      Etag:
      - '"ZTNkMWI4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:12:13.408Z","count":371256,"offset":5,"releases":[{"id":"704198f9-e274-4f50-9dfa-4df5d497f557","score":100,"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","count":1,"title":"Kate
        Bush","status":"Official","packaging":"Cardboard/Paper Sleeve","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"name":"Kate
        Bush","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","sort-name":"Bush,
        Kate"}}],"release-group":{"id":"d8a1e534-e75f-425c-aefe-82bc7a115c18","type-id":"6d0c5bf6-7a33-3420-a519-44fc63eedebf","primary-type-id":"6d0c5bf6-7a33-3420-a519-44fc63eedebf","title":"Kate
        Bush","disambiguation":"North America","primary-type":"EP","secondary-types":["Compilation"],"secondary-type-ids":["dd2a21e1-0c00-3729-a7a0-de60b84eb5d1"]},"date":"1983-06-15","country":"US","release-events":[{"date":"1983-06-15","area":{"id":"489ce91b-6658-3307-9877-795b68554c98","name":"United
        States","sort-name":"United States","iso-3166-1-codes":["US"]}}],"barcode":"077771900419","label-info":[{"catalog-number":"MLP-19004","label":{"id":"4881ac0f-1a15-4dd9-8b64-1c39a68edd33","name":"EMI
        America"}}],"track-count":5,"media":[{"format":"12\" Vinyl","disc-count":0,"track-count":5}]},{"id":"6caf7a21-a8c4-431c-a54b-096142769572","score":100,"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","packaging-id":"c70b737a-0114-39a9-88f7-82843e54f906","count":1,"title":"Kate
        Bush","status":"Official","packaging":"Cassette Case","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"name":"Kate
        Bush","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","sort-name":"Bush,
        Kate"}}],"release-group":{"id[...]
