---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release?fmt=json&limit=20&offset=0&query=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1051'
      X-Ratelimit-Reset:
      - '1680898335'
      Last-Modified:
      - Fri, 07 Apr 2023 20:04:46 GMT
      Etag:
      - '"NWM5NmI4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:06:59.815Z","count":0,"offset":0,"releases":[]}'
  recorded_at: Fri, 07 Apr 2023 20:12:13 GMT
recorded_with: VCR 6.1.0
