---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&page&per_page&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '57'
      X-Discogs-Ratelimit-Used:
      - '3'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 3318, "per_page": 50, "items":
        165895, "urls": {"last": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3318&per_page=50",
        "next": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=50"}},
        "releases": [{"status": "Accepted", "format": "CD, Album, Promo", "catno":
        "none", "thumb": "https://img.discogs.com/rLYiu1QGhcRqGUMAmb6CL-tP3yI=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-16087740-1603208300-4017.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/16087740", "title": "Saturdays
        = Youth", "id": 16087740, "year": 2008, "artist": "M83"}, {"status": "Accepted",
        "format": "LP, Album, Mono", "catno": "LKCA-1, _LKCA_1", "thumb": "https://img.discogs.com/u1zkvn8iLchuin2V7A_PVkpiKuQ=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-14806042-1582122227-1573.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/14806042", "title": "Chori
        Chori", "id": 14806042, "year": 1975, "artist": "Shankar Jaikishan*"}, {"status":
        "Accepted", "format": "LP", "catn[...]
