---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&page=1&per_page=20&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 8694, "per_page": 20, "items":
        173876, "urls": {"last": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=8694&per_page=20&sort=year&sort_order=desc",
        "next": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=20&sort=year&sort_order=desc"}},
        "releases": [{"status": "Accepted", "format": "12\", Single, Ltd", "catno":
        "VST 2209", "thumb": "https://img.discogs.com/lWqQkgTg2ZcAlgcd99qevcBUrLA=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-18387763-1618970662-5734.png.jpg",
        "resource_url": "https://api.discogs.com/releases/18387763", "title": "Chemicals",
        "id": 18387763, "year": 2021, "artist": "SG Lewis"}, {"status": "Accepted",
        "format": "LP, Album, Ltd, RE, 180", "catno": "VM LP 179, VMLP179, 3 C064-17889",
        "thumb": "https://img.discogs.com/C-vYsbUNSU7YWh6RUTEChS4GDZo=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-18806704-1621521544-5159.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/18806704", "title": "L''Uovo
        Di Colombo", "id": 18806704, "year": 2021, "artist": "L''Uovo Di Colombo"},
       [...]
