---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"TrackDetailPage","variables":{"id":"wejlhg239gh23","isAuthenticated":true},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"8472e4564effd84e1d4558b7ade98ff6612e1ea3ba5c2b6f18c1848f8cff9c28"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca287dd6e24263ea1e78e9e070d3b9
      X-Amzn-Requestid:
      - a312f567-0077-4bd0-ad50-95b1949be6e3
      Etag:
      - W/"27-Z/wgF758ZYy15xJbZaGL51gWYbY"
    body:
      encoding: UTF-8
      string: '{"data":{"track":null},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:53 GMT
recorded_with: VCR 6.4.0
