---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=0&format=json&method=track.getTopTags&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"dream pop","url":"https://www.last.fm/tag/dream+pop"},{"count":46,"name":"indie","url":"https://www.last.fm/tag/indie"},{"count":46,"name":"chillwave","url":"https://www.last.fm/tag/chillwave"},{"count":42,"name":"shoegaze","url":"https://www.last.fm/tag/shoegaze"},{"count":13,"name":"electronica","url":"https://www.last.fm/tag/electronica"},{"count":13,"name":"indie
        pop","url":"https://www.last.fm/tag/indie+pop"},{"count":13,"name":"Mellow","url":"https://www.last.fm/tag/Mellow"},{"count":13,"name":"bes[...]
