---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/users?client_id=<SOUNDCLOUD_TEST_V2_CLIENT_ID>&limit=5&offset=5&q=wild%20nothing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[{"avatar_url":"https://i1.sndcdn.com/avatars-000116376648-n9r9k3-large.jpg","city":null,"comments_count":0,"country_code":null,"created_at":"2014-11-13T13:15:27Z","creator_subscriptions":[{"product":{"id":"free"}}],"creator_subscription":{"product":{"id":"free"}},"description":null,"followers_count":8,"followings_count":0,"first_name":"","full_name":"","groups_count":0,"id":122720593,"kind":"user","last_modified":"2016-02-08T22:56:30Z","last_name":"","likes_count":0,"playlist_likes_count":0,"permalink":"wild-about-nothing","permalink_url":"https://soundcloud.com/wild-about-nothing","playlist_count":0,"reposts_count":null,"track_count":22,"uri":"https://api.soundcloud.com/users/soundcloud%3Ausers%3A122720593","urn":"soundcloud:users:122720593","username":"Wild
        About Nothing","verified":false,"visuals":null,"badges":{"pro":false,"creator_mid_tier":false,"pro_unlimited":false,"verified":false},"station_urn":"soundcloud:system-playlists:artist-stations:122720593","station_permalink":"artist-stations:122720593","date_of_birth":null},{"avatar_url":"https://i1.sndcdn.com/avatars-000176818356-t8whgb-large.jpg","city":null,"comments_count":0,"country_code":null,"created_at":"2013-03-16T17:43:03Z","creator_subscriptions":[{"product":{"id":"free"}}],"creator_subscription":{"product":{"id":"free"}},"description":null,"followers_count":21,"followings_count":28,"first_name":"Alessandra","full_name":"Alessandra
        Casula","groups_count":0,"id":39290477,"kind":"user","last_modified":"2016-05-19T09:08:50Z","last_name":"Casula","likes_count":29,"playlist_likes_count":0,"permalink":"alessandra-casula-1","permalink_url":"https://soundcloud.com/alessandra-casula-1","playlist_count":1,"reposts_count":null,"track_count":0,"uri":"https://api.soundcloud.com/users/soundcloud%3Ausers%3A39290477","urn":"soundcloud:users:39290477","username":"Wild
        or Nothing","verified":false,"visuals":{"urn":"soundcloud:users:39290477","enabled":true,"visuals":[{"urn":"soundcloud:visuals:2588519","entry_time":0,"visual_url":"https://i1.sndcdn.com/visuals-000039290477-XlHDgc-original.jpg"}],"tracking":null},"badges":{"pro":false,"creator_mid_tier":false,"pro_unlimited":false,"verified":false},"station_urn":"soundcloud:system-playlists:artist-stations:39290477","station_permalink":"artist-stations:39290477","date_of_birth":null},{"avatar_url":"https://i1.sndcdn.com/avatars-jTF5Wb1jVAsQ8Od0-wpCyug-large.jpg","city":"","comments_count":0,"country_code":null,"created_at":"2015-01-31T20:11:34Z","creator_subscriptions":[{"product":{"id":"free"}}],"creator_subscription":{"product":{"id":"free"}},"de[...]
