---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/users?client_id=<SOUNDCLOUD_TEST_V2_CLIENT_ID>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:41a251aa2f744959b768411efe29ba43"}'
  recorded_at: Thu, 15 Jul 2021 18:19:51 GMT
recorded_with: VCR 6.0.0
