---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release-group/b3c5541a-e1d0-354f-b6c8-565c37dde332?fmt=json&inc=artist-credits%2Btags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1141'
      X-Ratelimit-Reset:
      - '1683015581'
      Etag:
      - W/"9f6397d35f8aab6239cb188b6effbcab"
    body:
      encoding: ASCII-8BIT
      string: '{"disambiguation":"","secondary-types":[],"tags":[{"name":"80s","count":1},{"name":"art
        pop","count":2},{"count":6,"name":"art rock"},{"name":"baroque pop","count":1},{"count":1,"name":"pop"},{"count":1,"name":"pop
        rock"},{"name":"progressive pop","count":2},{"count":1,"name":"soft rock"}],"primary-type-id":"f529b476-6e62-324f-b0aa-1f3e33d313fc","first-release-date":"1980-09-08","id":"b3c5541a-e1d0-354f-b6c8-565c37dde332","secondary-type-ids":[],"artist-credit":[{"joinphrase":"","artist":{"type":"Person","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"count":2,"name":"ambient pop"},{"count":5,"name":"art pop"},{"name":"art
        rock","count":5},{"count":1,"name":"baroque pop"},{"count":1,"name":"british"},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"count":1,"name":"new wave"},{"count":5,"name":"pop"},{"name":"pop
        rock","count":1},{"count":5,"name":"progressive pop"},{"count":3,"name":"rock"},{"name":"singer-songwriter","count":1}],"disambiguation":"","sort-name":"Bush,
        Kate","name":"Kate Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"4b585938-f271-45e2-b19a-91c634b5e396"},"name":"Kate
        Bush"}],"title":"Never for Ever","primary-type":"Album"}'
  recorded_at: Tue, 02 May 2023 08:19:39 GMT
recorded_with: VCR 6.1.0
