---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&page=2&per_page=5&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Link:
      - <https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=475&per_page=5>;
        rel="last", <https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 475, "per_page": 5, "items": 2374,
        "urls": {"first": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "last": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=475&per_page=5",
        "prev": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "next": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5"}},
        "releases": [{"id": 15520428, "status": "Accepted", "type": "release", "format":
        "Cass, Promo", "label": "EMI", "title": "Lionheart (Interview And Album Tracks)",
        "resource_url": "https://api.discogs.com/releases/15520428", "role": "Main",
        "artist": "Kate Bush", "year": 1978, "thumb": "https://img.discogs.com/eUUt2L5BqcjtK4OCPCAVXr0D2Mk=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-15520428-1592922952-8048.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 8, "in_collection": 0}}}, {"id": 917609,
        "title": "4 Sucessos", "type": "master", "main_release": 6244018, "artist":
        "Kate Bush", "role": "Main", "resource_url": "https://api.discogs.com/masters/917609",
        "year": 1978, "thumb": "https://img.discogs.com/nqkVuVg9CrkMLCKwl51Z5vGubwk=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-6244018-1536536139-3553.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 139, "in_collection": 23}}}, {"id":
        369137, "title": "\u30ed\u30fc\u30ea\u30f3\u30fb\u30b6\u30fb\u30dc\u30fc\u30eb
       [...]
