---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&page=2&per_page=5&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=10&per_page=5>;
        rel="last", <https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 10, "per_page": 5, "items": 49,
        "urls": {"first": "https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "last": "https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=10&per_page=5",
        "prev": "https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "next": "https://api.discogs.com/artists/1771611/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5"}},
        "releases": [{"id": 2886049, "status": "Accepted", "type": "release", "format":
        "7\"", "label": "Captured Tracks", "title": "Gruesome Flowers: A Tribute To
        The Wake", "resource_url": "https://api.discogs.com/releases/2886049", "role":
        "Main", "artist": "Beach Fossils & Wild Nothing", "year": 2011, "thumb": "https://img.discogs.com/79cCfxvesUyRHiRWXvQBiCRbAdA=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-2886049-1407624473-1895.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 230, "in_collection": 211}}}, {"id":
        10991851, "status": "Accepted", "type": "release", "format": "CD, Single,
        Promo", "label": "Bella Union", "title": "Only Heather", "resource_url": "https://api.discogs.com/releases/10991851",
        "role": "Main", "artist": "Wild Nothing", "year": 2012, "thumb": "https://img.discogs.com/TMFORo_iX_wfL2j6L-_sB884kvA=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-10991851-1540030092-3178.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 4, "in_collection": 3}}}, {"id": 419719,
        "title": "Nowhere", "type": "master", "main_release": 3426927, "artist": "Wild
        Nothing", "role": "Main", "resource_url": "https://api.discogs.com/masters/419719",
        "year": 2012, "thumb": "https://img.discogs.com/57aqnBbkgbLIvpK2FC-W20--LHc=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3426927-1424626637-3800.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 106, "in_collection": 172}}}, {"id":
        466348, "title": "Nocturne", "type": "master", "main_release": 3825944, "artist":
        "Wild Nothing", "role": "Main", "resource_url": "https://api.discogs.com/masters/466348",
        "year": 2012, "thumb": "https://img.discogs.com/veJOCIoHY6lAJez8fP_uMm7VcjU=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3825944-1424626487-5454.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 854, "in_collection": 2141}}}, {"id":
        460415, "title": "Shadow", "type": "master", "main_release": 3722241, "artist":
        "Wild Nothing", "role": "Main", "resource_url": "https://api.discogs.com/masters/460415",
        "year": 2012, "thumb": "https://img.discogs.com/QnIlhgkc0W7uqZmToAKmQqQfwII=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3722241-1341757305-4374.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 119, "in_collection": 183}}}]}'
  recorded_at: Wed, 20 Jan 2021 09:40:58 GMT
recorded_with: VCR 6.0.0
