---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/tracks?client_id=<SOUNDCLOUD_TEST_V2_CLIENT_ID>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:f0b185a5e148470e8cc0dc9c277a1203"}'
  recorded_at: Sat, 13 Dec 2025 17:27:15 GMT
recorded_with: VCR 6.3.1
