---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/bee184b6-493b-46bc-a3a1-31e434367c4a?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '717'
      X-Ratelimit-Reset:
      - '1681044164'
      Etag:
      - W/"68adbec2574115b85aa7f2dd82f4b78d"
    body:
      encoding: ASCII-8BIT
      string: '{"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","label-info":[{"label":{"sort-name":"Harvest","tags":[],"disambiguation":"UK
        based sub-label of EMI, re-activated in 2013 under Capitol Music Group in
        Hollywood, CA","label-code":1305,"type-id":"7aaa37fe-2def-3476-b359-80245850062d","name":"Harvest","id":"993af7f6-bb99-456b-83e7-5e728ea80a0e","type":"Original
        Production"},"catalog-number":"STAO 6476"},{"label":{"tags":[],"disambiguation":"UK
        based sub-label of EMI, re-activated in 2013 under Capitol Music Group in
        Hollywood, CA","label-code":1305,"type-id":"7aaa37fe-2def-3476-b359-80245850062d","sort-name":"Harvest","name":"Harvest","id":"993af7f6-bb99-456b-83e7-5e728ea80a0e","type":"Original
        Production"},"catalog-number":"STAO-6476"}],"cover-art-archive":{"darkened":false,"artwork":true,"front":true,"back":true,"count":5},"disambiguation":"","tags":[{"count":1,"name":"art
        pop"},{"name":"baroque pop","count":1},{"count":1,"name":"progressive pop"}],"text-representation":{"script":"Latn","language":"eng"},"title":"Never
        for Ever","country":"CA","status":"Official","packaging-id":"e724a489-a7e8-30a1-a17c-30dfd6831202","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"sort-name":"Bush, Kate","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush","tags":[{"name":"alternative","count":1},{"name":"alternative rock","count":1},{"name":"ambient
        pop","count":2},{"name":"art pop","count":5},{"count":5,"name":"art rock"},{"name":"baroque
        pop","count":1},{"count":1,"name":"british"},{"name":"crossover prog","count":1},{"count":1,"name":"indie
        rock"},{"name":"new wave","count":1},{"name":"pop","count":5},{"count":1,"name":"pop
        rock"},{"count":5,"name":"progressive pop"},{"count":3,"name":"rock"},{"name":"singer-songwriter","count":1}],"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person"}}],"id":"bee184b6-493b-46bc-a3a1-31e434367c4a","media":[{"tracks":[{"title":"Babooshka","position":1,"artist-credit":[{"name":"Kate
        Bush","artist":{"sort-name":"Bush, Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","name":"Kate
        Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person"},"joinphrase":""}],"recording":{"disambiguation":"","tags":[{"name":"art
        pop","count":2},{"count":1,"name":"art rock"},{"count":1,"name":"baroque pop"},{"count":1,"name":"piano
        rock"},{"name":"pop","count":2},{"name":"pop rock","count":4},{"count":2,"name":"progressive
        pop"}],"first-release-date":"1980-06-27","artist-credit":[{"name":"Kate Bush","artist":{"sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","name":"Kate
        Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person"},"joinphrase":""}],"id":"21026567-8554-45f3-9644-ec251571f8c1","length":208000,"video":false,"title":"Babooshka"},"number":"A1","length":197000,"id":"9d944fb3-3034-4de8-b3bf-20256a1e013c"},{"recording":{"tags":[{"count":2,"name":"art
        pop"},{"name":"art rock","count":1},{"count":1,"name":"baroque pop"},{"name":"pop
        rock","count":1},{"count":2,"name":"progressive pop"},{"count":1,"name":"rock"}],"disambiguation":"","first-release-date":"1980-09-08","video":false,"length":171600,"id":"7988093a-eba1-4a9c-8b10-1cff436f4cba","artist-credit":[{"joinphrase":"","artist":{"sort-name":"Bush,
        Kate","type[...]
