---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=0&format=json&lang=en&method=track.getInfo&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"track":{"name":"Chinatown","mbid":"9a74b1e7-a7a9-46fc-8ad3-58306fdac86f","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","duration":"199000","streamable":{"#text":"0","fulltrack":"0"},"listeners":"241182","playcount":"1440123","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"album":{"artist":"Wild
        Nothing","title":"Gemini","mbid":"98174762-4674-4382-827f-db7248c4806c","url":"https://www.last.fm/music/Wild+Nothing/Gemini","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/5f9adfddde71487a97f1c493f67460f0.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/5f9adfddde71487a97f1c493f67460f0.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/5f9adfddde71487a97f1c493f67460f0.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/5f9adfddde71487a97f1c493f67460f0.png","size":"extralarge"}],"@attr":{"position":"10"}},"toptags":{"tag":[{"name":"dream
        pop","url":"https://www.last.fm/tag/dream+pop"},{"name":"chillwave","url":"https://www.last.fm/tag/chillwave"},{"name":"indie","url":"https://www.last.fm/tag/indie"},{"name":"shoegaze","url":"https://www.last.fm/tag/shoegaze"},{"name":"electronica","url":"https://www.last.fm/tag/electronica"}]}}}'
  recorded_at: Tue, 02 May 2023 08:17:25 GMT
recorded_with: VCR 6.1.0
