---
http_interactions:
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"includePreReleases":false,"numberOfTopResults":20,"searchTerm":"a","offset":5,"limit":5,"includeAudiobooks":true,"includeAuthors":false},"operationName":"searchTracks","extensions":{"persistedQuery":{"version":1,"sha256Hash":"131fd38c13431be963a851082dca0108a4200998b886e7e9d20a21fc51a36aaf"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"searchV2":{"query":"a","tracksV2":{"items":[{"item":{"__typename":"TrackResponseWrapper","data":{"__typename":"Track","albumOfTrack":{"coverArt":{"extractedColors":{"colorDark":{"hex":"#427CA7","isFallback":false}},"sources":[{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02c6d914dd1a455fb8dfb2f16b","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851c6d914dd1a455fb8dfb2f16b","width":64},{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273c6d914dd1a455fb8dfb2f16b","width":640}]},"id":"42bSpkr89bdrwMMNuEZlDJ","name":"Race","uri":"spotify:album:42bSpkr89bdrwMMNuEZlDJ","visualIdentity":{"squareCoverImage":{"__typename":"VisualIdentityImage","extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":244,"green":193,"red":128},"highContrast":{"backgroundBase":{"alpha":255,"blue":131,"green":86,"red":15},"backgroundTintedBase":{"alpha":255,"blue":93,"green":50,"red":0},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":213,"red":148}},"higherContrast":{"backgroundBase":{"alpha":255,"blue":95,"green":53,"red":0},"backgroundTintedBase":{"alpha":255,"blue":133,"green":88,"red":41},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":96,"green":215,"red":30},"textSubdued":{"alpha":255,"blue":255,"green":213,"red":148}},"minContrast":{"backgroundBase":{"alpha":255,"blue":184,"green":136,"red":72},"backgroundTintedBase":{"alpha":255,"blue":155,"green":109,"red":44},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":255,"red":255}}}}}},"artists":{"items":[{"profile":{"name":"Alex
        G"},"uri":"spotify:artist:6lcwlkAjBPSKnFBZjjZFJs"}]},"associationsV3":{"audioAssociations":{"totalCount":0},"videoAssociations":{"totalCount":0}},"contentRating":{"label":"EXPLICIT"},"duration":{"totalMilliseconds":223255},"id":"50gchdAhBUnVOLqQRyKE9L","trackMediaType":"AUDIO","name":"Race","playability":{"playable":true,"reason":"PLAYABLE"},"uri":"spotify:track:50gchdAhBUnVOLqQRyKE9L"}},"matchedFields":[]},{"item":{"__typename":"TrackResponseWrapper","data":{"__typename":"Track","albumOfTrack":{"coverArt":{"extractedColors":{"colorDark":{"hex":"#500810","isFallback":false}},"sources":[{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02de3c04b5fc750b68899b20a9","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851de3c04b5fc750b68899b20a9","width":64},{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273de3c04b5fc750b68899b20a9","width":640}]},"id":"5vkqYmiP[...]
