---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/track/wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-41
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":{"type":"InvalidQueryException","message":"Invalid query","code":600}}'
  recorded_at: Mon, 25 Jan 2021 15:11:50 GMT
recorded_with: VCR 6.0.0
