---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=-2001472560_55472560&sig=f9ba7a89c5a41750b4dfa363cfea23f6&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"artist":"Wild Nothing","id":55472560,"owner_id":-2001472560,"title":"Chinatown","duration":209,"access_key":"29ae54777a4e7f5ec3","ads":{"content_id":"-2001472560_55472560","duration":"209","account_age_type":"3","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"b9a06d0d-RSwMAzt3CdsdIshJADo9xBNbbmNK98ojlmrgPcA446RwzOar3RWtOeLipE2YHhd","url":"https:\/\/psv4.vkuseraudio.net\/s\/v1\/amp2\/AJSB5gw5SYv5zzPW7kLM-qd0-7zXlKehMTM59lhgWntwJVsCFAmgj9sbXKS2_xIycne2WPuMoqu7TWChdcA2MGTs_L26TUa4vyB5dkMoYKXC9uirON6KXVn05Hf4dvVU1G03IuSCUf0ggvJJaD32F9I6XSMLqP2S75Ki.mp3","date":1568505313,"lyrics_id":1,"album":{"id":5454320,"title":"Live
        from Brooklyn Steel","owner_id":-2000454320,"access_key":"166cffd3d0327ec0cc","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=34x34&quality=96&sign=efe48076b60f85ca57cebf0581c54fc8&c_uniq_tag=Jqii9jmsKmaxPrYoWcuVoHDNR4xE0KT8PIFZKicsXOU&type=audio","photo_68":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=68x68&quality=96&sign=0e73ed2c223ff91b30747c33c8fea069&c_uniq_tag=ANkmqf7VdE2FdDriXt9p3G0Ch_NU_BPw8VMul3pFwRI&type=audio","photo_135":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=135x135&quality=96&sign=99ea5546e3a9b487b898085589a1ea94&c_uniq_tag=OCZE1BLK7aUPDiXlGmmuiGLDxtRKlThjKKvZ03E3r_c&type=audio","photo_270":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=270x270&quality=96&sign=8e977b610e3cf9878eb482085b6c865d&c_uniq_tag=hYtaA5FAWkkFNAPhP2vr__69nEVSLgRiFJh1Whcoo4U&type=audio","photo_300":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=300x300&quality=96&sign=fd17594c84929d4a52996a4b5431c7a5&c_uniq_tag=ASZ0WepKlJpGU9co5t2ScQqoo-Vmb4i1VnOQ2JX-cn4&type=audio","photo_600":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=600x600&quality=96&sign=bb2ad0eaabf1234a22690727e2382930&c_uniq_tag=R5jqhGOkQZdHX6zJ_wz3SPWsLuoqgSi7zYn0_gcjzTo&type=audio","photo_1200":"https:\/\/sun19-2.userapi.com\/impf\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=1184x1184&quality=96&sign=8c2a8c2dca6e21d7e0c54d10cb4caf23&c_uniq_tag=EMvOA0L5D4AxG9xyg0LIkKBP2FrpAyYalXay64YL5Uc&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"subtitle":"Live
        from Brooklyn Steel","short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false}]}'
  recorded_at: Wed, 01 Nov 2023 19:54:25 GMT
recorded_with: VCR 6.2.0
