---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=wejlhg239gh23&sig=0938764f83ab40cf463412f65c5bf40f&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656810
      X-Trace-Id:
      - 2RGKeb4s3eDBTTd6EuiJbJlxTCt3sA
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: audios[0].>>>[owner_id]<<<_[audio_id]_[sig] not integer","request_params":[{"key":"audios","value":"wejlhg239gh23"},{"key":"v","value":"5.131"},{"key":"method","value":"audio.getById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:25 GMT
recorded_with: VCR 6.3.1
