---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"john","specType":"artist","firstLimit":5,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false,"afterCursor":"tztok-v2_yDSNVKX4qpcJP1qqK8Cky0Rv_KeZjdlBkNf2k1NMqAxLmYI1xwX70QIeyMB2fjhz"},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac976c8438c3e5fd02e800a33132f41
      X-Amzn-Requestid:
      - 9aa4ae8a-4497-48ba-b7a2-662701958af1
      Etag:
      - W/"1794-bOGmga5heEDMx342K/q2CYvYHDA"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_671931640c","searchText":"john","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":true,"endCursor":null,"token":"tztok-v2_yDSNVKX4qpcJP1qqK8Cky_4FPxuxteSSLMqLBkvGdTpUkUXF-PKzyzXpNDe1EdEW","hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:artist:asin:B001E32S7U?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Artist","id":"B001E32S7U","name":"John
        Mayer","images":[{"id":"51mJ3qYGusL:PROFILE","url":"https://m.media-amazon.com/images/I/51mJ3qYGusL.jpg","width":856,"height":856,"imageType":"PROFILE","__typename":"Image"},{"id":"31MZdLZ4wbL:BACKGROUND","url":"https://m.media-amazon.com/images/I/31MZdLZ4wbL.jpg","width":500,"height":375,"imageType":"BACKGROUND","__typename":"Image"},{"id":"61boj3Ay7YL:BACKGROUND","url":"https://m.media-amazon.com/images/I/61boj3Ay7YL.jpg","width":1920,"height":1440,"imageType":"BACKGROUND","__typename":"Image"}],"uri":"mrn:1.0:catalog:artist:asin:B001E32S7U?territory=GB","playParams":{"id":"mrn:1.0:catalog:artist:asin:B001E32S7U?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"url":"https://music.amazon.co.uk/artists/B001E32S7U?ref=dm_ff_amazonmusic_greenhornet_web","followsContext":{"isFollowed":false,"__typename":"FollowsContext"}}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:artist:asin:B001E6SLWS?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Artist","id":"B001E6SLWS","name":"John
        Martin","images":[{"id":"61nX2iMkSGL:PROFILE","url":"https://m.media-amazon.com/images/I/61nX2iMkSGL.jpg","width":1400,"height":1400,"imageType":"PROFILE","__typename":"Image"},{"id":"41pV4X39j1L:PROFILE","url":"[...]
