---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?lang=en&page=0&text=wejlhg239gh23&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-sas-31.sas.yp-c.yandex.net","req-id":"1633032918888943-6605965497452367518","exec-duration-millis":"101"},"result":{"type":"album","page":0,"perPage":10,"text":"wejlhg239gh23","searchRequestId":"music-stable-back-sas-31.sas.yp-c.yandex.net-1633032918888943-6605965497452367518-1633032918896"}}'
  recorded_at: Thu, 30 Sep 2021 20:15:19 GMT
recorded_with: VCR 6.0.0
