---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/album?index=5&limit=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-136
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":202243132,"title":"Harmony A","link":"https:\/\/www.deezer.com\/album\/202243132","cover":"https:\/\/api.deezer.com\/album\/202243132\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/90277ddcb01725ce52e68a3a24fa5884\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/90277ddcb01725ce52e68a3a24fa5884\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/90277ddcb01725ce52e68a3a24fa5884\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/90277ddcb01725ce52e68a3a24fa5884\/1000x1000-000000-80-0-0.jpg","md5_image":"90277ddcb01725ce52e68a3a24fa5884","genre_id":113,"nb_tracks":10,"record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/202243132\/tracks","explicit_lyrics":false,"artist":{"id":5080,"name":"Various
        Artists","link":"https:\/\/www.deezer.com\/artist\/5080","picture":"https:\/\/api.deezer.com\/artist\/5080\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/6fd017dac44f23dd3e15d512e3a5d970\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/6fd017dac44f23dd3e15d512e3a5d970\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/6fd017dac44f23dd3e15d512e3a5d970\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/6fd017dac44f23dd3e15d512e3a5d970\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/5080\/top?limit=50","type":"artist"},"type":"album"},{"id":199438412,"title":"PAINLESS","link":"https:\/\/www.deezer.com\/album\/199438412","cover":"https:\/\/api.deezer.com\/album\/199438412\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/4fe7a175366a0017efd3db9dd7f44dc9\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/4fe7a175366a0017efd3db9dd7f44dc9\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/4fe7a175366a0017efd[...]
