---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchAlbums?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=95f822ab905c979431a82af60ee52d3f&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Wed, 17 May 2023 09:09:00 GMT
recorded_with: VCR 6.1.0
