---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchAlbums?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=c1113d5546dc7885fd5106ec5d0f102d&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Wed, 01 Nov 2023 19:54:23 GMT
recorded_with: VCR 6.2.0
