---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.searchAlbums?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wejlhg239gh23&sig=7e1782541ca2b6d4cff82f115651ccaf&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661612
      X-Trace-Id:
      - RoL13f9Gt6TbZuEwXMVFRqlKWarXLA
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:22 GMT
recorded_with: VCR 6.3.1
