---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=ce4d74a8ebaff0ce0e6eafa92d569f5d&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":13,"items":[{"artist":"Wild Nothing","id":456491618,"owner_id":371745449,"title":"Chinatown","duration":198,"access_key":"d621a9fa001e3e5b85","ads":{"content_id":"371745449_456491618","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"eb4a6c9cHTVFzO6ertgbMY0izB61h6Y7KzCwYymbSj725wxxbcgVs7R6BurNsBsn-g","url":"https:\/\/cs1-41v4.vkuseraudio.net\/p10\/7a9c957a9aa69c.mp3?extra=scGVEMYOddBUBTcF8hKEyJOziyTtDGE4xbOkvjlWTOetaWQ_UP7lP1OHN1I-grF_GrQG3vXUpWhIJUdHuz6v-9RZUXMJnJ0Hq-8-97VhDVTEM6M1bTUfqxswSRxxL2wgiKfwmD7VPNdsL3nCYWtF2XPGbQ&long_chunk=1","date":1509417381,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":55472560,"owner_id":-2001472560,"title":"Chinatown","duration":209,"access_key":"40a421b09fdb68af5c","ads":{"content_id":"-2001472560_55472560","duration":"209","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"3357fde3T1jFRjFF_aPBX3nKH40eqbtvFza0uV2My-BRYMyNpxhH3jTw2TGey8FJDg","url":"https:\/\/ps.vkuseraudio.net\/audio\/ee\/tEGjmzJnKpYSFvsjQMlPQ1jekntdcNBGEgF8aA\/ceWj4vdGVkeHo3R28.mp3?extra=Tzmr_7wwYon9vvzqlEtkcKuia9lFNUnO25O6HulmYVyCCh7P9Xb848BIpIdKrplTUGU6r6mSP_b-weK5v3QB-3na1veVaFqXg7OAo9vKNUvHw5hcjgqdwIzYIY9Urn2ej53pxk0NwFUZwsz3tTax9og9EbA","date":1568505313,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"subtitle":"Live
        from Brooklyn Steel","short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":93615296,"owner_id":-2001615296,"title":"Chinatown","duration":199,"access_key":"fe7c3fc5d30dc465bb","ads":{"content_id":"-2001615296_93615296","duration":"199","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"9e6ef1d8S52mpxbFuca5htDb2zAAFuSPTN4xE9JIYyD64rESKGRDG1c[...]
