---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=300&q=wild%20nothing%20chinatown&sig=6a35f540cf704e0a7c45359073d0269d&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":13,"items":[{"artist":"Wild Nothing","id":456491618,"owner_id":371745449,"title":"Chinatown","duration":198,"access_key":"d621a9fa001e3e5b85","ads":{"content_id":"371745449_456491618","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"12a30a31kKS1oIT6SCpuzixXhv0mnP_FmH8u7O_9QrVGprF1BpOYHk9faY4rQm7YWw","url":"https:\/\/cs4-8v4.vkuseraudio.net\/p2\/acfdab9489d\/62ddf7c9944198\/index.m3u8?extra=5CBbGCfux8Ro53PfFw2OYErZbjjeQCk9Lf13ZMMHfir9Zs9Hwrut6nGHAeovaMs28ps7N2NLszZUTUTfZuM88YabIuT64lPAtYJtaHc55_FgI7J8aAO1mqMAPrKkld4r1zUsPBXtfiRpkmrLqKEG_LE3&long_chunk=1","date":1509417381,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=592x592&quality=96&sign=4471d9ae1975f96b1827917f0feb9fb4&c_uniq_tag=9KrQQh2CWDlN-PsjvwN99JFI7blIWX83iH1ru25Em5s&type=audio","photo_1200":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":55472560,"owner_id":-2001472560,"title":"Chinatown","duration":209,"access_key":"40a421b09fdb68af5c","ads":{"content_id":"-2001472560_55472560","duration":"209","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"5501c5d5fcGbEGDWRGO6O_EKbGJ40dwVDRqyL92fDKyg20rRI1l1e2HvjaInC7othg","url":"https:\/\/cs1-78v4.vkuseraudio.net\/p19\/acf1cb11b7d\/3f258e81e0ce78\/index.m3u8?extra=K6yS[...]
