---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wejlhg239gh23&sig=37676da16c2577796cda97a403395ec6&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Sun, 05 Sep 2021 13:07:12 GMT
recorded_with: VCR 6.0.0
