---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=tag.getTopTracks&tag=dream%20pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"Pink + White","duration":"0","mbid":"","url":"https://www.last.fm/music/Frank+Ocean/_/Pink+%252B+White","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Frank
        Ocean","mbid":"e520459c-dff4-491d-a6e4-c97be35e0044","url":"https://www.last.fm/music/Frank+Ocean"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Oblivion","duration":"252","mbid":"5640e03c-af18-4d9c-8d68-60e2e99b16d4","url":"https://www.last.fm/music/Grimes/_/Oblivion","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Grimes","mbid":"7e5a2a59-6d9f-4a17-b7c2-e1eedb7bd222","url":"https://www.last.fm/music/Grimes"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png[...]
