---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_ALBUMS>&fields=items(pagemap(cse_image,metatags(og:description,og:site_name,og:title,og:url))),queries(request(totalResults))&key=<GOOGLE_API_KEY>&q=wild%20nothing&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "4210"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:description": "6 track album",
                    "og:title": "Golden Haze, by Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com/album/golden-haze"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://f4.bcbits.com/img/a4171534853_16.jpg"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Moongazing Hare",
                    "og:description": "12 track album",
                    "og:title": "Wild Nothing, by Moongazing Hare",
                    "og:url": "https://moongazinghare.bandcamp.com/album/wild-nothing"
                  }
      [...]
