---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_LASTFM_TAGS>&fields=items(pagemap(cse_image,metatags(og:description,og:site_name,og:title,og:url))),queries(request(totalResults))&key=<GOOGLE_API_KEY>&q=pop&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "2350000"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Last.fm",
                    "og:title": "Math pop music | Last.fm",
                    "og:description": "Find math pop tracks, artists, and albums. Find the latest in math pop music at Last.fm.",
                    "og:url": "https://www.last.fm/tag/math%20pop"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://www.last.fm/static/images/lastfm_logo_facebook.15d8133be114.png"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Last.fm",
                    "og:title": "Post-pop music | Last.fm",
                    "og:description": "Find post-pop tracks, artists, and albums. Find the latest in post-pop music at Last.fm.",
                    "og:url"[...]
