---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=track.search&page=2&track=wild%20nothing%20chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wild
        nothing chinatown","startPage":"2"},"opensearch:totalResults":"983","opensearch:startIndex":"5","opensearch:itemsPerPage":"5","trackmatches":{"track":[{"name":"Wild
        Nothing - Chinatown","artist":"dsbchillwave","url":"https://www.last.fm/music/dsbchillwave/_/Wild+Nothing+-+Chinatown","streamable":"0","listeners":"9","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"mbid":""},{"name":"Shadow","artist":"Wild
        Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Shadow","streamable":"0","listeners":"254295","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm[...]
