---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=track.search&page=2&track=wild%20nothing%20chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"2"},"opensearch:totalResults":"196","opensearch:startIndex":"5","opensearch:itemsPerPage":"5","trackmatches":{"track":[{"name":"Chinatown
        (Live from Brooklyn Steel)","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown+(Live+from+Brooklyn+Steel)","streamable":"FIXME","listeners":"130","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":""},{"name":"Gemini
        - Chinatown","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Gemini+-+Chinatown","streamable":"FIXME","listeners":"121","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"}[...]
