---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/search?limit=5&page=2&q=wild%20nothing%20chinatown&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '2343'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"query":"wild nothing chinatown","totalArtists":"0","totalAlbums":"0","totalTracks":"196","artistmatches":{"artist":[]},"albummatches":{"album":[]},"trackmatches":{"track":[{"name":"Chinatown
        (Live from Brooklyn Steel)","artist":"Wild Nothing","listeners":"130","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown+(Live+from+Brooklyn+Steel)","image":"https://lastfm.freetls.fastly.net/i/u/174s/85382d1d98294ee85c063271310c048d.png","sr":{"artist_id":"1427118825420748792","w1":215,"w2":0,"qw":22.9200000000000017,"fw":"4960","sw":"3572","md5":"7805516144181770232","w":"0xFFFFFFFFFFFFEC9F|0xFFFFFFFFFFFFF20B|0x6C52C393E687F7F8"}},{"name":"Gemini
        - Chinatown","artist":"Wild Nothing","listeners":"121","url":"https://www.last.fm/music/Wild+Nothing/_/Gemini+-+Chinatown","image":"https://lastfm.freetls.fastly.net/i/u/174s/85382d1d98294ee85c063271310c048d.png","sr":{"artist_id":"1427118825420748792","w1":243,"w2":0,"qw":20.2199999999999989,"fw":"4939","sw":"4564","md5":"8803040629245605880","w":"0xFFFFFFFFFFFFECB4|0xFFFFFFFFFFFFEE2B|[...]
