---
http_interactions:
- request:
    method: post
    uri: https://eu.mesk.skill.music.a2z.com/api/searchCatalogTracks
    body:
      encoding: UTF-8
      string: '{"keyword":"wild nothing","next":"tztok-v2_iosmAqq9RWIFJZXCZvgM5KL86iVczeoXHvSFkpu2H9_r-Q67SFjemijtDH7onDyD","headers":"{\"x-amzn-authentication\":\"{\\\"interface\\\":\\\"ClientAuthenticationInterface.v1_0.ClientTokenElement\\\",\\\"accessToken\\\":\\\"Atza|IwEBIIQd1ug2SOj_RQotgALoBSDScJuKIBKiCCEKJRv-OZJVTIc0AddPd7U7H7MM55xARpmkFBWyE91VPL9YXxNSXR0FeaeSqEu10ulIb3PuP9pIb3jJNGjYo437NY6nGaePiRftL55IyP014lrm3NcxsDPfasAtM31kzTpQ8Z-HN8enuJChGt3BCIbpYe_XJnK_hRHMwXXRCtY-Z606C2vLQQNniP-w5WEwutmtAhg14D02I3KHOryR5Sn0ajdJav3H41Pj0yL9xgw6ZXdh4yB-1XN8cy85zJjXmPtB-QJZtuK4cVS-qhnBlKL9nCaaXao4YW7lUFZOzTFpVM3zd4pbDJl1ON6eTHaLE3NbNlK1EK5GslLLNDs8DTRk10Oukp5GOaaR8xhpP8-fES7nEa4sIlRn\\\"}\",\"x-amzn-device-model\":\"WEBPLAYER\",\"x-amzn-device-width\":\"1920\",\"x-amzn-device-family\":\"WebPlayer\",\"x-amzn-device-id\":\"25814726589747619\",\"x-amzn-user-agent\":\"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41
        Safari/537.36\",\"x-amzn-device-height\":\"1080\",\"x-amzn-request-id\":\"69863811-c0f7-40b3-b4db-ac4f57093b99\",\"x-amzn-device-language\":\"en_GB\",\"x-amzn-os-version\":\"1.0\",\"x-amzn-application-version\":\"1.0.15759.0\",\"x-amzn-timestamp\":\"1739135602000\",\"x-amzn-page-url\":\"https://music.amazon.com\",\"x-amzn-video-player-token\":\"{}\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - FvESAj5mDoEEMRg=
    body:
      encoding: ASCII-8BIT
      string: '{"methods":[{"interface":"Web.PageInterface.v1_0.AddHorizontalItemsToLastWidgetMethod","items":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.SquareHorizontalItemElement","primaryText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Sleight
        of Hand","disabled":false},"image":"https://m.media-amazon.com/images/I/91pfZt2kTiL._AA256._SX472_SY472_BL0_QL100_.jpg","imageAltText":"Sleight
        of Hand","actionIconName":"shuffle","iconButton":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"","disabled":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"PLAYBACK_STATE","storageKey":"B081Y1PTLZ:B081Y4C3JV","states":{"LOADING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"loader","disabled":false,"onItemSelected":[]},"PAUSED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"resume","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CVFHQMYQQF19S17R5C4R1%7C0%7C4%7C0%7CB081Y4C3JV%7C-1%7Cnull%7CqoTeBtneQX%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.ResumeMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]},"STOPPED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"shuffle","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_STATION%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CVFHQMYQQF19S17R5C4R1%7C0%7C4%7C0%7CB081Y4C3JV%7C-1%7Cnull%7CqoTeBtneQX%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playStationFromTrack?id=B081Y4C3JV&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"PLAYING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"pause","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PAUSE_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CVFHQMYQQF19S17R5C4R1%7C0%7C4%7C0%7CB081Y4C3JV%7C-1%7Cnull%7CqoTeBtneQX%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.PauseMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]}},"defaultState":"STOPPED"}},"hintIconName":"shuffle","primaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/albums/B081Y1PTLZ?trackAsin=B081Y4C3JV","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_STATION%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CVFHQMYQQF19S17R5C4R1%7C0%7C4%7C0%7CB081Y4C3JV%7C-1%7Cnull%7CqoTeBtneQX%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playStationFromTrack?id=B081Y4C3JV&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"secondaryText":"Wild
        Nothing","secondaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/artists/B002ZXIYRG/wild-nothing","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ARTIST%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ARTIST%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"TemplateListInterface.v1_0.CreateTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.DetailTemplateInterface.DetailTemplate","headerText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Wild
        Nothing","disabled":false},"widgets":[],"templateData":{"interface":"Web.PageInterface.v1_0.TemplateDataElement","deeplink":"/artists/B002ZXIYRG/wild-nothing","seoHead":{"interface":"Web.PageInterface.v1_0.SEOHeadElement","title":"Play
        Wild Nothing on Amazon Music","meta":[{"interface":"Web.PageInterface.v1_0.SEOHeadMetaElement","name":"description","content":"Listen
        to your favourite songs from Wild Nothing.  Stream ad-free with Amazon Music
        on mobile, desktop, and tablet. Download our mobile app now."}],"link":[{"interface":"Web.PageInterface.v1_0.SEOHeadLinkElement","rel":"canonical","href":"https://music.amazon.com/artists/B002ZXIYRG/wild-nothing"}],"script":[]},"title":"Play
        Wild Nothing on Amazon Music","description":"","keywords":""},"backgroundImage":"","headerLabel":"Artist","headerButtons":[],"contextMenu":{"interface":"Web.ContextInterface.v1_0.ContextMenuElement","options":[{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"Share
        this artist","icon":"shareandroid","disabled":false,"hidden":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/shareCatalogArtist?id=B002ZXIYRG&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[{"interface":"TemplateListInterface.v1_0.CreateAndBindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.MessageTemplateInterface.MessageTemplate","message":"We
        are unable to complete your action.  Please try again later. ","header":"We''re
        Sorry","image":"https://images-na.ssl-images-amazon.com/images/G/01/digital/music/player/recs-error-headphones._SX626_SY213_BL0_QL100_FMpng_.png","onCreated":[],"onBound":[],"onViewed":[],"onInteraction":[],"onLeave":[],"launchMode":"standard","cacheSeconds":9223372036854775807},"screenMode":"templateShard","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"TEMPLATE"},"forced":false}],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22DISPLAY_SHARE%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false}]},{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"","disabled":false,"hidden":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"ARTIST_FOLLOW_STATE","storageKey":"B002ZXIYRG","states":{"PENDING":{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"","disabled":false,"hidden":false,"onItemSelected":[]},"NOT_FOLLOWING":{"interface":"Web.ContextInterface.v1_0.ContextMenuBaseItemElement","text":"Follow","disabled":false,"hidden":false,"onItemSelected":[{"interface":"StorageInterface.v1_0.SetValueInGroupMethod","group":"ARTIST_FOLLOW_STATE","key":"B002ZXIYRG","value":"PENDING","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/likeMusicEntity?artistCatalogId=B002ZXIYRG&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[{"interface":"TemplateListInterface.v1_0.CreateAndBindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_[...]
