---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"wild
        nothing","specType":"track","firstLimit":5,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false,"afterCursor":"tztok-v2_iosmAqq9RWIFJZXCZvgM5Ao8GrdX9jCwdtBsquvMbbBjoxNhYVC9K3cV84YtPzHX"},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac976c9b1cd724f8adf38fbae71d72a
      X-Amzn-Requestid:
      - d402897f-8e2d-4b0d-9cfb-c02e559362e9
      Etag:
      - W/"27ab-b/DHtgLoCcaWjq/uVOm6NYaFBHw"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_57613612ed","searchText":"wild
        nothing","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":true,"endCursor":null,"token":"tztok-v2_iosmAqq9RWIFJZXCZvgM5BqgN5aXSLNtJ4Fsdi2H2YqtUGd2ER63PyU2pnYxpPn0","hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:track:asin:B00DUKAG1A?territory=GB","containerIds":[],"selections":["STATION","PREVIEW"],"__typename":"PlayParams"},"node":{"__typename":"Track","id":"B00DUKAG1A","uri":"mrn:1.0:catalog:track:asin:B00DUKAG1A?territory=GB","previewUrl":"https://music.amazon.co.uk/getSampleTrack/B00DUKAG1A?ref=dm_ff_amazonmusic_greenhornet_web","playbackInformation":{"videoId":null,"__typename":"PlaybackInformation"},"title":"Nocturne","mediaType":"AUDIO","parentalSettings":{"hasExplicitLanguage":false,"__typename":"ParentalSettings"},"images":[{"id":"81Sih4l1MpL","url":"https://m.media-amazon.com/images/I/81Sih4l1MpL.jpg","width":1500,"height":1500,"imageType":"PRIMARY","__typename":"Image"},{"id":"51h9wfp886L","url":"https://m.media-amazon.com/images/I/51h9wfp886L.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"}],"shortTitle":"Nocturne","url":"https://music.amazon.co.uk/tracks/B00DUKAG1A/?ref=dm_ff_amazonmusic_greenhornet_web","contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Wild
        Nothing","__typename":"Artist","id":"B002ZXIYRG","uri":"mrn:1.0:catalog:artist:asin:B002ZXIYRG?territory=GB","url":"https://music.amazon.co.uk/artists/B002ZXIYRG?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"playParams":{"id":"mrn:1.0:catalog:track:asin:B00DUKAG1A?territory=GB","selections":["STATION","PREVIEW"],"__typename":"PlayParams","containerIds":[]},"purchaseContext":{"isPurchased":false,"__typename":"PurchaseContext","id":null},"audioQualities":[],"hasLyrics":false,"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"},"album":{"id":"B00DUKADPO","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B00DUKADPO?territory=GB","shortTitle":"Nocturne","url":"https://music.amazon.co.uk/albums/B00DUKADPO?ref=dm_ff_amazonmusic_greenhornet_web"},"duration":318}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:track:asin:B0H8FMFJDD?territory=GB","containerIds":[],"selections":["STATION","PREVIEW"],"__typename":"PlayParams"},"node":{"__typename":"Track","id":"B0H8FMFJDD","uri":"mrn:1.0:catalog:track:asin:B0H8FMFJDD?territory=GB","previewUrl":"https://music.amazon.co.uk/getSampleTrack/B0H8FMFJDD?ref=dm_ff_amazonmusic_greenhornet_web","playbackInformation":{"videoId":null,"__typename":"PlaybackInformation"},"title":"Gemini","mediaType":[...]
