---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL/albums?include_groups=album&limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL/albums?offset=5&limit=5&include_groups=album",
          "items" : [ {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
              },
              "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
              "id" : "1aSxMhuvixZ8h9dK9jIDwL",
              "name" : "Kate Bush",
              "type" : "artist",
              "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
            } ],
            "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "UY", "UZ", "VC", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/2mOtRzRf4igdjKs1UzUWFr"
            },
            "href" : "https://api.spotify.com/v1/albums/2mOtRzRf4igdjKs1UzUWFr",
            "id" : "2mOtRzRf4igdjKs1UzUWFr",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b2734f97d4bf55d152cff4e52d28",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e024f97d4bf55d152cff4e52d28",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d000048514f97d4bf55d152cff4e52d28",
              "width" : 64
            } ],
            "name" : "50 Words for Snow (2018 Remaster)",
            "release_date" : "2011-11-21",
            "release_date_precision" : "day",
            "total_tracks" : 7,
            "type" : "album",
            "uri" : "spotify:album:2mOtRzRf4igdjKs1UzUWFr"
          }, {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
              },
              "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
              "id" : "1aSxMhuvixZ8h9dK9jIDwL",
              "name" : "[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
          },
          "followers" : {
            "href" : null,
            "total" : 787296
          },
          "genres" : [ "art pop", "art rock", "baroque pop", "new wave pop", "permanent wave", "piano rock", "singer-songwriter" ],
          "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
          "id" : "1aSxMhuvixZ8h9dK9jIDwL",
          "images" : [ {
            "height" : 930,
            "url" : "https://i.scdn.co/image/3b2db6840f31b367518f97b1a5d6bea653ea56ae",
            "width" : 620
          }, {
            "height" : 300,
            "url" : "https://i.scdn.co/image/b8e74146831af09bd16bf5b7c77cbe92e86355db",
            "width" : 200
          }, {
            "height" : 96,
            "url" : "https://i.scdn.co/image/08ec46ff35f3c5b2085ac0d3d3f8ba0f77086a8f",
            "width" : 64
          } ],
          "name" : "Kate Bush",
          "popularity" : 69,
          "type" : "artist",
          "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
        }
  recorded_at: Wed, 14 Jul 2021 10:44:45 GMT
recorded_with: VCR 6.0.0
