---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL/albums?include_groups&limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL/albums?offset=0&limit=20&include_groups=",
          "items" : [ ],
          "limit" : 20,
          "next" : null,
          "offset" : 0,
          "previous" : null,
          "total" : 0
        }
  recorded_at: Wed, 14 Jul 2021 10:44:46 GMT
recorded_with: VCR 6.0.0
