---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/staniel359/muffon/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"209f600f0aa5b6004681961786eeb913182d5ef3102d9751dc7be31323375a04"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1693748477'
      X-Ratelimit-Used:
      - '40'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/staniel359/muffon/releases/102635917","assets_url":"https://api.github.com/repos/staniel359/muffon/releases/102635917/assets","upload_url":"https://uploads.github.com/repos/staniel359/muffon/releases/102635917/assets{?name,label}","html_url":"https://github.com/staniel359/muffon/releases/tag/v1.6.0","id":102635917,"author":{"login":"staniel359","id":18214933,"node_id":"MDQ6VXNlcjE4MjE0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/18214933?v=4","gravatar_id":"","url":"https://api.github.com/users/staniel359","html_url":"https://github.com/staniel359","followers_url":"https://api.github.com/users/staniel359/followers","following_url":"https://api.github.com/users/staniel359/following{/other_user}","gists_url":"https://api.github.com/users/staniel359/gists{/gist_id}","starred_url":"https://api.github.com/users/staniel359/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/staniel359/subscriptions","organizations_url":"https://api.github.com/users/staniel359/orgs","repos_url":"https://api.github.com/users/staniel359/repos","events_url":"https://api.github.com/users/staniel359/events{/privacy}","received_events_url":"https://api.github.com/users/staniel359/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOEjkFQM4GHhmN","tag_name":"v1.6.0","target_commitish":"main","name":"1.6.0","draft":false,"prerelease":false,"created_at":"2023-05-11T12:55:46Z","published_at":"2023-05-11T13:10:00Z","assets":[{"url":"https://api.github.com/repos/staniel359/muffon/releases/assets/107698596","id":107698596,"node_id":"RA_kwDOEjkFQM4Ga1mk","name":"muffon-1.6.0-linux-amd64.deb","label":"","uploader":{"login":"staniel359","id":18214933,"node_id":"MDQ6VXNlcjE4MjE0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/18214933?v=4","gravatar_id":"","url":"https://api.github.com/users/staniel359","html_url":"https://github.com/staniel359","followers_url":"https://api.github.com/users/staniel359/followers","following_url":"https://api.github.com/users/staniel359/following{/other_user}","gists_url":"https://api.github.com/users/staniel359/gists{/gist_id}","starred_url":"https://api.github.com/users/staniel359/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/staniel359/subscriptions","organizations_url":"https://api.github.com/users/staniel359/orgs","repos_url":"https://api.github.com/users/staniel359/repos","events_url":"https://api.github.com/users/staniel359/events{/privacy}","received_events_url":"https://api.github.com/users/staniel359/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":115180454,"download_count":613,"created_at":"2023-05-11T13:06:14Z","updated_at":"2023-05-11T13:06:19Z","browser_download_url":"https://github.com/staniel359/muffon/releases/download/v1.6.0/muffon-1.6.0-linux-amd64.deb"},{"url":"https://api.github.com/repos/staniel359/muffon/releases/assets/107698507","id":107698507,"node_id":"RA_kwDOEjkFQM4Ga1lL","name":"muffon-1.6.0-linux-x86_64.AppImage","label":"","uploader":{"login":"staniel359","id":18214933,"node_id":"MDQ6VXNlcjE4MjE0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/18214933?v=4","gravatar_id":"","url":"https://api.github.com/users/staniel359","html_url[...]
