---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH_API_KEY>&page=1&page_size=20&q=wild%20nothing&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.059392929077148'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.059392929077148,"available":10000},"body":{"track_list":[{"track":{"track_id":40104510,"track_name":"Young
        and Beautiful","track_name_translation_list":[],"track_rating":91,"commontrack_id":12127106,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":16219,"album_id":15902590,"album_name":"Young
        and Beautiful","artist_id":13805436,"artist_name":"Lana Del Rey","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Lana-Del-Rey\/Young-and-Beautiful?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Lana-Del-Rey\/Young-and-Beautiful\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2021-10-08T10:58:20Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}},{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}},{"music_genre":{"music_genre_id":1133,"music_genre_parent_id":14,"music_genre_name":"Pop\/Rock","music_genre_name_extended":"Pop
        \/ Pop\/Rock","music_genre_vanity":"Pop-Pop-Rock"}}]}}},{"track":{"track_id":180835839,"track_name":"California
        Gurls","track_name_translation_list":[],"track_rating":91,"c[...]
