---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH_API_KEY>&page=1&page_size=20&q=wild%20nothing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.19089007377625'
      X-Mxm-Header-Status:
      - '200'
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-cdt-apisite-api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.19089007377625,"available":10000},"body":{"track_list":[{"track":{"track_id":87669861,"track_name":"Nothing''s
        Gonna Stop Me Now - 132 Bpm","track_name_translation_list":[],"track_rating":1,"commontrack_id":49225026,"instrumental":0,"explicit":0,"has_lyrics":0,"has_subtitles":0,"has_richsync":0,"num_favourite":0,"album_id":16124124,"album_name":"80''s
        Workout Greatest Hits (30 Workout Hits)","artist_id":29081647,"artist_name":"Wild*Side","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Side-2\/Nothing-s-Gonna-Stop-Me-Now-132-Bpm?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Side-2\/Nothing-s-Gonna-Stop-Me-Now-132-Bpm\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2015-12-25T05:18:13Z","primary_genres":{"music_genre_list":[]}}},{"track":{"track_id":111350510,"track_name":"All
        Or Nothing","track_name_translation_list":[],"track_rating":1,"commontrack_id":61097381,"instrumental":0,"explicit":0,"has_lyrics":0,"has_subtitles":0,"has_richsync":0,"num_favourite":0,"album_id":23510671,"album_name":"Good
        To Go","artist_id":29333310,"artist_name":"Wild,","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-8\/All-Or-Nothing?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","[...]
