---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-134
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmWP_sllo8VJ7c_rQU4TA9CTt0Uw14kBGe7H066tykRgSFij1VUo22NA0T4yLlcgWM5XJyZDqbIciSLWYQqKRT8MhkpxR63S424ROfpUmIkj","expiration_timestamp":1705231689,"license_country":"GB","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1703935689,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"onboarding_musictogether":true,"onboarding_musictogether_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"GB","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[],"partner":{"partner_ids":"[]"}},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search","percent":100},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing","percent":50},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha","percent":100},"catalog_pages_sign-up_banner_1122":{"id":"catalog_pages_sign-up_banner_1122","option":"a","behaviour":"New
        reg journey on the web","percent":100},"ad_pressure":{"id":"ad_pressure","option":"default","behaviour":"Default
        ad pressure","percent":100},"mobile_midroll_video_ads":{"id":"mobile_midroll_video_ads","option":"a","behaviour":"Mid-roll
        video ads","percent":100},"new_paywall_eoy_design_v2":{"id":"new_paywall_eoy_design_v2","option":"control","behaviour":"Default
        behaviour, get the new component without the countdown","percent":50}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"GB","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"097f3905a31da5c089fbceb290a9d4fd80e99c406e7086063a435420d731a72f","PLAYLIST_WELCOME_ID":"63141574","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"GB","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1703935689,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3cd3178fb709c2842cbcbd9dfdb8d9383f48a7a4e0e3576c25b66efe921dace5d6e0ba8e8d4615787b5a29b4d73877e39967247c70f26bcda9316091b1da957e4136b35da45beecb26c25286cf7dd0fab670629e00e5d2f7485b730f69747f4884212a509643c77d83b8aa2dd978f84d1574a94a4e2616243965b220a8521ef5bd30d0ec29c52c1d99956b196049395596ea99bb03aeee6618d363e7057988d105b32a8f97e84138d7eff49f3f312bc66c75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=Nz2WE60RssESnnhDjfi9WC2ju1um4-fb&api_version=1.0&method=song.getListData
    body:
      encoding: UTF-8
      string: '{"sng_ids":["69000435"]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-176
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"data":[{"SNG_ID":"69000435","ALB_ID":"6760788","ALB_PICTURE":"2a08bb81a5f6173c4ca9b36185054813","ALB_TITLE":"Nocturne","ARTISTS":[{"ART_ID":"420514","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"8","ART_NAME":"Wild
        Nothing","ARTIST_IS_DUMMY":false,"ART_PICTURE":"bde2053bfe12d979b4f645de88e850f8","RANK":"411037","LOCALES":[],"__TYPE__":"artist"}],"ART_ID":"420514","ART_NAME":"Wild
        Nothing","DIGITAL_RELEASE_DATE":"2012-08-27","DISK_NUMBER":"1","DURATION":"193","EXPLICIT_LYRICS":"0","EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"GENRE_ID":"25","ISRC":"GBBRP1235605","LYRICS_ID":1800420,"PHYSICAL_RELEASE_DATE":"2012-08-27","PROVIDER_ID":"30","RANK_SNG":"269850","SMARTRADIO":0,"SNG_TITLE":"Only
        Heather","STATUS":1,"TRACK_NUMBER":"5","TYPE":0,"UPLOAD_ID":0,"USER_ID":0,"VERSION":"","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"3098782","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"3098782","GAIN":"-8.9","MEDIA_VERSION":"1","TRACK_TOKEN":"AAAAAWWP_sllkRgJEZqq6dwan4kQo-_9DggsO_Y2_UIg1AsZxMyO7WH9SJziIPlZ49Q1NPGzkFXO_CKDJZCEyvu_BuYss6vMrjHEWVVHiAk2RXQ0SBaRBPmygVR56ed4aMrkMiuYinMQ8TCHrOez1g","TRACK_TOKEN_EXPIRE":1704007689,"MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-9.dzcdn.net\/stream\/c-95401baec38e3dba889c884ffcf1f71b-1.mp3"}],"RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"__TYPE__":"song"}],"count":1,"total":1,"filtered_count":0}}'
  recorded_at: Sat, 30 Dec 2023 11:28:09 GMT
- request:
    method: post
    uri: https://media.deezer.com/v1/get_url
    body:
      encoding: UTF-8
      string: '{"license_token":"AAAAAmWP_sllo8VJ7c_rQU4TA9CTt0Uw14kBGe7H066tykRgSFij1VUo22NA0T4yLlcgWM5XJyZDqbIciSLWYQqKRT8MhkpxR63S424ROfpUmIkj","media":[{"type":"FULL","formats":[{"cipher":"BF_CBC_STRIPE","format":"MP3_128"}]}],"track_tokens":["AAAAAWWP_sllkRgJEZqq6dwan4kQo-_9DggsO_Y2_UIg1AsZxMyO7WH9SJziIPlZ49Q1NPGzkFXO_CKDJZCEyvu_BuYss6vMrjHEWVVHiAk2RXQ0SBaRBPmygVR56ed4aMrkMiuYinMQ8TCHrOez1g"]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Version:
      - media-service-v3.4.2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"media":[{"media_type":"FULL","cipher":{"type":"BF_CBC_STRIPE"},"format":"MP3_128","sources":[{"url":"https://cdnt-proxy-b.dzcdn.net/media/1/9b5e235b8a06645110271c3ce5d72ed9c16fb7280c2a178b987a51dc5b31a40c016b5b2b4f02eb2444b97aceaf306fc89241c2c52bf27eee00b934a6ac34fd8927968be5aead5537b62a1ffb25ef1055?hdnea=exp=1704007689~acl=/media/1/9b5e235b8a06645110271c3ce5d72ed9c16fb7280c2a178b987a51dc5b31a40c016b5b2b4f02eb2444b97aceaf306fc89241c2c52bf27eee00b934a6ac34fd8927968be5aead5537b62a1ffb25ef1055*~data=user_id=0~hmac=4bfdaad3b60e95e4e34c8c18d22995029226c31dd7949f02d417a18adf16aa0e","provider":"ak"},{"url":"https://e-cdnt-proxy-b.dzcdn.net/media/1/9b5e235b8a06645110271c3ce5d72ed9c16fb7280c2a178b987a51dc5b31a40c016b5b2b4f02eb2444b97aceaf306fc89241c2c52bf27eee00b934a6ac34fd8927968be5aead5537b62a1ffb25ef1055?a-huJPVexdQuYrGmZYC8LSz7iv6n4Fk_4DuF3ACWpnZkkmUGZw7dHpZvIJX79BZ4b0s4vC2sHijCxqo0v9EcOJDFL8g3HzBCRZ2WprKXjLMajhLdXY7AsMwMRpnkKmdf4pn0JCJINi1kX9jIGGBFS8WhOTpQ-DuJbGlz-7I2erzEitzf3TjWvl2U7bQmgMkPNayhFltVbb93PQ_f7CzS-fqqwlv3m8ZkR4iAxUdOWw2_YxaL7rwi9B3VQPqUP8clYvXkrFl8uD85KMoEDKGpzTPSMq3z7JG_aBbwbhX0SksOpweFIjgv4R7RmBuUn-FLCA","provider":"ec"}],"nbf":1703935689,"exp":1704007689}]}]}'
  recorded_at: Sat, 30 Dec 2023 11:28:10 GMT
recorded_with: VCR 6.2.0
