---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIXMATCH_API_KEY>&page=2&page_size=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.026652097702026'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.026652097702026,"available":10000},"body":{"artist_list":[{"artist":{"artist_id":49783,"artist_name":"No
        Te Va Gustar","artist_name_translation_list":[],"artist_comment":"","artist_country":"UY","artist_alias_list":[{"artist_alias":"No
        Te Va a Gustar"},{"artist_alias":"NTVG"}],"artist_rating":59,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2015-12-01T16:37:22Z","begin_date_year":"1994","begin_date":"1994-00-00","end_date_year":"","end_date":"0000-00-00"}},{"artist":{"artist_id":1370,"artist_name":"Alphaville","artist_name_translation_list":[{"artist_name_translation":{"language":"JA","translation":"\u30a2\u30eb\u30d5\u30a1\u30f4\u30a3\u30eb"}}],"artist_comment":"","artist_country":"DE","artist_alias_list":[{"artist_alias":"\u30a2\u30eb\u30d5\u30a1\u30f4\u30a3\u30eb"},{"artist_alias":"a
        Ville"},{"artist_alias":"Alfaville"},{"artist_alias":"Alpha Ville"}],"artist_rating":44,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2013-11-05T11:24:57Z","begin_date_year":"1983","begin_date":"1983-00-00","end_date_year":"","end_date":"0000-00-00"}},{"a[...]
