---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/3BRfgsKjcakny2wCYfZrvz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAKIrI-5IhG79EDsNFVxVDfHfmiXvCckiQwMZB13j66NYsyDpGbWmqcGdEU43wVTpRI9wPlq6C5Xqrnc8zYazN7uS2ZFRddOM7aSATzZjzztxhJC7BGjInZJzjovOdQ8a7gG5pLPl4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjM2NzU2ZGIwMTVjOGZlMzFjOTAyMWQ0NmJjNjBkNDFjIg=="'
    body:
      encoding: ASCII-8BIT
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"},"href":"https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB","id":"6NrkINd80slV25wkBu9mEB","name":"Wild
        Nothing","type":"artist","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/3hxVFxpF7uUtjLHzvGIm7W"},"href":"https://api.spotify.com/v1/albums/3hxVFxpF7uUtjLHzvGIm7W","id":"3hxVFxpF7uUtjLHzvGIm7W","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2736da7c8855ee1e48bb4d29184","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e026da7c8855ee1e48bb4d29184","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048516da7c8855ee1e48bb4d29184","width":64,"height":64}],"name":"Gemini","release_date":"2010-05-25","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:3hxVFxpF7uUtjLHzvGIm7W"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"},"href":"https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB","id":"6NrkINd80slV25wkBu9mEB","name":"Wild
        Nothing","type":"artist","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":198842,"explicit":false,"external_ids":{"isrc":"US8YA1010079"},"external_urls":{"spotify":"https://open.spotify.com/track/3BRfgsKjcakny2wCYfZrvz"},"href":"https://api.spotify.com/v1/tracks/3BRfgsKjcakny2wCYfZrvz","id":"3BRfgsKjcakny2wCYfZrvz","is_local":false,"name":"Chinatown","popularity":51,"preview_url":null,"track_number":10,"type":"track","uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz"}'
  recorded_at: Fri, 26 Dec 2025 11:13:15 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/track-playback/v1/media/spotify:track:3BRfgsKjcakny2wCYfZrvz?manifestFileFormat=file_ids_mp4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBnH7OYUYbuNBMAfi0WScQvhXk4Clucjalr-Z7TZNQMtDl87pc8xBbwcr6IW1WTC86B4ne_RR3umLjfWM6samEIAek63ZS5dnMaoZmWLU4BoH_wdzu2T4kUbtEFzYzvaDwPqxJ9EJAhVehK06rXeLV5U4vv5BIQbJW60cQjFK_f-hNW2Ok7-jwZOgPRb6O7BsVAxWdiV84oHQoHjKF93ZSHZGq1eD1gXCxo9QWgQ40jlr5L2tAsWPZY56Iktp4gi8aNuUcay0Z4p1FNn3ee8Ep1-eGdeQSZ6BONXMQC0PCV73XH_rosrC0cXCV2FJp1-VAbOj-rvWPO3bEIm_zDvPX3W5SK5CrZtMI3QFIc-OHfIW3c6JwTat0IPPrcq0WxOm4T2q7ifLe7
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"media":{"spotify:track:3BRfgsKjcakny2wCYfZrvz":{"item":{"metadata":{"uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz","linked_from_uri":null,"context_description":null,"context_uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz","name":"Chinatown","group_name":"Gemini","group_uri":"spotify:album:3hxVFxpF7uUtjLHzvGIm7W","authors":[{"name":"Wild
        Nothing","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"duration":198842,"images":[{"url":"https://i.scdn.co/image/ab67616d0000b2736da7c8855ee1e48bb4d29184","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d000048516da7c8855ee1e48bb4d29184","height":64,"width":64},{"url":"https://i.scdn.co/image/ab67616d00001e026da7c8855ee1e48bb4d29184","height":300,"width":300}],"episode_content_type":null,"show_content_type":null,"is_explicit":false},"manifest":{"file_ids_mp4":[{"bitrate":256000,"file_id":"cff5b92255f780a7fcac02aab369154610d337f8","file_url":null,"impression_urls":null,"track_type":"AUDIO","format":"11","audio_quality":"VERY_HIGH","hifi_status":"NONE","gain_db":null,"expires_at":null,"average_bitrate":260334},{"bitrate":128000,"file_id":"0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","file_url":null,"impression_urls":null,"track_type":"AUDIO","format":"10","audio_quality":"HIGH","hifi_status":"NONE","gain_db":null,"expires_at":null,"average_bitrate":132296}]},"audio_id":null,"track_type":"AUDIO","ms_played_until_update":30000,"ms_playing_update_interval":0,"content_type":"TRACK"}}}}'
  recorded_at: Fri, 26 Dec 2025 11:13:15 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/v2/files/audio/interactive/10/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBnH7OYUYbuNBMAfi0WScQvhXk4Clucjalr-Z7TZNQMtDl87pc8xBbwcr6IW1WTC86B4ne_RR3umLjfWM6samEIAek63ZS5dnMaoZmWLU4BoH_wdzu2T4kUbtEFzYzvaDwPqxJ9EJAhVehK06rXeLV5U4vv5BIQbJW60cQjFK_f-hNW2Ok7-jwZOgPRb6O7BsVAxWdiV84oHQoHjKF93ZSHZGq1eD1gXCxo9QWgQ40jlr5L2tAsWPZY56Iktp4gi8aNuUcay0Z4p1FNn3ee8Ep1-eGdeQSZ6BONXMQC0PCV73XH_rosrC0cXCV2FJp1-VAbOj-rvWPO3bEIm_zDvPX3W5SK5CrZtMI3QFIc-OHfIW3c6JwTat0IPPrcq0WxOm4T2q7ifLe7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-fa.scdn.co/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1766833996_vWFZPRxwZMNqU4_cKog_qM0uy_CS-XlYLSiz8b013ic=","https://audio-fa-tls130.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1766833996_vWFZPRxwZMNqU4_cKog_qM0uy_CS-XlYLSiz8b013ic=","https://audio-fa-tls13.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1766833996_vWFZPRxwZMNqU4_cKog_qM0uy_CS-XlYLSiz8b013ic=","https://audio-fa-quic.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1766833996_vWFZPRxwZMNqU4_cKog_qM0uy_CS-XlYLSiz8b013ic=","https://audio-ak.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?__token__=exp=1766833996~hmac=bde72bce321efb8daad23d110ad2ec7ee1a975deea674ee2559919cea0526923","https://audio-fa-quic0.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1766833996_vWFZPRxwZMNqU4_cKog_qM0uy_CS-XlYLSiz8b013ic="],"fileid":
        "0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","ttl": 86400}'
  recorded_at: Fri, 26 Dec 2025 11:13:16 GMT
recorded_with: VCR 6.3.1
