---
http_interactions:
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz"},"operationName":"getTrack","extensions":{"persistedQuery":{"version":1,"sha256Hash":"612585ae06ba435ad26369870deaae23b5c8800a256cd8a57e08eddc25a37294"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"trackUnion":{"__typename":"Track","associationsV3":{"audioAssociations":{"__typename":"TrackAudioAssociationPage","items":[]},"videoAssociations":{"totalCount":0}},"contentRating":{"label":"NONE"},"duration":{"totalMilliseconds":198842},"id":"3BRfgsKjcakny2wCYfZrvz","mediaType":"AUDIO","name":"Chinatown","playability":{"playable":true,"reason":"PLAYABLE"},"playcount":"31943011","saved":false,"sharingInfo":{"shareId":"K0cSiUGoT5mPvEy_PrdVIg","shareUrl":"https://open.spotify.com/track/3BRfgsKjcakny2wCYfZrvz?si=K0cSiUGoT5mPvEy_PrdVIg"},"trackNumber":10,"uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz","visualIdentity":{"squareCoverImage":{"__typename":"VisualIdentityImage","extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":170,"green":186,"red":194},"highContrast":{"backgroundBase":{"alpha":255,"blue":68,"green":83,"red":90},"backgroundTintedBase":{"alpha":255,"blue":37,"green":50,"red":57},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":188,"green":205,"red":213}},"higherContrast":{"backgroundBase":{"alpha":255,"blue":39,"green":53,"red":59},"backgroundTintedBase":{"alpha":255,"blue":71,"green":85,"red":92},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":96,"green":215,"red":30},"textSubdued":{"alpha":255,"blue":188,"green":205,"red":213}},"minContrast":{"backgroundBase":{"alpha":255,"blue":136,"green":152,"red":160},"backgroundTintedBase":{"alpha":255,"blue":112,"green":128,"red":135},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":255,"red":255}}}}},"albumOfTrack":{"copyright":{"items":[{"text":"2010
        Captured Tracks","type":"C"},{"text":"2010 Captured Tracks","type":"P"}],"totalCount":2},"courtesyLine":"","id":"3hxVFxpF7uUtjLHzvGIm7W","date":{"isoString":"2010-05-25T00:00:00Z","precision":"DAY","year":2010},"name":"Gemini","playability":{"playable":true},"sharingInfo":{"shareId":"zw4E1XYPSFenMLdTT5J9sw","shareUrl":"https://open.spotify.com/album/3hxVFxpF7uUtjLHzvGIm7W?si=zw4E1XYPSFenMLdTT5J9sw"},"tracks":{"items":[{"track":{"trackNumber":1,"uri":"spotify:track:66fSAJw0WqKij94Nuaw5EV"}},{"track":{"trackNumber":2,"uri":"spotify:track:3apHHamyT9TN9UIp7IFIQB"}},{"track":{"trackNumber":3,"uri":"spotify:track:3VmDHUE14pbtNapZydpnC5"}},{"track":{"trackNumber":4,"uri":"spotify:track:4xqJdNVnggadbQV4lmwuyY"}},{"track":{"trackNumber":5,"uri":"spotify:track:58Q1uHqrhw5pvNBsTps07F"}},{"track":{"trackNumber":6,"uri":"spotify:track:4qrwuA8705sz1vliikBxTq"}},{"track":{"trackNumber":7,"uri":"spotify:track:71G1INiuxGKI86Rx4JqWc0"}},{"track":{"trackNumber":8,"uri":"spotify:track:7vXcaTHEf3p2f6PaH4BBwy"}},{"track":{"trackNumber":9,"uri":"spotify:track:0kYLx3mNp7ew36M7McxfZl"}},{"track":{"trackNumber":10,"uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz"}},{"track":{"trackNumber":11,"uri":"spotify:track:5ZMK8lB8MMu4cszbwUlMJx"}},{"track":{"trackNumber":12,"uri":"spotify:track:7vpnStMfqJSbgRj5rvsYms"}}],"totalCount":12},"type":"ALBUM","uri":"spotify:album:3hxVFxpF7uUtjLHzvGIm7W","coverArt":{"extractedColors":{"colorRaw":{"hex":"#A8A090"}},"sources":[{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e026da7c8855ee1e48bb4d29184","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d000048516da7c8855ee1e48bb4d29184","width":64},{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b2736da7c8855ee1e48bb4d29184","width":640}]}},"firstArtist":{"items":[{"discography":{"albums":{"items":[{"releases":{"items":[{"date":{"isoString":"2023-10-27T00:00:00Z","precision":"DAY","year":2023},"name":"Hold","playability":{"playable":true},"sharingInfo":{"shareId":"_ZZLJn2zSuepppayHldbig","shareUrl":"https://open.spotify.com/album/2vfUDuZSNcgAaEFthdWJg5?si=_ZZLJn2zSuepppayHldbig"},"tracks":{"items":[{"track":{"trackNumber":1,"uri":"spotify:track:39F05ZjfZZSNxVW0WNM7tb"}},{"track":{"trackNumber":2,"uri":"spotify:track:53mHRF9CpjMeQ6hPAuOA18"}},{"track":{"trackNumber":3,"uri":"spotify:track:0MA92SKmdUlvq[...]
- request:
    method: get
    uri: https://spclient.wg.spotify.com/track-playback/v1/media/spotify:track:3BRfgsKjcakny2wCYfZrvz?manifestFileFormat=file_ids_mp4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"media":{"spotify:track:3BRfgsKjcakny2wCYfZrvz":{"item":{"metadata":{"uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz","linked_from_uri":null,"context_description":null,"context_uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz","name":"Chinatown","group_name":"Gemini","group_uri":"spotify:album:3hxVFxpF7uUtjLHzvGIm7W","authors":[{"name":"Wild
        Nothing","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"duration":198842,"images":[{"url":"https://i.scdn.co/image/ab67616d0000b2736da7c8855ee1e48bb4d29184","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d000048516da7c8855ee1e48bb4d29184","height":64,"width":64},{"url":"https://i.scdn.co/image/ab67616d00001e026da7c8855ee1e48bb4d29184","height":300,"width":300}],"episode_content_type":null,"show_content_type":null,"is_explicit":false},"manifest":{"file_ids_mp4":[{"bitrate":256000,"file_id":"cff5b92255f780a7fcac02aab369154610d337f8","file_url":null,"impression_urls":null,"track_type":"AUDIO","format":"11","audio_quality":"VERY_HIGH","hifi_status":"NONE","gain_db":null,"expires_at":null,"average_bitrate":260334},{"bitrate":128000,"file_id":"0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","file_url":null,"impression_urls":null,"track_type":"AUDIO","format":"10","audio_quality":"HIGH","hifi_status":"NONE","gain_db":null,"expires_at":null,"average_bitrate":132296}]},"audio_id":null,"video_id":null,"track_type":"AUDIO","ms_played_until_update":30000,"ms_playing_update_interval":0,"content_type":"TRACK"}}}}'
  recorded_at: Sat, 14 Mar 2026 21:56:07 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/v2/files/audio/interactive/10/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-fa-quic0.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1773611768_oBfGU_qtUnk9KM4b0S6DDIxu07cKv1m-dO-ZMHACNFc=","https://audio-fa-tls130.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1773611768_oBfGU_qtUnk9KM4b0S6DDIxu07cKv1m-dO-ZMHACNFc=","https://audio-fa-tls13.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1773611768_oBfGU_qtUnk9KM4b0S6DDIxu07cKv1m-dO-ZMHACNFc=","https://audio-fa-quic.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1773611768_oBfGU_qtUnk9KM4b0S6DDIxu07cKv1m-dO-ZMHACNFc=","https://audio-ak.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?__token__=exp=1773611768~hmac=b265a391bbe24e4204326e514eb566179fe24d4f4073632b93e0eac9bd0004e3","https://audio-fa.scdn.co/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1773611768_oBfGU_qtUnk9KM4b0S6DDIxu07cKv1m-dO-ZMHACNFc="],"fileid":
        "0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","ttl": 86400}'
  recorded_at: Sat, 14 Mar 2026 21:56:08 GMT
recorded_with: VCR 6.4.0
