---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/29d0nY7TzCoi22XBqDQkiP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBNTblitIE6IgywZssY-dy6qnChnGkz1hwcGpwLXTbA3BCZujxTpHr8Y7xNYkGdfM-FdyG6jvdsu6xqSdf7naTwadXmyUPi9dcp-0l15ewDMpjl6Wg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"},"href":"https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL","id":"1aSxMhuvixZ8h9dK9jIDwL","name":"Kate
        Bush","type":"artist","uri":"spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/3OYnManu1Nlxnw9OMng7BH"},"href":"https://api.spotify.com/v1/albums/3OYnManu1Nlxnw9OMng7BH","id":"3OYnManu1Nlxnw9OMng7BH","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2735c390e413e27798edd4d18b4","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e025c390e413e27798edd4d18b4","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048515c390e413e27798edd4d18b4","width":64,"height":64}],"name":"Hounds
        of Love (2018 Remaster)","release_date":"1985-09-16","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:3OYnManu1Nlxnw9OMng7BH"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"},"href":"https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL","id":"1aSxMhuvixZ8h9dK9jIDwL","name":"Kate
        Bush","type":"artist","uri":"spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"}],"available_markets":[],"disc_number":1,"duration_ms":300840,"explicit":false,"external_ids":{"isrc":"GBAYE1800884"},"external_urls":{"spotify":"https://open.spotify.com/track/29d0nY7TzCoi22XBqDQkiP"},"href":"https://api.spotify.com/v1/tracks/29d0nY7TzCoi22XBqDQkiP","id":"29d0nY7TzCoi22XBqDQkiP","is_local":false,"name":"Running
        Up That Hill (A Deal With God) - 2018 Remaster","popularity":6,"preview_url":"https://p.scdn.co/mp3-preview/861d26b52ece3e3ad72a7dc3463daece3478801a?cid=807a4260992746f0a8d3b65fa7319836","track_number":1,"type":"track","uri":"spotify:track:29d0nY7TzCoi22XBqDQkiP"}'
  recorded_at: Wed, 21 Aug 2024 20:04:41 GMT
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQDnw9054QozaYRpYWG8z0bLb7kUqPykQgPUpBStnfuMjk0HCzF8J15L1gqfqFzUBywR1AL42iM-H2s3fLN9H9WI7xS4UcCRJ2Knew-O4I3a2FhkT1k4xLxB6_mS4mZ0ypcZaZEBr7caf40yfhcJT_ccIn63W0pvqIq3ljvXDecEDBy4DDDh-5mPDxTal_mMtJYYgBQ-P4Y9_fI7HCvWoqhbsazTeZknGgESN0CPY9gU5tfaSt9pc2dGzhrDuVn-8FEKwR8lKtCU5GD6e91uprRRDl9-66KxP2BSTjyljnMIVQ98wczO1r1CSvm4oI5u3ql9n5L1IZ3UXczHeEZ_K8L1","accessTokenExpirationTimestampMs":1724273382695,"isAnonymous":false}'
  recorded_at: Wed, 21 Aug 2024 20:04:42 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/46982c56ce8f4470a377026e2fe1ac2f?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDnw9054QozaYRpYWG8z0bLb7kUqPykQgPUpBStnfuMjk0HCzF8J15L1gqfqFzUBywR1AL42iM-H2s3fLN9H9WI7xS4UcCRJ2Knew-O4I3a2FhkT1k4xLxB6_mS4mZ0ypcZaZEBr7caf40yfhcJT_ccIn63W0pvqIq3ljvXDecEDBy4DDDh-5mPDxTal_mMtJYYgBQ-P4Y9_fI7HCvWoqhbsazTeZknGgESN0CPY9gU5tfaSt9pc2dGzhrDuVn-8FEKwR8lKtCU5GD6e91uprRRDl9-66KxP2BSTjyljnMIVQ98wczO1r1CSvm4oI5u3ql9n5L1IZ3UXczHeEZ_K8L1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-P5XUpQ=="'
    body:
      encoding: ASCII-8BIT
      string: '{"gid": "46982c56ce8f4470a377026e2fe1ac2f","name": "Running Up That
        Hill (A Deal With God) - 2018 Remaster","album": {"gid": "7d958bba06f243edb750528511153b2d","name":
        "Hounds of Love (2018 Remaster)","artist": [{"gid": "269f610431094ef092c4e6481f3ef43b","name":
        "Kate Bush"}],"label": "Rhino","date": {"year": 1985,"month": 9,"day": 16},"cover_group":
        {"image": [{"file_id": "ab67616d00001e025c390e413e27798edd4d18b4","size":
        "DEFAULT","width": 300,"height": 300},{"file_id": "ab67616d000048515c390e413e27798edd4d18b4","size":
        "SMALL","width": 64,"height": 64},{"file_id": "ab67616d0000b2735c390e413e27798edd4d18b4","size":
        "LARGE","width": 640,"height": 640}]},"licensor": {"uuid": "8337a6aeaca744a7b32050f0c66e138f"},"prerelease_config":
        {"earliest_reveal_date": {"year": 2023,"month": 3,"day": 13,"hour": 11},"earliest_coverart_reveal_date":
        {"year": 2023,"month": 3,"day": 13,"hour": 11}}},"artist": [{"gid": "269f610431094ef092c4e6481f3ef43b","name":
        "Kate Bush"}],"number": 1,"disc_number": 1,"duration": 300840,"popularity":
        6,"external_id": [{"type": "isrc","id": "GBAYE1800884"}],"restriction": [{"countries_allowed":
        ""}],"alternative": [{"gid": "3c23b1058b604a6e82c39ea9f1a5ee04","file": [{"file_id":
        "b8ac6bd7e2abee04178e04a6bf84201ae8410b2c","format": "OGG_VORBIS_320"},{"file_id":
        "c04e355b9f4606b21f94b2a4de5db26aeca0163f","format": "OGG_VORBIS_160"},{"file_id":
        "bfca02572d40f83810afacb1a252fc70ce81f930","format": "OGG_VORBIS_96"},{"file_id":
        "79a288d79b1dce6cb1c4d164fea9176b749d55fa","format": "MP4_256_DUAL"},{"file_id":
        "c3e3bb308caeef83a46d39e5e7eae19bfb03621a","format": "MP4_256"},{"file_id":
        "e0857ca9712f30317d55f1f109941cc6931a25d0","format": "MP4_128_DUAL"},{"file_id":
        "7e014014cf658a49d3703b7e6712dd528dce2cec","format": "MP4_128"},{"file_id":
        "ab1c9d9826f3db6c81e7c4db3625df22f55cf781","format": "AAC_24"}],"preview":
        [{"file_id": "861d26b52ece3e3ad72a7dc3463daece3478801a","format": "MP3_96"}],"original_audio":
        {"uuid": "f1d42abac41b4c3b85f20d77921a2c08"}}],"earliest_live_timestamp":
        1555585200,"has_lyrics": true,"licensor": {"uuid": "8337a6aeaca744a7b32050f0c66e138f"},"language_of_performance":
        ["en"],"original_audio": {"uuid": "08041e9a7ca147f89a9af62ead7f85e9"},"original_title":
        "Running Up That Hill (A Deal With God)","version_title": "2018 Remaster","artist_with_role":
        [{"artist_gid": "269f610431094ef092c4e6481f3ef43b","artist_name": "Kate Bush","role":
        "ARTIST_ROLE_MAIN_ARTIST"}],"canonical_uri": "spotify:track:1PtQJZVZIdWIYdARpZRDFO","prerelease_config":
        {"earliest_reveal_date": {"year": 2023,"month": 3,"day": 13,"hour": 11}}}'
  recorded_at: Wed, 21 Aug 2024 20:04:42 GMT
[...]
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/files/audio/interactive/7e014014cf658a49d3703b7e6712dd528dce2cec?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDnw9054QozaYRpYWG8z0bLb7kUqPykQgPUpBStnfuMjk0HCzF8J15L1gqfqFzUBywR1AL42iM-H2s3fLN9H9WI7xS4UcCRJ2Knew-O4I3a2FhkT1k4xLxB6_mS4mZ0ypcZaZEBr7caf40yfhcJT_ccIn63W0pvqIq3ljvXDecEDBy4DDDh-5mPDxTal_mMtJYYgBQ-P4Y9_fI7HCvWoqhbsazTeZknGgESN0CPY9gU5tfaSt9pc2dGzhrDuVn-8FEKwR8lKtCU5GD6e91uprRRDl9-66KxP2BSTjyljnMIVQ98wczO1r1CSvm4oI5u3ql9n5L1IZ3UXczHeEZ_K8L1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-ak-spotify-com.akamaized.net/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?__token__=exp=1724357083~hmac=e0d6da1518a780e1b06ab214e62a8e514fdc2e2e7e6f23beeff991d6297632b8","https://audio-fa-tls13.spotifycdn.com/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?1724357083_hub5T8iI31PbNtF1zlYqQd5HoVx3_WRWowtZf1ZYoEE=","https://audio-fa-quic.spotifycdn.com/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?1724357083_hub5T8iI31PbNtF1zlYqQd5HoVx3_WRWowtZf1ZYoEE=","https://audio-fa-quic0.spotifycdn.com/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?1724357083_hub5T8iI31PbNtF1zlYqQd5HoVx3_WRWowtZf1ZYoEE=","https://audio-fa-tls130.spotifycdn.com/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?1724357083_hub5T8iI31PbNtF1zlYqQd5HoVx3_WRWowtZf1ZYoEE=","https://audio-fa.scdn.co/audio/7e014014cf658a49d3703b7e6712dd528dce2cec?1724357083_hub5T8iI31PbNtF1zlYqQd5HoVx3_WRWowtZf1ZYoEE="],"fileid":
        "7e014014cf658a49d3703b7e6712dd528dce2cec","ttl": 86400}'
  recorded_at: Wed, 21 Aug 2024 20:04:43 GMT
[...]
- request:
    method: get
    uri: https://seektables.scdn.co/seektable/7e014014cf658a49d3703b7e6712dd528dce2cec.json?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDnw9054QozaYRpYWG8z0bLb7kUqPykQgPUpBStnfuMjk0HCzF8J15L1gqfqFzUBywR1AL42iM-H2s3fLN9H9WI7xS4UcCRJ2Knew-O4I3a2FhkT1k4xLxB6_mS4mZ0ypcZaZEBr7caf40yfhcJT_ccIn63W0pvqIq3ljvXDecEDBy4DDDh-5mPDxTal_mMtJYYgBQ-P4Y9_fI7HCvWoqhbsazTeZknGgESN0CPY9gU5tfaSt9pc2dGzhrDuVn-8FEKwR8lKtCU5GD6e91uprRRDl9-66KxP2BSTjyljnMIVQ98wczO1r1CSvm4oI5u3ql9n5L1IZ3UXczHeEZ_K8L1
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 02 Mar 2023 20:44:16 GMT
      Etag:
      - '"920dff9e5f7abd13084c3314cba08aad"'
      X-Goog-Generation:
      - '1677789856673206'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '823'
      Content-Type:
      - application/octet-stream
      X-Amz-Checksum-Crc32c:
      - 6ZOuLQ==
    body:
      encoding: ASCII-8BIT
      string: '{"seektable_version": "1", "offset": 1446, "timescale": 44100, "segments":
        [[163149, 441344], [165426, 441344], [165240, 440320], [165478, 441344], [165537,
        441344], [165029, 440320], [165436, 441344], [165398, 441344], [165185, 440320],
        [165472, 441344], [165558, 441344], [164989, 440320], [165518, 441344], [165515,
        441344], [165070, 440320], [165419, 441344], [165479, 441344], [165101, 440320],
        [165502, 441344], [165536, 441344], [165199, 440320], [165393, 441344], [165408,
        441344], [165125, 440320], [165457, 441344], [165550, 441344], [165074, 440320],
        [165478, 441344], [165419, 441344], [148620, 393200]], "encoder_delay_samples":
        1024, "padding_samples": 16, "pssh": "AAAAU3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADMIARIQfgFAFM9liknTcDt+ZxLdUhoHc3BvdGlmeSIUfgFAFM9liknTcDt+ZxLdUo3OLOw=",
        "index_range": [1054, 1445]}'
  recorded_at: Wed, 21 Aug 2024 20:04:44 GMT
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQDnw9054QozaYRpYWG8z0bLb7kUqPykQgPUpBStnfuMjk0HCzF8J15L1gqfqFzUBywR1AL42iM-H2s3fLN9H9WI7xS4UcCRJ2Knew-O4I3a2FhkT1k4xLxB6_mS4mZ0ypcZaZEBr7caf40yfhcJT_ccIn63W0pvqIq3ljvXDecEDBy4DDDh-5mPDxTal_mMtJYYgBQ-P4Y9_fI7HCvWoqhbsazTeZknGgESN0CPY9gU5tfaSt9pc2dGzhrDuVn-8FEKwR8lKtCU5GD6e91uprRRDl9-66KxP2BSTjyljnMIVQ98wczO1r1CSvm4oI5u3ql9n5L1IZ3UXczHeEZ_K8L1","accessTokenExpirationTimestampMs":1724273382695,"isAnonymous":false}'
  recorded_at: Wed, 21 Aug 2024 20:04:45 GMT
recorded_with: VCR 6.2.0
