---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/3BRfgsKjcakny2wCYfZrvz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD01df7uZ03gU81r57CW-mSnwC93mF9y8XIMws_f8U-y0u5auvnz7t_q4YOR5pqXys1r01XY42WtbWOoH5txv7fF_PSS7YZh2Nxg9JU326_3ospWYViN7nIF5L5FRIZIgfo4m6tE7A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjdmY2EwNmQ5MDIxODkzODYyMzc0MmZkNGUyYzBkZjFlIg=="'
    body:
      encoding: ASCII-8BIT
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"},"href":"https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB","id":"6NrkINd80slV25wkBu9mEB","name":"Wild
        Nothing","type":"artist","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/3hxVFxpF7uUtjLHzvGIm7W"},"href":"https://api.spotify.com/v1/albums/3hxVFxpF7uUtjLHzvGIm7W","id":"3hxVFxpF7uUtjLHzvGIm7W","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2736da7c8855ee1e48bb4d29184","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e026da7c8855ee1e48bb4d29184","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048516da7c8855ee1e48bb4d29184","width":64,"height":64}],"name":"Gemini","release_date":"2010-05-25","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:3hxVFxpF7uUtjLHzvGIm7W"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"},"href":"https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB","id":"6NrkINd80slV25wkBu9mEB","name":"Wild
        Nothing","type":"artist","uri":"spotify:artist:6NrkINd80slV25wkBu9mEB"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":198842,"explicit":false,"external_ids":{"isrc":"US8YA1010079"},"external_urls":{"spotify":"https://open.spotify.com/track/3BRfgsKjcakny2wCYfZrvz"},"href":"https://api.spotify.com/v1/tracks/3BRfgsKjcakny2wCYfZrvz","id":"3BRfgsKjcakny2wCYfZrvz","is_local":false,"name":"Chinatown","popularity":50,"preview_url":null,"track_number":10,"type":"track","uri":"spotify:track:3BRfgsKjcakny2wCYfZrvz"}'
  recorded_at: Tue, 18 Feb 2025 21:10:02 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/76a241c78ff34b148a653c52adaed719?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAzSkrNZZ4VKzk-hkm-M-VcNdzUFfnq69H8wFFaLwIE8KZ4u0in51R9o9VQFP30VMMx4n4FHkOWRW8eQn2JEIBjkOuQ4J0S3lJeu0wnFSUQqsaRDLIKlhY0EzuoRwW5mmVKOfK2P25GKKgFnXepfDfk9StzDqzjWZ72FZDz92XNUPmuWcbSDF6uT_PxyEFsHcPUo81w_QLIfh6WNdAmJHmhr08mLGzMhs0sGgHkwitiZKWzxzcC21OMouUVyxONA6zdwYP55oTfjYeQyjFm7QgDPehaqJ4jfHZ-cTC-CggkFDJebeqX3EyZOEPInClpwhYlg54NAoNDPnxljuPC9enXREsdzet7hK0ISTIQ17GD3NU9ZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-28ybZw=="'
    body:
      encoding: ASCII-8BIT
      string: '{"gid": "76a241c78ff34b148a653c52adaed719","name": "Chinatown","album":
        {"gid": "6bdea64f51b14268a500dd681978d9e4","name": "Gemini","artist": [{"gid":
        "df57a052f904481091014a6e0a463225","name": "Wild Nothing"}],"label": "Captured
        Tracks","date": {"year": 2010,"month": 5,"day": 25},"cover_group": {"image":
        [{"file_id": "ab67616d00001e026da7c8855ee1e48bb4d29184","size": "DEFAULT","width":
        300,"height": 300},{"file_id": "ab67616d000048516da7c8855ee1e48bb4d29184","size":
        "SMALL","width": 64,"height": 64},{"file_id": "ab67616d0000b2736da7c8855ee1e48bb4d29184","size":
        "LARGE","width": 640,"height": 640}]},"licensor": {"uuid": "7591e93c6cb94fc5b98f0098633b12a6"}},"artist":
        [{"gid": "df57a052f904481091014a6e0a463225","name": "Wild Nothing"}],"number":
        10,"disc_number": 1,"duration": 198842,"popularity": 50,"external_id": [{"type":
        "isrc","id": "US8YA1010079"}],"file": [{"file_id": "539a8d3d2289527a9d99b614d71516c98fea6c04","format":
        "OGG_VORBIS_320"},{"file_id": "8b2551eb348f9a2ba503251e7b59a39f94c012a7","format":
        "OGG_VORBIS_160"},{"file_id": "02322738901b016f3dd737a5383f21f95c622e8e","format":
        "OGG_VORBIS_96"},{"file_id": "463b5296b7a88a954a08298cce2007c4190ae4d9","format":
        "MP4_256_DUAL"},{"file_id": "cff5b92255f780a7fcac02aab369154610d337f8","format":
        "MP4_256"},{"file_id": "7c8be26f2ea39265f0ce11adcddc814587d7078d","format":
        "MP4_128_DUAL"},{"file_id": "0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","format":
        "MP4_128"},{"file_id": "4dcdbb6f20159af6366f0c02d949a5c211391572","format":
        "AAC_24"}],"preview": [{"file_id": "464d982ebc53a4a9fc2208c84ce9b0bf90772fc4","format":
        "MP3_96"}],"earliest_live_timestamp": 1627483696,"has_lyrics": true,"licensor":
        {"uuid": "7591e93c6cb94fc5b98f0098633b12a6"},"language_of_performance": ["en"],"original_audio":
        {"uuid": "d3b96a7795234c94b67d70d2da3f424f","format": "AUDIO_FORMAT_STEREO"},"original_title":
        "Chinatown","artist_with_role": [{"artist_gid": "df57a052f904481091014a6e0a463225","artist_name":
        "Wild Nothing","role": "ARTIST_ROLE_MAIN_ARTIST"}],"canonical_uri": "spotify:track:3BRfgsKjcakny2wCYfZrvz","content_authorization_attributes":
        "","audio_formats": [{"original_audio": {"uuid": "d3b96a7795234c94b67d70d2da3f424f","format":
        "AUDIO_FORMAT_STEREO"}}]}'
  recorded_at: Tue, 18 Feb 2025 21:10:02 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/files/audio/interactive/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAzSkrNZZ4VKzk-hkm-M-VcNdzUFfnq69H8wFFaLwIE8KZ4u0in51R9o9VQFP30VMMx4n4FHkOWRW8eQn2JEIBjkOuQ4J0S3lJeu0wnFSUQqsaRDLIKlhY0EzuoRwW5mmVKOfK2P25GKKgFnXepfDfk9StzDqzjWZ72FZDz92XNUPmuWcbSDF6uT_PxyEFsHcPUo81w_QLIfh6WNdAmJHmhr08mLGzMhs0sGgHkwitiZKWzxzcC21OMouUVyxONA6zdwYP55oTfjYeQyjFm7QgDPehaqJ4jfHZ-cTC-CggkFDJebeqX3EyZOEPInClpwhYlg54NAoNDPnxljuPC9enXREsdzet7hK0ISTIQ17GD3NU9ZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-fa.scdn.co/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1739999402_hPbQHc9gNSaAxPA_Y6XDfmv2tjI9poYxyNT7XzVD3Ys=","https://audio-ak.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?__token__=exp=1739999402~hmac=a40891b4c29f99c9ac475364f1687580b0dbc032edf0169bf7eb5c3a8be7c962","https://audio-fa-tls130.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1739999402_hPbQHc9gNSaAxPA_Y6XDfmv2tjI9poYxyNT7XzVD3Ys=","https://audio-fa-quic.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1739999402_hPbQHc9gNSaAxPA_Y6XDfmv2tjI9poYxyNT7XzVD3Ys=","https://audio-fa-quic0.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1739999402_hPbQHc9gNSaAxPA_Y6XDfmv2tjI9poYxyNT7XzVD3Ys=","https://audio-fa-tls13.spotifycdn.com/audio/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb?1739999402_hPbQHc9gNSaAxPA_Y6XDfmv2tjI9poYxyNT7XzVD3Ys="],"fileid":
        "0bf3ab0301e8731dccb41c701cc640a0e43ffcbb","ttl": 86400}'
  recorded_at: Tue, 18 Feb 2025 21:10:02 GMT
- request:
    method: get
    uri: https://seektables.scdn.co/seektable/0bf3ab0301e8731dccb41c701cc640a0e43ffcbb.json?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAzSkrNZZ4VKzk-hkm-M-VcNdzUFfnq69H8wFFaLwIE8KZ4u0in51R9o9VQFP30VMMx4n4FHkOWRW8eQn2JEIBjkOuQ4J0S3lJeu0wnFSUQqsaRDLIKlhY0EzuoRwW5mmVKOfK2P25GKKgFnXepfDfk9StzDqzjWZ72FZDz92XNUPmuWcbSDF6uT_PxyEFsHcPUo81w_QLIfh6WNdAmJHmhr08mLGzMhs0sGgHkwitiZKWzxzcC21OMouUVyxONA6zdwYP55oTfjYeQyjFm7QgDPehaqJ4jfHZ-cTC-CggkFDJebeqX3EyZOEPInClpwhYlg54NAoNDPnxljuPC9enXREsdzet7hK0ISTIQ17GD3NU9ZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 17 Nov 2021 22:07:39 GMT
      Etag:
      - '"56ba4d8a34f6d5331a2598afe338e3f2"'
      X-Goog-Generation:
      - '1637186859301568'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '644'
      Content-Type:
      - application/octet-stream
      X-Amz-Checksum-Crc32c:
      - OrKyEg==
    body:
      encoding: ASCII-8BIT
      string: '{"seektable_version": "1", "offset": 1326, "timescale": 44100, "segments":
        [[163137, 441344], [165552, 441344], [165050, 440320], [165534, 441344], [165391,
        441344], [165223, 440320], [165366, 441344], [165472, 441344], [165080, 440320],
        [165623, 441344], [165394, 441344], [165127, 440320], [165468, 441344], [165409,
        441344], [165146, 440320], [165473, 441344], [165472, 441344], [165061, 440320],
        [165533, 441344], [147419, 389571]], "encoder_delay_samples": 1024, "padding_samples":
        573, "pssh": "AAAAU3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADMIARIQC/OrAwHocx3MtBxwHMZAoBoHc3BvdGlmeSIUC/OrAwHocx3MtBxwHMZAoOQ//Ls=",
        "index_range": [1054, 1325]}'
  recorded_at: Tue, 18 Feb 2025 21:10:02 GMT
recorded_with: VCR 6.3.1
