---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-165
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmRZ_OxkbcNsQXqiITtexzpbfOzya1HtnLoSvD0D10JAY6tJV_lE_DF3_udKYKSbaIf5wOEROpPNP9gvfRSWZZ-ihBfQ-wgo7MrOa59uvd6Z","expiration_timestamp":1684915052,"license_country":"GB","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1683619052,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"GB","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search"},"premium_tab_native":{"id":"premium_tab_native","option":"A","behaviour":"premium
        tab native"},"share_android_image_preview":{"id":"share_android_image_preview","option":"default","behaviour":"default
        sharing"},"screenshot_sharing":{"id":"screenshot_sharing","option":"default","behaviour":"default
        sharing"},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha"},"catalog_pages_sign-up_banner_1122":{"id":"catalog_pages_sign-up_banner_1122","option":"a","behaviour":"New
        reg journey on the web"},"mobile_trial_v2":{"id":"mobile_trial_v2","option":"c","behaviour":"Get
        the manual trial journey 2"},"tnb_reminder":{"id":"tnb_reminder","option":"control","behaviour":"Normal
        behaviour, no steeper no reminder"},"ad_config_profile_pressure":{"id":"ad_config_profile_pressure","option":"default","behaviour":"Advertising
        pressure is normal"},"premium_acq_toggle_0423":{"id":"premium_acq_toggle_0423","option":"a","behaviour":"new
        challenging toggle that switches between premium and family offers"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"GB","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"free45c5f853efb81b5e9c224fccee5f855d31c8","USER_TOKEN":"53c0baca5d072e3e010f64ab1a41c6643371fa2cd10b5b1f8302cf05fca31a5e","PLAYLIST_WELCOME_ID":"63141574","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"GB","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1683619052,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a37898bd7aae413774ea4ce74136b6a9104b4b245fdf9b5e20175b8da53da3e3e68d3aec5108c7ca8afb1a7d3eb724f7d839692ad7bf7073d854295e8c53640c234af1ccde993b40acc7fc4d9ff95ab490b26fccee9340bb7f69061ed95afb2139df442b3e2ac8492c694d21131f50b52dcf594ff3c6b60a7980651e5529e272365727ea6ddedfc41128ad9a30506624175cf1a4dbf2ee4ad4c5a19410806c342d5b32a8f97e84138d7eff49f3f312bc66c75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=Hb~R3k~vLVdAQyEgGsb2aY5JHPGUcs82&api_version=1.0&method=deezer.pageAlbum
    body:
      encoding: UTF-8
      string: '{"alb_id":"1063611","lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-64
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":{"DATA_ERROR":"album::getData"},"results":{},"payload":{"FALLBACK":{"ALB_ID":413452427}}}'
  recorded_at: Tue, 09 May 2023 07:57:33 GMT
[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=Hb~R3k~vLVdAQyEgGsb2aY5JHPGUcs82&api_version=1.0&method=deezer.pageAlbum
    body:
      encoding: UTF-8
      string: '{"alb_id":413452427,"lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-48
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"DATA":{"ALB_ID":"413452427","ART_ID":"1049","ART_NAME":"Kate
        Bush","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"1","ART_NAME":"Kate
        Bush","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"786529","LOCALES":{"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_en":{"name":"Kate
        Bush"},"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"},"lang_ja-kana":{"name":"\u30b1\u30a4\u30c8\u3000\u30d6\u30c3\u30b7\u30e5"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"}],"URL_REWRITING":"kate-bush","LABEL_NAME":"Fish
        People","STYLE_NAME":"","ALB_TITLE":"Hounds Of Love","VERSION":"","ALB_PICTURE":"22fedaf5d2b0ac8977b93bc1db7a4a2a","DIGITAL_RELEASE_DATE":"2011-05-16","PHYSICAL_RELEASE_DATE":"2011-05-16","ORIGINAL_RELEASE_DATE":"1985-09-16","PROVIDER_ID":"66","SONY_PROD_ID":"95701474010032","UPC":"5099902930152","STATUS":"1","ALB_CONTRIBUTORS":{"main_artist":["Kate
        Bush"],"composer":["Kate Bush"]},"NB_FAN":516,"AVAILABLE":true,"EXPLICIT_ALBUM_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"SUBTYPES":{"isStudio":false,"isLive":false,"isCompilation":false,"isKaraoke":false},"PRODUCER_LINE":"2011
        Noble & Brite Ltd","COPYRIGHT":"2011 Noble & Brite Ltd","__TYPE__":"album"},"SONGS":{"data":[{"SNG_ID":"2173954687","PRODUCT_TRACK_ID":"65307911","UPLOAD_ID":0,"SNG_TITLE":"Running
        Up That Hill (A Deal With God)","ART_ID":"1049","PROVIDER_ID":"66","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"755267","LOCALES":{"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_en":{"name":"Kate
        Bush"},"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"},"lang_ja-kana":{"name":"\u30b1\u30a4\u30c8\u3000\u30d6\u30c3\u30b7\u30e5"}},"__TYPE__":"artist"}],"ALB_ID":"413452427","ALB_TITLE":"Hounds
        Of Love","TYPE":0,"VIDEO":false,"DURATION":"298","ALB_PICTURE":"22fedaf5d2b0ac8977b93bc1db7a4a2a","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK_SNG":"810513","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"4783959","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_MHM1_RA1":"0","FILESIZE_MHM1_RA2":"0","FILESIZE_MHM1_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"4783959","GAIN":"-16.06","MEDIA_VERSION":"3","DISK_NUMBER":"1","TRACK_NUMBER":"1","TRACK_TOKEN":"AAAAAWRZ_O5kWxYu7nPXfE3iwHoW2hQ4fpXEMmG-oAexpu_kAmp5r1QerRowOSAyUBnOsL9_SrOkOlwZEz-NHkjkfjHx8KKDzPi0_dJ0UHBuT08cd515eqrsxqCpw1toPfKE6b5JzEHOqPzKFXgY","TRACK_TOKEN_EXPIRE":1683691054,"VERSION":"","MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-9.dzcdn.net\/stream\/c-961ae51eb4c502675b8c42cc45187895-3.mp3"}],"EXPLICIT_LYRICS":"0","RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"ISRC":"GBCNR8500002","HIERARCHICAL_TITLE":"","SNG_CONTRIBUTORS":{"main_artist":["Kate
        Bush"],"composer":["Kate Bush"],"author":["Kate Bush"]},"LYRICS_ID":2411138,"EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"__TYPE__":"song"},{"SNG_ID":"2173954697","PRODUCT_TRACK_ID":"65307881","UPLOAD_ID":0,"SNG_TITLE":"Hounds
        Of Love","ART_ID":"1049","PROVIDER_ID":"66","ART_NAME":"Kate Bush","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"755267","LOCALES":{"lang_zh-hant":{"name":"\u5e03\u5e0c\u540[...]
