---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/28680/versions?key=<DISCOGS_API_KEY>&page=1&per_page=20&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '54'
      X-Discogs-Ratelimit-Used:
      - '6'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 10, "per_page": 20, "items": 187,
        "urls": {"last": "https://api.discogs.com/masters/28680/versions?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=10&per_page=20",
        "next": "https://api.discogs.com/masters/28680/versions?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=20"}},
        "filters": {"applied": {}, "available": {"format": {"Album": 179, "LP": 64,
        "Vinyl": 64, "CD": 58, "Cassette": 57, "Reissue": 55, "Unofficial Release":
        21, "Remastered": 18, "Club Edition": 14, "Promo": 11, "Stereo": 11, "Limited
        Edition": 10, "CDr": 6, "Misprint": 4, "White Label": 4, "Special Edition":
        3, "Test Pressing": 3, "File": 2, "Repress": 2, "AAC": 1, "FLAC": 1, "Numbered":
        1}, "label": {"Emi": 107, "Novercia Ltd.": 91, "Emi Music Publishing Ltd.":
        38, "Kate Bush Music Ltd.": 35, "Emi Records Ltd.": 33, "Windmill Lane Studios":
        24, "Emi America Records": 23, "Emi America": 22, "Capitol Records, Inc.":
        16, "Emi-Manhattan Records": 15, "Kate Bush Music Publishing Ltd.": 13, "Screen
        Gems-Emi Music Inc.": 13, "The Town House": 12, "Columbia House": 10, "Emi
        Services Benelux B.V.": 10, "Noble & Brite Ltd.": 10, "Toshiba Emi Ltd": 10,
        "Fish People": 9, "Emi Records": 8, "James Upton Ltd.": 7, "Emi Uden": 6,
        "Path\u00e9 Marconi Emi": 6, "Audio Fidelity": 5, "Capitol Mastering": 5,
        "Capitol Records Pressing Plant, Jacksonville": 5, "Capitol Records-Emi Of
        Canada Limited": 5, "4P Nicolaus Gmbh": 4, "Capitol Industries-Emi, Inc.":
        4, "Bill Smith Studio": 3, "Cbs Records Ltd.": 3, "Cinram": 3, "Emi 100":
        3, "Emi Italiana S.P.A.": 3, "Emi Music Canada": 3, "Emi Swindon": 3, "Noble
        And Brite": 3, "Oasis Records": 3, "Portrait": 3, "Record Technology Incorporated":
        3, "747": 2, "Abbey Road Studios": 2, "Capitol Records Pressing Plant, Winchester":
        2, "Columbia Records Pressing Plant, Don Mills, On": 2, "Digital Audio Disc
        Corp.": 2, "Disque Americ": 2, "Emi Greece": 2, "Emi Mfg.": 2, "Emi Music
        Publishing": 2, "Emi Records Australia": 2, "Emi Usa": 2, "Emi-Odeon, S.A.":
        2, "Emial S.A.": 2, "Grafica Pozzoli S.P.A.": 2, "Jugoton": 2, "Kate Bush
        Paper Sleeve Collection": 2, "Noverica Limited": 2, "Oasis Record Co.": 2,
        "Parlophone": 2, "Rock Records & Tapes": 2, "Sonopress": 2, "Supermasters":
        2, "Thomsun Original": 2, "7Rock": 1, "Album Series": 1, "Atlantic Records":
        1, "Basf": 1, "Bertelsmann Club": 1, "Bmg Direct Marketing, Inc.": 1, "Brawo":
        1, "Capitol Jax": 1, "Carlton Productions": 1, "Castle": 1, "Cbs": 1, "Cbs
        Records Canada Ltd.": 1, "Columbia Records Pressing Plant, Carrollton, Ga":
        1, "Columbia, Athens": 1, "Cool Price": 1, "Coolprice": 1, "Dadc": 1, "Das
        Boot Recording": 1, "Digital Audio Technologies Australia": 1, "Discos Cbs,
        S.A., Colombia": 1, "Dyna Emi": 1, "Ego Record": 1, "Emi Capitol De Mexico,
        S.A. De C.V.": 1, "Emi Electrola Gmbh": 1, "Emi Music France": 1, "Emi Music
        Group Australasia": 1, "Emi Music Group Of Companies": 1, "Emi Music Japan
        Inc": 1, "Emi Music Publ. Sa": 1, "Emi Music South Africa (Pty) Ltd.": 1,
        "Emi-Odeon Fonogr\u00e1fica, Industrial E Eletr\u00f4nica Ltda.": 1, "Eska
        Records": 1, "Fonobr\u00e1s, Distribuidora Fonogr\u00e1fica Brasileira Ltda.":
        1, "Forever Young": 1, "Gana Studio": 1, "Gold Typhoon": 1, "Gold Typhoon
        Music Co. Ltd.": 1, "Golden Hit": 1, "Golden Peacock": 1, "Green Club Riviera":
        1, "Indugraf Madrid, S.A.": 1, "Interpak": 1, "K.E.C.P.P.": 1, "Kent Elektronik
        San. Ve Tic. A.\u015e.": 1, "Mediamotion": 1, "Mg Records": 1, "Michael":
        1, "New Wave": 1, "Nimbus, Virginia": 1, "Oasis Emi Korea": 1, "Offset France":
        1, "Optimal Media Gmbh": 1, "Path\u00e9 Marconi S.A.": 1, "Professional Duplication
        Studio L. Dziugie\u0142": 1, "Pt. Aquarius Musikindo": 1, "Rainbo Records":
        1, "Record Industry": 1, "Rege": 1, "Regency Media": 1, "Rhino Records": 1,
        "S180 Series": 1, "Simply Vinyl": 1, "Sonic, S.A.": 1, "Sonopress Usa": 1,
        "Sunny": 1, "Takt": 1, "Takt Music": 1, "Tatarek": 1, "Team Records": 1, "The
        Gramophone Company Of India Ltd.": 1, "Top Album Series": 1, "Universal Music
        & Video Distribution, Corp.": 1, "Universal Music Domestic Division": 1, "Universal
        Records": 1, "Vivo": 1, "Warner Music Canada Co.": 1, "Warner Music Japan
        Inc.": 1, "\u6efe\u77f3\u570b\u969b\u97f3\u6a02\u80a1\u4efd\u6709\u9650\u516c\u53f8":
        1}, "country": {"US": 31, "Europe": 29, "Canada": 17, "UK": 14, "Japan": 13,
        "France": 6, "Poland": 6, "Indonesia": 5, "UK & Europe": 5, "Australia": 4,
        "Germany": 4, "Italy": 4, "Saudi Arabia": 4, "Taiwan": 4, "Argentina": 3,
        "Israel": 3, "Netherlands": 3, "South Korea": 3, "Spain": 3, "Thailand": 3,
        "Greece": 2, "New Zealand": 2, "Russia": 2, "Unknown": 2, "Yugoslavia": 2,
        "Australia & New Zealand": 1, "Brazil": 1, "Colombia": 1, "German Democratic
        Republic (GDR)": 1, "India": 1, "Ireland": 1, "Mexico": 1, "Philippines":
        1, "Portugal": 1, "Romania": 1, "South Africa": 1, "Turkey": 1, "Zimbabwe":
        1}, "released": {"1985": 98, "1997": 10, "2011": 5, "2014": 4, "2018": 3,
        "1990": 2, "1986": 1, "1987": 1, "1989": 1, "1991": 1, "1993": 1, "1994":
        1, "1995": 1, "2000": 1, "2005": 1, "2008": 1, "2010": 1}}}, "filter_facets":
        [{"title": "Format", "id": "format", "values": [{"title": "Album", "value":
        "Album", "count": 179}, {"title": "LP", "value": "LP", "count": 64}, {"title":
        "Vinyl", "value": "Vinyl", "count": 64}, {"title": "CD", "value": "CD", "count":
        58}, {"title": "Cassette", "value": "Cassette", "count": 57}, {"title": "Reissue",
        "value": "Reissue", "count": 55}, {"title": "Unofficial Release", "value":
        "Unofficial+Release", "count": 21}, {"title": "Remastered", "value": "Remastered",
        "count": 18}, {"title": "Club Edition", "value": "Club+Edition", "count":
        14}, {"title": "Promo", "value": "Promo", "count": 11}, {"title": "Stereo",
        "value": "Stereo", "count": 11}, {"title": "Limited Edition", "value": "Limited+Edition",
        "count": 10}, {"title": "CDr", "value": "CDr", "count": 6}, {"title": "Misprint",
        "value": "Misprint", "count": 4}, {"title": "White Label", "value": "White+Label",
        "count": 4}, {"title": "Special Edition", "value": "Special+Edition", "count":
        3}, {"title": "Test Pressing", "value": "Test+Pressing", "count": 3}, {"title":
        "File", "value": "File", "count": 2}, {"title": "Repress", "value": "Repress",
        "count": 2}, {"title": "AAC", "value": "AAC", "count": 1}, {"title": "FLAC",
        "value": "FLAC", "count": 1}, {"title": "Numbered", "value": "Numbered", "count":
        1}], "allows_multiple_values": true}, {"title": "Label", "id": "label", "values":
        [{"title": "Emi", "value": "Emi", "count": 107}, {"title": "Novercia Ltd.",
        "value": "Novercia+Ltd.", "count": 91}, {"title": "Emi Music Publishing Ltd.",
        "value": "Emi+Music+Publishing+Ltd.", "count": 38}, {"title": "Kate Bush Music
        Ltd.", "value": "Kate+Bush+Music+Ltd.", "count": 35}, {"title": "Emi Records
        Ltd.", "value": "Emi+Records+Ltd.", "count": 33}, {"title": "Windmill Lane
        Studios", "val[...]
