---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wejlhg239gh23&autocorrect=0&format=json&lang=en&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"The artist you supplied could not be found","links":[]}'
  recorded_at: Sun, 08 May 2022 11:57:26 GMT
recorded_with: VCR 6.1.0
