---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/6271?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "Sparks", "id": 6271, "resource_url": "https://api.discogs.com/artists/6271",
        "uri": "https://www.discogs.com/artist/6271-Sparks", "releases_url": "https://api.discogs.com/artists/6271/releases",
        "images": [{"type": "primary", "uri": "https://i.discogs.com/cgBk1IeRwIybevVd2oanGDhrEyrwRIqsVCWDLZcr1yk/rs:fit/g:sm/q:90/h:591/w:475/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTYyNzEt/MTY2MzAxMjYzNy03/NDg5LmpwZWc.jpeg",
        "resource_url": "https://i.discogs.com/cgBk1IeRwIybevVd2oanGDhrEyrwRIqsVCWDLZcr1yk/rs:fit/g:sm/q:90/h:591/w:475/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTYyNzEt/MTY2MzAxMjYzNy03/NDg5LmpwZWc.jpeg",
        "uri150": "https://i.discogs.com/TgZP7UmFJGlNfu8u3Ty7vQKSgKhZIIEjURANFw_HU-g/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTYyNzEt/MTY2MzAxMjYzNy03/NDg5LmpwZWc.jpeg",
        "width": 475, "height": 591}, {"type": "secondary", "uri": "https://i.discogs.com/pRYwC9vqSd2CNQubXXusQmU_7MJmLAeu_y122LEYwP0/rs:fit/g:sm/q:90/h:399/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTYyNzEt/MTY2MzAxMjUyMS0z/NDYxLmpwZWc.jpeg",
        "resource_url": "https://i.discogs.com/pRYwC9vqSd2CNQubXXusQmU_7MJmLAeu_y122LEYwP0/rs:fit/g:sm/q:90/h:399/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTYyNzEt/MTY2MzAxMjUyMS0z/NDYxLmpwZWc.jpeg",
        "uri150": "https://i.discogs.com/C6g7FyfoBVUVX2InK35BanPhIJcl1OUJO[...]
- request:
    method: get
    uri: https://api.discogs.com/artists/6271/releases?key=<DISCOGS_API_KEY>&page=2&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 242, "per_page": 5, "items": 1208,
        "urls": {"first": "https://api.discogs.com/artists/6271/releases?key=<DISCOGS_API_KEY>&page=1&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc",
        "last": "https://api.discogs.com/artists/6271/releases?key=<DISCOGS_API_KEY>&page=242&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc",
        "prev": "https://api.discogs.com/artists/6271/releases?key=<DISCOGS_API_KEY>&page=1&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc",
        "next": "https://api.discogs.com/artists/6271/releases?key=<DISCOGS_API_KEY>&page=3&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc"}},
        "releases": [{"id": 3107475, "title": "The Girl Is Crying In Her Latte", "type":
        "master", "main_release": 27185157, "artist": "Sparks", "role": "Main", "resource_url":
        "https://api.discogs.com/masters/3107475", "year": 2023, "thumb": "https://i.discogs.com/gEMOKlhsnS2RbkKH8HPG9uKzVwBv1NtFB9JPDGd38uA/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI3MTg1/MTU3LTE2ODUxNTA1/MDUtMjg0Mi5qcGVn.jpeg",
        "stats": {"community": {"in_wantlist": 101, "in_collection": 994}}}, {"id":
        2558846, "title": "The Sparks Brothers (Original Motion Picture Soundtrack)",
        "type": "master", "main_release": 22546391, "artist": "Sparks", "role": "Main",
        "resource_url": "https://api.discogs.com/masters/2558846", "year": 2022, "thumb":
        "https://i.discogs.com/RupmO-1jhkOf_CpHrJN4cxX1FuqjoHz23lcVUT1EK90/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTIyNTQ2/MzkxLTE2NDkxODYw/MzEtMjU2My5qcGVn.jpeg",
        "stats": {"commu[...]
