---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/85929?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "Kate Bush", "id": 85929, "resource_url": "https://api.discogs.com/artists/85929",
        "uri": "https://www.discogs.com/artist/85929-Kate-Bush", "releases_url": "https://api.discogs.com/artists/85929/releases",
        "images": [{"type": "primary", "uri": "https://i.discogs.com/iY4TL7Bjl42Sv2f4w_PJsi85nSa7pxz7BML3IVUmRz0/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTg1OTI5/LTE2NDE0ODcxOTEt/NDU5Ni5qcGVn.jpeg",
        "resource_url": "https://i.discogs.com/iY4TL7Bjl42Sv2f4w_PJsi85nSa7pxz7BML3IVUmRz0/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTg1OTI5/LTE2NDE0ODcxOTEt/NDU5Ni5qcGVn.jpeg",
        "uri150": "https://i.discogs.com/v415oBiYs6mPhqQXHqmuKEEP2_ZJCzMUqMu0-HRRbGM/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTg1OTI5/LTE2NDE0ODcxOTEt/NDU5Ni5qcGVn.jpeg",
        "width": 600, "height": 600}, {"type": "secondary", "uri": "https://i.discogs.com/VfYGt0zVgeWBzHLh0q5hgh37x5xypx8w_ewh1wTVIa0/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTg1OTI5/LTE2NDE0ODcxNjkt/MjE0Ni5qcGVn.jpeg",
        "resource_url": "https://i.discogs.com/VfYGt0zVgeWBzHLh0q5hgh37x5xypx8w_ewh1wTVIa0/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTg1OTI5/LTE2NDE0ODcxNjkt/MjE0Ni5qcGVn.jpeg",
        "uri150": "https://i.discogs.com/bQ-hc4cMkx11yLOrZlBwF45CxvpFy-F[...]
- request:
    method: get
    uri: https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&page=1&per_page=20&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 146, "per_page": 20, "items": 2909,
        "urls": {"last": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&page=146&per_page=20&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc",
        "next": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&page=2&per_page=20&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc"}},
        "releases": [{"id": 3146046, "title": "Cloudbusting ", "type": "master", "main_release":
        13662375, "artist": "Kate Bush", "role": "Main", "resource_url": "https://api.discogs.com/masters/3146046",
        "year": 2019, "thumb": "https://i.discogs.com/x79MhuSrOrXgT0YM-GyPYk_-hTQGTUl9NSFo_tNt4Cw/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEzNjYy/Mzc1LTE1NTg1MjMw/MDctNTQxNi5qcGVn.jpeg",
        "stats": {"community": {"in_wantlist": 271, "in_collection": 1303}}}, {"id":
        12874042, "status": "Accepted", "type": "release", "format": "Box, Comp +
        2xCD, Album, RE, RM + CD, Album, RE, R", "label": "Fish People", "title":
        "Remastered Part II", "resource_url": "https://api.discogs.com/releases/12874042",
        "role": "Main", "artist": "Kate Bush", "year": 2018, "thumb": "https://i.discogs.com/HGvwYQ7Dtr7V8y6sZo7gBx7sbpAqGgo42_znLawQ1b0/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEyODc0/MDQyLTE1NDM3NjQ4/MzctMzY3MS5qcGVn.jpeg",
        "stats": {"community": {"in_wantlist": 216, "in_collection": 1268}}}, {"id":
        25871701, "status": "Accepted", "[...]
