---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 3, "per_page": 50, "items": 112,
        "urls": {"last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=3&per_page=50",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=2&per_page=50"}},
        "results": [{"id": 85929, "type": "artist", "master_id": null, "master_url":
        null, "uri": "/artist/85929-Kate-Bush", "title": "Kate Bush", "thumb": "https://img.discogs.com/wp9-gdyqMwsNup_8_wflTTyQsKU=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-85929-1167437440.jpeg.jpg",
        "cover_image": "https://img.discogs.com/VFxhrfX4BK2TztjZ0Uae0uaLvJY=/600x600/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1167437440.jpeg.jpg",
        "resource_url": "https://api.discogs.com/artists/85929"}, {"id": 281922, "type":
        "artist", "master_id": null, "master_url": null, "uri": "/artist/281922-Paddy-Bush",
        "title": "Paddy Bush", "thumb": "https://img.discogs.com/d86RKfIUIKkVoIBfJdGhQjqV4mQ=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-281922-1276811920.jpeg.jpg",
        "cover_image": "https://img.discogs.com/y5xMHhBudPmWRX2xmDwxwO_iwio=/322x438/smart/filters:strip_icc():format(jpeg):mode_rg[...]
