---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/1531968?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 1531968, "main_release": 13482030, "most_recent_release": 13482030,
        "resource_url": "https://api.discogs.com/masters/1531968", "uri": "https://www.discogs.com/Labrinth-Sia-Diplo-Present-LSD-LSD/master/1531968",
        "versions_url": "https://api.discogs.com/masters/1531968/versions", "main_release_url":
        "https://api.discogs.com/releases/13482030", "most_recent_release_url": "https://api.discogs.com/releases/13482030",
        "num_for_sale": 43, "lowest_price": 9.76, "images": [{"type": "primary", "uri":
        "https://img.discogs.com/ZlrzE8x12BvQvYyqYct1PnbLYMI=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13482030-1575718866-1396.jpeg.jpg",
        "resource_url": "https://img.discogs.com/ZlrzE8x12BvQvYyqYct1PnbLYMI=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13482030-1575718866-1396.jpeg.jpg",
        "uri150": "https://img.discogs.com/YwtVd21HmsDndiGlAH798GT4WgY=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-13482030-1575718866-1396.jpeg.jpg",
        "width": 600, "height": 590}, {"type": "secondary", "uri": "https://img.discogs.com/jUuBn2ks5S_rmuJz0lcgTNMLcH0=/fit-in/600x508/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13482030-1555042687-4563.jpeg.jpg",
        "resource_url": "https://img.discogs.com/jUuBn2ks5S_rmuJz0lcgTNMLcH0=/fit-in/600x508/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13482030-1555042687-4563.jpeg.jpg",
        "uri150": "https://img.discogs.com/WNsPg4txi9iP8NA6BrW_O7ExS1w=/fit-in/150x1[...]
