---
http_interactions:
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"uri":"spotify:artist:wejlhg239gh23","offset":0,"limit":20,"order":"DATE_DESC"},"operationName":"queryArtistDiscographyAlbums","extensions":{"persistedQuery":{"version":1,"sha256Hash":"5e07d323febb57b4a56a42abbf781490e58764aa45feb6e3dc0591564fc56599"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Exception while fetching data (/artistUnion)
        : Server error","locations":[{"line":1,"column":123}],"path":["artistUnion"],"extensions":{"classification":"DataFetchingException","service":"pathfinder"}}],"extensions":{"valueCompletion":[{"message":"Cannot
        return null for non-nullable field Query.artistUnion","path":[]}]}}'
  recorded_at: Sat, 14 Mar 2026 21:55:42 GMT
recorded_with: VCR 6.4.0
