---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&page=2&per_page=5&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
      Link:
      - <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=33178&per_page=5>;
        rel="last", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 33178, "per_page": 5, "items":
        165888, "urls": {"first": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "last": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=33178&per_page=5",
        "prev": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5",
        "next": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5"}},
        "releases": [{"status": "Accepted", "format": "CD, Album", "catno": "-2",
        "thumb": "https://img.discogs.com/hrOvUrDPOW8hCHM8QMGOvu9DGaQ=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-15526749-1593026512-7810.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/15526749", "title": "Cabaret
        Le Musical De Broadway Live", "id": 15526749, "year": 2007, "artist": "Various"},
        {"status": "Accepted", "format": "3x12\", Comp", "catno": "!K7071lp, K7071LP",
        "thumb": "https://img.discogs.com/f_f4l6CjrX8oCoiIAiXPSY-1GQE=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-130768-001.jpg.jpg",
        "resource_url": "https://api.discogs.com/releases/130768", "title": "DJ-Kicks",
        "id": 130768, "year": 1998, "artist": "Andrea Parker"}, {"status": "Accepted",
        "format": "5x12\", Comp, RE, RM, Tri"[...]
