---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.albums.get?apikey=<MUSIXMATCH_API_KEY>&artist_id=542702&g_album_name=1&page=1&page_size=20&s_release_date=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.030206918716431'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.030206918716431,"available":28},"body":{"album_list":[{"album":{"album_id":31126738,"album_mbid":"","album_name":"Laughing
        Gas","album_rating":20,"album_release_date":"2020-01-31","artist_id":542702,"artist_name":"Wild
        Nothing","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":1004,"music_genre_parent_id":20,"music_genre_name":"Indie
        Rock","music_genre_name_extended":"Alternative \/ Indie Rock","music_genre_vanity":"Alternative-Indie-Rock"}},{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}}]},"album_pline":"2020
        Captured Tracks","album_copyright":"2020 Captured Tracks","album_label":"Captured
        Tracks","restricted":0,"updated_time":"2021-08-06T17:25:21Z","external_ids":{"spotify":["28K81dRFuSVOdvtimu4p3L","3EJrWQPLj60Gak9IwjQjB2","3jPPl73kzB6RaYeoVfgMfd","44duSipuzTfDoFcgAKUxAn"],"itunes":["1446496924","1488674249"],"amazon_music":[]}}},{"album":{"album_id":34784902,"album_mbid":"","album_name":"Live
        from Brooklyn Steel","album_rating":11,"album_release_date":"2019-09-27","artist_id":542702,"artist_name":"Wild
        Nothing","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":1004,"music_genre_parent_id":20,"music_genre_name":"Indie
        Rock","music_genre_name_extended":"Alternative \/ Indie Rock","music_genre_vanity":"Alternative-Indie-Rock"}}]},"album_pline":"2019
        Captured Tracks[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.get?apikey=<MUSIXMATCH_API_KEY>&artist_id=542702
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0052931308746338'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0052931308746338},"body":{"artist":{"artist_id":542702,"artist_name":"Wild
        Nothing","artist_name_translation_list":[],"artist_comment":"","artist_country":"US","artist_alias_list":[{"artist_alias":"\u30ef\u30a4\u30eb\u30c9\u30ca\u30c3\u30b7\u30f3\u30b0"}],"artist_rating":39,"artist_twitter_url":"https:\/\/twitter.com\/WildNothing","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2016-10-03T07:40:27Z","begin_date_year":"","begin_date":"0000-00-00","end_date_year":"","end_date":"0000-00-00"}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:16 GMT
recorded_with: VCR 6.2.0
