---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.albums.get?apikey=<MUSIXMATCH_API_KEY>&artist_id=wejlhg239gh23&g_album_name=1&page=1&page_size=20&s_release_date=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0063059329986572'
      X-Mxm-Header-Status:
      - '404'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":404,"execute_time":0.0063059329986572,"available":0},"body":""}}'
  recorded_at: Sat, 12 Aug 2023 17:20:16 GMT
recorded_with: VCR 6.2.0
