---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/artist/1049/albums?index=5&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-143
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1063593,"title":"The Dreaming","link":"https:\/\/www.deezer.com\/album\/1063593","cover":"https:\/\/api.deezer.com\/album\/1063593\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f49bc636bee7bc52139239e716a78587\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f49bc636bee7bc52139239e716a78587\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f49bc636bee7bc52139239e716a78587\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f49bc636bee7bc52139239e716a78587\/1000x1000-000000-80-0-0.jpg","md5_image":"f49bc636bee7bc52139239e716a78587","genre_id":132,"fans":8854,"release_date":"2011-05-16","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/1063593\/tracks","explicit_lyrics":false,"type":"album"},{"id":1063594,"title":"The
        Sensual World","link":"https:\/\/www.deezer.com\/album\/1063594","cover":"https:\/\/api.deezer.com\/album\/1063594\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cd87f3bc387bbeda06368ef634c250db\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cd87f3bc387bbeda06368ef634c250db\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cd87f3bc387bbeda063[...]
