---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=release
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '54'
      X-Discogs-Ratelimit-Used:
      - '6'
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=133&per_page=50>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=2&per_page=50>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 133, "per_page": 50, "items": 6626,
        "urls": {"last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=133&per_page=50",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=2&per_page=50"}},
        "results": [{"country": "US", "year": "1983", "format": ["Vinyl", "LP", "Mini-Album",
        "Compilation", "Stereo"], "label": ["EMI America", "Screen Gems-EMI Music
        Inc.", "Novercia Ltd.", "EMI America Records", "EMI America Records", "Capitol
        Records, Inc.", "Liberty Recording Studios", "Capitol Records Pressing Plant,
        Jacksonville"], "type": "release", "genre": ["Rock"], "style": ["Art Rock",
        "Pop Rock"], "id": 483467, "barcode": ["BMI", "MLP-1-19004-P.2. #1 MASTERED
        BY LIBERTY", "MLP-2-19004-P.2. #1 MASTERED BY LIBERTY", "0", "07777190041",
        "MLP-1-19004-P.1. #1 MASTERED BY LIBERTY", "MLP-2-19004-P.2. #1 MASTERED BY
        LIBERTY", "MLP-1-19004-P.2. #2 MASTERED BY LIBERTY", "MLP-1-19004-P.1. #1
        MASTERED BY LIBERTY"], "master_id": 119657, "master_url": "https://api.discogs.com/masters/119657",
        "uri": "/Kate-Bush-Kate-Bush/release/483467", "catno": "MLP-19004", "title":
        "Kate Bush - Kate Bush", "thumb": "https://img.discogs.com/5Zt2fHc_N6Yb14J77nxRAuf9Jkg=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-483467-1335763473.jpeg.jpg",
        "cover_image": "https://img.discogs.com/giBVIqUaHUxOX8MC5nDJI6-rLFw=/fit-in/600x599/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-483467-1335763473.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/483467", "community": {"want":
        133, "have": 722}, "format_quantity": 1, "formats": [{"name": "Vinyl", "qty":
        "1", "descriptions": ["LP", "Mini-Album", "Compilation", "Stereo"]}]}, {"country":
        "German Democratic Republic (GDR)", "year": "1984", "format": ["Vinyl", "LP",
        "Compilation"], "label": ["AMIGA", "EMI Records Ltd.", "EMI Records Ltd.",
        "VEB Deutsche Schallplatten Berlin", "VEB Gotha-Druck"], "type": "release",
        "genre": ["Electronic", "Rock"], "style": ["Pop Rock", "Synth-pop", "Experimental"],
        "id": 477573, "barcode": ["8 56 072-1A", "8 56 072-2A", "AWA", "16,10 M"],
        [...]
