---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=1&per_page=20&query=wejlhg239gh23&secret=<DISCOGS_API_SECRET>&type=release
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '49'
      X-Discogs-Ratelimit-Used:
      - '11'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 20, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Tue, 25 May 2021 09:21:49 GMT
recorded_with: VCR 6.0.0
