---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '56'
      X-Discogs-Ratelimit-Used:
      - '4'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=master>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=137&per_page=5&query=kate+bush&type=master>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=master>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=master>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 137, "per_page": 5, "items": 681,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=master",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=137&per_page=5&query=kate+bush&type=master",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=master",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=master"}},
        "results": [{"country": "UK", "year": "1978", "format": ["Vinyl", "LP", "Album",
        "Stereo"], "label": ["EMI", "EMI", "EMI Records Ltd.", "Air Studios", "EMI",
        "Kate Bush Music Ltd.", "Garrod & Lofthouse", "EMI Records"], "type": "master",
        "genre": ["Rock", "Pop"], "style": ["Art Rock", "Pop Rock"], "id": 28531,
        "barcode": ["YAX.5389", "YAX.5390", "7802 TM", "YAX 5389-3 REMBER YOURSELF",
        "YAX 5390-1", "YAX 5389-2 REMBER YOURSELF", "YAX 5390-1", "YAX 5389-2 REMBER
        YOURSELF", "YAX 5390-2", "YAX 5389-1 REMEMBER YOURSELF M 1", "YAX 5390-1 A
        1", "YAX 5389-2 G L A 3 REMBER YOURSELF", "YAX 5390-3 U D P 1", "YAX 5389-5
        REMBER YOURSELF", "YAX 5390-1  ", "YAX 5389-2 RRR C REMBER YOURSELF", "YAX
        5390-1 RRT S", "YAX 5390-4 REMBER YOURSELF", "YAX 5390-1", "YAX 5389-3 REMBER
        YOURSELF", "YAX 5390-3", "YAX 5389-2 GDD 4", "YAX 5390-3 GLO 1", "YAX 5389-4
        REMEMBER YOURSELF RMP 1", "YAX 5390-1 RPP 3", "YAX 5389-2 ROL 6", "YAX 5390-3
        RRL 2", "YAX 5389-5 \u2144\u039bD 2 REMBER YOURSELF", "YAX 5390-4 AMR", "YAX
        5389-2 RPG 6 REMBER YOURSELF", "YAX 5390-3 PD"], "master_id": 28531, "master_url":
        "https://api.discogs.com/masters/28531", "uri": "/Kate-Bush-The-Kick-Inside/master/28531",
        "catno": "EMC 3223", "title": "Kate Bush - The Kick Inside", "thumb": "https://img.discogs.com/Bn-CGnPTPylj9O0fSn36n0jqahQ=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-414374-1411407209-7587.jpeg.jpg",
        "cover_image": "https://img.discogs.com/l4tj9nFGF6KgmETZZPwox8pC06w=/fit-in/600x598/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-414374-1411407209-7587.jpeg.jpg",
        "resource_url": "https://api.discogs.com/masters/28531", "community": {"want":
        34549, "have": 44382}}, {"country": "UK", "year": "1985", "format": ["Vinyl",
        "LP", "Album", "Stereo"], "label": ["EMI", "EMI", "EMI", "Kate Bush Music
        Ltd.", "EMI Music Publishing Ltd.", "Novercia Ltd.", "Novercia Ltd.", "The
        Town House", "James Upton Ltd.", "EMI Records Ltd.", "EMI Records", "Windmill
        Lane Studios"], "type": "master", "genre": ["Electronic", "Rock", "Pop"],
        "style": ["Art Rock", "Experimental", "Pop Rock"], "id": 28680, "barcode":
        ["5 099924 0[...]
