---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=tag.getTopAlbums&tag=dream%20pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"albums\":{\"album\":[{\"name\":\"Honeymoon\",\"mbid\":\"\",\"url\":\"https://www.last.fm/music/Lana+Del+Rey\",\"artist\":{\"name\":\"Lana
        Del Rey\",\"mbid\":\"b7539c32-53e7-4908-bda3-81449c367da6\",\"url\":\"https://www.last.fm/music/Lana+Del+Rey\"},\"image\":[{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/34s/5856538e10f1ea08ed8ab71c32d1f237.png\",\"size\":\"small\"},{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/64s/5856538e10f1ea08ed8ab71c32d1f237.png\",\"size\":\"medium\"},{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/174s/5856538e10f1ea08ed8ab71c32d1f237.png\",\"size\":\"large\"},{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/300x300/5856538e10f1ea08ed8ab71c32d1f237.png\",\"size\":\"extralarge\"}],\"@attr\":{\"rank\":\"1\"}},{\"name\":\"So
        Tonight That I Might See\",\"mbid\":\"d9fa44a6-c79b-4b70-806b-af5eb748e8f8\",\"url\":\"https://www.last.fm/music/Mazzy+Star\",\"artist\":{\"name\":\"Mazzy
        Star\",\"mbid\":\"c48d4327-8122-4286-af66-05e1ee6ac4d8\",\"url\":\"https://www.last.fm/music/Mazzy+Star\"},\"image\":[{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/34s/60615ead3d8383e70e84a526817de4bf.png\",\"size\":\"small\"},{\"#text\":\"https://lastfm.freetls.fastly.net/i/u/64s/60615ead3d8383e70e8[...]
