---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1138'
      X-Ratelimit-Reset:
      - '1683644511'
      Etag:
      - W/"a46b5e098b598e360a1e0223ffee12d7"
    body:
      encoding: ASCII-8BIT
      string: '{"artist-credit":[{"name":"Kate Bush","joinphrase":"","artist":{"disambiguation":"","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","tags":[{"count":1,"name":"alternative"},{"count":1,"name":"alternative
        rock"},{"name":"ambient pop","count":2},{"count":5,"name":"art pop"},{"name":"art
        rock","count":5},{"count":1,"name":"baroque pop"},{"name":"british","count":1},{"count":1,"name":"crossover
        prog"},{"name":"indie rock","count":1},{"name":"new wave","count":1},{"name":"pop","count":5},{"name":"pop
        rock","count":1},{"count":5,"name":"progressive pop"},{"name":"rock","count":3},{"count":1,"name":"singer-songwriter"}],"sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","type":"Person"}}],"title":"Running
        Up That Hill (A Deal With God)","id":"6029d549-5858-4936-9156-b90770d2ae92","length":300000,"releases":[{"tags":[],"text-representation":{"language":"eng","script":"Latn"},"barcode":"","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","quality":"normal","status":"Promotion","country":"FR","date":"1985-07-30","release-events":[{"area":{"sort-name":"France","type-id":null,"disambiguation":"","type":null,"iso-3166-1-codes":["FR"],"name":"France","id":"08310658-51eb-3801-80de-5a0739207115"},"date":"1985-07-30"}],"disambiguation":"","artist-credit":[{"name":"Kate
        Bush","joinphrase":"","artist":{"type":"Person","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush","sort-name":"Bush, Kate","disambiguation":"","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"name":"ambient pop","count":2},{"count":5,"name":"art pop"},{"name":"art
        rock","count":5},{"name":"baroque pop","count":1},{"name":"british","count":1},{"name":"crossover
        prog","count":1},{"name":"indie rock","count":1},{"count":1,"name":"new wave"},{"name":"pop","count":5},{"count":1,"name":"pop
        rock"},{"name":"progressive pop","count":5},{"count":3,"name":"rock"},{"count":1,"name":"singer-songwriter"}]}}],"status-id":"518ffc83-5cde-34df-8627-81bff5093d92","title":"Hounds
        of Love","id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","packaging":"Cardboard/Paper
        Sleeve"},{"country":"GB","date":"1985-08-05","tags":[],"text-representation":{"script":"Latn","language":"eng"},"packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","barcode":"","status":"Official","quality":"normal","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"sort-name":"Bush, Kate","disambiguation":"","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"n[...]
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/352cac7d-a33f-4878-8ecb-960bcd9cf125?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1017'
      X-Ratelimit-Reset:
      - '1683644511'
      Etag:
      - W/"2c7704ec381556c2229a34cd2dfaeed5"
    body:
      encoding: ASCII-8BIT
      string: '{"cover-art-archive":{"back":false,"front":false,"artwork":false,"darkened":false,"count":0},"status-id":"518ffc83-5cde-34df-8627-81bff5093d92","text-representation":{"script":"Latn","language":"eng"},"label-info":[{"catalog-number":"240384","label":{"type-id":"7aaa37fe-2def-3476-b359-80245850062d","type":"Original
        Production","tags":[{"count":1,"name":"pop"},{"count":1,"name":"post-rock"},{"name":"uk","count":1}],"label-code":542,"name":"EMI","disambiguation":"EMI
        Records, since 1972","sort-name":"EMI","id":"c029628b-6633-439e-bcee-ed02e8a338f7"}},{"catalog-number":"7461642","label":{"type":"Original
        Production","type-id":"7aaa37fe-2def-3476-b359-80245850062d","name":"EMI","label-code":542,"tags":[{"name":"pop","count":1},{"name":"post-rock","count":1},{"name":"uk","count":1}],"id":"c029628b-6633-439e-bcee-ed02e8a338f7","sort-name":"EMI","disambiguation":"EMI
        Records, since 1972"}}],"packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","asin":null,"quality":"normal","media":[{"track-count":12,"format":"12\"
        Vinyl","format-id":"3e9080b0-5e6c-34ab-bd15-f526b6306a64","tracks":[{"title":"Running
        Up That Hill","position":1,"id":"0b1a04d3-2ce4-4f84-a73a-7d9e525bc668","recording":{"video":false,"length":300000,"title":"Running
        Up That Hill (A Deal With God)","id":"6029d549-5858-4936-9156-b90770d2ae92","first-release-date":"1985-07-30","artist-credit":[{"artist":{"name":"Kate
        Bush","type":"Person","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":""},"name":"Kate
        Bush","joinphrase":""}],"disambiguation":"","tags":[{"count":3,"name":"alternative"},{"name":"alternative
        pop/rock","count":3},{"count":1,"name":"alternative/indie rock"},{"name":"art
        pop","count":1},{"name":"art rock","count":1},{"name":"college rock","count":1},{"count":1,"name":"j-pop"},{"count":8,"name":"pop"},{"count":3,"name":"pop
        rock"},{"count":1,"name":"pop/rock"},{"name":"progressive rock","count":1},{"count":1,"name":"rock"},{"name":"synth-pop","count":1}]},"artist-credit":[{"name":"Kate
        Bush","artist":{"disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person","name":"Kate
        Bush"},"joinphrase":""}],"length":null,"number":"A1"},{"number":"A2","length":null,"artist-credit":[{"name":"Kate
        Bush","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate","disambiguation":"","type":"Person","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush"},"joinphrase":""}],"recording":{"tags":[{"name":"alternative","count":1},{"name":"alternative
        pop","count":1},{"count":1,"name":"alternative pop/rock"},{"count":2,"name":"alternative/indie
        rock"},{"count":[...]
[...]
