---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.get?apikey=<MUSIXMATCH_API_KEY>&commontrack_id=6717709
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0042459964752197'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0042459964752197},"body":{"track":{"track_id":93514583,"track_name":"Chinatown","track_name_translation_list":[],"track_rating":60,"commontrack_id":6717709,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":54,"album_id":21497986,"album_name":"Gemini","artist_id":542702,"artist_name":"Wild
        Nothing","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Chinatown?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Chinatown\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2013-05-30T14:17:08Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]}}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:22 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/album.get?album_id=21497986&apikey=<MUSIXMATCH_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0070910453796387'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0070910453796387},"body":{"album":{"album_id":21497986,"album_mbid":"","album_name":"Gemini","album_rating":31,"album_release_date":"2010-05-25","artist_id":542702,"artist_name":"Wild
        Nothing","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]},"album_pline":"2010
        Captured Tracks","album_copyright":"2010 Captured Tracks","album_label":"Universal
        Music Australia Pty. Ltd.,Captured Tracks","restricted":0,"updated_time":"2023-08-03T15:33:44Z","external_ids":{"spotify":["2SVnr4t5nRzhmKAT3YE0mn","3hxVFxpF7uUtjLHzvGIm7W"],"itunes":["1442837146"],"amazon_music":[]}}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:22 GMT
recorded_with: VCR 6.2.0
