---
http_interactions:
- request:
    method: get
    uri: https://www.musixmatch.com/_next/data/fNde2hbCe1brBnYf2PEOi/en/lyrics/wejlhg239gh23.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nextjs-Cache:
      - HIT
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-fe-community-alb
      Geoip-City-Country-Code:
      - BY
      Geoip-City-Country-Name:
      - belarus
      Geoip-City:
      - minsk
      Geoip-Latitude:
      - '53.870'
      Geoip-Longitude:
      - '27.440'
      Geoip-Region:
      - HM
      X-Mxm-Restarts:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"pageProps":{"auth":{"appId":"mxm-com-v1.0","hasAuthCookie":false,"hasError":false,"user":null,"userToken":null},"data":{"footer":{"error":"__COM_RESPONSE_500__"}}},"__N_SSG":true}'
  recorded_at: Sat, 21 Feb 2026 14:30:37 GMT
- request:
    method: get
    uri: https://www.musixmatch.com/_next/data/fNde2hbCe1brBnYf2PEOi/en/lyrics/wejlhg239gh23.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Nextjs-Cache:
      - HIT
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-fe-community-alb
      Geoip-City-Country-Code:
      - BY
      Geoip-City-Country-Name:
      - belarus
      Geoip-City:
      - minsk
      Geoip-Latitude:
      - '53.870'
      Geoip-Longitude:
      - '27.440'
      Geoip-Region:
      - HM
      X-Mxm-Restarts:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"pageProps":{"auth":{"appId":"mxm-com-v1.0","hasAuthCookie":false,"hasError":false,"user":null,"userToken":null},"data":{"footer":{"error":"__COM_RESPONSE_500__"}}},"__N_SSG":true}'
  recorded_at: Sat, 21 Feb 2026 14:30:38 GMT
recorded_with: VCR 6.4.0
