---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=0&format=json&limit=200&method=track.getSimilar&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"similartracks":{"track":[{"name":"Live In Dreams","playcount":1016295,"mbid":"c294d6ba-7ed0-494a-94c2-2a0f8f6a68ab","match":1.0,"url":"https://www.last.fm/music/Wild+Nothing/_/Live+In+Dreams","streamable":{"#text":"0","fulltrack":"0"},"duration":205,"artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x3[...]
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=0&format=json&method=track.getInfo&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"track":{"name":"Chinatown","mbid":"9a74b1e7-a7a9-46fc-8ad3-58306fdac86f","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","duration":"203000","streamable":{"#text":"0","fulltrack":"0"},"listeners":"225409","playcount":"1325029","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"album":{"artist":"Wild
        Nothing","title":"Gemini","mbid":"98174762-4674-4382-827f-db7248c4806c","url":"https://www.last.fm/music/Wild+Nothing/Gemini","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/c60a738cd2244da9bc2b44b51d643602.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/c60a738cd2244da9bc2b44b51d643602.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/c60a738cd2244da9bc2b44b51d643602.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/c60a738cd2244da9bc2b44b51d643602.png","size":"extralarge"}],"@attr":{"position":"10"}},"toptags":{"tag":[{"name":"dream
        pop","url":"https://www.last.fm/tag/dream+pop"},{"name":"indie","url":"https://www.last.fm/tag/indie"},{"name":"chillwave","url":"https://www.last.fm/tag/chillwave"},{"name":"shoegaze","url":"https://www.last.fm/tag/shoegaze"},{"name":"electronica","url":"https://www.last.fm/tag/electronica"}]}}}'
  recorded_at: Wed, 22 Dec 2021 12:27:53 GMT
recorded_with: VCR 6.0.0
