---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=artist>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=24&per_page=5&query=kate+bush&type=artist>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=artist>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=artist>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 24, "per_page": 5, "items": 117,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=artist",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=24&per_page=5&query=kate+bush&type=artist",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=artist",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=artist"}},
        "results": [{"id": 894348, "type": "artist", "master_id": null, "master_url":
        null, "uri": "/artist/894348-Dr-Bush", "title": "Dr. Bush", "thumb": "", "cover_image":
        "https://img.discogs.com/ff591de98745b0dc6f6345d2314025182ac8bed7/images/spacer.gif",
        "resource_url": "https://api.discogs.com/artists/894348"}, {"id": 4826440,
        "type": "artist", "master_id": null, "master_url": null, "uri": "/artist/4826440-Kate-Bush-Visuals",
        "title": "Kate Bush Visuals", "thumb": "", "cover_image": "https://img.discogs.com/ff591de98745b0dc6f6345d2314025182ac8bed7/images/spacer.gif",
        "resource_url": "https://api.discogs.com/artists/4826440"}, {"id": 7929076,
        "type": "artist", "master_id": null, "master_url": null, "uri": "/artist/7929076-Kates-[...]
