---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=23&per_page=5>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 23, "per_page": 5, "items": 112,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=1&per_page=5",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=23&per_page=5",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=1&per_page=5",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=artist&page=3&per_page=5"}},
        "results": [{"id": 894348, "type": "artist", "master_id": null, "master_url":
        null, "uri": "/artist/894348-Dr-Bush", "title": "Dr. Bush", "thumb": "", "cover_image":
        "https://img.discogs.com/44ee095fadda529481bcc7ef36c882a13a60df73/images/spacer.gif",
        "resource_url": "https://api.discogs.com/artists/894348"}, {"id": 4826440,
        "type": "artist", "master_id": null, "master_url": null, "uri": "/artist/4826440-Kate-Bush-Visuals",
        "title": "Kate Bush Visuals", "thumb": "", "cover_image": "https://img.discogs.com/44ee095fadda529481bcc7ef36c882a13a60df73/images/spacer.gif",
        "resource_url": "https://api.discogs.com/artists/4826440"}, {"id": 7929076,
        "type": "artist", "master_id": null, "master_url": null, "uri": "/artist/7929076-Kates-[...]
