---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=Kate%20Bush&autocorrect=1&format=json&method=track.getTopTags&track=Hounds%20Of%20Love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"80s","url":"https://www.last.fm/tag/80s"},{"count":92,"name":"female
        vocalists","url":"https://www.last.fm/tag/female+vocalists"},{"count":71,"name":"pop","url":"https://www.last.fm/tag/pop"},{"count":67,"name":"alternative","url":"https://www.last.fm/tag/alternative"},{"count":49,"name":"singer-songwriter","url":"https://www.last.fm/tag/singer-songwriter"},{"count":38,"name":"Kate
        Bush","url":"https://www.last.fm/tag/Kate+Bush"},{"count":27,"name":"rock","url":"https://www.last.fm/tag/rock[...]
