---
http_interactions:
- request:
    method: get
    uri: https://genius.com/api/search/song?page=1&per_page=20&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9af78cd7afe3e616c084d0f30db9342"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"sections":[{"type":"song","hits":[]}],"next_page":null}}'
  recorded_at: Fri, 05 Mar 2021 07:49:12 GMT
recorded_with: VCR 6.0.0
