---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/28680?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 28680, "main_release": 16233996, "most_recent_release": 12900313,
        "resource_url": "https://api.discogs.com/masters/28680", "uri": "https://www.discogs.com/Kate-Bush-Hounds-Of-Love/master/28680",
        "versions_url": "https://api.discogs.com/masters/28680/versions", "main_release_url":
        "https://api.discogs.com/releases/16233996", "most_recent_release_url": "https://api.discogs.com/releases/12900313",
        "num_for_sale": 891, "lowest_price": 3.0, "images": [{"type": "primary", "uri":
        "https://img.discogs.com/eaRPicce1W5US9W1UGo5aukMbyA=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16233996-1605730391-7184.jpeg.jpg",
        "resource_url": "https://img.discogs.com/eaRPicce1W5US9W1UGo5aukMbyA=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16233996-1605730391-7184.jpeg.jpg",
        "uri150": "https://img.discogs.com/zCuaX-OdeD0uCVNrL9q7K8iReJM=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-16233996-1605730391-7184.jpeg.jpg",
        "width": 600, "height": 590}, {"type": "secondary", "uri": "https://img.discogs.com/N-eDFBuleLfrPha1-ST-w2j0aXA=/fit-in/600x468/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16233996-1605730402-5732.jpeg.jpg",
        "resource_url": "https://img.discogs.com/N-eDFBuleLfrPha1-ST-w2j0aXA=/fit-in/600x468/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16233996-1605730402-5732.jpeg.jpg",
        "uri150": "https://img.discogs.com/xy65XD1cQZdReIIJ5HL81Pn4Bl8=/fit-in/150x1[...]
