---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=tag.getTopTracks&page=2&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"thank u, next","duration":"207","mbid":"94b776eb-8ee9-4e52-9d80-f6d1d85a81f1","url":"https://www.last.fm/music/Ariana+Grande/_/thank+u,+next","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Ariana
        Grande","mbid":"f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387","url":"https://www.last.fm/music/Ariana+Grande"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"The
        One That Got Away","duration":"227","url":"https://www.last.fm/music/Katy+Perry/_/The+One+That+Got+Away","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Katy
        Perry","mbid":"122d63fc-8671-43e4-9752-34e846d62a9c","url":"https://www.last.fm/music/Katy+Perry"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821[...]
