---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=tag.getTopTracks&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"Yellow","duration":"267","mbid":"8b5bf478-22f8-4902-a1c1-0db82261db58","url":"https://www.last.fm/music/Coldplay/_/Yellow","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Coldplay","mbid":"cc197bad-dc9c-440d-a5b5-d52ba2e14234","url":"https://www.last.fm/music/Coldplay"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Feel
        Good Inc.","duration":"221","mbid":"5660558a-bfa7-416f-99d9-a34ca0a34515","url":"https://www.last.fm/music/Gorillaz/_/Feel+Good+Inc.","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Gorillaz","mbid":"e21857d5-3256-4547-afb3-4b6ded592596","url":"https://www.last.fm/music/Gorillaz"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b4[...]
