---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing&sig=65f26f26f96bd6a62a6a30edfc808ea1&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656210
      X-Trace-Id:
      - k842XMqsVmmR5_hZLE0azv_LcFpxLA
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"name":"Wild Nothing","domain":"wildnothing","id":"4333005440018923962","is_album_cover":false,"photo":[{"url":"https:\/\/sun9-73.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d95\/_bIkfngdeuA.jpg?size=143x143&quality=96&sign=3514163e58d677621b9939ecc5429570&c_uniq_tag=C_zYFL9icMho4HvY0u4Uj2Mbx5Zm57DnP9EIdZ3bZEo&type=audio","width":143,"height":143},{"url":"https:\/\/sun9-73.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d95\/_bIkfngdeuA.jpg?size=143x143&quality=96&sign=3514163e58d677621b9939ecc5429570&c_uniq_tag=C_zYFL9icMho4HvY0u4Uj2Mbx5Zm57DnP9EIdZ3bZEo&type=audio","width":143,"height":143},{"url":"https:\/\/sun9-73.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d95\/_bIkfngdeuA.jpg?size=143x143&quality=96&sign=3514163e58d677621b9939ecc5429570&c_uniq_tag=C_zYFL9icMho4HvY0u4Uj2Mbx5Zm57DnP9EIdZ3bZEo&type=audio","width":143,"height":143},{"url":"https:\/\/sun9-73.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d95\/_bIkfngdeuA.jpg?size=143x143&quality=96&sign=3514163e58d677621b9939ecc5429570&c_uniq_tag=C_zYFL9icMho4HvY0u4Uj2Mbx5Zm57DnP9EIdZ3bZEo&type=audio","width":143,"height":143}]}]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:20 GMT
recorded_with: VCR 6.3.1
