---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing&sig=e54b274ed0f24348e01b6f8062aceee4&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"name":"Wild Nothing","domain":"wildnothing","id":"4333005440018923962","is_album_cover":false,"photo":[{"url":"https:\/\/sun19-2.userapi.com\/impf\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=143x143&quality=96&sign=a010fe03bcdd63801e2f75547f077bfa&c_uniq_tag=0TZDM3pHbMtvQjxtPNKf5sLETcHsWLcWYPTDqREyiaE&type=audio","width":143,"height":143},{"url":"https:\/\/sun19-2.userapi.com\/impf\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=286x286&quality=96&sign=63b9e62f50c129b5b8069367095be62b&c_uniq_tag=KfCY8Uz9roKHIpdtW-9a_Ct-U_s7NSmQPCi-tlOE0UE&type=audio","width":286,"height":286},{"url":"https:\/\/sun19-2.userapi.com\/impf\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=1184x1184&quality=96&sign=d99ea62d4e8660e605cb156d6da2d4b2&c_uniq_tag=52jbHa2Kimoiwm6Ffsn_gIUITnaaznKIp3ePb-CVXuA&type=audio","width":1184,"height":1184},{"u[...]
