---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wejlhg239gh23&sig=28c250979a6d2e1efd5e996370594623&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661612
      X-Trace-Id:
      - p1bTGv9tNf76rNGKFr1IscZdkLxw2g
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:21 GMT
recorded_with: VCR 6.3.1
