---
http_interactions:
- request:
    method: post
    uri: https://bandcamp.com/api/bcsearch_public_api/1/autocomplete_elastic
    body:
      encoding: UTF-8
      string: '{"search_text":"wild nothing","search_filter":"a","full_page":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bc-App-Description:
      - lindacentral04-bc-search1
      X-Bc-App-Id:
      - '2580140'
    body:
      encoding: ASCII-8BIT
      string: '{"auto":{"results":[{"type":"a","id":2806773854,"art_id":4113642636,"img_id":null,"name":"Gemini","band_id":2228040235,"band_name":"Wild
        Nothing","item_url_root":"https://wildnothingct.bandcamp.com","item_url_path":"https://wildnothingct.bandcamp.com/album/gemini","img":"https://f4.bcbits.com/img/4113642636_3.jpg","tag_names":null,"stat_params":"search_item_id=2806773854&search_item_type=a&search_match_part=%3F&search_page_id=2291599067&search_page_no=0&search_rank=1"},{"type":"a","id":2709478878,"art_id":1612004764,"img_id":null,"name":"Nocturne","band_id":2228040235,"band_name":"Wild
        Nothing","item_url_root":"https://wildnothingct.bandcamp.com","item_url_path":"https://wildnothingct.bandcamp.com/album/nocturne","img":"https://f4.bcbits.com/img/1612004764_3.jpg","tag_names":null,"stat_params":"search_item_id=2709478878&search_[...]
