---
http_interactions:
- request:
    method: post
    uri: https://bandcamp.com/api/bcsearch_public_api/1/autocomplete_elastic
    body:
      encoding: UTF-8
      string: '{"search_text":"wejlhg239gh23","search_filter":"a","full_page":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bc-App-Description:
      - lindacentral02-bc-search1
      X-Bc-App-Id:
      - '2580138'
    body:
      encoding: ASCII-8BIT
      string: '{"auto":{"results":[],"stat_params_for_tag":"search_item_id=2&search_item_type=%40&search_match_part=%3F&search_page_id=2291599083&search_page_no=0&search_rank=1","time_ms":5},"tag":{},"genre":{}}'
  recorded_at: Fri, 25 Nov 2022 13:14:57 GMT
recorded_with: VCR 6.1.0
