---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=Kate%20Bush&autocorrect=1&format=json&limit=2000&method=track.getSimilar&track=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"Track not found","links":[]}'
  recorded_at: Tue, 02 Feb 2021 09:01:19 GMT
recorded_with: VCR 6.0.0
