---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing&sig=ce9d1c4157231518c3abee37e50ab67d&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"name":"Wild Nothing","domain":"wildnothing","id":"4333005440018923962","is_album_cover":false,"photo":[]}]}}'
  recorded_at: Mon, 11 Oct 2021 11:02:21 GMT
recorded_with: VCR 6.0.0
