---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=300&q=wejlhg239gh23&sig=ad79bca626a31e92e45c143adbb87b30&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Sat, 06 Nov 2021 13:35:55 GMT
recorded_with: VCR 6.0.0
