---
http_interactions:
- request:
    method: get
    uri: https://genius.com/api/search/artist?page=1&per_page=20&q=molly%20nilsson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14dc6f2f2626528fd6594fe8304948ef"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"sections":[{"type":"artist","hits":[{"highlights":[],"index":"artist","type":"artist","result":{"_type":"artist","api_path":"/artists/211560","header_image_url":"https://images.genius.com/ffc4a1fff3ae586b29ec24a80ed4c9de.1000x429x1.jpg","id":211560,"image_url":"https://images.genius.com/50f0b4e5b2c2e67eafc71ec10210124e.681x600x1.jpg","index_character":"m","is_meme_verified":false,"is_verified":false,"name":"Molly
        Nilsson","slug":"Molly-nilsson","url":"https://genius.com/artists/Molly-nilsson"}}]}],"next_page":2}}'
  recorded_at: Thu, 13 May 2021 13:02:48 GMT
recorded_with: VCR 6.0.0
