---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=tag.getTopArtists&tag=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[],"@attr":{"tag":"wejlhg239gh23","page":"1","perPage":"1000","totalPages":"0","total":"0"}}}'
  recorded_at: Tue, 17 Jan 2023 08:11:58 GMT
recorded_with: VCR 6.1.0
