---
http_interactions:
- request:
    method: get
    uri: https://open.spotify.com/api/token?productType=web-player&reason=init&totp=269604&totpServer=269604&totpVer=61
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"d8a5ed958d274c2e8ee717e6a4b0971d","accessToken":"BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a","accessTokenExpirationTimestampMs":1773526547075,"isAnonymous":false,"_notes":"Usage
        of this endpoint is not permitted under the Spotify Developer Terms and Developer
        Policy, and applicable law"}'
  recorded_at: Sat, 14 Mar 2026 21:57:54 GMT
recorded_with: VCR 6.4.0
