---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/album?index=0&limit=20&q=kate%20bush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-122
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1027266,"title":"The Whole Story","link":"https:\/\/www.deezer.com\/album\/1027266","cover":"https:\/\/api.deezer.com\/album\/1027266\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/15f394df0defa247c26628c0d4d690a7\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/15f394df0defa247c26628c0d4d690a7\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/15f394df0defa247c26628c0d4d690a7\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/15f394df0defa247c26628c0d4d690a7\/1000x1000-000000-80-0-0.jpg","md5_image":"15f394df0defa247c26628c0d4d690a7","genre_id":152,"nb_tracks":12,"record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/1027266\/tracks","explicit_lyrics":false,"artist":{"id":1049,"name":"Kate
        Bush","link":"https:\/\/www.deezer.com\/artist\/1049","picture":"https:\/\/api.deezer.com\/artist\/1049\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist"},"type":"album"},{"id":1063611,"title":"Hounds
        Of Love","link":"https:\/\/www.deezer.com\/album\/1063611","cover":"https:\/\/api.deezer.com\/album\/1063611\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9f2d9[...]
