---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&method=tag.getInfo&tag=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tag":{"name":"wejlhg239gh23","total":0,"reach":0,"wiki":{"summary":"
        <a href=\"http://www.last.fm/tag/wejlhg239gh23\">Read more on Last.fm</a>.","content":""}}}'
  recorded_at: Tue, 26 Jan 2021 16:45:30 GMT
recorded_with: VCR 6.0.0
