---
http_interactions:
- request:
    method: get
    uri: https://wmf.ok.ru/play;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?imgfmt=base&tid=123005877249254
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "play" : "https://musicd.mycdn.me/v0/stream?id=v0_10034989197_1_1&cid=v0_10034989197_1_1&fid=123005877249254&uid=86887897e757b0c774a01e35353fa139&sid=6f7397d10562de7e4962b8b20785f6e30109f49a7169845e6f437b38e6a5e2b95391157d384a2cac5d9da1028a2e78c4af2bd763ec1ee16fcb194ad3689a381a&ts=1683645363705&md5=0f07179aa4b33ac377ce4a4bd65c7423",
          "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqv2bN5cVG8g2_xOdO3cDz9f1a1sEfjGT_U641cbft2low",
          "country" : "RU",
          "subscribed" : false,
          "albums" : [ {
            "id" : 122892149478309,
            "ensemble" : "Wild Nothing",
            "name" : "Gemini"
          } ],
          "friend" : {
            "gender" : 0,
            "idUnencrypted" : 0,
            "id" : "0"
          },
          "track" : {
            "id" : 123005877249254,
            "ensemble" : "Wild Nothing",
            "duration" : 198,
            "idForDownload" : 123030789947776,
            "copyrightOwnerId" : 67,
            "copyrightOwnerName" : "Merlin",
            "releaseId" : 29996708,
            "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqv2bN5cVG8g2_xOdO3cDz9f1a1sEfjGT_U641cbft2low",
            "size" : 7956897,
            "masterArtistId" : 122883968135759,
            "albumId" : 122892149478309,
            "name" : "Chinatown",
            "isDownloadAllowed" : true,
            "giftPrice" : 10,
            "ctx" : "null:0",
            "allArtists" : [ {
              "id" : 122883968135759,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvClV10tWhsTQKSHsZrnyko_mRi8tjfuuE7-pz02Jy_OI",
              "name" : "Wild Nothing"
            } ],
            "editRestricted" : true
          },
          "umaPayload" : "{\n  \"uma\" : true,\n  \"releaseId\" : 29996708,\n  \"permissionType\" : 2,\n  \"tracklistType\" : null,\n  \"tracklistId\" : null,\n  \"trackId\" : 123005877249254\n}",
          "subscriptionAvailable" : true
        }
  recorded_at: Tue, 09 May 2023 15:16:02 GMT
- request:
    method: get
    uri: https://wmf.ok.ru/album;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?albumId=122892149478309&imgfmt=base
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : [ {
            "id" : 122892150768608,
            "name" : "Canyon on Fire",
            "ensemble" : "Wild Nothing",
            "masterArtistId" : 122883968135759,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvIrXqy7lb7IRFW30uvlVQgCFg2XlD0A3VMQJzdNizOfI",
            "playlistId" : 15036976767,
            "tracksCount" : 1,
            "legal" : 1,
            "year" : 2018,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"
            }, {
              "id" : 21,
              "label" : "Alternative"
            }, {
              "id" : 138,
              "label" : "Indie"
            } ],
            "allArtists" : [ {
              "id" : 122883968135759,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvClV10tWhsTQKSHsZrnyko_mRi8tjfuuE7-pz02Jy_OI",
              "name" : "Wild Nothing"
            } ],
            "single" : 1
          }, {
            "id" : 122892150834160,
            "name" : "Laughing Gas",
            "ensemble" : "Wild Nothing",
            "masterArtistId" : 122883968135759,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvrr-eq689RiytcWVfLGhause5H1Mhi4u-5pLSfhlXNwA",
            "playlistId" : 15036976887,
            "tracksCount" : 5,
            "legal" : 1,
            "year" : 2020,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"[...]
