---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks?limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBjHfZ7UMV_cIkI7dfKNtVmCSDxOgiL2rWHR4wvzswNRexjZciby_yw9wUivc94hi9lCK95jG1a-c3VcCx8krS5nKXSQer_TM_padBcVps-WACsRg83LYbN9nqITUuejLV1wyjLHL3JPOjpWBOLjfhqXI9tMTpVllbat4AMU2Hn3s2mSAziHUkytkg4Anty8chzUO25KR0xesxVWVteJmEKm0iwYIQEidcU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjhmOWEyMWE3MjU2OTZlYmI3M2NmNWM4ZGNmNDA4M2RiIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/me/tracks?offset=5&limit=5",
          "items" : [ {
            "added_at" : "2023-07-03T12:47:12Z",
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB",
                  "id" : "6NrkINd80slV25wkBu9mEB",
                  "name" : "Wild Nothing",
                  "type" : "artist",
                  "uri" : "spotify:artist:6NrkINd80slV25wkBu9mEB"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "ET", "FI", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "KE", "KG", "KH", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "OM", "PA", "PE", "PH", "PK", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RW", "SA", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TR", "TT", "TW", "TZ", "UA", "UG", "UY", "UZ", "VC", "VE", "VN", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7A2iT7NcC9lcvhGu1pP0UA"
                },
                "href" : "https://api.spotify.com/v1/albums/7A2iT7NcC9lcvhGu1pP0UA",
                "id" : "7A2iT7NcC9lcvhGu1pP0UA",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273f25bb2bcd00c2ef3760e6ad3",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02f25bb2bcd00c2ef3760e6ad3",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851f25bb2bcd00c2ef3760e6ad3",
                  "width" : 64
                } ],
                "name" : "Nocturne",
                "release_date" : "2012-08-27",
                "release_date_precision" : "day",
                "total_tracks" : 11,
                "type" : "album",
                "uri" : "spotify:album:7A2iT7NcC9lcvhGu1pP0UA"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6NrkINd80slV25wkBu9mEB"
                },
                "href" : "https://api.spotify.com/v1/artists/6NrkINd80slV25wkBu9mEB",
                "id" : "6NrkINd80slV25wkBu9mEB",
                "name" : "Wild Nothing",
                "type" : "artist"[...]
