---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLrIyFAtNxiQbgkXPEq66ZpYJMP2TKfJw5&key=<GOOGLE_API_KEY>&part=snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "h45ccQVmiWJjwlMK4wlIlcZSJrA",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "gUOFgGM4nGWwBYVGj5QfMxLoz28",
              "id": "PLrIyFAtNxiQbgkXPEq66ZpYJMP2TKfJw5",
              "snippet": {
                "publishedAt": "2020-04-02T16:02:25Z",
                "channelId": "UC7kI8WjpCfFoMSNDuRh_4lA",
                "title": "Under the Influences",
                "description": "Artists who are experts in their field break down the music that has influenced their own style and development.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/1cV09PzfvqE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/1cV09PzfvqE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/1cV09PzfvqE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/1cV09PzfvqE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/1cV09PzfvqE/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "Pitchfork",
                "localized": {
                  "title": "Under the Influences",
                  "description": "Artists who are experts in their field break down the music that has influenced their own style and development."
                }
              },
              "contentDetails": {
                "itemCount": 6
              }
            }
          ]
        }
  recorded_at: Mon, 17 Oct 2022 12:41:44 GMT
recorded_with: VCR 6.1.0
