---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=1&per_page=20&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '56'
      X-Discogs-Ratelimit-Used:
      - '4'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 6, "per_page": 20, "items": 117,
        "urls": {"last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=6&per_page=20&query=kate+bush&type=artist",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=20&query=kate+bush&type=artist"}},
        "results": [{"id": 85929, "type": "artist", "master_id": null, "master_url":
        null, "uri": "/artist/85929-Kate-Bush", "title": "Kate Bush", "thumb": "https://img.discogs.com/2YnNpDB2D-adpB7efiA-epohiFw=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-85929-1382742029-2169.jpeg.jpg",
        "cover_image": "https://img.discogs.com/Tfn0QDHqibkP0T-MqPaDXeGohq8=/600x466/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1382742029-2169.jpeg.jpg",
        "resource_url": "https://api.discogs.com/artists/85929"}, {"id": 281922, "type":
        "artist", "master_id": null, "master_url": null, "uri": "/artist/281922-Paddy-Bush",
        "title": "Paddy Bush", "thumb": "https://img.discogs.com/d86RKfIUIKkVoIBfJdGhQjqV4mQ=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-281922-1276811920.jpeg.jpg",
        "cover_image": "https://img.discogs.com/y5xMHhBudPmWRX2xmDwxwO_iwio=/322x438/smart/filters:strip_icc():format(jpeg):mode_rg[...]
