---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=kate%20bush&autocorrect=0&format=json&lang=en&method=track.getInfo&track=hounds%20of%20love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"track":{"name":"Hounds of Love","mbid":"984deb15-92f3-4917-9929-c0e930dc8a54","url":"https://www.last.fm/music/Kate+Bush/_/Hounds+of+Love","duration":"183000","streamable":{"#text":"0","fulltrack":"0"},"listeners":"388980","playcount":"2686386","artist":{"name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396","url":"https://www.last.fm/music/Kate+Bush"},"album":{"artist":"Kate
        Bush","title":"Hounds of Love","mbid":"778c8867-ee94-366a-bcd8-e140cfbf1b67","url":"https://www.last.fm/music/Kate+Bush/Hounds+of+Love","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/391be121643ab50801b7955b0ac5b50c.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/391be121643ab50801b7955b0ac5b50c.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/391be121643ab50801b7955b0ac5b50c.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/391be121643ab50801b7955b0ac5b50c.png","size":"extralarge"}],"@attr":{"position":"1"}},"toptags":{"tag":[{"name":"80s","url":"https://www.last.fm/tag/80s"},{"name":"female
        vocalists","url":"https://www.last.fm/tag/female+vocalists"},{"name":"pop","url":"https://www.last.fm/tag/pop"},{"name":"alternative","url":"https://www.last.fm/tag/alternative"},{"name":"singer-songwriter","url":"https://www.last.fm/tag/singer-songwriter"}]},"wiki":{"published":"31
        Aug 2019, 14:38","summary":"\"Hounds of Love\" is a song written, produced
        and performed by British singer Kate Bush. It is the title track and the third
        single released from her number one 1985 album Hounds of Love. The single
        was released on 24 February 1986, and reached number 18 in the UK Singles
        Chart. \n\nThis is about the fear that rules all of us in one way or another,
        in particular the fear of love. The hounds of love that are hunting you is
        imagery for love itself as something to be feared, to run away from lest it
        catches you and rips you up. <a href=\"http://www.last.fm/music/Kate+Bush/_/Hounds+of+Love\">Read
        more on Last.fm</a>.","content":"\"Hounds of Love\" is a song written, produced
        and performed by British singer Kate Bush. It is the title track and the third
        single released from her number one 1985 album Hounds of Love. The single
        was released on 24 February 1986, and reached number 18 in the UK Singles
        Chart. \n\nThis is about the fear that rules all of us in one way or another,
        in particular the fear of love. The hounds of love that are hunting you is
        imagery for love itself [...]
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=Hounds%20of%20Love&api_key=<LASTFM_API_KEY>&artist=Kate%20Bush&autocorrect=0&format=json&lang=en&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"album":{"artist":"Kate Bush","mbid":"08b76ba2-3253-436e-a734-a1d071b3bae6","tags":{"tag":[{"url":"https:\/\/www.last.fm\/tag\/female+vocalists","name":"female
        vocalists"},{"url":"https:\/\/www.last.fm\/tag\/80s","name":"80s"},{"url":"https:\/\/www.last.fm\/tag\/alternative","name":"alternative"},{"url":"https:\/\/www.last.fm\/tag\/pop","name":"pop"},{"url":"https:\/\/www.last.fm\/tag\/singer-songwriter","name":"singer-songwriter"}]},"playcount":"21888703","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/391be121643ab50801b7955b0ac5b50c.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/391be121643ab50801b7955b0ac5b50c.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/391be121643ab50801b7955b0ac5b50c.png"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/391be121643ab50801b7955b0ac5b50c.png"},{"size":"mega","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/391be121643ab50801b7955b0ac5b50c.png"},{"size":"","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/391be121643ab50801b7955b0ac5b50c.png"}],"tracks":{"track":[{"streamable":{"fulltrack":"0","#text":"0"},"duration":298,"url":"https:\/\/www.last.fm\/music\/Kate+Bush\/Hounds+of+Love\/Running+Up+That+Hill+(A+Deal+with+God)","name":"Running
        Up That Hill (A Deal with God)","@attr":{"rank":1},"artist":{"url":"https:\/\/www.last.fm\/music\/Kate+Bush","name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396"}},{"streamable":{"fulltrack":"0","#text":"0"},"duration":183,"url":"https:\/\/www.last.fm\/music\/Kate+Bush\/Hounds+of+Love\/Hounds+of+Love","name":"Hounds
        of Love","@attr":{"rank":2},"artist":{"url":"https:\/\/www.last.fm\/music\/Kate+Bush","name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396"}},{"streamable":{"fulltrack":"0","#text":"0[...]
