---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=kate%20bush&autocorrect=0&format=json&method=track.getInfo&track=hounds%20of%20love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"track":{"name":"Hounds of Love","mbid":"003e961b-ce2c-4c45-8899-0823ca5e99cf","url":"https://www.last.fm/music/Kate+Bush/_/Hounds+of+Love","duration":"183000","streamable":{"#text":"0","fulltrack":"0"},"listeners":"573220","playcount":"4252870","artist":{"name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396","url":"https://www.last.fm/music/Kate+Bush"},"album":{"artist":"Kate
        Bush","title":"Hounds of Love","url":"https://www.last.fm/music/Kate+Bush/Hounds+of+Love","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/92a32800510fc8763934c93ecd0b949e.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/92a32800510fc8763934c93ecd0b949e.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/92a32800510fc8763934c93ecd0b949e.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/92a32800510fc8763934c93ecd0b949e.png","size":"extralarge"}]},"toptags":{"tag":[]},"wiki":{"published":"31
        Aug 2019, 14:38","summary":"\"Hounds of Love\" is a song that explores themes
        of fear, vulnerability and the pursuit of love. The lyrics take us on a journey
        through the narrator''s childhood fears and insecurities, ultimately leading
        to a desire for love and acceptance. <a href=\"http://www.last.fm/music/Kate+Bush/_/Hounds+of+Love\">Read
        more on Last.fm</a>.","content":"\"Hounds of Love\" is a song that explores
        themes of fear, vulnerability and the pursuit of love. The lyrics take us
        on a journey through the narrator''s childhood fears and insecurities, ultimately
        leading to a desire for love and acceptance. <a href=\"http://www.last.fm/music/Kate+Bush/_/Hounds+of+Love\">Read
        more on Last.fm</a>. User-contributed text is available under the Creative
        Commons By-SA License; additional terms may apply."}}}'
  recorded_at: Wed, 15 Apr 2026 18:28:20 GMT
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=Hounds%20of%20Love&api_key=<LASTFM_API_KEY>&artist=Kate%20Bush&autocorrect=0&format=json&lang=en&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"album":{"artist":"Kate Bush","mbid":"08b76ba2-3253-436e-a734-a1d071b3bae6","tags":{"tag":[{"url":"https:\/\/www.last.fm\/tag\/female+vocalists","name":"female
        vocalists"},{"url":"https:\/\/www.last.fm\/tag\/80s","name":"80s"},{"url":"https:\/\/www.last.fm\/tag\/alternative","name":"alternative"},{"url":"https:\/\/www.last.fm\/tag\/pop","name":"pop"},{"url":"https:\/\/www.last.fm\/tag\/singer-songwriter","name":"singer-songwriter"}]},"playcount":"38080834","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/92a32800510fc8763934c93ecd0b949e.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/92a32800510fc8763934c93ecd0b949e.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/92a32800510fc8763934c93ecd0b949e.png"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/92a32800510fc8763934c93ecd0b949e.png"},{"size":"mega","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/92a32800510fc8763934c93ecd0b949e.png"},{"size":"","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/92a32800510fc8763934c93ecd0b949e.png"}],"tracks":{"track":[{"streamable":{"fulltrack":"0","#text":"0"},"duration":302,"url":"https:\/\/www.last.fm\/music\/Kate+Bush\/Hounds+of+Love\/Running+Up+That+Hill+(A+Deal+with+God)","name":"Running
        Up That Hill (A Deal with God)","@attr":{"rank":1},"artist":{"url":"https:\/\/www.last.fm\/music\/Kate+Bush","name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396"}},{"streamable":{"fulltrack":"0","#text":"0"},"duration":183,"url":"https:\/\/www.last.fm\/music\/Kate+Bush\/Hounds+of+Love\/Hounds+of+Love","name":"Hounds
        of Love","@attr":{"rank":2},"artist":{"url":"https:\/\/www.last.fm\/music\/Kate+Bush","name":"Kate
        Bush","mbid":"4b585938-f271-45e2-b19a-91c634b5e396"}},{"streamable":{"fulltrack":"0","#text":"0[...]
