---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=1000&method=chart.getTopTags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tags":{"tag":[{"name":"rock","url":"https://www.last.fm/tag/rock","reach":"396801","taggings":"3991940","streamable":"1","wiki":{}},{"name":"electronic","url":"https://www.last.fm/tag/electronic","reach":"255512","taggings":"2388152","streamable":"1","wiki":{}},{"name":"seen
        live","url":"https://www.last.fm/tag/seen+live","reach":"81789","taggings":"2143189","streamable":"1","wiki":{}},{"name":"alternative","url":"https://www.last.fm/tag/alternative","reach":"262908","taggings":"2100180","streamable":"1","wiki":{}},{"name":"indie","url":"https://www.last.fm/tag/indie","reach":"254813","taggings":"2024587","stream[...]
