---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=chart.getTopTags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tags":{"tag":[{"name":"rock","url":"https://www.last.fm/tag/rock","reach":"397561","taggings":"4000573","streamable":"1","wiki":{}},{"name":"electronic","url":"https://www.last.fm/tag/electronic","reach":"256326","taggings":"2399571","streamable":"1","wiki":{}},{"name":"seen
        live","url":"https://www.last.fm/tag/seen+live","reach":"81841","taggings":"2145101","streamable":"1","wiki":{}},{"name":"alternative","url":"https://www.last.fm/tag/alternative","reach":"263452","taggings":"2104547","streamable":"1","wiki":{}},{"name":"indie","url":"https://www.last.fm/tag/indie","reach":"255531","taggings":"2030221","stream[...]
