---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&lang=en&method=tag.getInfo&tag=dream%20pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tag":{"name":"dream pop","total":124528,"reach":24810,"wiki":{"summary":"Dream
        pop is a genre of music where timbre and texture are as important, if not
        more so, than melody and song structure. Vocals when present are subsumed
        within the music and act as another texture or instrument. For example guitarists
        in dream pop played with feedback and effects to blur and mutate notes, to
        produce pure iridescent noise, not memorable melodies and toe-tapping tunes,
        although these when present they weren''t the focus.\nThe Cocteau Twins are
        widely recognized as pioneers of the dream pop sound <a href=\"http://www.last.fm/tag/dream+pop\">Read
        more on Last.fm</a>.","content":"Dream pop is a genre of music where timbre
        and texture are as important, if not more so, than melody and song structure.
        Vocals when present are subsumed within the music and act as another texture
        or instrument. For example guitarists in dream pop played with feedback and
        effects to blur and mutate notes, to produce pure iridescent noise, not memorable
        melodies and toe-tapping tunes, although these when present they weren''t
        the focus.\nThe Cocteau Twins are widely recognized as pioneers of the dream
        pop sound, their sound a collage of soft,  almost indecipherable vocals and
        languid soundscapes. A.R. Kane were the first band to explicitly describe
        their music as ''dream pop'' and once claimed that \"a lot of the time we''re
        trying to transform dream imagery into sounds.\" Which echoes My Bloody Valentine
        (who are a premier Dream Pop group who had a huge influence on ''shoegazers''
        like Slowdive and Lush) approach to recording music while in a state between
        sleep and wakefulness (hypnagogic).\n\n\n\n <a href=\"http://www.last.fm/tag/dream+pop\">Read
        more on Last.fm</a>. User-contributed text is available under the Creative
        Commons By-SA License; additional terms may apply."}}}'
  recorded_at: Sun, 08 May 2022 11:56:49 GMT
recorded_with: VCR 6.1.0
