---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getPlaylistById?access_key=43c15929fe11506130&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000916168&playlist_id=1916168&sig=ca24ddf0c7dab639d5c1613595f9b884&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"id":1916168,"owner_id":-2000916168,"type":1,"title":"The
        Queen Is Dead","description":"","count":36,"followers":6216,"plays":146215,"create_time":1508188961,"update_time":1548863762,"genres":[{"id":2,"name":"Rock"},{"id":21,"name":"Alternative"}],"is_following":false,"year":2017,"photo":{"width":300,"height":300,"photo_34":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=34x34&quality=96&sign=2074286a267ab73d95a2cfc8bc70b82d&c_uniq_tag=z20DQOut1O96rXjwDSpzTZFQPUHIBkg1qCBQgDCzfhc&type=audio","photo_68":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=68x68&quality=96&sign=cc4d6064903db7ae9d3bcf3b7c011b5b&c_uniq_tag=ZkrtL9YY4ZX-QBduR3SVBkUbt-WbYaRk40Rdtlnwf18&type=audio","photo_135":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=135x135&quality=96&sign=5be33566975b35fb5048634835cd5047&c_uniq_tag=KajKZorBjnEbEr17UrYY6Rvt8obZnm7lQCs9lbyxDvY&type=audio","photo_270":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=270x270&quality=96&sign=bde9c3804dfd851d77c5853f896a583e&c_uniq_tag=rfuPNDC7JslM6Z1Qr13chiH2XphWVfYuzQyWGGViSMc&type=audio","photo_300":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=300x300&quality=96&sign=dcd5d5fa9ae860abfb0889dfefc0ca85&c_uniq_tag=BY2Q3EpRLLUw6SCV5XKu_ilBPZQTA5l9-P96bUwejyY&type=audio","photo_600":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=592x592&quality=96&sign=eba25d694194f790f6dca9d779796122&c_uniq_tag=pyJ1PI50E_mpyt0acRBKtqXFl5ltJY3K_QPAJTJm6JE&type=audio","photo_1200":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=1184x1184&quality=96&sign=727158c28a3856704064018b4c6b5d0d&c_uniq_tag=gaenBPL-l94Zvz72sFw8-lPRcoSTyqtJzpVISAqOZsU&type=audio"},"permissions":{"play":true,"share":true,"edit":false,"follow":true,"delete":false,"boom_download":true},"subtitle_badge":false,"play_button":false,"access_key":"43c15929fe11506130","subtitle":"Deluxe
        Edition","is_explicit":false,"main_artists":[{"name":"The Smiths","domain":"9214677642685687515","id":"9214677642685687515"}],"album_type":"main_only"}}'
  recorded_at: Sun, 05 Sep 2021 14:02:20 GMT
- request:
    method: get
    uri: https://api.vk.com/method/audio.get?access_key=43c15929fe11506130&access_token=<VK_ACCESS_TOKEN>&album_id=1916168&owner_id=-2000916168&sig=91fd7342ed2f6e9888ae23b02d7bbdc9&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":36,"items":[{"artist":"The Smiths","id":33935215,"owner_id":-2001935215,"title":"The
        Queen Is Dead","duration":384,"access_key":"4147607e82af1cc15f","ads":{"content_id":"-2001935215_33935215","duration":"384","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"02d6a200qQwBG_sP7fCwGCyl4GehVGV9GYE1wu9Ev0sZFAsOSohNn6L-nHaBmcNs","url":"https:\/\/cs4-2v4.vkuseraudio.net\/p4\/fef9edc9d05e5c.mp3?extra=Puqh8ZkW07Gn2DlHDB2koW2ATeVIa8VjGYs4dt1fSZ-l_aUx4CS_WrNL7Qur3DYfS3RFZ_fR7ieK73wBp34cVCfTw11ce6l8wpYqh4oRilJ3rag_HnLi8AjKOR0iGikp_MuBAmHnDMGWYrmlfMpuFkYIcsU&long_chunk=1","date":1548863762,"main_artists":[{"name":"The
        Smiths","domain":"9214677642685687515","id":"9214677642685687515"}],"subtitle":"2017
        Master","album_part_number":1,"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"The
        Smiths","id":33935216,"owner_id":-2001935216,"title":"Frankly, Mr. Shankly","duration":137,"access_key":"b0cf95a346744b789e","ads":{"content_id":"-2001935216_33935216","duration":"137","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"4ce46f95o12JfSJ1y_UkSptpQh2H53rdcZlbskRhqRcOHkFvzMNHziqYRQynnFc-","url":"https:\/\/cs4-1v4.vkuseraudio.net\/p1\/4d40c5bccae049.mp3?extra=QowHCqDyOG-PVTnBbFqX[...]
