---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getPlaylistById?access_key=43c15929fe11506130&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000916168&playlist_id=1916168&sig=9bce100f45d1646d1fc3fbe9ea578c5e&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"id":1916168,"owner_id":-2000916168,"type":1,"title":"The
        Queen Is Dead","description":"","count":36,"followers":7986,"plays":200227,"create_time":1508188961,"update_time":1548863762,"genres":[{"id":2,"name":"Rock"},{"id":21,"name":"Alternative"}],"is_following":false,"year":2017,"photo":{"width":300,"height":300,"photo_34":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=34x34&quality=96&sign=2074286a267ab73d95a2cfc8bc70b82d&c_uniq_tag=z20DQOut1O96rXjwDSpzTZFQPUHIBkg1qCBQgDCzfhc&type=audio","photo_68":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=68x68&quality=96&sign=cc4d6064903db7ae9d3bcf3b7c011b5b&c_uniq_tag=ZkrtL9YY4ZX-QBduR3SVBkUbt-WbYaRk40Rdtlnwf18&type=audio","photo_135":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=135x135&quality=96&sign=5be33566975b35fb5048634835cd5047&c_uniq_tag=KajKZorBjnEbEr17UrYY6Rvt8obZnm7lQCs9lbyxDvY&type=audio","photo_270":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=270x270&quality=96&sign=bde9c3804dfd851d77c5853f896a583e&c_uniq_tag=rfuPNDC7JslM6Z1Qr13chiH2XphWVfYuzQyWGGViSMc&type=audio","photo_300":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=300x300&quality=96&sign=dcd5d5fa9ae860abfb0889dfefc0ca85&c_uniq_tag=BY2Q3EpRLLUw6SCV5XKu_ilBPZQTA5l9-P96bUwejyY&type=audio","photo_600":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=600x600&quality=96&sign=ad78ec9fe8fe592851f7d46c36df91d1&c_uniq_tag=14BMHrXUzyelZqfBHR8aI7dzuE_3_oN0Kea5cttYluQ&type=audio","photo_1200":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=1184x1184&quality=96&sign=727158c28a3856704064018b4c6b5d0d&c_uniq_tag=gaenBPL-l94Zvz72sFw8-lPRcoSTyqtJzpVISAqOZsU&type=audio"},"permissions":{"play":true,"share":true,"edit":false,"follow":true,"delete":false,"boom_download":true},"subtitle_badge":false,"play_button":false,"access_key":"43c15929fe11506130","subtitle":"Deluxe
        Edition","is_explicit":false,"main_artists":[{"name":"The Smiths","domain":"9214677642685687515","id":"9214677642685687515","is_followed":false,"can_follow":false}],"album_type":"main_only","exclusive":false}}'
  recorded_at: Wed, 01 Nov 2023 19:54:26 GMT
- request:
    method: get
    uri: https://api.vk.ru/method/audio.get?access_key=43c15929fe11506130&access_token=<VK_ACCESS_TOKEN>&album_id=1916168&owner_id=-2000916168&sig=72f2c667996e7f099c637db95d512531&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":36,"items":[{"artist":"The Smiths","id":33935215,"owner_id":-2001935215,"title":"The
        Queen Is Dead","duration":384,"access_key":"8734f5d6acb9ec5072","ads":{"content_id":"-2001935215_33935215","duration":"384","account_age_type":"3","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"2778a1dbENEIWQ2HCshn0xpXkOAb2R5yU-0Wo9far_E_kFNHBDLuAPKfav5moRSnG03IvE-MSCIMvkMEJjZbMPFZnY493YJOaDU","url":"","date":1548863762,"album":{"id":1916168,"title":"The
        Queen Is Dead (Deluxe Edition)","owner_id":-2000916168,"access_key":"43c15929fe11506130","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=34x34&quality=96&sign=2074286a267ab73d95a2cfc8bc70b82d&c_uniq_tag=z20DQOut1O96rXjwDSpzTZFQPUHIBkg1qCBQgDCzfhc&type=audio","photo_68":"https:\/\/sun19-2.userapi.com\/impf\/c851436\/v851436580\/51ac2\/d_xzbz1Ic5M.jpg?size=68x68&quality=96&sign=cc4d6064903db7ae9d3bcf3b7c011b5b&c_uniq_tag=ZkrtL9YY4ZX-QBduR3SVBkUbt-WbYaRk40Rdtlnwf18&type=audio","photo_135":"https:\/\/sun19-2.use[...]
