---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getPlaylistById?access_key=43c15929fe11506130&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000916168&playlist_id=wejlhg239gh23&sig=ac11ebcb402ebeaac434426308ca57fd&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656410
      X-Trace-Id:
      - cd0-Fum31fFwApXRd-ou3w7nEhLzGw
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: playlist_id not integer","request_params":[{"key":"access_key","value":"43c15929fe11506130"},{"key":"lang","value":"en"},{"key":"owner_id","value":"-2000916168"},{"key":"playlist_id","value":"wejlhg239gh23"},{"key":"v","value":"5.131"},{"key":"method","value":"audio.getPlaylistById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:09:15 GMT
recorded_with: VCR 6.3.1
