---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album=wejlhg239gh23&api_key=<LASTFM_API_KEY>&artist=Wild%20Nothing&autocorrect=1&format=json&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"Album not found","links":[]}'
  recorded_at: Tue, 26 Jan 2021 16:44:34 GMT
recorded_with: VCR 6.0.0
