---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/wejlhg239gh23/streams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 2-245983--OUJiN2kaCPZYJvb0OR7CUtD
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":400,"message":"","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"400
        - Bad Request","errors":[],"error":null}'
  recorded_at: Sat, 30 Dec 2023 14:38:03 GMT
recorded_with: VCR 6.2.0
