---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1174'
      X-Ratelimit-Reset:
      - '1681047632'
      Etag:
      - W/"3511c66da008b7b458efb4e55f28d9e8"
    body:
      encoding: ASCII-8BIT
      string: '{"length":300000,"artist-credit":[{"name":"Kate Bush","artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","type":"Person","tags":[{"name":"alternative","count":1},{"count":1,"name":"alternative
        rock"},{"count":2,"name":"ambient pop"},{"name":"art pop","count":5},{"count":5,"name":"art
        rock"},{"count":1,"name":"baroque pop"},{"name":"british","count":1},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"count":1,"name":"new wave"},{"count":5,"name":"pop"},{"count":1,"name":"pop
        rock"},{"name":"progressive pop","count":5},{"count":3,"name":"rock"},{"count":1,"name":"singer-songwriter"}],"disambiguation":""},"joinphrase":""}],"title":"Running
        Up That Hill (A Deal With God)","first-release-date":"1985-07-30","tags":[{"count":3,"name":"alternative"},{"name":"alternative
        pop/rock","count":3},{"name":"alternative/indie rock","count":1},{"count":1,"name":"art
        pop"},{"name":"art rock","count":1},{"name":"college rock","count":1},{"count":1,"name":"j-pop"},{"count":8,"name":"pop"},{"count":3,"name":"pop
        rock"},{"count":1,"name":"pop/rock"},{"name":"progressive rock","count":1},{"count":1,"name":"rock"},{"name":"synth-pop","count":1}],"id":"6029d549-5858-4936-9156-b90770d2ae92","video":false,"releases":[{"artist-credit":[{"joinphrase":"","artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","sort-name":"Bush,
        Kate","type":"Person","tags":[{"count":1,"name":"alternative"},{"name":"alternative
        rock","count":1},{"count":2,"name":"ambient pop"},{"count":5,"name":"art pop"},{"count":5,"name":"art
        rock"},{"name":"baroque pop","count":1},{"name":"british","count":1},{"count":1,"name":"crossover
        prog"},{"name":"indie rock","count":1},{"count":1,"name":"new wave"},{"name":"pop","count":5},{"name":"pop
        rock","count":1},{"count":5,"name":"progressive pop"},{"count":3,"name":"rock"},{"name":"singer-songwriter","count":1}],"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush","disambiguation":""},"name":"Kate Bush"}],"text-representation":{"language":"eng","script":"Latn"},"packaging":"Cardboard/Paper
        Sleeve","id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","release-events":[{"date":"1985-07-30","area":{"id":"08310658-51eb-3801-80de-5a0739207115","iso-3166-1-codes":["FR"],"name":"France","type":null,"type-id":null,"sort-name":"France","disambiguation":""}}],"tags":[],"status":"Promotion","title":"Hounds
        of Love","country":"FR","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","status-id":"518ffc83-5cde-34df-8627-81bff5093d92","date":"1985-07-30","disambiguation":"","barcode":"","quality":"normal"},{"artist-credit":[{"artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","sort-name":"Bush,
        Kate","name":"Kate Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","tags":[{"count":1,"name":"alternative"},{"count":1,"name":"alternative
        rock"},{"count":2,"name":"ambient pop"},{"name":"art pop","count":5},{"name":"art
        rock","count":5},{"count":1,"name":"baroque pop"},{"name":"british","count":1},{"name":"crossover
        prog","count":1},{"name":"indie rock","c[...]
