---
http_interactions:
- request:
    method: get
    uri: https://wmf.ok.ru/artists;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?count=20&imgfmt=base&q=kate%20bush&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "chunk" : {
            "count" : 20,
            "more" : true
          },
          "bestMatch" : {
            "artist" : {
              "id" : 122882931409564,
              "name" : "Kate Bush",
              "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvwROH0XkPVyONi82TgGYNyb4zBmgCNEwUB70eq4nt-OQ",
              "playlistId" : 15033948181,
              "albumsCount" : 108
            },
            "tracks" : [ {
              "id" : 122903294022889,
              "ensemble" : "Kate Bush",
              "duration" : 199,
              "idForDownload" : 123387231318395,
              "copyrightOwnerId" : 33,
              "copyrightOwnerName" : "Warner Music",
              "releaseId" : 45596710,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvwROH0XkPVyONi82TgGYNyb4zBmgCNEwUB70eq4nt-OQ",
              "masterArtistId" : 122882931409564,
              "albumId" : 122882149790515,
              "name" : "Babooshka (2018 Remaster)",
              "isDownloadAllowed" : true,
              "giftPrice" : 8,
              "ctx" : "artist:122882931409564|1",
              "editRestricted" : true,
              "allArtists" : [ {
                "id" : 122882931409564,
                "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvwROH0XkPVyONi82TgGYNyb4zBmgCNEwUB70eq4nt-OQ",
                "name" : "Kate Bush"
              } ]
            }, {
              "id" : 122903292056585,
              "ensemble" : "Kate Bush",
              "duration" : 2525,
              "copyrightOwnerId" : 33,
              "copyrightOwnerName" : "Warner Music",
              "releaseId" : 6062462,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvZEalbV4TYVVdPEfZTNcd-VXXBK-2-66gnF_p9ukGCD4",
              "masterArtistId" : 122882931409564,
              "albumId" : 122882149683993,
              "name" : "An Endless Sky Of Honey",
              "isDownloadAllowed" : true,
              "ctx" : "artist:122882931409564|2",
              "editRestricted" : true,
              "allArtists" : [ {
                "id" : 122882931409564,
                "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvwROH0XkPVyONi82TgGYNyb4zBmgCNEwUB70eq4nt-OQ",
                "name" : "Kate Bush"
              } ]
            }, {
              "id" : 122903295845542,
              "ensemble" : "Kate Bush",
              "duration" : 298,
              "idForDownload" : 124074212929843,
              "copyrightOwnerId" : 33,
              "copyrightOwnerName" : "Warner Music",
              "musicVideoId" : 2246885640823,
              "releaseId" : 5582667,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqv4wxiWu8lqJyXWh7UnawwR6NW24BNJ9OSkMV7EVpXGEo",
              "masterArtistId" : 122882931409564,
              "albumId" : 122882150003559,
              "name" : "Running Up That Hill (A Deal With God)",
              "isDownloadAllowed" : true,
              "giftPrice" : 8,
              "ctx" : "artist:122882931409564|3",
              "editRestricted" : true,
      [...]
