---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=wejlhg239gh23&sig=092a656944cf7182111bf8eb96f911d4&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: audios is invalid","request_params":[{"key":"v","value":"5.131"},{"key":"audios","value":"wejlhg239gh23"},{"key":"method","value":"audio.getById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Sun, 05 Sep 2021 14:01:45 GMT
recorded_with: VCR 6.0.0
