---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=wejlhg239gh23&sig=28f71b70b7740277ecbd3a21d9b6ef58&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: audios is invalid","request_params":[{"key":"v","value":"5.131"},{"key":"audios","value":"wejlhg239gh23"},{"key":"method","value":"audio.getById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Sat, 06 Nov 2021 13:33:01 GMT
recorded_with: VCR 6.0.0
