---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/album.get?album_id=14232026&apikey=<MUSIXMATCH_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.013434886932373'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.013434886932373},"body":{"album":{"album_id":14232026,"album_mbid":"172124dd-72da-4822-9945-e81b262ca7b3","album_name":"Nocturne","album_rating":40,"album_release_date":"2012-08-24","artist_id":542702,"artist_name":"Wild
        Nothing","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]},"album_pline":"2012
        Wild Nothing","album_copyright":"2012 Wild Nothing","album_label":"Spunk","restricted":0,"updated_time":"2016-09-19T09:09:12Z","external_ids":{"spotify":[],"itunes":["553810926"],"amazon_music":[]}}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:13 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/album.tracks.get?album_id=14232026&apikey=<MUSIXMATCH_API_KEY>&page_size=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.014401912689209'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.014401912689209,"available":11},"body":{"track_list":[{"track":{"track_id":17884693,"track_name":"Shadow","track_name_translation_list":[],"track_rating":60,"commontrack_id":11114110,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":71,"album_id":14232026,"album_name":"Nocturne","artist_id":542702,"artist_name":"Wild
        Nothing","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Shadow?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Shadow\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2016-04-19T21:13:52Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}}]}}},{"track":{"track_id":17884694,"track_name":"Midnight
        Song","track_name_translation_[...]
