---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release-group?fmt=json&limit=20&offset=0&query=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1122'
      X-Ratelimit-Reset:
      - '1680898411'
      Last-Modified:
      - Fri, 07 Apr 2023 20:10:44 GMT
      Etag:
      - '"YThhNGI4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:13:29.685Z","count":0,"offset":0,"release-groups":[]}'
  recorded_at: Fri, 07 Apr 2023 20:13:29 GMT
recorded_with: VCR 6.1.0
