---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"AlbumDetailPage","variables":{"id":"wejlhg239gh23","isAuthenticated":true,"includeMerch":false,"includeAlbumAbout":false},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"b199df0b29a6679f8400a7d7663de253d4241603b7ba86368bf862e5ddf9ec4e"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca287493212501ea45d38b33133294
      X-Amzn-Requestid:
      - 40ee00f7-e247-429f-af9a-3e5b497d8c9c
      Etag:
      - W/"27-yicDVUqAK9O/YKdDYTXq1BW69nc"
    body:
      encoding: UTF-8
      string: '{"data":{"album":null},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:44 GMT
recorded_with: VCR 6.4.0
