---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/296774474?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":401,"message":"A request must contain the Authorization header.
        For details please refer to https://developers.soundcloud.com/blog/security-updates-api.","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"401
        - Unauthorized","errors":[{"error_message":"A request must contain the Authorization
        header. For details please refer to https://developers.soundcloud.com/blog/security-updates-api."}],"error":null}'
  recorded_at: Sun, 19 Sep 2021 08:49:17 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/296774474?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"track","id":296774474,"created_at":"2016/12/08 02:53:46 +0000","duration":46267,"commentable":true,"comment_count":37,"sharing":"public","tag_list":"
        vaporwave","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"genre":"V
        A P O R W A V E","title":"LUXURY ELITE - ALL NIGHT","description":"Luxury
        Elite''s All Night\nLate Night Delight (c) Luxury Elite","label_name":null,"release":null,"key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/296774474","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000485875731-se22vc-large.jpg","id":247403880,"kind":"user","permalink_url":"https://soundcloud.com/that-gay-lmao","uri":"https://api.soundcloud.com/users/247403880","username":"scubb","permalink":"that-gay-lmao","created_at":"2016/08/14
        19:36:22 +0000","last_modified":"2021/03/01 15:57:45 +0000","first_name":"lawson","last_name":"s","full_name":"lawson
        s","city":"nowhere","description":"","country":"Jersey","track_count":18,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"comments_count":70,"online":false,"likes_count":0,"playlist_count":8,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"permalink_url":"https://soundcloud.com/that-gay-lmao/luxury-elite-all-night","artwork_url":"https://i1.sndcdn.com/artworks-000197371808-7uwudi-large.jpg","stream_url":"https://api.soundcloud.com/tracks/296774474/stream","download_url":null,"waveform_url":"https://wave.sndcdn.com/y3cxJMT8ueg3_m.png","available_country_codes":null,"secret_uri":null,"user_favorite":null,"user_playback_count":null,"playback_count":69349,"download_count":0,"favoritings_count":1209,"reposts_count":52,"downloadable":false,"access":"playable","policy":null,"monetization_model":null}'
  recorded_at: Sun, 19 Sep 2021 08:49:17 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/296774474/stream?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":401,"message":"A request must contain the Authorization header.
        For details please refer to https://developers.soundcloud.com/blog/security-updates-api.","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"401
        - Unauthorized","errors":[{"error_message":"A request must contain the Authorization
        header. For details please refer to https://developers.soundcloud.com/blog/security-updates-api."}],"error":null}'
  recorded_at: Sun, 19 Sep 2021 08:49:17 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/296774474/stream?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://cf-media.sndcdn.com/y3cxJMT8ueg3.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20veTNjeEpNVDh1ZWczLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjMyMDQxNTI0fX19XX0_&Signature=LEsZTx~gVcixwTdtfhjDWijiNIZZSdCFZ9HspZF2lXaRkedTnK8A-FbkHTkSQBmLgBLGvD73-BzZXBGkJeenV3koQl2HUWhvwaCtU1Hh01Cy216nFfb7yJYGNSZhAnMRfWwlXLTGuItSM~b2kgWF9bUK72PkQXfBODfnq08mdUDzO8iNdMp2IMd6q8-DPfgT620jajNTDbpgWkswp7xdz0zi6GzzPjRzqr9NVdsyz5tHtTAye-XbTsyd56-v30jIXRvmRuSRGigyZJNhnoBsQmjisAECMKtzq47-6F1Bo-MYoEt47uKCefWoho2IEGXJAus8OhXOKmHbP1VtZP1E8A__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ
    body:
      encoding: ASCII-8BIT
      string: '{"status":"302 - Found","location":"https://cf-media.sndcdn.com/y3cxJMT8ueg3.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20veTNjeEpNVDh1ZWczLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjMyMDQxNTI0fX19XX0_&Signature=LEsZTx~gVcixwTdtfhjDWijiNIZZSdCFZ9HspZF2lXaRkedTnK8A-FbkHTkSQBmLgBLGvD73-BzZXBGkJeenV3koQl2HUWhvwaCtU1Hh01Cy216nFfb7yJYGNSZhAnMRfWwlXLTGuItSM~b2kgWF9bUK72PkQXfBODfnq08mdUDzO8iNdMp2IMd6q8-DPfgT620jajNTDbpgWkswp7xdz0zi6GzzPjRzqr9NVdsyz5tHtTAye-XbTsyd56-v30jIXRvmRuSRGigyZJNhnoBsQmjisAECMKtzq47-6F1Bo-MYoEt47uKCefWoho2IEGXJAus8OhXOKmHbP1VtZP1E8A__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"}'
  recorded_at: Sun, 19 Sep 2021 08:49:17 GMT
recorded_with: VCR 6.0.0
