---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&offset=0&q=kate%20bush&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=kate+bush&type=album&offset=0&limit=20",
            "items" : [ {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
                },
                "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
                "id" : "1aSxMhuvixZ8h9dK9jIDwL",
                "name" : "Kate Bush",
                "type" : "artist",
                "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
              } ],
              "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/3OYnManu1Nlxnw9OMng7BH"
              },
              "href" : "https://api.spotify.com/v1/albums/3OYnManu1Nlxnw9OMng7BH",
              "id" : "3OYnManu1Nlxnw9OMng7BH",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b2735c390e413e27798edd4d18b4",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e025c390e413e27798edd4d18b4",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d000048515c390e413e27798edd4d18b4",
                "width" : 64
              } ],
              "name" : "Hounds of Love (2018 Remaster)",
              "release_date" : "1985-09-16",
              "release_date_precision" : "day",
              "total_tracks" : 12,
              "type" : "album",
              "uri" : "spotify:album:3OYnManu1Nlxnw9OMng7BH"
            }, {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
                },
                "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
                "id" : "1aSxMhuvixZ8h9dK9jIDwL",
                "name" : "Kate Bush",
  [...]
