---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=user.getLovedTracks&page=2&user=cornwell_93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"lovedtracks":{"track":[{"artist":{"url":"https:\/\/www.last.fm\/music\/Diana+Barton","name":"Diana
        Barton","mbid":""},"date":{"uts":"1578869520","#text":"12 Jan 2020, 22:52"},"mbid":"","url":"https:\/\/www.last.fm\/music\/Diana+Barton\/_\/Tango","name":"Tango","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/2a96cbd8b46e442fc41c2b86b821562f.png"}],"streamable":{"fulltrack":"0","#text":"0"}},{"artist":{"url":"https:\/\/www.last.fm\/music\/Fanny+Forest","name":"Fanny
        Forest","mbid":""},"date":{"uts":"1578168314","#text":"04 Jan 2020, 20:05"},"mbid":"","url":"https:\/\/www.last.fm\/music\/Fanny+Forest\/_\/Les+Lolitas+Des+Magazines","name":"Les
        Lolitas Des Magazines","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u[...]
