---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&offset=0&q=wejlhg239gh23&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=wejlhg239gh23&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Thu, 03 Jun 2021 06:45:00 GMT
recorded_with: VCR 6.0.0
