---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/tracks/wejlhg239gh23?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Yandex-Music-Application:
      - music-web
      X-Yandex-Music-Execution-Duration:
      - '1'
      X-Yandex-Music-Hostname:
      - music-stable-back-sas-44.sas.yp-c.yandex.net
    body:
      encoding: UTF-8
      string: '{"invocationInfo":{"req-id":"1683023762356571-14131909011586166035","hostname":"music-stable-back-sas-44.sas.yp-c.yandex.net"},"error":{"name":"validate","message":"Parameters
        requirements are not met"}}'
  recorded_at: Tue, 02 May 2023 10:36:02 GMT
recorded_with: VCR 6.1.0
