---
http_interactions:
- request:
    method: get
    uri: https://bandcamp.com/api/mobile/22/tralbum_details?band_id=2707934946&tralbum_id=2530224521&tralbum_type=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"has_digital_download":true,"is_set_price":false,"album_id":2530224521,"type":"a","label_id":null,"require_email":false,"tracks":[{"band_id":2707934946,"has_digital_download":false,"is_set_price":false,"album_id":2530224521,"label_id":null,"require_email":false,"merch_ids":null,"label":null,"album_title":null,"merch_sold_out":null,"has_lyrics":false,"band_name":"luxury
        elite","currency":"USD","price":null,"streaming_url":{"mp3-128":"https://bandcamp.com/stream_redirect?enc=mp3-128&track_id=3792959704&ts=1612946967&t=fe4bb3593c3952f3c2077f52fe422a5cb77c49cf"},"track_num":1,"is_purchasable":false,"title":"night
        walk","track_id":3792959704,"is_streamable":true,"art_id":null,"encodings_id":3619024542,"duration":151.414,"track_license_id":null},{"band_id":2707934946,"has_digital_download":false,"is_set_price":false,"album_id":2530224521,"label_id":null,"require_email":false,"merch_ids":null,"label":null,"album_title":null,"merch_sold_out":null,"has_lyrics":false,"band_name":"luxury
        elite","currency":"USD","price":null,"streaming_url":{"mp3-128":"https://bandcamp.com/stream_redirect?enc=mp3-128&track_id=2272935581&ts=1612946967&t=707b77baee782c6b116fdd6321117d5ac548dab7"},"track_num":2,"is_purchasable":false,"title":"perfu[...]
