---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/288149/with-tracks?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Yandex-Music-Application:
      - music-web
      X-Yandex-Music-Execution-Duration:
      - '5'
      X-Yandex-Music-Hostname:
      - music-stable-back-sas-81.sas.yp-c.yandex.net
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-sas-81.sas.yp-c.yandex.net","req-id":"1683023760895506-7071349254687863672","exec-duration-millis":"4"},"result":{"id":288149,"error":"not-found","customWave":{"title":"Hounds
        Of Love","animationUrl":"https://music-custom-wave-media.s3.yandex.net/base.json"},"sortOrder":"asc","volumes":[],"pager":{"total":0,"page":0,"perPage":0}}}'
  recorded_at: Tue, 02 May 2023 10:36:00 GMT
recorded_with: VCR 6.1.0
