---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release?fmt=json&limit=20&offset=0&query=kate%20bush%20hounds%20of%20love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '756'
      X-Ratelimit-Reset:
      - '1680898018'
      Last-Modified:
      - Fri, 07 Apr 2023 20:04:21 GMT
      Etag:
      - '"NjVlZTc4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:06:59.222Z","count":371256,"offset":0,"releases":[{"id":"52677363-500b-4520-ba10-182e10719f17","score":100,"count":1,"title":"Kate
        Bush","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"name":"Viva
        City","artist":{"id":"0d0e5b83-0e33-4708-a7ea-4041592b48dd","name":"Viva City","sort-name":"Viva
        City"}}],"release-group":{"id":"2b19c210-7975-456f-9196-42275026f7ba","type-id":"d6038452-8ee0-3f68-affc-2de9a1ede0b9","primary-type-id":"d6038452-8ee0-3f68-affc-2de9a1ede0b9","title":"Kate
        Bush","primary-type":"Single"},"date":"2008","country":"GB","release-events":[{"date":"2008","area":{"id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","name":"United
        Kingdom","sort-name":"United Kingdom","iso-3166-1-codes":["GB"]}}],"barcode":"","label-info":[{"label":{"id":"fe60646f-d888-4b5e-be7f-a2ee01364671","name":"VERT"}}],"track-count":3,"media":[{"format":"CD","disc-count":1,"track-count":3}]},{"id":"09aaee51-c84e-486b-a6b1-33a2f2786e89","score":100,"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","packaging-id":"c70b737a-0114-39a9-88f7-82843e54f906","count":1,"title":"Kate
        Bush","status":"Official","packaging":"Cassette Case","text-representation":{"language":"eng","script":"Latn"},"artist-credit":[{"name":"Kate
        Bush","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","sort-name":"Bush,
        Kate"}}],"release-group":{"id":"4ec10334-8943-4d25-961b-9b877bc2714d","type-id":"dd2a21e1-0c00-3729-a7a0-de60b84eb5d1","primary-type-id":"f529b476-6e62-324f-b0aa-1f3e33d313fc","title":"Kate
        Bush","disambiguation":"East Germany","primary-type":"Album","secondary-types":["Compilation"],"secondary-type-ids":["dd2a21e1-0c00-3729-a7a0-de60b84eb5d1"]},"date":"1984","country":"XG","release-events":[{"date":"1984","area":{"id":"d907b0ac-2956-386f-a246-62d55779aae1","name":"East
        Germany","sort-name":"East Germany","iso-3166-1-codes":["XG"]}}],"barcode":"","label-info":[{"catalog-number":"056
        072","label":{"id":"7af3eafa-f81d-43d0-8e42-ce5161b2f43e","name":"AMIGA"}}],"track-count":11,"media":[{"format":"Cassette","disc-count":0,"track-count":11}]},{"id":"e6bbd194-1c3a-4565-bf19-affdc7b9adbf","score":100,"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","packaging-id":"c70b737a-0114-39a9-88f7-82843e54f906","count":1,"title":"Kate
        Bush","status":"Official","disambiguation":"Expanded Dynamic Range","packaging":"Cassette
        Case","text-representation":{"languag[...]
