---
http_interactions:
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj","accessTokenExpirationTimestampMs":1724276917652,"isAnonymous":false}'
  recorded_at: Wed, 21 Aug 2024 20:56:15 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/6bfefa80e52948698c6f605c70f4a7d4?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-CFcoAw=="'
    body:
      encoding: ASCII-8BIT
      string: '{"gid": "6bfefa80e52948698c6f605c70f4a7d4","name": "Danger Zone - From
        \"Top Gun\" Original Soundtrack","album": {"gid": "dd96f9fd721d4180beba4dbc157d56f6","name":
        "Top Gun - Motion Picture Soundtrack (Special Expanded Edition)","artist":
        [{"gid": "19334eaffa3f4f2282e251e36611e26f","name": "Various Artists"}],"label":
        "Columbia/Legacy","date": {"year": 1999,"month": 1,"day": 1},"cover_group":
        {"image": [{"file_id": "ab67616d00001e02fa183fdd680f1d249ba2f893","size":
        "DEFAULT","width": 300,"height": 300},{"file_id": "ab67616d00004851fa183fdd680f1d249ba2f893","size":
        "SMALL","width": 64,"height": 64},{"file_id": "ab67616d0000b273fa183fdd680f1d249ba2f893","size":
        "LARGE","width": 640,"height": 640}]},"licensor": {"uuid": "aa9468539d19400ca4c32fdc159926a9"}},"artist":
        [{"gid": "8265d738c12c4d49803e1453a3a0072a","name": "Kenny Loggins"}],"number":
        1,"disc_number": 1,"duration": 216346,"popularity": 63,"external_id": [{"type":
        "isrc","id": "USSM18600108"}],"file": [{"file_id": "b448ea73a3972724547ee1a85bd03517017d66ad","format":
        "OGG_VORBIS_320"},{"file_id": "9a2aa5af6f603d6889a47047aafbb2c51bc28edc","format":
        "OGG_VORBIS_160"},{"file_id": "27e98138404f5f1be7be2e00f4e7545e7bf7cc4f","format":
        "OGG_VORBIS_96"},{"file_id": "af6d1361063d0d9acbcf5d280ac550b9d730d34b","format":
        "MP4_256_DUAL"},{"file_id": "f7226e699ce750884692aa19154dc32461904ace","format":
        "MP4_256"},{"file_id": "9baa18d198c6ebe19363dc1b0a8d0720783faeeb","format":
        "MP4_128_DUAL"},{"file_id": "92b55b5348f481e5024abb408263ee3062c9e000","format":
        "MP4_128"},{"file_id": "755ea70a5e377ee133a62877d57d760cf44f91af","format":
        "AAC_24"}],"preview": [{"file_id": "f60a2b5f25770366edd8bcf586b2cddf8e336a87","format":
        "MP3_96"}],"earliest_live_timestamp": 413146860,"has_lyrics": true,"licensor":
        {"uuid": "aa9468539d19400ca4c32fdc159926a9"},"language_of_performance": ["en"],"original_audio":
        {"uuid": "0c607d70a4244104bddf8235f928b774"},"original_title": "Danger Zone","version_title":
        "From \"Top Gun\" Original Soundtrack","artist_with_role": [{"artist_gid":
        "8265d738c12c4d49803e1453a3a0072a","artist_name": "Kenny Loggins","role":
        "ARTIST_ROLE_MAIN_ARTIST"}],"canonical_uri": "spotify:track:4HiC3ulkTgbEcYYsSuR6PO"}'
  recorded_at: Wed, 21 Aug 2024 20:56:16 GMT
[...]
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/files/audio/interactive/92b55b5348f481e5024abb408263ee3062c9e000?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-ak-spotify-com.akamaized.net/audio/92b55b5348f481e5024abb408263ee3062c9e000?__token__=exp=1724360176~hmac=7cab08f21ff0b5a18263896ed758583adf464b8885c61ffa60fb85a3525818ec","https://audio-fa-tls13.spotifycdn.com/audio/92b55b5348f481e5024abb408263ee3062c9e000?1724360176_nneR-zJbnfqTeK-WfmpWDS1lr1XMhwyl7KfsDFJOBYQ=","https://audio-fa-quic.spotifycdn.com/audio/92b55b5348f481e5024abb408263ee3062c9e000?1724360176_nneR-zJbnfqTeK-WfmpWDS1lr1XMhwyl7KfsDFJOBYQ=","https://audio-fa-quic0.spotifycdn.com/audio/92b55b5348f481e5024abb408263ee3062c9e000?1724360176_nneR-zJbnfqTeK-WfmpWDS1lr1XMhwyl7KfsDFJOBYQ=","https://audio-fa-tls130.spotifycdn.com/audio/92b55b5348f481e5024abb408263ee3062c9e000?1724360176_nneR-zJbnfqTeK-WfmpWDS1lr1XMhwyl7KfsDFJOBYQ=","https://audio-fa.scdn.co/audio/92b55b5348f481e5024abb408263ee3062c9e000?1724360176_nneR-zJbnfqTeK-WfmpWDS1lr1XMhwyl7KfsDFJOBYQ="],"fileid":
        "92b55b5348f481e5024abb408263ee3062c9e000","ttl": 86400}'
  recorded_at: Wed, 21 Aug 2024 20:56:16 GMT
[...]
- request:
    method: get
    uri: https://seektables.scdn.co/seektable/92b55b5348f481e5024abb408263ee3062c9e000.json?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 31 May 2017 13:02:04 GMT
      Etag:
      - '"ab90e4dd70ea01884d0191514959513e"'
      X-Goog-Generation:
      - '1496235724131464'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '1662'
      Content-Type:
      - application/json
      X-Amz-Checksum-Crc32c:
      - yXexEg==
    body:
      encoding: ASCII-8BIT
      string: '{"offset":1789,"seektable_version":"1","pssh_widevine":"AAAAU3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADMIARIQkrVbU0j0geUCSrtAgmPuMBoHc3BvdGlmeSIUkrVbU0j0geUCSrtAgmPuMGLJ4AA=","index_range":[24,1492],"pssh":"AAAAU3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADMIARIQkrVbU0j0geUCSrtAgmPuMBoHc3BvdGlmeSIUkrVbU0j0geUCSrtAgmPuMGLJ4AA=","timescale":44100,"padding_samples":744,"pssh_playready":"AAACnHBzc2gAAAAAmgTweZhAQoarkuZb4IhflQAAAnx8AgAAAQABAHICPABXAFIATQBIAEUAQQBEAEUAUgAgAHgAbQBsAG4AcwA9ACIAaAB0AHQAcAA6AC8ALwBzAGMAaABlAG0AYQBzAC4AbQBpAGMAcgBvAHMAbwBmAHQALgBjAG8AbQAvAEQAUgBNAC8AMgAwADAANwAvADAAMwAvAFAAbABhAHkAUgBlAGEAZAB5AEgAZQBhAGQAZQByACIAIAB2AGUAcgBzAGkAbwBuAD0AIgA0AC4AMAAuADAALgAwACIAPgA8AEQAQQBUAEEAPgA8AFAAUgBPAFQARQBDAFQASQBOAEYATwA+ADwASwBFAFkATABFAE4APgAxADYAPAAvAEsARQBZAEwARQBOAD4APABBAEwARwBJAEQAPgBBAEUAUwBDAFQAUgA8AC8AQQBMAEcASQBEAD4APAAvAFAAUgBPAFQARQBDAFQASQBOAEYATwA+ADwASwBJAEQAPgBVADEAdQAxAGsAdgBSAEkANQBZAEUAQwBTAHIAdABBAGcAbQBQAHUATQBBAD0APQA8AC8ASwBJAEQAPgA8AEMASABFAEMASwBTAFUATQA+AFQAYQA4AGEASABlADMAbwB1AEwATQA9ADwALwBDAEgARQBDAEsAUwBVAE0APgA8AEwAQQBfAFUAUgBMAD4AaAB0AHQAcAA6AC8ALwBhAC0AZgBhAGsAZQAtAHMAZQByAHYAZQByAC4AcwBwAG8AdABpAGYAeQAuAG4AZQB0ADoAOAAwADgAMAAvAHQAZQBzAHQAPAAvAEwAQQBfAFUAUgBMAD4APAAvAEQAQQBUAEEAPgA8AC8AVwBSAE0ASABFAEEARABFAFIAPgA=","segments":[[175350,441344],[175684,441344],[172419,441344],[172959,441344],[172774,441344],[171356,441344],[171476,441344],[172910,441344],[174645,441344],[173203,441344],[173133,441344],[173775,441344],[172496,441344],[171629,441344],[171897,441344],[174109,441344],[172322,441344],[171581,441344],[171637,441344],[172247,441344],[171746,441344],[107160,273688]],"encoder_delay_samples":1024}'
  recorded_at: Wed, 21 Aug 2024 20:56:17 GMT
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj","accessTokenExpirationTimestampMs":1724276917652,"isAnonymous":false}'
  recorded_at: Wed, 21 Aug 2024 20:56:17 GMT
recorded_with: VCR 6.2.0
