---
http_interactions:
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/6bfefa80e52948698c6f605c70f4a7d4?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCEIITz-wAyQhs4Wz-8uQNKD9CnN30yIKNj04G8-HrHgZIeMNQOc7njflVNWQrsefB7qhXNwKcnFQbHZbK4vCID58eq3uILIahKI1DGLMGeDqkW7cehj444GWzaV8qbh-YvBOrOCC7e6MppIMiqXyEBfWE4qNbjviLA0oKbmxl7DgCn-yfVZpwM2OXj1ghq8nEpotTHbQMMmMD8_8Qn383FwQNveNGxJNMSNdRzaKetOnZaRPZ4MfcENBBZgIeZwiaiS_DpSIePB2Bw2cmTZJY4v2ptNlX-z-XEjwzwPxPwQ8wlHSl-LaKHRcLw4PhBBSJwNbm9QLytbBx6Yngjm5VT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-Vv7qxQ=="'
    body:
      encoding: ASCII-8BIT
      string: '{"gid": "6bfefa80e52948698c6f605c70f4a7d4","name": "Danger Zone - From
        \"Top Gun\" Original Soundtrack","album": {"gid": "dd96f9fd721d4180beba4dbc157d56f6","name":
        "Top Gun - Motion Picture Soundtrack (Special Expanded Edition)","artist":
        [{"gid": "19334eaffa3f4f2282e251e36611e26f","name": "Various Artists"}],"label":
        "Columbia/Legacy","date": {"year": 1999,"month": 1,"day": 1},"cover_group":
        {"image": [{"file_id": "ab67616d00001e02fa183fdd680f1d249ba2f893","size":
        "DEFAULT","width": 300,"height": 300},{"file_id": "ab67616d00004851fa183fdd680f1d249ba2f893","size":
        "SMALL","width": 64,"height": 64},{"file_id": "ab67616d0000b273fa183fdd680f1d249ba2f893","size":
        "LARGE","width": 640,"height": 640}]},"licensor": {"uuid": "aa9468539d19400ca4c32fdc159926a9"}},"artist":
        [{"gid": "8265d738c12c4d49803e1453a3a0072a","name": "Kenny Loggins"}],"number":
        1,"disc_number": 1,"duration": 216346,"popularity": 61,"external_id": [{"type":
        "isrc","id": "USSM18600108"}],"file": [{"file_id": "b448ea73a3972724547ee1a85bd03517017d66ad","format":
        "OGG_VORBIS_320"},{"file_id": "9a2aa5af6f603d6889a47047aafbb2c51bc28edc","format":
        "OGG_VORBIS_160"},{"file_id": "27e98138404f5f1be7be2e00f4e7545e7bf7cc4f","format":
        "OGG_VORBIS_96"},{"file_id": "af6d1361063d0d9acbcf5d280ac550b9d730d34b","format":
        "MP4_256_DUAL"},{"file_id": "f7226e699ce750884692aa19154dc32461904ace","format":
        "MP4_256"},{"file_id": "9baa18d198c6ebe19363dc1b0a8d0720783faeeb","format":
        "MP4_128_DUAL"},{"file_id": "92b55b5348f481e5024abb408263ee3062c9e000","format":
        "MP4_128"},{"file_id": "755ea70a5e377ee133a62877d57d760cf44f91af","format":
        "AAC_24"}],"preview": [{"file_id": "f60a2b5f25770366edd8bcf586b2cddf8e336a87","format":
        "MP3_96"}],"earliest_live_timestamp": 413146860,"has_lyrics": true,"licensor":
        {"uuid": "aa9468539d19400ca4c32fdc159926a9"},"language_of_performance": ["en"],"original_audio":
        {"uuid": "0c607d70a4244104bddf8235f928b774"},"original_title": "Danger Zone","version_title":
        "From \"Top Gun\" Original Soundtrack","artist_with_role": [{"artist_gid":
        "8265d738c12c4d49803e1453a3a0072a","artist_name": "Kenny Loggins","role":
        "ARTIST_ROLE_MAIN_ARTIST"}],"canonical_uri": "spotify:track:4HiC3ulkTgbEcYYsSuR6PO","content_authorization_attributes":
        ""}'
  recorded_at: Sun, 13 Oct 2024 21:17:16 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/storage-resolve/files/audio/interactive/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCEIITz-wAyQhs4Wz-8uQNKD9CnN30yIKNj04G8-HrHgZIeMNQOc7njflVNWQrsefB7qhXNwKcnFQbHZbK4vCID58eq3uILIahKI1DGLMGeDqkW7cehj444GWzaV8qbh-YvBOrOCC7e6MppIMiqXyEBfWE4qNbjviLA0oKbmxl7DgCn-yfVZpwM2OXj1ghq8nEpotTHbQMMmMD8_8Qn383FwQNveNGxJNMSNdRzaKetOnZaRPZ4MfcENBBZgIeZwiaiS_DpSIePB2Bw2cmTZJY4v2ptNlX-z-XEjwzwPxPwQ8wlHSl-LaKHRcLw4PhBBSJwNbm9QLytbBx6Yngjm5VT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result": "CDN","cdnurl": ["https://audio-ak-spotify-com.akamaized.net/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?__token__=exp=1728940636~hmac=8de467ecafbe583377f30e4ad3cbeacaecefdba99078534b00f1b1f66229f32e","https://audio-fa-tls13.spotifycdn.com/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?1728940636_K81pTri7fDu3Pe7GbR96FTODLk3IJDB03n1ZaH2P31g=","https://audio-fa-quic.spotifycdn.com/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?1728940636_K81pTri7fDu3Pe7GbR96FTODLk3IJDB03n1ZaH2P31g=","https://audio-fa-quic0.spotifycdn.com/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?1728940636_K81pTri7fDu3Pe7GbR96FTODLk3IJDB03n1ZaH2P31g=","https://audio-fa-tls130.spotifycdn.com/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?1728940636_K81pTri7fDu3Pe7GbR96FTODLk3IJDB03n1ZaH2P31g=","https://audio-fa.scdn.co/audio/9a2aa5af6f603d6889a47047aafbb2c51bc28edc?1728940636_K81pTri7fDu3Pe7GbR96FTODLk3IJDB03n1ZaH2P31g="],"fileid":
        "9a2aa5af6f603d6889a47047aafbb2c51bc28edc","ttl": 86400}'
  recorded_at: Sun, 13 Oct 2024 21:17:16 GMT
recorded_with: VCR 6.3.1
