---
http_interactions:
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAAe_o6-OCwGjuEu5XMHiiUOfldgAlxQgUUIPzJmjNRa_dSu1Wyeegh8Tm91gjL2McU9siC9_bL_jTi18ow2StzdeBdMvV0tOkxePLIO04RS8a3nOGn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQBRp7gPOgux7Bv-vlvaZN_Sb62s3QCrNfKBsSE6NjLGHHQcAFgnxkea-bs9MD_FKL6cq7DtYLdbF6Q1l4PiRSibx9xdPQ1h0RRRB8fZf1jti6qpjX0","accessTokenExpirationTimestampMs":1704012907932,"isAnonymous":true}'
  recorded_at: Sun, 31 Dec 2023 08:01:40 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/16050db13dde6ad93ef3?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBRp7gPOgux7Bv-vlvaZN_Sb62s3QCrNfKBsSE6NjLGHHQcAFgnxkea-bs9MD_FKL6cq7DtYLdbF6Q1l4PiRSibx9xdPQ1h0RRRB8fZf1jti6qpjX0
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 31 Dec 2023 08:01:41 GMT
recorded_with: VCR 6.2.0
