---
http_interactions:
- request:
    method: get
    uri: https://open.spotify.com/get_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"f6a40776580943a7bc5173125a1e8832","accessToken":"BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj","accessTokenExpirationTimestampMs":1724276917652,"isAnonymous":false}'
  recorded_at: Wed, 21 Aug 2024 20:56:19 GMT
- request:
    method: get
    uri: https://spclient.wg.spotify.com/metadata/4/track/00000000000016050db13dde6ad93ef3?alt=json&platform=39&product=9&version=10000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD3D9k0fhgReAbHWGFXwlVRh_wfFs8bfT1ji5Fz6Alnr4KuvyBMMueJav9oRUFFo7gh1Msc4-TccpoyWCOw3UYTjVe64-UzlKSURtjbz-Z3GsLEwm0bvDOnJBZzxvvVZnVCCQu1rsbnGHHI93Wl_zzg5HuARjfJSn19iR-zVk-3melMQBW6JRXkysetiAnRzEXL00hErLVBil7sZiDhWO4JkMd9uOYsV3_Rh0VmRrCDG0HqEDRyos5Spoj3V4540sLi323PANy-4PKuGjZ7InpInjqfZw5XARRMsVbygqGM4ekj8caWm_liFPU2vvb1jmfunrKWWXu3eDOj71hXNMRj
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 21 Aug 2024 20:56:19 GMT
recorded_with: VCR 6.2.0
