---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/296774474?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"track","id":296774474,"created_at":"2016/12/08 02:53:46 +0000","user_id":247403880,"duration":46267,"commentable":true,"comment_count":28,"state":"finished","original_content_size":1583159,"last_modified":"2020/07/30
        20:34:06 +0000","sharing":"public","tag_list":"vaporwave","permalink":"luxury-elite-all-night","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"label_id":null,"genre":"V
        A P O R W A V E","title":"LUXURY ELITE - ALL NIGHT","description":"Luxury
        Elite''s All Night\nLate Night Delight (c) Luxury Elite","label_name":null,"release":null,"track_type":null,"key_signature":null,"isrc":null,"video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/296774474","user":{"id":247403880,"kind":"user","permalink":"that-gay-lmao","username":"scubb","last_modified":"2018/08/09
        02:33:02 +0000","uri":"https://api.soundcloud.com/users/247403880","permalink_url":"https://soundcloud.com/that-gay-lmao","avatar_url":"https://i1.sndcdn.com/avatars-000485875731-se22vc-large.jpg"},"user_uri":"https://api.soundcloud.com/users/247403880","permalink_url":"https://soundcloud.com/that-gay-lmao/luxury-elite-all-night","artwork_url":"https://i1.sndcdn.com/artworks-000197371808-7uwudi-large.jpg","stream_url":"https://api.soundcloud.com/tracks/296774474/stream","download_url":"https://api.soundcloud.com/tracks/296774474/download","waveform_url":"https://wave.sndcdn.com/y3cxJMT8ueg3_m.png","domain_lockings":null,"available_country_codes":null,"label":null,"secret_token":null,"secret_uri":null,"user_favorite":null,"user_playback_count":null,"playback_count":61267,"download_count":0,"favoritings_count":1122,"reposts_count":48,"downloadable":false,"downloads_remaining":null}'
  recorded_at: Sat, 02 Jan 2021 13:46:53 GMT
recorded_with: VCR 6.0.0
