---
http_interactions:
- request:
    method: post
    uri: https://passport.yandex.ru/registration-validations/auth/multi_step/start
    body:
      encoding: UTF-8
      string: csrf_token=<YANDEX_CSRF_TOKEN>&login=<YANDEX_EMAIL>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"14b-Jw86+vNWIzUqjWVssqEW0d9eeWo"
    body:
      encoding: UTF-8
      string: '{"primary_alias_type":5,"magic_link_email":"<YANDEX_EMAIL>","csrf_token":"<YANDEX_CSRF_TOKEN>","track_id":"<YANDEX_TRACK_ID>","can_authorize":true,"status":"ok","preferred_auth_method":"password","auth_methods":["password","magic_link","magic_x_token"],"id":"<YANDEX_ID>"}'
  recorded_at: Thu, 11 Feb 2021 13:24:32 GMT
- request:
    method: post
    uri: https://passport.yandex.ru/registration-validations/auth/multi_step/commit_password
    body:
      encoding: UTF-8
      string: track_id=<YANDEX_TRACK_ID>&csrf_token=<YANDEX_CSRF_TOKEN>&password=<YANDEX_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      X-Default-Uid:
      - '1069814265'
      Etag:
      - W/"f-VaSQ4oDUiZblZNAEkkN+sX+q3Sg"
    body:
      encoding: UTF-8
      string: '{"status":"ok"}'
  recorded_at: Thu, 11 Feb 2021 13:24:33 GMT
recorded_with: VCR 6.0.0
