---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks?limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQARj7LFWQvottdy5lbiae9ICJG19n1i9M9Opo1zAp-zs0gHC20VotW1O-wkfS-59h1IysJhQK7Qw4uuHriCMnk0BId5YSEMj1EBzh1Qn1_y_KietaRk4122vXV0QMvj8sT9zeNbh8W_ab5h5_orMnVJ8YzxcJE9Sppwro9Y3Q-9TzdDq5HZoCpfPNHa2qfWPv4hMl23KunTey8aZbAkV30egA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImZlOGJhMmQyZjM5YWNmY2Y3Njc1YWZkZDU1N2YwZDZmIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/me/tracks?offset=5&limit=5",
          "items" : [ ],
          "limit" : 5,
          "next" : null,
          "offset" : 5,
          "previous" : "https://api.spotify.com/v1/me/tracks?offset=0&limit=5",
          "total" : 1
        }
  recorded_at: Mon, 03 Jul 2023 12:15:45 GMT
recorded_with: VCR 6.2.0
