---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-15
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"<DEEZER_LICENSE_TOKEN>","expiration_timestamp":1627553693,"license_country":"BY","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1626257693,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"BY","has_joined_family":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"featurefm_token":false,"test_format":false,"force_adsource":"auto"},"webviews":{"domain":false},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card","option":"svd_discovery","behaviour":"new
        discovery algorithm, based on nearest neighbours search"},"artistmix_algorithms":{"id":"ARTIST_MIXES","option":"default","behaviour":"default
        artist mix artist embeddings"},"flow_algorithms":{"id":"Flow-2021-april-2","option":"C","behaviour":"default
        algorithm, using v2 tags for reco, old tag embeddings"},"playlists_suggestion_algorithm_october_2020":{"id":"playlists_suggestion_algorithm_october_2020","option":"default","behaviour":"Suggest
        playlists thompson sampling reinforcement learning, fallback on coldstart
        models"},"share_android_image_preview":{"id":"share_android_image_preview","option":"default","behaviour":"default
        sharing"},"screenshot_sharing":{"id":"screenshot_sharing","option":"A","behaviour":"revamped
        current solution"},"artist_essentials_rail":{"id":"artist_essentials_rail","option":"B","behaviour":"display
        artist essentials rail"},"web_hp_0621":{"id":"web_hp_0621","option":"a","behaviour":"So-called
        \"Offer Led\" Home page. User is part of the AB test"},"family_page":{"id":"family_page","option":"control","behaviour":"Default
        \"classical\" family page. User is part of the AB test"},"premium_tab":{"id":"premium_tab","option":"premium_tab_v3","behaviour":"The
        new Premium Tab with direct link to payment"},"why_ads":{"id":"why_ads","option":"B","behaviour":"The
        new WHY_ADS wording"},"whatsapp_optin":{"id":"whatsapp_optin","option":"control","behaviour":"Default
        classical Home page. User is not part of the AB test"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"BY","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"<DEEZER_USER_TOKEN>","PLAYLIST_WELCOME_ID":"1362496565","OFFER_ID":"0","OFFER_ELIGIBILITIES":[],"COUNTRY":"BY","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1626257693,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3752c332fc5c4dab2a6cd1851a5225e3421a65707fcf806a157bc3b2b325ea4fa86bcb3b06f4d9571f5f3cdff865fe808f1e3d70e3aefd20ec0d9b6027c71a8cd82fb96c1c1f789b1021120e2608e12451d6b3efd94e7e87733298d84799fabea32a21cabbe65c2399bfb33741eabec3a401385d427aa6f23945596560d6a010ca944936b5af09475418d2d67f6b2a6ec9e2e4b2cf48f251ff354fb8045397cd79e1a55a58143ab65c85a80b01ac5bebfc75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_API_TOKEN>&api_version=1.0&method=album.getDiscography
    body:
      encoding: UTF-8
      string: '{"art_id":"1049","discography_mode":"all","filter_role_id":["0"],"lang":"en","nb":"200"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-111
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"data":[{"ALB_ID":"80060452","ALB_PICTURE":"57ab8551d259f42f5e0868a9075ee446","ARTISTS_ALBUMS_IS_OFFICIAL":true,"EXPLICIT_ALBUM_CONTENT":{"EXPLICIT_LYRICS_STATUS":7,"EXPLICIT_COVER_STATUS":2},"ALB_TITLE":"Selection
        from ''The Other Sides'' (2018 Remaster)","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"0","ART_NAME":"Kate
        Bush","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"}],"ART_ID":"1049","ART_NAME":"Kate
        Bush","COPYRIGHT":"\u00a9 2018 Noble & Brite Ltd","DIGITAL_RELEASE_DATE":"2018-11-30","EXPLICIT_LYRICS":"0","GENRE_ID":"0","HIGHLIGHT":"0","MINOR_GENRE_ID":"0","NUMBER_DISK":"1","NUMBER_TRACK":"9","ORIGINAL_RELEASE_DATE":"2018-11-30","PHYSICAL_RELEASE_DATE":"2018-11-30","PRODUCER_LINE":"\u2117
        2018 Noble & Brite Ltd","PROVIDER_ID":"3","RANK":"503300","ROLE_ID":0,"STATUS":"1","SUBTYPES":{"isStudio":false,"isLive":false,"isCompilation":false,"isKaraoke":false},"TYPE":"1","__TYPE__":"album","SONGS":{"data":[{"SNG_ID":"594662132","PRODUCT_TRACK_ID":"554067252","UPLOAD_ID":0,"SNG_TITLE":"12\"
        Running Up That Hill (A Deal With God)","ART_ID":"1049","PROVIDER_ID":"3","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"0","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"}},"SMARTRADIO":1,"__TYPE__":"artist"}],"ALB_ID":"80060452","ALB_TITLE":"Selection
        from ''The Other Sides'' (2018 Remaster)","TYPE":0,"VIDEO":false,"DURATION":"349","ALB_PICTURE":"57ab8551d259f42f5e0868a9075ee446","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK_SNG":"327977","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"5585187","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_MHM1_RA1":"0","FILESIZE_MHM1_RA2":"0","FILESIZE_MHM1_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"5585187","GAIN":"-16.4","MEDIA_VERSION":"3","DISK_NUMBER":"1","TRACK_NUMBER":"1","TRACK_TOKEN":"AAAAAWDuuR1g79Jdj8Tbyh9hqwcBZelunFkxyqEDf4I7ovcBcGT344Soe85YCg99u1FM1RRB5QDnZKRutsTPiHKNmIMh5bdzMgbaM01zWPm5nafUWubJCc-lzbA_YSB8pbkXMiOoEJhwu7LyriWE","TRACK_TOKEN_EXPIRE":1626329693,"VERSION":"(2018
        Remaster)","MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-2.dzcdn.net\/stream\/c-2dad03bf7375782a61d71181976d5a03-3.mp3"}],"EXPLICIT_LYRICS":"0","RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"ISRC":"GBAYE1801211","HIERARCHICAL_TITLE":"","SNG_CONTRIBUTORS":{"main_artist":["Kate
        Bush"],"author":["Kate Bush"]},"LYRICS_ID":30383781,"EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"S_MOD":1,"S_PREMIUM":1,"DATE_START_PREMIUM":"2000-01-01","DATE_START":"2000-01-01","STATUS":1,"USER_ID":0,"URL_REWRITING":"kate-bush","__TYPE__":"song"},{"SNG_ID":"594662142","PRODUCT_TRACK_ID":"552525972","UPLOAD_ID":0,"SNG_TITLE":"The
        Big Sky","ART_ID":"1049","PROVIDER_ID":"3","ART_NAME":"Kate Bush","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"0","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"na[...]
[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_API_TOKEN>&api_version=1.0&method=deezer.pageArtist
    body:
      encoding: UTF-8
      string: '{"art_id":"1049","lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-06
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"DATA":{"ART_ID":"1049","ART_NAME":"Kate Bush","URL_REWRITING":"kate-bush","ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","NB_FAN":160147,"URL":"http:\/\/www.katebush.com\/","TWITTER":"https:\/\/twitter.com\/KateBushMusic","FACEBOOK":"https:\/\/www.facebook.com\/katebush","STATUS":{"status":"","date":1397666995},"USER_ID":"0","DATA":{"locales":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"}},"DISABLE_CATALOG":false,"COPYRIGHT_PICTURE":""},"__TYPE__":"artist","SMARTRADIO":true},"TOP":{"data":[{"SNG_ID":"3127829","PRODUCT_TRACK_ID":"30813141","UPLOAD_ID":0,"SNG_TITLE":"Babooshka","ART_ID":"1049","PROVIDER_ID":"3","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"0","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"671765","LOCALES":{"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30[...]
