---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-45
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"<DEEZER_LICENSE_TOKEN>","expiration_timestamp":1652036612,"license_country":"BY","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1650740612,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"BY","has_joined_family":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"featurefm_token":false,"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search"},"artistmix_algorithms":{"id":"ARTIST_MIXES-2021-summer","option":"default","behaviour":"default
        artist mix artist embeddings"},"offers_page_no_free_card":{"id":"offers_page_no_free_card","option":"A","behaviour":"User
        has no free card"},"premium_tab_native":{"id":"premium_tab_native","option":"A","behaviour":"premium
        tab native"},"playlists_suggestion_algorithm_August_2021":{"id":"playlists_suggestion_algorithm_August_2021","option":"default","behaviour":"Suggest
        playlists thompson sampling reinforcement learning, fallback on coldstart
        models"},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing"},"screenshot_sharing":{"id":"screenshot_sharing","option":"B","behaviour":"action
        screenshot"},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha"},"premium_cta_0422":{"id":"premium_cta_0422","option":"control","behaviour":"Default
        hero block with classical CTA. User is part of the AB test"},"family_cta_0422":{"id":"family_cta_0422","option":"control","behaviour":"Default
        hero block with classical CTA. User is part of the AB test"},"catalog_pages_sign-up_banner_0322":{"id":"catalog_pages_sign-up_banner_0322","option":"control","behaviour":"Classical
        register inapp journey"},"acq_paywall_android7_ios98":{"id":"acq_paywall_android7_ios98","option":"control","behaviour":"Show
        D0 conversion box"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"BY","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":0,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"<DEEZER_USER_TOKEN>","PLAYLIST_WELCOME_ID":"1362496565","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"BY","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1650740612,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a371e8e11d60f9bb7a0f5f6139e801f9f2dfe4d2f11a3acee2196c85f8ad6dad85b83ffb66ea29657ce61a16ab8670938a0d5d176378bd4404bb4d7c438a0ddef542ccbad04c181fad27e45fb3f14270f30473f461979fbdbca6090bdf101ebb9c65bca75497c83cebf06e9e14338f23e29ddae158606bd5c96416c3eca6a996034c78de930af63ec11fe2d11b74b1d3269c26ab85e996d07efdcd38a7210919e29e1a55a58143ab65c85a80b01ac5bebfc75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_API_TOKEN>&api_version=1.0&method=deezer.pageArtist
    body:
      encoding: UTF-8
      string: '{"art_id":"wejlhg239gh23","lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-54
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":{"REQUEST_ERROR":"Wrong parameters"},"results":{},"payload":null}'
  recorded_at: Sat, 23 Apr 2022 19:03:33 GMT
recorded_with: VCR 6.1.0
