---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=wejlhg239gh23&key=<GOOGLE_API_KEY>&maxResults=20&pageToken&part=id,snippet,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 404,
            "message": "Channel not found.",
            "errors": [
              {
                "message": "Channel not found.",
                "domain": "youtube.playlist",
                "reason": "channelNotFound",
                "location": "channelId",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Mon, 17 Oct 2022 11:26:50 GMT
recorded_with: VCR 6.1.0
