---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/wejlhg239gh23/with-tracks?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Yandex-Music-Application:
      - music-web
      X-Yandex-Music-Execution-Duration:
      - '1'
      X-Yandex-Music-Hostname:
      - music-stable-back-sas-50.sas.yp-c.yandex.net
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"req-id":"1683019503187444-7257831749418180300","hostname":"music-stable-back-sas-50.sas.yp-c.yandex.net"},"error":{"name":"not-found","message":"Requested
        action for /albums/wejlhg239gh23/with-tracks was not found"}}'
  recorded_at: Tue, 02 May 2023 09:25:03 GMT
recorded_with: VCR 6.1.0
