---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"kate
        bush","specType":"track","firstLimit":20,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca287b0e334e5b2fd2f8b11173aa61
      X-Amzn-Requestid:
      - 7c42b7b8-b5af-49e2-8dc3-f43951e7c493
      Etag:
      - W/"9a19-3PB+TT+huNOQEWhhMuiQs59MVkg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_3738e4c903","searchText":"kate
        bush","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":true,"endCursor":null,"token":"tztok-v2_iosmAqq9RWIFJZXCZvgM5NDFcDKbsM8MpCfiyo60nkv0UWVqx4ChPzUi2aAMCo2o","hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:track:asin:B0BXFQ8PZY?territory=GB","containerIds":[],"selections":["STATION","PREVIEW"],"__typename":"PlayParams"},"node":{"__typename":"Track","id":"B0BXFQ8PZY","uri":"mrn:1.0:catalog:track:asin:B0BXFQ8PZY?territory=GB","previewUrl":"https://music.amazon.co.uk/getSampleTrack/B0BXFQ8PZY?ref=dm_ff_amazonmusic_greenhornet_web","playbackInformation":{"videoId":null,"__typename":"PlaybackInformation"},"title":"Running
        Up That Hill (A Deal With God) [2018 Remaster]","mediaType":"AUDIO","parentalSettings":{"hasExplicitLanguage":false,"__typename":"ParentalSettings"},"images":[{"id":"31DDHTrnk1L","url":"https://m.media-amazon.com/images/I/31DDHTrnk1L.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"},{"id":"71rARKjnqqL","url":"https://m.media-amazon.com/images/I/71rARKjnqqL.jpg","width":2560,"height":2560,"imageType":"PRIMARY","__typename":"Image"}],"shortTitle":"Running
        Up That Hill (A Deal With God)","url":"https://music.amazon.co.uk/tracks/B0BXFQ8PZY/?ref=dm_ff_amazonmusic_greenhornet_web","contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Kate
        Bush","__typename":"Artist","id":"B001EE18FM","uri":"mrn:1.0:catalog:artist:asin:B001EE18FM?territory=GB","url":"https://music.amazon.co.uk/artists/B001EE18FM?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"playParams":{"id":"mrn:1.0:catalog:track:asin:B0BXFQ8PZY?territory=GB","selections":["STATION","PREVIEW"],"__typename":"PlayParams","containerIds":[]},"purchaseContext":{"isPurchased":false,"__typename":"PurchaseContext","id":null},"audioQualities":[],"hasLyrics":true,"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"},"album":{"id":"B0BXFNJ4GG","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B0BXFNJ4GG?territory=GB","shortTitle":"Hounds
        of Love","url":"https://music.amazon.co.uk/albums/B0BXFNJ4GG?ref=dm_ff_amazonmusic_greenhornet_web"},"duration":301}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:track:asin:B0BXBNTM8N?territory=GB","containerIds":[],"selections":["STATION","PREVIEW"],"__typename":"PlayParams"},"node":{"__typename":"Track","id":"B0BXBNTM8N","uri":"mrn:1.0:catalog:track:asin:B0BXBNTM8N?territory=GB","previewUrl":"https://music.amazon.co.uk/getSampleTrack/B0BXBNTM8N?ref=dm_ff_amazonmusic_greenhornet_web","playbackInformation":{"videoId":null,"__typename":"PlaybackInformation"},"title":"Running
        Up T[...]
