---
http_interactions:
- request:
    method: post
    uri: https://eu.mesk.skill.music.a2z.com/api/searchCatalogTracks
    body:
      encoding: UTF-8
      string: '{"keyword":"kate bush","headers":"{\"x-amzn-authentication\":\"{\\\"interface\\\":\\\"ClientAuthenticationInterface.v1_0.ClientTokenElement\\\",\\\"accessToken\\\":\\\"Atza|IwEBIIQd1ug2SOj_RQotgALoBSDScJuKIBKiCCEKJRv-OZJVTIc0AddPd7U7H7MM55xARpmkFBWyE91VPL9YXxNSXR0FeaeSqEu10ulIb3PuP9pIb3jJNGjYo437NY6nGaePiRftL55IyP014lrm3NcxsDPfasAtM31kzTpQ8Z-HN8enuJChGt3BCIbpYe_XJnK_hRHMwXXRCtY-Z606C2vLQQNniP-w5WEwutmtAhg14D02I3KHOryR5Sn0ajdJav3H41Pj0yL9xgw6ZXdh4yB-1XN8cy85zJjXmPtB-QJZtuK4cVS-qhnBlKL9nCaaXao4YW7lUFZOzTFpVM3zd4pbDJl1ON6eTHaLE3NbNlK1EK5GslLLNDs8DTRk10Oukp5GOaaR8xhpP8-fES7nEa4sIlRn\\\"}\",\"x-amzn-device-model\":\"WEBPLAYER\",\"x-amzn-device-width\":\"1920\",\"x-amzn-device-family\":\"WebPlayer\",\"x-amzn-device-id\":\"25814726589747619\",\"x-amzn-user-agent\":\"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41
        Safari/537.36\",\"x-amzn-device-height\":\"1080\",\"x-amzn-request-id\":\"86505592-1935-4738-8e4f-a9d7d8177b60\",\"x-amzn-device-language\":\"en_GB\",\"x-amzn-os-version\":\"1.0\",\"x-amzn-application-version\":\"1.0.15759.0\",\"x-amzn-timestamp\":\"1739135577000\",\"x-amzn-page-url\":\"https://music.amazon.com\",\"x-amzn-video-player-token\":\"{}\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - FvEOGihrjoEEMlA=
    body:
      encoding: ASCII-8BIT
      string: '{"methods":[{"interface":"TemplateListInterface.v1_0.BindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.GalleryTemplateInterface.GalleryTemplate","widgets":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.DescriptiveListingWidgetElement","items":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.SquareHorizontalItemElement","primaryText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Running
        Up That Hill (A Deal With God) [2018 Remaster]","disabled":false},"image":"https://m.media-amazon.com/images/I/71rARKjnqqL._AA256._SX472_SY472_BL0_QL100_.jpg","imageAltText":"Running
        Up That Hill (A Deal With God) [2018 Remaster]","actionIconName":"shuffle","iconButton":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"","disabled":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"PLAYBACK_STATE","storageKey":"B0BXFNJ4GG:B0BXFQ8PZY","states":{"LOADING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"loader","disabled":false,"onItemSelected":[]},"PAUSED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"resume","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CMW7BCKXXECZX4K8A15Z1%7C0%7C4%7C0%7CB0BXFQ8PZY%7C-1%7Cnull%7Cv56mJLFcqx%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.ResumeMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]},"STOPPED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"shuffle","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_STATION%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CMW7BCKXXECZX4K8A15Z1%7C0%7C4%7C0%7CB0BXFQ8PZY%7C-1%7Cnull%7Cv56mJLFcqx%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playStationFromTrack?id=B0BXFQ8PZY&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"PLAYING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"pause","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PAUSE_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CMW7BCKXXECZX4K8A15Z1%7C0%7C4%7C0%7CB0BXFQ8PZY%7C-1%7Cnull%7Cv56mJLFcqx%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.PauseMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]}},"defaultState":"STOPPED"}},"hintIconName":"shuffle","primaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/albums/B0BXFNJ4GG?trackAsin=B0BXFQ8PZY","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_STATION%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CMW7BCKXXECZX4K8A15Z1%7C0%7C4%7C0%7CB0BXFQ8PZY%7C-1%7Cnull%7Cv56mJLFcqx%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playStationFromTrack?id=B0BXFQ8PZY&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"secondaryText":"Kate
        Bush","secondaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/artists/B001EE18FM/kate-bush","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ARTIST%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3A[...]
