---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"wejlhg239gh23","specType":"track","firstLimit":20,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca287ceba0225b0541ab1eba6a06a9
      X-Amzn-Requestid:
      - 60f65d8d-9fc9-4b8a-9d7c-8a2615af4579
      Etag:
      - W/"170-sFVfr2rUYJ03YIPhSRRmm9Iyvgw"
    body:
      encoding: UTF-8
      string: '{"data":{"specificationSearch":{"id":"search_00a21f6cdc","searchText":"wejlhg239gh23","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":false,"endCursor":null,"token":null,"hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[]}],"__typename":"SpecificationSearchResults"}},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:52 GMT
recorded_with: VCR 6.4.0
