---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ChronologicalAlbumsPage","variables":{"id":"B002ZXIYRG","firstLimit":20,"isAuthenticated":true,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"e9cf1f3f0b3d57e40a8591e3787f0d820d58ce6968a5cf800aa3dc3f9bdb2bb4"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca2876d8d8a9a2673fa2fba17e343d
      X-Amzn-Requestid:
      - ba9959a2-4f57-4724-91a2-791e5ff5e3ba
      Etag:
      - W/"6818-gK74k6O/cr6AXrBznPuExtllmro"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"artist":{"id":"B002ZXIYRG","releases":{"edges":[{"metricId":null,"node":{"id":"B0D96VHC5S","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B0D96VHC5S?territory=GB","title":"Wild
        Nothing on Audiotree Live [Explicit]","images":[{"id":"91BY3dkHkhL","url":"https://m.media-amazon.com/images/I/91BY3dkHkhL.jpg","width":2560,"height":2560,"imageType":"PRIMARY","__typename":"Image"},{"id":"51HSbLRTB0L","url":"https://m.media-amazon.com/images/I/51HSbLRTB0L.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"}],"playParams":{"id":"mrn:1.0:catalog:album:asin:B0D96VHC5S?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"shortTitle":"Wild
        Nothing on Audiotree Live","parentalSettings":{"hasExplicitLanguage":true,"__typename":"ParentalSettings"},"url":"https://music.amazon.co.uk/albums/B0D96VHC5S?ref=dm_ff_amazonmusic_greenhornet_web","audioQualities":[],"contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Wild
        Nothing","__typename":"Artist","id":"B002ZXIYRG","uri":"mrn:1.0:catalog:artist:asin:B002ZXIYRG?territory=GB","url":"https://music.amazon.co.uk/artists/B002ZXIYRG?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"},{"role":"PRIMARY","node":{"name":"Audiotree","__typename":"Artist","id":"B0BLTBJXRT","uri":"mrn:1.0:catalog:artist:asin:B0BLTBJXRT?territory=GB","url":"https://music.amazon.co.uk/artists/B0BLTBJXRT?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"}},"__typename":"SearchAlbumEdge"},{"metricId":null,"node":{"id":"B0H8G7V6HV","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B0H8G7V6HV?territory=GB","title":"Hold
        [Explicit]","images":[{"id":"81VFkhBUMWL","url":"https://m.media-amazon.com/images/I/81VFkhBUMWL.jpg","width":2560,"height":2560,"imageType":"PRIMARY","__typename":"Image"},{"id":"31KwcP1eTgL","url":"https://m.media-amazon.com/images/I/31KwcP1eTgL.jpg","width":500,"height":500,"imag[...]
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ArtistSeo","variables":{"id":"B002ZXIYRG"},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"15ac3f03bd4f65df9a36a6d91667362cd6459fdfd55a8b9734f36a0df57d9c04"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca28768e7fc19df1dfee95ebda7128
      X-Amzn-Requestid:
      - 86b7a5e0-b4c9-4704-96ab-e4bddcd44598
      Etag:
      - W/"41d-T+y4x0ZIUzWLyUMgx1Hx2Z2TyYo"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"id":"owv7cmmodx5vq73ta6giqaajta","__typename":"User","tier":"FREE"},"artist":{"__typename":"Artist","id":"B002ZXIYRG","name":"Wild
        Nothing","url":"https://music.amazon.co.uk/artists/B002ZXIYRG?ref=dm_ff_amazonmusic_greenhornet_web","images":[{"id":"912NemvsXHL:BACKGROUND","url":"https://m.media-amazon.com/images/I/912NemvsXHL.jpg","__typename":"Image"},{"id":"51IKq33fKuL:BACKGROUND","url":"https://m.media-amazon.com/images/I/51IKq33fKuL.jpg","__typename":"Image"},{"id":"81I4BxCg0FL:PROFILE","url":"https://m.media-amazon.com/images/I/81I4BxCg0FL.jpg","__typename":"Image"}],"topSongs":{"edges":[{"node":{"__typename":"Track","id":"B00DUKAIQI","title":"Paradise","duration":331,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"},{"node":{"__typename":"Track","id":"B0H8FG4WV2","title":"Chinatown","duration":199,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"}],"__typename":"SearchTrackResults"}}},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:47 GMT
recorded_with: VCR 6.4.0
