---
http_interactions:
- request:
    method: post
    uri: https://eu.mesk.skill.music.a2z.com/api/showCatalogArtist
    body:
      encoding: UTF-8
      string: '{"id":"B002ZXIYRG","headers":"{\"x-amzn-authentication\":\"{\\\"interface\\\":\\\"ClientAuthenticationInterface.v1_0.ClientTokenElement\\\",\\\"accessToken\\\":\\\"Atza|IwEBIIQd1ug2SOj_RQotgALoBSDScJuKIBKiCCEKJRv-OZJVTIc0AddPd7U7H7MM55xARpmkFBWyE91VPL9YXxNSXR0FeaeSqEu10ulIb3PuP9pIb3jJNGjYo437NY6nGaePiRftL55IyP014lrm3NcxsDPfasAtM31kzTpQ8Z-HN8enuJChGt3BCIbpYe_XJnK_hRHMwXXRCtY-Z606C2vLQQNniP-w5WEwutmtAhg14D02I3KHOryR5Sn0ajdJav3H41Pj0yL9xgw6ZXdh4yB-1XN8cy85zJjXmPtB-QJZtuK4cVS-qhnBlKL9nCaaXao4YW7lUFZOzTFpVM3zd4pbDJl1ON6eTHaLE3NbNlK1EK5GslLLNDs8DTRk10Oukp5GOaaR8xhpP8-fES7nEa4sIlRn\\\"}\",\"x-amzn-device-model\":\"WEBPLAYER\",\"x-amzn-device-width\":\"1920\",\"x-amzn-device-family\":\"WebPlayer\",\"x-amzn-device-id\":\"25814726589747619\",\"x-amzn-user-agent\":\"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41
        Safari/537.36\",\"x-amzn-device-height\":\"1080\",\"x-amzn-request-id\":\"e2eb45b0-058f-48e3-ac21-d358c2574570\",\"x-amzn-device-language\":\"en_GB\",\"x-amzn-os-version\":\"1.0\",\"x-amzn-application-version\":\"1.0.15759.0\",\"x-amzn-timestamp\":\"1739135568000\",\"x-amzn-page-url\":\"https://music.amazon.com\",\"x-amzn-video-player-token\":\"{}\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Apigw-Requestid:
      - FvEMqh59joEEJhw=
    body:
      encoding: ASCII-8BIT
      string: '{"methods":[{"interface":"TemplateListInterface.v1_0.BindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.DetailTemplateInterface.DetailTemplate","headerText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Wild
        Nothing","disabled":false},"widgets":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.DescriptiveShovelerWidgetElement","items":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.SquareHorizontalItemElement","primaryText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"To
        Know You","disabled":false},"image":"https://m.media-amazon.com/images/I/51z0kTLEjDL._SX472_SY472_BL0_QL100_.jpg","imageAltText":"To
        Know You","actionIconName":"play","iconButton":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"","disabled":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"PLAYBACK_STATE","storageKey":"B018V4RJ3W","states":{"LOADING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"loader","disabled":false,"onItemSelected":[]},"PAUSED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"resume","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%223%7CT%7C6%7C1%7C0%7CB002ZXIYRG%7C2%7C7RYM7JXN5PQ9M8TH3500%7C0%7C28%7C0%7CB09F6DKJ89%7C-1%7Cnull%7Cnull%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.ResumeMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]},"STOPPED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"play","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_CATALOG_TRACKS%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%223%7CT%7C6%7C1%7C0%7CB002ZXIYRG%7C2%7C7RYM7JXN5PQ9M8TH3500%7C0%7C28%7C0%7CB09F6DKJ89%7C-1%7Cnull%7Cnull%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playCatalogTracks?id=uri%3A%2F%2Fartist%2FB002ZXIYRG%2Fall-access-tracks&at=B018V4RJ3W&albumId=B018V4S8C8&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"PLAYING":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.IconButtonElement","icon":"pause","disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PAUSE_SONG%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%223%7CT%7C6%7C1%7C0%7CB002ZXIYRG%7C2%7C7RYM7JXN5PQ9M8TH3500%7C0%7C28%7C0%7CB09F6DKJ89%7C-1%7Cnull%7Cnull%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"PlaybackInterface.v1_0.PauseMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]}},"defaultState":"STOPPED"}},"primaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"https://musicapp.amazon.com/playlists/B09F6DKJ89?trackAsin=B018V4RJ3W&do=play","forceUnderline":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_CATALOG_TRACKS%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%223%7CT%7C6%7C1%7C0%7CB002ZXIYRG%7C2%7C7RYM7JXN5PQ9M8TH3500%7C0%7C28%7C0%7CB09F6DKJ89%7C-1%7Cnull%7Cnull%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"InteractionInterface.v1_0.InvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/playCatalogTracks?id=uri%3A%2F%2Fartist%2FB002ZXIYRG%2Fall-access-tracks&at=B018V4RJ3W&albumId=B018V4S8C8&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"ST_HTTP"},"forced":true}]},"secondaryText":"Best
        of Chillwave","secondaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"https://musicapp.amazon.com/playlists/B09F6DKJ89?trackAsin=B018V4RJ3W&do=play","forceUnderline":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ARTIST%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%2[...]
