---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ChronologicalAlbumsPage","variables":{"id":"wejlhg239gh23","firstLimit":20,"isAuthenticated":true,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"e9cf1f3f0b3d57e40a8591e3787f0d820d58ce6968a5cf800aa3dc3f9bdb2bb4"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca287764eee25dba49c4f0fee30a40
      X-Amzn-Requestid:
      - 4ffa4f10-b115-4232-babc-38c23200d959
      Etag:
      - W/"28-PCSwtlPNkVGfaeRGAsYh4HegYrU"
    body:
      encoding: UTF-8
      string: '{"data":{"artist":null},"extensions":{}}'
  recorded_at: Sat, 10 Oct 2026 11:58:48 GMT
recorded_with: VCR 6.4.0
