---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1&method=tag.getTopTracks&page=1&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"The One That Got Away","duration":"227","mbid":"000be30f-c69b-3cb2-9efc-0922d8894034","url":"https://www.last.fm/music/Katy+Perry/_/The+One+That+Got+Away","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Katy
        Perry","mbid":"122d63fc-8671-43e4-9752-34e846d62a9c","url":"https://www.last.fm/music/Katy+Perry"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}}],"@attr":{"tag":"pop","page":"1","perPage":"1","totalPages":"2824","total":"2824"}}}'
  recorded_at: Sat, 18 Apr 2026 14:29:50 GMT
recorded_with: VCR 6.4.0
