---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/charts?f=tag:Wild%20Nothing&nr=2500&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '852'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"track":[{"artist":"Wild Nothing","listeners":"610003","name":"My
        Angel Lonely","scrobbles":"20513432","weight":120,"artist_url":"https://www.last.fm/music/Wild+Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/My+Angel+Lonely","playlink":{"class":"chartlist-play-button
        js-playlink","title":"Play track","target":"_blank","href":"https://www.youtube.com/watch?v=ee29L0xoXEo","data-affiliate":"youtube","data-affiliate-id":"ee29L0xoXEo","data-youtube-id":"ee29L0xoXEo","data-youtube-url":"https://www.youtube.com/watch?v=ee29L0xoXEo","data-track-name":"My
        Angel Lonely","data-track-url":"https://www.last.fm/music/Wild+Nothing/_/My+Angel+Lonely","data-artist-name":"Wild
        Nothing","data-artist-url":"https://www.last.fm/music/Wild+Nothing"},"image":"https://lastfm.freetls.fastly.net/i/u/174s/85382d1d98294ee85c063271310c048d.png"}]}}'
  recorded_at: Tue, 14 Jun 2022 13:34:50 GMT
recorded_with: VCR 6.1.0
