---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_KEY>&maxResults=20&pageToken&part=snippet&q=wejlhg239gh23&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "omgoYdzYAooD3P33GMfjX3e_uLA",
          "regionCode": "BY",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Tue, 13 Oct 2020 19:23:02 GMT
recorded_with: VCR 6.0.0
