---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/992584?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 992584, "main_release": 566142, "most_recent_release": 8442767,
        "resource_url": "https://api.discogs.com/masters/992584", "uri": "https://www.discogs.com/Various-I-Love-Disco-Diamonds-Collection-Vol-11/master/992584",
        "versions_url": "https://api.discogs.com/masters/992584/versions", "main_release_url":
        "https://api.discogs.com/releases/566142", "most_recent_release_url": "https://api.discogs.com/releases/8442767",
        "num_for_sale": 8, "lowest_price": 10.85, "images": [{"type": "primary", "uri":
        "https://img.discogs.com/7oQ98DyV5AI1zdezTaj-GE37wd4=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-566142-1157482991.jpeg.jpg",
        "resource_url": "https://img.discogs.com/7oQ98DyV5AI1zdezTaj-GE37wd4=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-566142-1157482991.jpeg.jpg",
        "uri150": "https://img.discogs.com/idPVYVhPQTVB4-CuHX9unaBYEeE=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-566142-1157482991.jpeg.jpg",
        "width": 600, "height": 600}, {"type": "secondary", "uri": "https://img.discogs.com/v3OWdZz4p9pgodujSQr0w-i0oNo=/fit-in/600x604/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-566142-1157483073.jpeg.jpg",
        "resource_url": "https://img.discogs.com/v3OWdZz4p9pgodujSQr0w-i0oNo=/fit-in/600x604/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-566142-1157483073.jpeg.jpg",
        "uri150": "https://img.discogs.com/SD1xzIlvuSCsKnpsaP8EckRL1EU=/fit-in/150x150/filters:str[...]
