---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_ARTISTS>&fields=queries(request(totalResults)),items(pagemap(metatags(og:site_name,og:url,og:title),cse_image))&key=<GOOGLE_API_KEY>&q=wild%20nothing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "5"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:title": "Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://f4.bcbits.com/img/0018455240_23.jpg"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Captured Tracks",
                    "og:title": "Captured Tracks",
                    "og:url": "https://capturedtracks.bandcamp.com"
                  }
                ],
                "cse_image": [
                  {
                    "src": "h[...]
