---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?language=en&page=0&text=wejlhg239gh23&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-vla-40.vla.yp-c.yandex.net","req-id":"1636181975304038-6577541675281916750","exec-duration-millis":"50"},"result":{"type":"track","page":0,"perPage":20,"text":"wejlhg239gh23","searchRequestId":"music-stable-back-vla-40.vla.yp-c.yandex.net-1636181975304038-6577541675281916750-1636181975313"}}'
  recorded_at: Sat, 06 Nov 2021 06:59:35 GMT
recorded_with: VCR 6.0.0
