---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_KEY>&maxResults=10&pageToken&part=snippet&q=wejlhg239gh23&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "VHH_1ADaCsJtW-B5VEv__zvzafY",
          "regionCode": "BY",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 10
          },
          "items": []
        }
  recorded_at: Sun, 20 Dec 2020 18:11:04 GMT
recorded_with: VCR 6.0.0
