---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getArtistById?access_token=<VK_ACCESS_TOKEN>&artist_id=1812072207025459236&sig=62b29c31f7875438daf5b5422270bd18&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661410
      X-Trace-Id:
      - jFQFiYOUW6mT-EPRTeSZaDx9vpFSKA
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"name":"Sparks","domain":"sparks_mtyymjm0odq5mw","id":"1812072207025459236","is_followed":false,"can_follow":true,"genres":[{"id":53,"name":"Electronic"},{"id":19,"name":"Techno"},{"id":1,"name":"Pop"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:09:16 GMT
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getAlbumsByArtist?access_token=<VK_ACCESS_TOKEN>&artist_id=1812072207025459236&count=5&offset=5&sig=729f7b031a028c35b12546c94445021d&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661806
      X-Trace-Id:
      - Y_0zaoJZFiYwvqOEA72O1Jv_YXRXQw
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":48,"items":[{"id":11893881,"owner_id":-2000893881,"type":1,"title":"The
        Race For President","description":"","count":1,"followers":5,"plays":214,"create_time":1623473970,"update_time":1623473983,"genres":[{"id":21,"name":"Alternative"}],"is_following":false,"year":2021,"photo":{"width":300,"height":300,"id":"457239027","photo_34":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=34x34&quality=96&sign=aef3602f72655a8372548dcbde204091&c_uniq_tag=sloMt0FGfU-TbkSDV3W_LuSgF-AvNvJHW9IV91GdEdE&type=audio","photo_68":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=68x68&quality=96&sign=cafd0d57627d1a1785f50c6273d2233f&c_uniq_tag=KRhaeYTqs8TcwhXvMQVVPId1ZompwrqwnhmWfkyNfOU&type=audio","photo_135":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=135x135&quality=96&sign=5195b509939fb603d9baa0b249d3ecf8&c_uniq_tag=3XYcHh5HDlIvquhAWA6K9nFMNx2Zy7l_oFG0TyIHEk4&type=audio","photo_270":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=270x270&quality=96&sign=6950fa55d10e885b1a8f9c1de604daa2&c_uniq_tag=enbAIOAZ1hCeqRzlCdkOyJGYY0GtFOEAa5341kjgX8g&type=audio","photo_300":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=300x300&quality=96&sign=f863e8e51f46e723400b21428f103b8c&c_uniq_tag=RAG-kK0r70bFbNJGmoyFyLul7Pr7Q8dYL3LcraDkTjU&type=audio","photo_600":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=600x600&quality=96&sign=65a12248fbbf4823ffefd98a59549b08&c_uniq_tag=g376chHUUohOh1PrjTf6NZkp15JONRkgUO3pvlcwy9A&type=audio","photo_1200":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=1184x1184&quality=96&sign=aeac5bc5d816c0d5302e4aadbc728d3b&c_uniq_tag=MKYhUl8wgttudB8HGJBQK0lpFGDreadqE8o5Hxzs8BE&type=audio"},"permissions":{"play":true,"share":true,"edit":false,"follow":true,"delete":false,"boom_download":true},"subtitle_badge":false,"play_button":false,"access_key":"920c88e715dc2b73ef","is_explicit":false,"main_artists":[{"name":"Sparks","domain":"1812072207025459236","id":"1812072207025459236","is_followed":false,"can_follow":false}],"album_type":"main_only","main_color":"#E086B9"},{"id":11893848,"owner_id":-2000893848,"type":1,"title":"Sparks
        Documentary Film Fanfare","description":"","count":1,"followers":3,"plays":124,"create_time":1623473814,"update_time":1623473834,"genres":[{"id":21,"name":"Alternative"}],"is_following":false,"year":2021,"photo":{"width":300,"height":300,"id":"457239026","photo_34":"https:\/\/sun1-84.vkuserphoto.ru\/impg\/eWorLxeQv-g9K0CLHEXuGTk6niSw6GmnUy_sPQ\/mtZvbbCckEs.jpg?size=34x34&quality=96&sign=aef3602f72655a8372548dcbde20[...]
