---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getAlbumsByArtist?access_token=<VK_ACCESS_TOKEN>&artist_id=wejlhg239gh23&count=20&offset=0&sig=7d9cbf002e84d06e70e47eea0ace3657&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Sun, 26 Sep 2021 11:16:58 GMT
recorded_with: VCR 6.0.0
