---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=138779021_456239923&sig=8b1870b95ac8e1a55fe6d22871c49e89&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661010
      X-Trace-Id:
      - IEUmBhv3fA7LtG0xt5ShJlSBjQGFww
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"artist":"Kate Bush","id":456239923,"owner_id":138779021,"title":"Hounds
        of Love: Running Up That Hill (A Deal with God)","duration":299,"access_key":"19a927076a08a29d18","ads":{"content_id":"138779021_456239923","duration":"299","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"track_code":"11aaf445TxTH5ZHgBzya0x8h5YYnRaEKtLZGM-a9qPXn1YkFyLEmnhAWtTKkljfSHyE","url":"https:\/\/cs9-9v4.vkuseraudio.ru\/s\/v1\/acmp\/YaZKef9CXzwgq5EtjhvDCY7mpohNfijba9fdfxEyrk7hZLwt_AKRpaDdTIaX2h6UCI2YvzI-f1zcEE3sS73MWJ2M9dO5xc7iKRBlhihWAXKT-Bjii5bBWwMa2WTwgmvM8h7iXuWUmrJlFSMqmWToFetuHvz4xY8X7M2K50Zigi9KIFF4lg.mp3?siren=1","date":1510220152,"genre_id":18}]}'
  recorded_at: Mon, 22 Sep 2025 21:08:25 GMT
recorded_with: VCR 6.3.1
