---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIXMATCH_API_KEY>&page=1&page_size=20&q=wild%20nothing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.036258935928345'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.036258935928345,"available":10},"body":{"artist_list":[{"artist":{"artist_id":542702,"artist_name":"Wild
        Nothing","artist_name_translation_list":[],"artist_comment":"","artist_country":"US","artist_alias_list":[{"artist_alias":"\u30ef\u30a4\u30eb\u30c9\u30ca\u30c3\u30b7\u30f3\u30b0"}],"artist_rating":39,"artist_twitter_url":"https:\/\/twitter.com\/WildNothing","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2016-10-03T07:40:27Z","begin_date_year":"","begin_date":"0000-00-00","end_date_year":"","end_date":"0000-00-00"}},{"artist":{"artist_id":14360754,"artist_name":"Beach
        Fossils feat. Wild Nothing","artist_name_translation_list":[],"artist_comment":"","artist_country":"","artist_alias_list":[],"artist_rating":10,"artist_twitter_url":"","artist_credits":{"artist_list":[{"artist":{"artist_id":479918,"artist_name":"Beach
        Fossils","artist_name_translation_list":[],"artist_comment":"","artist_country":"US","artist_alias_list":[{"artist_alias":"\u30d3\u30fc\u30c1
        \u30d5\u30a9\u[...]
