---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIXMATCH_API_KEY>&page=1&page_size=20&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.010928869247437'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.010928869247437,"available":0},"body":{"artist_list":[]}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:17 GMT
recorded_with: VCR 6.2.0
