---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/85929?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"name": "Kate Bush", "id": 85929, "resource_url": "https://api.discogs.com/artists/85929",
        "uri": "https://www.discogs.com/artist/85929-Kate-Bush", "releases_url": "https://api.discogs.com/artists/85929/releases",
        "images": [{"type": "primary", "uri": "https://img.discogs.com/VFxhrfX4BK2TztjZ0Uae0uaLvJY=/600x600/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1167437440.jpeg.jpg",
        "resource_url": "https://img.discogs.com/VFxhrfX4BK2TztjZ0Uae0uaLvJY=/600x600/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1167437440.jpeg.jpg",
        "uri150": "https://img.discogs.com/wp9-gdyqMwsNup_8_wflTTyQsKU=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-85929-1167437440.jpeg.jpg",
        "width": 600, "height": 600}, {"type": "secondary", "uri": "https://img.discogs.com/zIYwtu3Q96E8k9dIxc9iFPvjStI=/600x784/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1514452799-9029.jpeg.jpg",
        "resource_url": "https://img.discogs.com/zIYwtu3Q96E8k9dIxc9iFPvjStI=/600x784/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-85929-1514452799-9029.jpeg.jpg",
        "uri150": "https://img.discogs.com/hPfLo4Dg7Hnvf6cDD8vsbIDkxeE=/150x150/smart/filter[...]
