---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3jPx5nmC1q0j39biB2ZdDi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCnbZCXvil0iKGVflnrHtHjS-m6jX8_-BgHKvCHHhu8N9ffViOH6wo3JY9i_VurYVJFOH31T8Y7mD_gNYN3wyDexapKEcbASSiSxOv6jvQdFWA3ZOEyjtrmdhqKCgnVXDWvpha95feG6maV0pdpmVCafeLbaHjmkWDctaNmiLld3JoV2wuZOUNfM6uyEQIQdogxpFx9N_M_7x4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-Ijk4MDJiZmRhYjc0ZDExOGY2ZjBlNTRiNmY1Mzc3ZTRmIg=="'
    body:
      encoding: ASCII-8BIT
      string: '{"collaborative":false,"description":"test desc","external_urls":{"spotify":"https://open.spotify.com/playlist/3jPx5nmC1q0j39biB2ZdDi"},"followers":{"href":null,"total":0},"href":"https://api.spotify.com/v1/playlists/3jPx5nmC1q0j39biB2ZdDi","id":"3jPx5nmC1q0j39biB2ZdDi","images":[{"height":640,"url":"https://mosaic.scdn.co/640/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":640},{"height":300,"url":"https://mosaic.scdn.co/300/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":300},{"height":60,"url":"https://mosaic.scdn.co/60/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":60}],"name":"john
        maus","owner":{"display_name":"staniel","external_urls":{"spotify":"https://open.spotify.com/user/varkxpososm9sp59ojzpoc7rj"},"href":"https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj","id":"varkxpososm9sp59ojzpoc7rj","type":"user","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj"},"primary_color":null,"public":true,"snapshot_id":"NjMsMmRlODY1ZWJiNDdlNmIzZTYyOTE0OWI3MDA5ZWMzZGZiODQxNzFkMw==","tracks":{"href":"https://api.spotify.com/v1/playlists/3jPx5nmC1q0j39biB2ZdDi/tracks?offset=0&limit=100","items":[{"added_at":"2023-08-02T14:15:43Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/varkxpososm9sp59ojzpoc7rj"},"href":"https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj","id":"varkxpososm9sp59ojzpoc7rj","type":"user","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj"},"is_local":false,"primary_color":null,"track":{"preview_url":"https://p.scdn.co/mp3-preview/6149c4b9991ef894dab640dd9596d970405ae1f5?cid=0e4af9dbf805497cbd6f169e18f2f363","available_markets":["AR","AU","AT","BE","BO","BR","BG","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":["AR","AU","AT","BE","BO","BR","BG","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"type":"album","album_type":"album","href":"https://api.spotify.com/v1/albums/2vVA27QZ0iEJlIvrAxiFqq","id":"2vVA27QZ0iEJlIvrAxiFqq","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273d77d079731232d104567b854","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02d77d079731232d104567b854","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851d77d079731232d104567b854","width":64,"height":64}],"name":"We
        Must Become the Pitiless Censors of Ourselves","release_date":"2011-06-28","release_date_precision":"day","uri":"spotify:album:2vVA27QZ0iEJlIvrAxiFqq","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4R073T3AVJKqAsbzLmLW9u"},"href":"https://api.spotify.com/v1/artists/4R073T3AVJKqAsbzLmLW9u","id":"4R073T3AVJKqAsbzLmLW9u","name":"John
        Maus","type":"artist","uri":"spotify:artist:4R073T3AVJKqAsbzLmLW9u"}],"external_urls":{"spotify":"https://open.spotify.com/album/2vVA27QZ0iEJlIvrAxiFqq"},"total_tracks":11},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4R073T3AVJKqAsbzLmLW9u"},"href":"https://api.spotify.com/v1/artists/4R073T3AVJKqAsbzLmLW9u","id":"4R073T3AVJKqAsbzLmLW9u","name":"John
        Maus","type":"artist","uri":"spotify:artist:4R073T3AVJKqAsbzLmLW9u"}],"disc_number":1,"track_number":4,"duration_ms":248706,"external_ids":{"isrc":"GBVCE1149004"},"external_urls":{"spotify":"https://open.spotify.com/track/2NJGAT43AvS7BQvn2017yS"},"href":"https://api.spotify.com/v1/tracks/2NJGAT43AvS7BQvn2017yS","id":"2NJGAT43AvS7BQvn2017yS","name":"Hey
        Moon","popularity":47,"uri":"spotify:track:2NJGAT43AvS7BQvn2017yS","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2023-08-02T14:15:45Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/varkxpososm9sp59ojzpoc7rj"},"href":"https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj","id":"varkxpososm9sp59ojzpoc7rj","type":"user","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj"},"is_local":false,"primary_color":null,"track":{"preview_url":"https://p.scdn.co/mp3-preview/6149c4b9991ef894dab640dd9596d970405ae1f5?cid=0e4af9dbf805497cbd6f169e18f2f363","available_markets"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3jPx5nmC1q0j39biB2ZdDi/tracks?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCnbZCXvil0iKGVflnrHtHjS-m6jX8_-BgHKvCHHhu8N9ffViOH6wo3JY9i_VurYVJFOH31T8Y7mD_gNYN3wyDexapKEcbASSiSxOv6jvQdFWA3ZOEyjtrmdhqKCgnVXDWvpha95feG6maV0pdpmVCafeLbaHjmkWDctaNmiLld3JoV2wuZOUNfM6uyEQIQdogxpFx9N_M_7x4
  response:
    status:
      code: 200
      message: OK
    headers[...]
