---
http_interactions:
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"uri":"spotify:playlist:3jPx5nmC1q0j39biB2ZdDi","offset":0,"limit":0,"enableWatchFeedEntrypoint":true},"operationName":"fetchPlaylist","extensions":{"persistedQuery":{"version":1,"sha256Hash":"346811f856fb0b7e4f6c59f8ebea78dd081c6e2fb01b77c954b26259d5fc6763"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"playlistV2":{"__typename":"Playlist","content":{"__typename":"PlaylistItemsPage","items":[],"pagingInfo":{"limit":0,"offset":0},"totalCount":60},"abuseReportingEnabled":true,"attributes":[],"basePermission":"VIEWER","currentUserCapabilities":{"canAbuseReport":true,"canAdministratePermissions":false,"canCancelMembership":false,"canEditItems":false,"canView":true},"description":"test
        desc","followers":0,"following":false,"format":"","images":{"items":[{"sources":[{"height":640,"url":"https://mosaic.scdn.co/640/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":640},{"height":300,"url":"https://mosaic.scdn.co/300/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":300},{"height":60,"url":"https://mosaic.scdn.co/60/ab67616d00001e02102301d657a1d8a70398bd07ab67616d00001e0254edb04b51f748d85ecae80cab67616d00001e02a2b5af06285eee08b54c19c7ab67616d00001e02d77d079731232d104567b854","width":60}]}]},"members":{"items":[{"isOwner":true,"permissionLevel":"CONTRIBUTOR","user":{"data":{"__typename":"User","avatar":{"sources":[{"height":64,"url":"https://i.scdn.co/image/ab67757000003b82faab16b92aabff3f819a446a","width":64},{"height":300,"url":"https://i.scdn.co/image/ab6775700000ee85faab16b92aabff3f819a446a","width":300}]},"name":"staniel","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj","username":"varkxpososm9sp59ojzpoc7rj"}}}],"totalCount":1},"name":"john
        maus","ownerV2":{"data":{"__typename":"User","avatar":{"sources":[{"height":64,"url":"https://i.scdn.co/image/ab67757000003b82faab16b92aabff3f819a446a","width":64},{"height":300,"url":"https://i.scdn.co/image/ab6775700000ee85faab16b92aabff3f819a446a","width":300}]},"name":"staniel","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj","username":"varkxpososm9sp59ojzpoc7rj"}},"revisionId":"AAAAPy3oZeu0fms+YpFJtwCew9+4QXHT","sharingInfo":{"shareId":"6I_e-xy_Shub7x-eqpuNGg","shareUrl":"https://open.spotify.com/playlist/3jPx5nmC1q0j39biB2ZdDi?si=6I_e-xy_Shub7x-eqpuNGg"},"uri":"spotify:playlist:3jPx5nmC1q0j39biB2ZdDi","visualIdentity":{"squareCoverImage":{"__typename":"VisualIdentityImage","extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":154,"green":162,"red":255},"highContrast":{"backgroundBase":{"alpha":255,"blue":10,"green":0,"red":159},"backgroundTintedBase":{"alpha":255,"blue":0,"green":0,"red":97},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":182,"green":189,"red":255}},"higherContrast":{"backgroundBase":{"alpha":255,"blue":0,"green":0,"red":101},"backgroundTintedBase":{"alpha":255,"blue":41,"green":52,"red":147},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":96,"green":215,"red":30},"textSubdued":{"alpha":255,"blue":182,"green":189,"red":255}},"minContrast":{"backgroundBase":{"alpha":255,"blue":40,"green":16,"red":216},"backgroundTintedBase":{"alpha":255,"blue":11,"green":0,"red":164},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":255,"red":255}}}}},"watchFeedEntrypoint":null}}}'
  recorded_at: Sat, 14 Mar 2026 21:55:59 GMT
[...]
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"uri":"spotify:playlist:3jPx5nmC1q0j39biB2ZdDi","offset":0,"limit":50},"operationName":"fetchPlaylistContents","extensions":{"persistedQuery":{"version":1,"sha256Hash":"346811f856fb0b7e4f6c59f8ebea78dd081c6e2fb01b77c954b26259d5fc6763"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"playlistV2":{"__typename":"Playlist","content":{"__typename":"PlaylistItemsPage","items":[{"addedAt":{"isoString":"2023-08-02T14:15:43.904Z"},"addedBy":{"data":{"__typename":"User","avatar":{"sources":[{"height":64,"url":"https://i.scdn.co/image/ab67757000003b82faab16b92aabff3f819a446a","width":64},{"height":300,"url":"https://i.scdn.co/image/ab6775700000ee85faab16b92aabff3f819a446a","width":300}]},"name":"staniel","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj","username":"varkxpososm9sp59ojzpoc7rj"}},"attributes":[],"itemV2":{"__typename":"TrackResponseWrapper","data":{"__typename":"Track","albumOfTrack":{"artists":{"items":[{"profile":{"name":"John
        Maus"},"uri":"spotify:artist:4R073T3AVJKqAsbzLmLW9u"}]},"coverArt":{"sources":[{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02d77d079731232d104567b854","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851d77d079731232d104567b854","width":64},{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273d77d079731232d104567b854","width":640}]},"name":"We
        Must Become the Pitiless Censors of Ourselves","uri":"spotify:album:2vVA27QZ0iEJlIvrAxiFqq"},"artists":{"items":[{"profile":{"name":"John
        Maus"},"uri":"spotify:artist:4R073T3AVJKqAsbzLmLW9u"}]},"associationsV3":{"audioAssociations":{"__typename":"TrackAudioAssociationPage","items":[]},"videoAssociations":{"totalCount":0}},"contentRating":{"label":"NONE"},"discNumber":1,"trackDuration":{"totalMilliseconds":248706},"mediaType":"AUDIO","name":"Hey
        Moon","playability":{"playable":true,"reason":"PLAYABLE"},"playcount":"38555813","trackNumber":4,"uri":"spotify:track:2NJGAT43AvS7BQvn2017yS"}},"itemV3":{"__typename":"EntityResponseWrapper","data":{"__typename":"Entity","consumptionExperienceTrait":{"__typename":"ConsumptionExperienceTrait","contentRatings":[],"duration":{"nanoSeconds":0,"seconds":248}},"identityTrait":{"__typename":"IdentityTrait","contentHierarchyParent":{"__typename":"Entity","identityTrait":{"__typename":"IdentityTrait","name":"We
        Must Become the Pitiless Censors of Ourselves"},"publishingMetadataTrait":{"__typename":"PublishingMetadataTrait","firstPublishedAt":{"isoString":"2011-06-28","precision":"DAY"}},"uri":"spotify:album:2vVA27QZ0iEJlIvrAxiFqq"},"contributors":{"items":[{"name":"John
        Maus","uri":"spotify:artist:4R073T3AVJKqAsbzLmLW9u"}],"totalCount":1},"description":"","name":"Hey
        Moon","type":"Song"},"playability":{"playable":true,"reason":"PLAYABLE"},"uri":"spotify:track:2NJGAT43AvS7BQvn2017yS","visualIdentityTrait":{"__typename":"VisualIdentityTrait","sixteenByNineCoverImage":null,"squareCoverImage":{"extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":217,"green":187,"red":176},"highContrast":{"backgroundBase":{"alpha":255,"blue":72,"green":48,"red":40},"backgroundTintedBase":{"alpha":255,"blue":109,"green":82,"red":73},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":236,"green":205,"red":194}},"higherContrast":{"backgroundBase":{"alpha":255,"blue":72,"green":48,"red":40},"backgroundTintedBase":{"alpha":255,"blue":109,"green":82,"red":73},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":96,"green":215,"red":30},"textSubdued":{"alpha":255,"blue":236,"green":205,"red":194}},"minContrast":{"backgroundBase":{"alpha":255,"blue":72,"green":48,"red":40},"backgroundTintedBase":{"alpha":255,"blue":109,"green":82,"red":73},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":255,"red":255}}},"image":{"data":{"__typename":"ImageV2","sources":[{"imageFormat":"JPEG","maxHeight":300,"maxWidth":300,"url":"https://image-cdn-fa.spotifycdn.com/image/ab67616d00001e02d77d079731232d104567b854"},{"imageFormat":"JPEG","maxHeight":64,"maxWidth":64,"url":"https://image-cdn-fa.spotifycdn.com/image/ab67616d00004851d77d079731232d104567b854"},{"imageFormat":"JPEG","maxHeight":640,"maxWidth":640,"url":"https://image-cdn-fa.spotifycdn.com/image/ab67616d0000b273d77d079731232d104567b854"}]}}}}}},"uid":"66ba070227806954"},{"addedAt":{"isoString":"2023-08-02T14:15:45.170Z"},"addedBy":{"data":{"__typename":"User","avatar":{"sources":[{"height":64,"url":"https://i.scdn.co/image/ab67757000003b82faab16b92aabff3f819a446a","width":64},{"height":300,"url":"https://i.scdn.co/image/ab6775700000ee85faab16b92aabff3f819a446a","width":300}]},"name":"staniel","uri":"spotify:user:varkxpososm9sp59ojzpoc7rj","username":"varkxpososm9sp59ojzpoc7rj"}},"attributes":[],"itemV2":{"__typename":"TrackResponseWrapper","[...]
[...]
