---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wejlhg239gh23&autocorrect=0&format=json&limit=250&method=artist.getSimilar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"The artist you supplied could not be found","links":[]}'
  recorded_at: Sat, 08 Jan 2022 14:05:25 GMT
recorded_with: VCR 6.0.0
