---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=label
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '59'
      X-Discogs-Ratelimit-Used:
      - '1'
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=4&per_page=5>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 4, "per_page": 5, "items": 19,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=1&per_page=5",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=4&per_page=5",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=1&per_page=5",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=label&page=3&per_page=5"}},
        "results": [{"id": 735999, "type": "label", "master_id": null, "master_url":
        null, "uri": "/label/735999-Kate-Bush-Paper-Sleeve-Collection", "title": "Kate
        Bush Paper Sleeve Collection", "thumb": "https://img.discogs.com/5G_nJ-AE9CsYb555GzetKZXeWh0=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/L-735999-1410293356-6598.jpeg.jpg",
        "cover_image": "https://img.discogs.com/wQjfdi_0QwxqavX1Ydow6G8kdPw=/fit-in/600x626/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/L-735999-1410293356-6598.jpeg.jpg",
        "resource_url": "https://api.discogs.com/labels/735999"}, {"id": 389241, "type":
        "label", "master_id": null, "master_url": null, "uri": "/label/389241-Kate-Bush-Music-Inc",
        "title": "Kate Bush Music, Inc.", "thumb": "", "cover_image": "https://img.discogs.com/44ee095fadda529481bcc7ef36c882a13a60df73/images/spacer.gif",
        "resource_url": "https://api.discogs.com/labels/389241"}, {"id": 1718396,
        "type": "label", "master_id": null, "master_url": null, "uri": "/label/1718396-Kate-Bush[...]
