---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&query=wejlhg239gh23&secret=<DISCOGS_API_SECRET>&type=label
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 50, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Thu, 17 Dec 2020 15:56:35 GMT
recorded_with: VCR 6.0.0
