---
http_interactions:
- request:
    method: post
    uri: https://api.soundcloud.com/oauth2/token?client_id=bbbf2c698cb8351905814f00bcf58118
    body:
      encoding: UTF-8
      string: client_id=bbbf2c698cb8351905814f00bcf58118&client_secret=1174ac08925b31d99b718d0b35c73dba&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"2-245983--0cUlaGFLpWIh0UhyLedXQgH","expires_in":3599,"refresh_token":"QxSioboWt7msf5yEysi3nV5u8bdzRFwd","scope":"","token_type":"bearer"}'
  recorded_at: Mon, 25 Dec 2023 14:21:18 GMT
recorded_with: VCR 6.2.0
