---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '879'
      X-Ratelimit-Reset:
      - '1683015673'
      Etag:
      - W/"7060d1d64ce5afdb3e965a523bcea16f"
    body:
      encoding: ASCII-8BIT
      string: '{"releases":[{"barcode":"","country":"FR","artist-credit":[{"name":"Kate
        Bush","artist":{"type":"Person","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"name":"ambient pop","count":2},{"name":"art pop","count":5},{"count":5,"name":"art
        rock"},{"name":"baroque pop","count":1},{"name":"british","count":1},{"name":"crossover
        prog","count":1},{"name":"indie rock","count":1},{"count":1,"name":"new wave"},{"name":"pop","count":5},{"count":1,"name":"pop
        rock"},{"count":5,"name":"progressive pop"},{"name":"rock","count":3},{"name":"singer-songwriter","count":1}],"sort-name":"Bush,
        Kate","disambiguation":"","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396"},"joinphrase":""}],"packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","status-id":"518ffc83-5cde-34df-8627-81bff5093d92","disambiguation":"","tags":[],"release-events":[{"date":"1985-07-30","area":{"id":"08310658-51eb-3801-80de-5a0739207115","disambiguation":"","iso-3166-1-codes":["FR"],"sort-name":"France","type":null,"name":"France","type-id":null}}],"quality":"normal","id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","title":"Hounds
        of Love","packaging":"Cardboard/Paper Sleeve","text-representation":{"script":"Latn","language":"eng"},"date":"1985-07-30","status":"Promotion"},{"tags":[],"release-events":[{"area":{"type-id":null,"name":"United
        Kingdom","type":null,"sort-name":"United Kingdom","iso-3166-1-codes":["GB"],"id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","disambiguation":""},"date":"1985-08-05"}],"quality":"normal","disambiguation":"","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"disambiguation":"","sort-name":"Bush, Kate","type"[...]
