---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/bee184b6-493b-46bc-a3a1-31e434367c4a?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1089'
      X-Ratelimit-Reset:
      - '1683022724'
      Etag:
      - W/"52ed3cad77bd0ee796ba0172262b1111"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Official","quality":"normal","tags":[{"name":"art pop","count":1},{"name":"baroque
        pop","count":1},{"count":1,"name":"progressive pop"}],"text-representation":{"language":"eng","script":"Latn"},"packaging-id":"e724a489-a7e8-30a1-a17c-30dfd6831202","barcode":"","country":"CA","date":"1980-09","release-events":[{"date":"1980-09","area":{"sort-name":"Canada","type-id":null,"disambiguation":"","iso-3166-1-codes":["CA"],"type":null,"name":"Canada","id":"71bbafaa-e825-3e15-8ca9-017dcad1748b"}}],"disambiguation":"","packaging":"Gatefold
        Cover","asin":null,"cover-art-archive":{"count":5,"back":true,"artwork":true,"darkened":false,"front":true},"media":[{"format":"12\"
        Vinyl","track-offset":0,"tracks":[{"title":"Babooshka","id":"9d944fb3-3034-4de8-b3bf-20256a1e013c","position":1,"artist-credit":[{"name":"Kate
        Bush","joinphrase":"","artist":{"sort-name":"Bush, Kate","disambiguation":"","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush"}}],"length":197000,"recording":{"id":"21026567-8554-45f3-9644-ec251571f8c1","disambiguation":"","title":"Babooshka","tags":[{"name":"art
        pop","count":2},{"count":1,"name":"art rock"},{"count":1,"name":"baroque pop"},{"name":"piano
        rock","count":1},{"name":"pop","count":2},{"count":4,"name":"pop rock"},{"name":"progressive
        pop","count":2}],"artist-credit":[{"joinphrase":"","name":"Kate Bush","artist":{"type":"Person","name":"Kate
        Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush, Kate","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":""}}],"video":false,"length":208000,"first-release-date":"1980-06-27"},"number":"A1"},{"artist-credit":[{"artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","sort-name":"Bush,
        Kate","name":"Kate Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","type":"Person"},"name":"Kate
        Bush","joinphrase":""}],"title":"Delius","id":"8ac431ce-3392-41ab-b18c-cbcbcae6fb25","position":2,"length":169000,"recording":{"first-release-date":"1980-09-08","video":false,"length":171600,"tags":[{"count":2,"name":"art
        pop"},{"name":"art rock","count"[...]
