---
http_interactions:
- request:
    method: get
    uri: https://wmf.ok.ru/artists;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?count=5&imgfmt=base&q=kate%20bush&start=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "chunk" : {
            "start" : 5,
            "count" : 5,
            "more" : true
          },
          "bestMatch" : {
            "artist" : {
              "id" : 122885462885072,
              "name" : "Kim Kate",
              "image" : "https://i.mycdn.me/i?r=AEHmMRnK-YkKnVHYtPjhS9W7SL7OaFyi6sM_zX1LtdQz0xDbuVdV6qEJRQPVakMKz_IF_XhNpHyeyilauGQWjLbU",
              "playlistId" : 15038864547,
              "albumsCount" : 11
            },
            "tracks" : [ {
              "id" : 123037388198933,
              "ensemble" : "Kim Kate",
              "duration" : 223,
              "idForDownload" : 124218142151117,
              "copyrightOwnerId" : 67,
              "copyrightOwnerName" : "Merlin",
              "releaseId" : 70776011,
              "imageUrl" : "https://i.mycdn.me/i?r=AEHmMRnK-YkKnVHYtPjhS9W7SL7OaFyi6sM_zX1LtdQz054rtOe4JgM_2pYj-CQXrtQF_XhNpHyeyilauGQWjLbU",
              "masterArtistId" : 122885462885072,
              "albumId" : 122897958056739,
              "name" : "Hocus-Pocus (Instrumental)",
              "isDownloadAllowed" : true,
              "giftPrice" : 10,
              "ctx" : "artist:122885462885072|1",
              "editRestricted" : true,
              "allArtists" : [ {
                "id" : 122885462885072,
                "imageUrl" : "https://i.mycdn.me/i?r=AEHmMRnK-YkKnVHYtPjhS9W7SL7OaFyi6sM_zX1LtdQz0xDbuVdV6qEJRQPVakMKz_IF_XhNpHyeyilauGQWjLbU",
                "name" : "Kim Kate"
              } ]
            }, {
              "id" : 123037388129284,
              "ensemble" : "Kim Kate",
              "duration" : 234,
              "idForDownload" : 124218142147020,
              "copyrightOwnerId" : 67,
              "copyrightOwnerName" : "Merli[...]
