---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album&api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=1&format=json&limit=50&method=artist.getTopTags&page&track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"dream pop","url":"https://www.last.fm/tag/dream+pop"},{"count":76,"name":"shoegaze","url":"https://www.last.fm/tag/shoegaze"},{"count":56,"name":"indie
        pop","url":"https://www.last.fm/tag/indie+pop"},{"count":45,"name":"indie","url":"https://www.last.fm/tag/indie"},{"count":31,"name":"seen
        live","url":"https://www.last.fm/tag/seen+live"},{"count":21,"name":"tweegaze","url":"https://www.last.fm/tag/tweegaze"},{"count":8,"name":"Lo-Fi","url":"https://www.last.fm/tag/Lo-Fi"},{"count":8,"name":"ameri[...]
