---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ChronologicalAlbumsPage","variables":{"id":"B001E3EXN2","firstLimit":5,"isAuthenticated":true,"afterCursor":"tcs-V1_1nXxhT3ABfnfABEuldeN3hqGCK7FQFuopJRrCe3VzGWeeVuo12df33OEW7XJdGyhqrTunE8LPz2gg9av_gq0pjyEXKxayAwKeoGhCNjAVyvJiD6LmzuKbvLk02bDrTGtfXBLgrFJ3PKqTjrCrFjGgvMpNg23FXP5LJFlzypbBKsXTH7d5R5B-gwuWta3OZKV0YLm_ac2SWJmiNJtqkMOV23r865s9px0qS_Rz-XOpf1nJM0eI2aGV7XYwkIzVISKDu-uqkVItqIo9pE8yJ_G8u_-8-iBM6tE5O6U8BXaTjKLWSmhwLIHqce56MV5r9l77piK6elp250BLDgsW69ozJL4s7VTDMGi6ONd5WY7U6mSP98_azFgJvhEJHr4opFQtWvUcE83CvPxhWpfErGvtnQcO3ABSL6vAH_L4S7DptCbuAwsM4yQ8sWA3l0h4ttOpiUqY4NxzmwhGSxCdDuKYQBCssDnm-PshznXXuCBXrU2S0cFlp4SvTvQUu58JMDdtY8LzdAcikSZv4Ut0Z6dJ_wE_1ZHWuDW8ps6kTwAOnGf4O19NFOXIeIA7KlBMiowLmbFmXKmXVt5XthluIlBlBZ7cMAFePhB4x_Euk3kyiBXrweUyRayhAL1O2bkm2viljPcLnwK3PTG1YGJmUuPfKdK0XfZyAGznYI-QmRXdyMOeRerLDTOm1mNmFu0jHbOyvWv23izRJILPjA3Ny9VN-hv6iUiVMMSYqUgCm_6WJAWyQJ5e4VDwtxHzTnM1e_Bb7QyPkOlccllEEsRtU4gRdPorYxH1hNU0QZIojg_dS6QPSliN9F9LmHAoZoHGw9VlxeEtt4sbH5SEnOhoL-so2txaJSqzL1lJvtM7UQnvnecROlAQJLmWioskm7BFdoeUHqb4OUGS1GU4wc8IJlaacrvKU78xawmZVytOH9g1T-hftdTO-t5PRA3dlVp-MphGukpIUvcvM68yhX0nRhNIgjSmjAJKN39H_m--vRbhYia-SNO7Pmyh3lJbfYfUJ8WPfZEeIo672TSTOhC7OmtlpTpwr4jPaAmS8SRZW9jUDzH421GiQzKVjnIAMgLM47KNxjqILAXa-odSCGIHjHpQ8NkPEunQc8fyDoCcl0aZg6-HChiTDk7JSxr7as37WVjKeaDFAU_dBeVPRQ53S18FlPr2mVBJMpHlUErW2f7hQVaFaZflQw3kUkc6veVZGlT6dnIQ_Koe4QqN0OlkNX7Tzv1KRoG_YWnv-JQOjnpKKMAUrvlNGLT5tS5t0aglz3kcOz3nUkrF5vOYDQpCtcQn7tm9nopsqnu5o6iyelr1xv7nvNoigDyb5jfmBfm76q7_8MM18fx9Bt3qtMwP4MfX76tesmESy04JU81wBs32G1gFc4VBfGYq08kwZoxTXShHUQWF0XkfLlgptHrruTch_WN423Ls3Dm0TRWdIQfqHdvbCSW6Y9dD3EPypPlK_F2bP5Bc4tRl6c="},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"e9cf1f3f0b3d57e40a8591e3787f0d820d58ce6968a5cf800aa3dc3f9bdb2bb4"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac9779a70b348c6642a60930895b438
      X-Amzn-Requestid:
      - a150a56a-42da-4ec3-8c68-39f0a04d9544
      Etag:
      - W/"251f-bMkkDCbTB5akPQDQExOykHCHI7w"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"artist":{"id":"B001E3EXN2","releases":{"edges":[{"metricId":null,"node":{"id":"B0GQZKKJH5","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B0GQZKKJH5?territory=GB","title":"With
        His Hot And Blue Guitar (Remastered 2022)","images":[{"id":"71lYlAgU1rL","url":"https://m.media-amazon.com/images/I/71lYlAgU1rL.jpg","width":1448,"height":1448,"imageType":"PRIMARY","__typename":"Image"},{"id":"51utDLckIoL","url":"https://m.media-amazon.com/images/I/51utDLckIoL.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"}],"playParams":{"id":"mrn:1.0:catalog:album:asin:B0GQZKKJH5?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"shortTitle":"With
        His Hot And Blue Guitar","parentalSettings":{"hasExplicitLanguage":false,"__typename":"ParentalSettings"},"url":"https://music.amazon.co.uk/albums/B0GQZKKJH5?ref=dm_ff_amazonmusic_greenhornet_web","audioQualities":[],"contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Johnny
        Cash","__typename":"Artist","id":"B001E3EXN2","uri":"mrn:1.0:catalog:artist:asin:B001E3EXN2?territory=GB","url":"https://music.amazon.co.uk/artists/B001E3EXN2?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"}},"__typename":"SearchAlbumEdge"},{"metricId":null,"node":{"id":"B0CT3P8HF1","__typename":"Album","uri":"mrn:1.0:catalog:album:asin:B0CT3P8HF1?territory=GB","title":"Live
        at Fillmore East and Johnny Cash TV Show, 1970","images":[{"id":"91BqYpp8ypL","url":"https://m.media-amazon.com/images/I/91BqYpp8ypL.jpg","width":2560,"height":2560,"imageType":"PRIMARY","__typename":"Image"},{"id":"51ifDEX-sJL","url":"https://m.media-amazon.com/images/I/51ifDEX-sJL[...]
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ArtistSeo","variables":{"id":"B001E3EXN2"},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"15ac3f03bd4f65df9a36a6d91667362cd6459fdfd55a8b9734f36a0df57d9c04"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac9779a7b51d42bdb29a85b39a75333
      X-Amzn-Requestid:
      - d73de796-ad16-40f1-8614-ef4ed94cb697
      Etag:
      - W/"504-zDloq57GrVfC1QmVtqSqaen8/gI"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"id":"owv7cmmodx5vq73ta6giqaajta","__typename":"User","tier":"FREE"},"artist":{"__typename":"Artist","id":"B001E3EXN2","name":"Johnny
        Cash","url":"https://music.amazon.co.uk/artists/B001E3EXN2?ref=dm_ff_amazonmusic_greenhornet_web","images":[{"id":"91LY6p6bbhL:BACKGROUND","url":"https://m.media-amazon.com/images/I/91LY6p6bbhL.jpg","__typename":"Image"},{"id":"51w2X-BPtNL:PROFILE","url":"https://m.media-amazon.com/images/I/51w2X-BPtNL.jpg","__typename":"Image"},{"id":"418q73aHi8L:BACKGROUND","url":"https://m.media-amazon.com/images/I/418q73aHi8L.jpg","__typename":"Image"},{"id":"91o5i8r29OL:PROFILE","url":"https://m.media-amazon.com/images/I/91o5i8r29OL.jpg","__typename":"Image"}],"topSongs":{"edges":[{"node":{"__typename":"Track","id":"B001GTQH8S","title":"Highwayman
        [Explicit]","duration":184,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"},{"node":{"__typename":"Track","id":"B00CURK9SO","title":"Hurt","duration":217,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"}],"__typename":"SearchTrackResults"}}},"extensions":{"appConfig":{},"context":{},"headers":{},"trace":{"requestTrace":{"extensionDurationMs":0},"requestDurationMs":10}}}'
  recorded_at: Fri, 09 Oct 2026 23:24:10 GMT
recorded_with: VCR 6.4.0
