---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ChronologicalAlbumsPage","variables":{"id":"wejlhg239gh23","firstLimit":20,"isAuthenticated":true,"afterCursor":null},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"e9cf1f3f0b3d57e40a8591e3787f0d820d58ce6968a5cf800aa3dc3f9bdb2bb4"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac9779b10c8666ab910dff1d7a5201c
      X-Amzn-Requestid:
      - 8565e4b1-d1eb-45b6-8953-f95effecc120
      Etag:
      - W/"99-7KekzqncqdS4MHwcK5tDjFAUp5g"
    body:
      encoding: UTF-8
      string: '{"data":{"artist":null},"extensions":{"appConfig":{},"context":{},"headers":{},"trace":{"requestTrace":{"extensionDurationMs":0},"requestDurationMs":9}}}'
  recorded_at: Fri, 09 Oct 2026 23:24:11 GMT
recorded_with: VCR 6.4.0
