---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/similarartists?artist=wild%20nothing&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '44074'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"main_artist":{"artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing","top_track":{"artist":"Wild
        Nothing","name":"Chinatown","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","listeners":275197,"scrobbles":1671657,"playlink":{"class":"chartlist-play-button
        js-playlink","title":"Play track","target":"_blank","href":"https://www.youtube.com/watch?v=WI1-gu5PTBk","data-affiliate":"youtube","data-affiliate-id":"WI1-gu5PTBk","data-youtube-id":"WI1-gu5PTBk","data-youtube-url":"https://www.youtube.com/watch?v=WI1-gu5PTBk","data-track-name":"Chinatown","data-track-url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","data-artist-name":"Wild
        Nothing","data-artist-url":"https://www.last.fm/music/Wild+Nothing"}}},"artist":[{"name":"Craft
        Spells","listeners":418498,"scrobbles":6609321,"weight":1.0,"url":"https://www.last.fm/music/Craft+Spells","image":"https://lastfm.freetls.fastly.net/i/u/174s/48126f561f024035c00bb4bfc8229c0a.png"},{"name":"Beach
        Fossils","listeners":1055008,"scrobbles":29927274,"weight":0.727621,"url":"https://www.last.fm/music/Beach+Fossils","image":"https://lastfm.freetls.fastly.net/i/u/174s/92728f10d239679a9d257ec2e1f877dc.png"},{"name":"Small
        Black","listeners":425347,"scrobbles":6682235,"weight":0.635441,"url":"https://www.last.fm/music/Small+Black","image":"https://lastfm.freetls.fastly.net/i/u/174s/75[...]
