---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getPlaylistById?access_key=154554fc908e1e4c72&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000885619&playlist_id=wejlhg239gh23&sig=098ecb690fead5496a327f64a03c3bfa&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: playlist_id not integer","request_params":[{"key":"v","value":"5.131"},{"key":"playlist_id","value":"wejlhg239gh23"},{"key":"owner_id","value":"-2000885619"},{"key":"access_key","value":"154554fc908e1e4c72"},{"key":"lang","value":"en"},{"key":"method","value":"audio.getPlaylistById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Wed, 01 Nov 2023 19:54:21 GMT
recorded_with: VCR 6.2.0
