---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-123
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"<DEEZER_LICENSE_TOKEN>","expiration_timestamp":1623919194,"license_country":"BY","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1622623194,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"BY","has_joined_family":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"featurefm_token":false,"test_format":false,"force_adsource":"auto"},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card","option":"svd_discovery","behaviour":"new
        discovery algorithm, based on nearest neighbours search"},"flow_algorithms":{"id":"Flow-2021-april-2","option":"C","behaviour":"default
        algorithm, using v2 tags for reco, old tag embeddings"},"playlists_suggestion_algorithm_october_2020":{"id":"playlists_suggestion_algorithm_october_2020","option":"default","behaviour":"Suggest
        playlists thompson sampling reinforcement learning, fallback on coldstart
        models"},"share_android_image_preview":{"id":"share_android_image_preview","option":"default","behaviour":"default
        sharing"},"artist_essentials_rail":{"id":"artist_essentials_rail","option":"B","behaviour":"display
        artist essentials rail"},"family_page":{"id":"family_page","option":"control","behaviour":"Default
        \"classical\" family page. User is part of the AB test"},"premium_tab":{"id":"premium_tab","option":"default","behaviour":"Default
        classical Premium Tab"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"BY","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"<DEEZER_USER_TOKEN>","PLAYLIST_WELCOME_ID":"1362496565","OFFER_ID":"0","OFFER_ELIGIBILITIES":[],"COUNTRY":"BY","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1622623194,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3810802da32fde339c2cabe509eef4c10fbb7f898a8367d83760176161a0993e34fa04e09fcf8bf798bf5bed3718b03317cce745fc91ccbe8f08d81a48e6cc12b4b7b8a0cbdbe30580a0753d63a994a3c131c00e3e19b0af40575abe67afd8bc78dc1c99b8c30f2358ffe02557d265ac49c1076f538cd995500462c062be380e45badf0f40611dba5b4326c31ba0e250617260a497e297f6ba1172d3c5ad7b2379e1a55a58143ab65c85a80b01ac5bebfc75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_API_TOKEN>&api_version=1.0&method=deezer.pageAlbum
    body:
      encoding: UTF-8
      string: '{"alb_id":"8548989","lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-11
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"DATA":{"ALB_ID":"8548989","ART_ID":"4088","ART_NAME":"Tony
        Bennett","ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"1","ART_NAME":"Tony
        Bennett","ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"591409","LOCALES":{"lang_ja-kana":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c3\u30c8"},"lang_zh-hant":{"name":"\u6771\u5c3c\u73ed\u5c3c\u7279"},"lang_ja-hrkt":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c4\u30c8"},"lang_ja-jpan":{"name":"\u30c8\u30cb\u30fc\u30fb\u30d9\u30cd\u30c3\u30c8"},"lang_ar":{"name":"\u062a\u0648\u0646\u064a
        \u0628\u064a\u0646\u064a\u062a"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"},{"ART_ID":"75491","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"2","ART_NAME":"Lady
        Gaga","ART_PICTURE":"b8d46c11e7c9b13c447dd7021837fefc","RANK":"946983","LOCALES":{"lang_ja-hrkt":{"name":"\u30ec\u30c7\u30a3\u30fc\u30ac\u30ac"},"lang_ja-jpan":{"name":"\u30ec\u30c7\u30a3\u30fc\u30fb\u30ac\u30ac"},"lang_ja-kana":{"name":"\u30ec\u30c7\u30a3\u30ac\u30ac"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"}],"URL_REWRITING":"tony-bennett","LABEL_NAME":"Streamline\/Columbia\/Interscope","STYLE_NAME":"","ALB_TITLE":"Cheek
        To Cheek","VERSION":"","ALB_PICTURE":"84a017eef6b55d499bea52ab8d336f86","DIGITAL_RELEASE_DATE":"2014-09-23","PHYSICAL_RELEASE_DATE":"2014-09-23","ORIGINAL_RELEASE_DATE":"2014-09-19","PROVIDER_ID":"427","SONY_PROD_ID":"","UPC":"602537972241","STATUS":"1","ALB_CONTRIBUTORS":{"main_artist":["Tony
        Bennett","Lady GaGa"]},"NB_FAN":43255,"AVAILABLE":true,"EXPLICIT_ALBUM_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":0},"__TYPE__":"album"},"SONGS":{"data":[{"SNG_ID":"84791891","PRODUCT_TRACK_ID":"147676781","UPLOAD_ID":0,"SNG_TITLE":"Anything
        Goes","ART_ID":"4088","PROVIDER_ID":"427","ART_NAME":"Tony Bennett","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Tony
        Bennett","ARTIST_IS_DUMMY":false,"ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"591409","LOCALES":{"lang_ja-kana":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c3\u30c8"},"lang_zh-hant":{"name":"\u6771\u5c3c\u73ed\u5c3c\u7279"},"lang_ja-hrkt":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c4\u30c8"},"lang_ja-jpan":{"name":"\u30c8\u30cb\u30fc\u30fb\u30d9\u30cd\u30c3\u30c8"},"lang_ar":{"name":"\u062a\u0648\u0646\u064a
        \u0628\u064a\u0646\u064a\u062a"}},"SMARTRADIO":1,"__TYPE__":"artist"},{"ART_ID":"75491","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"2","ART_NAME":"Lady
        Gaga","ARTIST_IS_DUMMY":false,"ART_PICTURE":"b8d46c11e7c9b13c447dd7021837fefc","RANK":"946983","LOCALES":{"lang_ja-hrkt":{"name":"\u30ec\u30c7\u30a3\u30fc\u30ac\u30ac"},"lang_ja-jpan":{"name":"\u30ec\u30c7\u30a3\u30fc\u30fb\u30ac\u30ac"},"lang_ja-kana":{"name":"\u30ec\u30c7\u30a3\u30ac\u30ac"}},"SMARTRADIO":1,"__TYPE__":"artist"}],"ALB_ID":"8548989","ALB_TITLE":"Cheek
        To Cheek (Deluxe)","TYPE":0,"VIDEO":false,"DURATION":"123","ALB_PICTURE":"84a017eef6b55d499bea52ab8d336f86","ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK_SNG":"463791","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"1984469","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_MHM1_RA1":"0","FILESIZE_MHM1_RA2":"0","FILESIZE_MHM1_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"1984469","GAIN":"-10","MEDIA_VERSION":"4","DISK_NUMBER":"1","TRACK_NUMBER":"1","TRACK_TOKEN":"AAAAAWC3Q9tguF0bh15P_nF8aFpeDrIg_BM7wDeOuuf9ph5IQXr3pODqve6gT82qlPmpdn8jmDnrZ4zkDhYqahVjw3AM8wwd3QgZKSJ4GC6tJeC4g-iLP_jVMB18SUF_XMMtJSuWEUP8aUGPznKcKA","TRACK_TOKEN_EXPIRE":1622695195,"VERSION":"","MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-f.dzcdn.net\/stream\/c-f7a9a2ab7d518d3b65a256a6d349757c-4.mp3"}],"EXPLICIT_LYRICS":"0","RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"ISRC":"USUM71410776","HIERARCHICAL_TITLE":"","SNG_CONTRIBUTORS":{"main_artist":["Tony
        Bennett","Lady GaGa"],"composerlyricist":["Cole Porter"]},"LYRICS_ID":79361,"EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":0},"__TYPE__":"song","S_MOD":1,"S_PREMIUM":1,"DATE_START_PREMIUM":"2000-01-01","DATE_START":"2000-01-01","STATUS":1,"USER_ID":0,"URL_REWRITING":"tony-bennett"},{"SNG_ID":"84791893","PRODUCT_TRACK_ID":"183671031","UPLOAD_ID":0,"SNG_TITLE":"Cheek
        To Cheek","ART_ID":"4088","PROVIDER_ID":"427","ART_NAME":"Tony Bennett","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Tony
        Bennett","ARTIST_IS_DUMMY":false,"ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"591409","LOCALES":{"lang_ja-kana":[...]
