---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/album/wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-06
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":{"type":"DataException","message":"no data","code":800}}'
  recorded_at: Mon, 25 Jan 2021 14:51:49 GMT
recorded_with: VCR 6.0.0
