---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album&api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=1&format=json&limit=5&method=track.search&page&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"1"},"opensearch:totalResults":"93","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","trackmatches":{"track":[{"name":"Chinatown","artist":"Wild
        Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","streamable":"FIXME","listeners":"206899","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":"9a74b1e7-a7a9-46fc-8ad3-58306fdac86f"},{"name":"Chinatown
        - Live from Brooklyn Steel","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown+-+Live+from+Brooklyn+Steel","streamable":"FIXME","listeners":"1567","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.[...]
