---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album&api_key=<LASTFM_API_KEY>&artist&autocorrect=1&format=json&limit=50&method=track.search&page&track=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"50","trackmatches":{"track":[]},"@attr":{}}}'
  recorded_at: Tue, 06 Oct 2020 09:40:35 GMT
recorded_with: VCR 6.0.0
