---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&page&per_page&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 48, "per_page": 50, "items": 2374,
        "urls": {"last": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=48&per_page=50",
        "next": "https://api.discogs.com/artists/85929/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=50"}},
        "releases": [{"id": 4350894, "status": "Accepted", "type": "release", "format":
        "7\", Jukebox", "label": "EMI", "title": "Wuthering Heights / Bella Sarai",
        "resource_url": "https://api.discogs.com/releases/4350894", "role": "Main",
        "artist": "Kate Bush / La Bottega Dell''Arte", "year": 1978, "thumb": "https://img.discogs.com/emcVQ4Ro-GvJEoLQvzAj6r1-xFE=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-4350894-1485174051-4866.jpeg.jpg",
        "stats": {"community": {"in_wantlist": 27, "in_collection": 34}}}, {"id":
        4766345, "status": "Accepted", "type": "release", "format": "7\", Jukebox",
        "label": "EMI", "title": "Hammer Horror / Una Serata In Rima", "resource_url":
        "https://api.discogs.com/releases/4766345", "role": "Main", "artist": "Kate
        Bush / Marras*", "year": 1978, "thumb": "https://img.discogs.com/yn3dlU1IRWPRRtqYFZscKv6XCUM=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-4766345-1374857107-5615.jpeg.jpg",
     [...]
