---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getPlaylistById?access_key=4b0d541e5c641772e4&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000018186&playlist_id=1018186&sig=7cb3bc0013ddaeabaadce3aef136fb2f&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"id":1018186,"owner_id":-2000018186,"type":1,"title":"Gemini","description":"","count":12,"followers":640,"plays":14391,"create_time":1495674489,"update_time":1627523944,"genres":[{"id":2,"name":"Rock"},{"id":21,"name":"Alternative"}],"is_following":false,"year":2010,"photo":{"width":300,"height":300,"photo_34":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=592x592&quality=96&sign=4471d9ae1975f96b1827917f0feb9fb4&c_uniq_tag=9KrQQh2CWDlN-PsjvwN99JFI7blIWX83iH1ru25Em5s&type=audio","photo_1200":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"},"permissions":{"play":true,"share":true,"edit":false,"follow":true,"delete":false,"boom_download":true},"subtitle_badge":false,"play_button":false,"access_key":"4b0d541e5c641772e4","is_explicit":false,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"album_type":"main_only"}}'
  recorded_at: Sun, 05 Sep 2021 14:01:34 GMT
- request:
    method: get
    uri: https://api.vk.com/method/audio.get?access_key=4b0d541e5c641772e4&access_token=<VK_ACCESS_TOKEN>&album_id=1018186&owner_id=-2000018186&sig=c7a16bee7e4a330d1643bed9dea84b85&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":12,"items":[{"artist":"Wild Nothing","id":93615287,"owner_id":-2001615287,"title":"Live
        in Dreams","duration":206,"access_key":"b9edd583fbdb056601","ads":{"content_id":"-2001615287_93615287","duration":"206","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"7cb90b80LH0L3kHulqgMi6P1hkmTQ3pRyh1BhGz-ahcBUSwVSP6a7qg7Jpf6wX__","url":"https:\/\/cs3-6v4.vkuseraudio.net\/p3\/41fbaeb3fb6e6d.mp3?extra=SLKe6aE4y1Z2WgEQz4f4Mp0N4JsSkiQBEs9vXCmqbDcw6xHFQbQT7leCO-C1aGXMSqFgFIwE0eJEp7-M7mBPKFnMIOAU5caYsKdHQiQCmaUGMpYEnB0rCD_f4coY93mAdFGgoCZFxQPxF81xzHv6w0qvsIE&long_chunk=1","date":1627523944,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":93615288,"owner_id":-2001615288,"title":"Summer Holiday","duration":243,"access_key":"345582466c06664535","ads":{"content_id":"-2001615288_93615288","duration":"243","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"7a33ca65k6VsibBC59RH54xbrOATZfh1ts1ai27k4VNR2SdjR1wlNs9s1zuLvTST","url":"https:\/\/cs1-64v4.vkuseraudio.net\/p15\/58b93b1515becf.mp3?extra=Uv6RJ3oqgZDRPQB3mGpeeg_[...]
