---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getPlaylistById?access_key=4b0d541e5c641772e4&access_token=<VK_ACCESS_TOKEN>&lang=en&owner_id=-2000018186&playlist_id=wejlhg239gh23&sig=35a4cb5bffd8336adfa1a1655c0be021&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":100,"error_msg":"One of the parameters specified
        was missing or invalid: playlist_id not integer","request_params":[{"key":"v","value":"5.131"},{"key":"playlist_id","value":"wejlhg239gh23"},{"key":"owner_id","value":"-2000018186"},{"key":"access_key","value":"4b0d541e5c641772e4"},{"key":"lang","value":"en"},{"key":"method","value":"audio.getPlaylistById"},{"key":"oauth","value":"1"}]}}'
  recorded_at: Sun, 05 Sep 2021 14:05:18 GMT
recorded_with: VCR 6.0.0
