---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=wejlhg239gh23&key=<YOUTUBE_API_KEY>&part=id,snippet,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YIUPVpqNjppyCWOZfL-19bLb7uk",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Wed, 09 Jun 2021 18:36:49 GMT
recorded_with: VCR 6.0.0
