---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_ALBUMS>&fields=items(pagemap(cse_image,metatags(og:description,og:site_name,og:title,og:url))),queries(request(totalResults))&key=<GOOGLE_API_KEY>&q=wild%20nothing&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "4210"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:description": "11 track album",
                    "og:title": "Nocturne, by Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com/album/nocturne"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://f4.bcbits.com/img/a1612004764_16.jpg"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:description": "5 track album",
                    "og:title": "Laughing Gas EP, by Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com/album/laughing-gas-ep"
                  }
        [...]
