---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=wejlhg239gh23&api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=200&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wejlhg239gh23","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"200","albummatches":{"album":[]},"@attr":{"for":"wejlhg239gh23"}}}'
  recorded_at: Thu, 27 May 2021 14:58:14 GMT
recorded_with: VCR 6.0.0
