---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wejlhg239gh23&autocorrect=1&format=json&limit=50&method=artist.getSimilar&page
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"The artist you supplied could not be found","links":[]}'
  recorded_at: Mon, 05 Oct 2020 13:05:41 GMT
recorded_with: VCR 6.0.0
