---
http_interactions:
- request:
    method: get
    uri: https://wmf.ok.ru/albums;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?count=5&imgfmt=base&q=kate%20bush&start=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "chunk" : {
            "start" : 5,
            "count" : 5,
            "more" : true
          },
          "albums" : [ {
            "id" : 122882150003559,
            "name" : "The Whole Story",
            "ensemble" : "Kate Bush",
            "masterArtistId" : 122882931409564,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqv4wxiWu8lqJyXWh7UnawwR6NW24BNJ9OSkMV7EVpXGEo",
            "playlistId" : 15033928657,
            "tracksCount" : 12,
            "legal" : 1,
            "year" : 1986,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"
            } ],
            "allArtists" : [ {
              "id" : 122882931409564,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvwROH0XkPVyONi82TgGYNyb4zBmgCNEwUB70eq4nt-OQ",
              "name" : "Kate Bush"
            } ]
          }, {
            "id" : 122882149917522,
            "name" : "Never For Ever",
            "ensemble" : "Kate Bush",
            "masterArtistId" : 122882931409564,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqv4wxiWu8lqJyXWh7UnawwR10SNyFYHbVwvBPNr0X_wVk",
            "playlistId" : 15033928609,
            "tracksCou[...]
