---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-69
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmRQ3HNkZKLz1KCn_V8-VPbCdrhZHHI31V-8bHbg-iZ8_ml4FozNWGa8aqUsnMojPcxSeulGAHSWXE9Ay5ECjDMKEaul6IPVemUsIoaHMyr7","expiration_timestamp":1684316915,"license_country":"GB","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1683020915,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"GB","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search"},"premium_tab_native":{"id":"premium_tab_native","option":"A","behaviour":"premium
        tab native"},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing"},"screenshot_sharing":{"id":"screenshot_sharing","option":"C","behaviour":"sharing
        menu screenshot"},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha"},"catalog_pages_sign-up_banner_1122":{"id":"catalog_pages_sign-up_banner_1122","option":"a","behaviour":"New
        reg journey on the web"},"mobile_trial_v2":{"id":"mobile_trial_v2","option":"default","behaviour":"Normal
        behaviour, no mobile trial"},"tnb_reminder":{"id":"tnb_reminder","option":"control","behaviour":"Normal
        behaviour, no steeper no reminder"},"ad_config_profile_pressure":{"id":"ad_config_profile_pressure","option":"A","behaviour":"Advertising
        pressure is increased"},"catalog_pages_streamable_extract_0422":{"id":"catalog_pages_streamable_extract_0422","option":"b","behaviour":"clicking
        on the \"play\" button displays a 1 CTA dismissible popup"},"premium_acq_toggle_0423":{"id":"premium_acq_toggle_0423","option":"a","behaviour":"new
        challenging toggle that switches between premium and family offers"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"GB","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"free45c5f853efb81b5e9c224fccee5f855d31c8","USER_TOKEN":"e500ace5d6964564cb002991d44105abc1f40053b6e5f2704e0963e03ca0e5cb","PLAYLIST_WELCOME_ID":"63141574","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"GB","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1683020915,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3e370cb42c069db96df4fb0bb7eac20d2d3576155173dddaa5df1778c9ab0bc0722cc968d4af625b35874becfd3d1f918c4594c02681500c6d42b0204bea91c7765b078db72ef2c0ca7ac7e5684981fb79454b0beb55e9810a8671c475887abeb0e29836a993843b75ff90ee67bf1a07a2a90b39720f7c424270fbaba1da6248e6448646bd8651583b9af69fb78d92ea1eeebf1a2a767f7cf566e43ad9c63a1265b32a8f97e84138d7eff49f3f312bc66c75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=Dc6oIesMF2d95YGiEyWbyhbJqHDIjp8F&api_version=1.0&method=song.getListData
    body:
      encoding: UTF-8
      string: '{"sng_ids":["11616579"]}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-27
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"data":[{"SNG_ID":"11616579","ALB_ID":"1063611","ALB_PICTURE":"9f2d90023183010d657b01cba6bd5f19","ALB_TITLE":"Hounds
        Of Love","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"786529","LOCALES":{"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_en":{"name":"Kate
        Bush"},"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"},"lang_ja-kana":{"name":"\u30b1\u30a4\u30c8\u3000\u30d6\u30c3\u30b7\u30e5"}},"SMARTRADIO":1,"__TYPE__":"artist"}],"ART_ID":"1049","ART_NAME":"Kate
        Bush","DIGITAL_RELEASE_DATE":"2011-05-16","DISK_NUMBER":"1","DURATION":"298","EXPLICIT_LYRICS":"0","EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"FALLBACK":{"ALB_ID":"14030786","ALB_PICTURE":"6aeffa2d5c980f71a2e3efc5303ec6df","ALB_TITLE":"Vuelve
        al S\u00e1bado Noche (Los 80 De Los 80)","ARTISTS":[{"ART_ID":"1049","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"3","ART_NAME":"Kate
        Bush","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ccbaf14c0164d376285f6500944fba21","RANK":"786529","LOCALES":{"lang_zh-hant":{"name":"\u5e03\u5e0c\u5408\u5531\u5718"},"lang_en":{"name":"Kate
        Bush"},"lang_ja-hrkt":{"name":"\u30b1\u30a4\u30c8\u30d6\u30c3\u30b7\u30e5"},"lang_ja-jpan":{"name":"\u30b1\u30a4\u30c8\u30fb\u30d6\u30c3\u30b7\u30e5"},"lang_ar":{"name":"\u0643\u064a\u062a
        \u0628\u0648\u0634"},"lang_ja-kana":{"name":"\u30b1\u30a4\u30c8\u3000\u30d6\u30c3\u30b7\u30e5"}},"SMARTRADIO":1,"__TYPE__":"artist"}],"ART_ID":"1049","ART_NAME":"Kate
        Bush","DIGITAL_RELEASE_DATE":"2016-09-12","DISK_NUMBER":"2","DURATION":"291","EXPLICIT_LYRICS":"0","EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"GENRE_ID":"0","ISRC":"FR59R1690903","LYRICS_ID":30383781,"PHYSICAL_RELEASE_DATE":"1992-09-19","PROVIDER_ID":"1","RANK_SNG":"953193","SMARTRADIO":1,"SNG_ID":"132042572","SNG_TITLE":"Running
        up That Hill","STATUS":1,"TRACK_NUMBER":"3","TYPE":0,"UPLOAD_ID":0,"USER_ID":0,"VERSION":"","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"4661079","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"4661079","GAIN":"-11.9","MEDIA_VERSION":"6","TRACK_TOKEN":"AAAAAWRQ3HNkUfWz1GdatKQnJnrJ5kOlbmgqRo46VU2VJ1foYq5107WfIuJtzmWQ4oT4cwUEskEE3WO95yeFiBbir4hqK8vVckyI4mfGdvXttzLUfAknuhufFS8I0l_cUfWAoP9Hhwuo00mG6IajJQ","TRACK_TOKEN_EXPIRE":1683092915,"MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-1.dzcdn.net\/stream\/c-1809a0522cece27d07b3c63e0c09e513-6.mp3"}],"RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"__TYPE__":"song"},"GENRE_ID":"7","ISRC":"GBCNR8500002","LYRICS_ID":0,"PHYSICAL_RELEASE_DATE":"2011-05-16","PROVIDER_ID":"3","RANK_SNG":"442242","SMARTRADIO":1,"SNG_TITLE":"Running
        Up That Hill (A Deal With God)","STATUS":3,"TRACK_NUMBER":"1","TYPE":0,"UPLOAD_ID":0,"USER_ID":0,"VERSION":"","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"4783959","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"4783959","GAIN":"-16","MEDIA_VERSION":"7","TRACK_TOKEN":"AAAAAWRQ3HNkUfWzloCttxyma092tlrn02Leega1V96TYEjPcPD104NkYh_49un5WkmLLc7pCeJHho0TjKie_zd3nrLbh9X5sD5f79dQonXinooAoTKJ8QQehRPsI5t_mgqWv0GGXAnyCiRVonXTr1w_Uoo","TRACK_TOKEN_EXPIRE":1683092915,"MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-2.dzcdn.net\/stream\/c-20d97b302bb6209f943e23a2a153300d-7.mp3"}],"RIGHTS":{},"__TYPE__":"song"}],"count":1,"total":1,"filtered_count":0}}'
  recorded_at: Tue, 02 May 2023 09:48:35 GMT
recorded_with: VCR 6.1.0
