---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/29d0nY7TzCoi22XBqDQkiP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAGBdh4Fv-0K79_F3SAUD1M7d-xm2kxhzMYzCZ90TLrhqjGTUb7p4yhdFyM30MAg0deWx-07OqmH5wfuPo3rjZtVWrHoB7sU4DMCn0f83YXuP3C9sKO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
              },
              "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
              "id" : "1aSxMhuvixZ8h9dK9jIDwL",
              "name" : "Kate Bush",
              "type" : "artist",
              "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
            } ],
            "available_markets" : [ ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/3OYnManu1Nlxnw9OMng7BH"
            },
            "href" : "https://api.spotify.com/v1/albums/3OYnManu1Nlxnw9OMng7BH",
            "id" : "3OYnManu1Nlxnw9OMng7BH",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b2735c390e413e27798edd4d18b4",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e025c390e413e27798edd4d18b4",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d000048515c390e413e27798edd4d18b4",
              "width" : 64
            } ],
            "name" : "Hounds of Love (2018 Remaster)",
            "release_date" : "1985-09-16",
            "release_date_precision" : "day",
            "total_tracks" : 12,
            "type" : "album",
            "uri" : "spotify:album:3OYnManu1Nlxnw9OMng7BH"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
            },
            "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
            "id" : "1aSxMhuvixZ8h9dK9jIDwL",
            "name" : "Kate Bush",
            "type" : "artist",
            "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
          } ],
          "available_markets" : [ ],
          "disc_number" : 1,
          "duration_ms" : 300840,
          "explicit" : false,
          "external_ids" : {
            "isrc" : "GBAYE1800884"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/29d0nY7TzCoi22XBqDQkiP"
          },
          "href" : "https://api.spotify.com/v1/tracks/29d0nY7TzCoi22XBqDQkiP",
          "id" : "29d0nY7TzCoi22XBqDQkiP",
          "is_local" : false,
          "name" : "Running Up That Hill (A Deal With God) - 2018 Remaster",
          "popularity" : 63,
          "preview_url" : null,
          "track_number" : 1,
          "type" : "track",
          "uri" : "spotify:track:29d0nY7TzCoi22XBqDQkiP"
        }
  recorded_at: Tue, 02 May 2023 09:13:17 GMT
recorded_with: VCR 6.1.0
