---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.ru/search/instant/mixed?filter=track&page=0&pageSize=20&text=wejlhg239gh23&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
      X-Retpath-Y:
      - https://music.yandex.ru/search?text=kate+bush
      X-Yandex-Music-Client:
      - YandexMusicWebNext/1.0.0
      X-Yandex-Music-Multi-Auth-User-Id:
      - '2273883602'
      X-Yandex-Music-Without-Invocation-Info:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Traceid:
      - 2003ec13e03f180975c8cbfcf0f97a72
      Content-Type:
      - application/json
      X-Yandex-Music-Execution-Duration:
      - '50'
      X-Yandex-Music-Hostname:
      - music-search-production-music-search-81.klg.yp-c.yandex.net
      X-Yandex-Music-Application:
      - music-search
    body:
      encoding: ASCII-8BIT
      string: '{"searchRequestId":"13be63e4-f12a-40fa-84fa-ef0c5c8783ca","text":"wejlhg239gh23","misspellCorrected":false,"lastPage":true,"perPage":20,"results":[],"responseType":"mixed"}'
  recorded_at: Fri, 15 May 2026 22:20:31 GMT
recorded_with: VCR 6.4.0
