---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/search?language=en&page=0&text=kate%20bush&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"hostname":"music-stable-back-vla-26.vla.yp-c.yandex.net","req-id":"1636181973893295-3675511000476144891","exec-duration-millis":"185"},"result":{"type":"album","page":0,"perPage":10,"text":"kate
        bush","searchRequestId":"music-stable-back-vla-26.vla.yp-c.yandex.net-1636181973893295-3675511000476144891-1636181973919","albums":{"total":101,"perPage":10,"order":0,"results":[{"id":12874238,"storageDir":"170b7b50.a.12874238","originalReleaseYear":2020,"year":2020,"artists":[{"id":243849,"name":"Stoner","cover":{"type":"from-album-cover","prefix":"97fe6d17.a.19156673-1","uri":"avatars.yandex.net/get-music-content/5576540/97fe6d17.a.19156673-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2411511/170b7b50.a.12874238-1/%%","trackCount":1,"likesCount":2,"genre":"rock","available":true,"availableForPremiumUsers":true,"type":"single","title":"Kate
        Bush","availableRegions":["ua","by","ru","kg","uz","il","md","tj","am","tm","ge","kz","az"],"labels":["Stoner"],"regions":["BELARUS","BELARUS_PREMIUM"]},{"id":9289032,"storageDir":"de894b92.a.9289032","originalReleaseYear":2019,"year":2019,"artists":[{"id":7118854,"name":"Sharpson","cover":{"type":"from-album-cover","prefix":"c926d184.a.18388764-1","uri":"avatars.yandex.net/get-music-content/5457712/c926d184.a.18388764-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2114230/de894b92.a.9289032-1/%%","trackCount":1,"likesCount":1,"genre":"techno","available":[...]
