---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=300&q=wild%20nothing%20chinatown&sig=8590076b1bddcecff3864332ce57c225&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":13,"items":[{"artist":"Wild Nothing","id":29996708,"owner_id":-2001996708,"title":"Chinatown","duration":198,"access_key":"01ab5f4da7565fd3f6","ads":{"content_id":"-2001996708_29996708","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"f1b77fc9tpqwuZV7KON9oHhC8jKnjLeRBN__GiMWDhy9DWfm4mu6ZQ4fVg_Wa8cclfMxo6ri2OVstpgIbREDE7oCdu1J7RVZOyML9rSK2VupJZ4","url":"https:\/\/cs1-67v4.vkuseraudio.net\/s\/v1\/ac\/gyJTMZsnfQmCCqqIagBKY870ZKd48DizHqc6Ao0qYnPG7GpKLssUZJ8hK8VtMV1-bPaqYx0zuAtYCKDEHf5Mbyn1hL903fgO_6oPnFIfdOKfRbrjutAlFFJTofozud5o7t7IqhLNOLGzPBn6axLTlMpybDksNv4pWTnh5i5X4ZSGM4g\/index.m3u8?siren=1","date":1545232450,"lyrics_id":1,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=600x600&quality=96&sign=5725c11b3cfbb360bac06caa821942e5&c_uniq_tag=4I-9cK3v46N5lriyRv2Gqejv_SGnI5wrzXszJMQh1zU&type=audio","photo_1200":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":456239832,"owner_id":174805485,"title":"Chinatown","duration":203,"access_key":"e982e59c7bae7eb787","ads":{"content_id":"174805485_456239832","duration":"203","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"af930917XcKVnVrqWIUZOd-w7kS-wfXEPg_qoRe8o6jltTZ0LvZRPSs7mZ6mDaOFMgEt1bOvmrBWZo2zWbuup-K6J3-0O_yXPi39QTrt","url":"https:\/\/cs9-18v4.vkuseraudio.net\/s\/v1\/ac\/xUGZx1SooDKWGCfmTAE3CHmm57nlWsFV9jhMPAB_o_uorQl31USSXRBEHKex_KNHT8-0G5P2PdXVYPqaWCPE0gHLg2y723jrlOBQOpZvnvj9g4gtgwUbj3H1LY8Yss4AmyJlmS4VB7xPQsK4ERpGnuGkgWI3trs7r1t6O1enHlI_beM\/index.m3u8?siren=1","date":1528986814,"genre_id":18,"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":456239976,"owner_id":36498803,"title":"Chinatown","duration":196,"access_key":"c30ceb757a7ac80a53","ads":{"content_id":"36498803_456239976","duration":"196","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"b5bf9931XBduBsImG0MyZxw9c7r1q6rK2hE-SEAhcxWFfV2lSfJQ6NCgAVLly4jb8YywK_jFxb6yeFlaDiZ-GoJyTK[...]
