---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=6779e5e11dd4cdc4b681c7fdd6ca7c84&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":11,"items":[{"artist":"Wild Nothing","id":419475689,"owner_id":153732788,"title":"Chinatown","duration":196,"access_key":"6f7ecff2425492c51e","ads":{"content_id":"153732788_419475689","duration":"196","account_age_type":"3","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"a23ded7a09gHepDJksZ-6MwsRXwi910F8DzRfVx6giy-lxpNJ2jfMa2VW706Bs4Ja66tkE6ZMnGYVbZvEn2PI7mYC0bki3iXnf5zc_Cu","url":"","date":1448943605,"genre_id":18,"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":29996708,"owner_id":-2001996708,"title":"Chinatown","duration":198,"access_key":"09b975b0121956df7f","ads":{"content_id":"-2001996708_29996708","duration":"198","account_age_type":"3","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"218ca9577yliKyvX24P9gJNLWMw2dWsaoIA6gRqIcPfm3eb5G2DjwMjE4KNzQ01hNMmwIFobBG7I6V2TVI99-OHS9_Kw5kzq6bG1WkfqWXtCLDQ","url":"","date":1545232450,"lyrics_id":1,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=600x600&quality=96&sign=5725c11b3cfbb360bac06caa821942e5&c_uniq_tag=4I-9cK3v46N5lriyRv2Gqejv_SGnI5wrzXszJMQh1zU&type=audio","photo_1200":"https:\/\/sun19-2.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":456239131,"owner_id":215286,"title":"Chinatown (2010)","duration":198,"access_key":"715a96cd463a7a7509","ads":{"content_id":"215286_456239131","duration":"198","account_age_type":"3","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"68899049Xjben7Ik2rbFrRrqhuIieJq76JvvVIlH6P-fmxOxDApS33RweVBydnVMvWhuDk4W9c-A8ohGx0Dl8JiUArqN9V-r[...]
