---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=b5dc45786f42d4bef8c4efb7572347e7&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661410
      X-Trace-Id:
      - JlXDIJFP1sgcgpxSBK4hlB3vRqYNrg
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":9,"items":[{"artist":"Wild Nothing","id":29996708,"owner_id":-2001996708,"title":"Chinatown","duration":198,"access_key":"c1375a8b60576db2e9","ads":{"content_id":"-2001996708_29996708","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"track_code":"dba33637LZ5_vk42BY4IMNeWN5-NnXIIWpCzo1DDsHUFGnhSiOggXvkd6UL0TOTBBxbBK9zzHXwy-dSxHsS9egIVaVkjbo9d9CTQu5nnrMsG8Vv7","url":"https:\/\/psv4.vkuseraudio.ru\/s\/v1\/amp2\/SZKqW5bnZChosfMXb-_QtosQoerSg3jRA_5ztJt0z2vEHQpvu2Ty2J-C0QSqd4AI_wSA3kveYM81g1SKS9mvSbhdbJF4_Ult8b9GS_1CChwp5RJo7aQ-4hUHxVdpeXIM2WEBGwcnKkjhHQQoMwt4SyO3Znxiu3-n3Rcg.mp3?siren=1","date":1545232450,"lyrics_id":1,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"id":"457239033","photo_34":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=600x600&quality=96&sign=5725c11b3cfbb360bac06caa821942e5&c_uniq_tag=4I-9cK3v46N5lriyRv2Gqejv_SGnI5wrzXszJMQh1zU&type=audio","photo_1200":"https:\/\/sun1-15.vkuserphoto.ru\/impg\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"},"main_color":"#837C6A"},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"release_audio_id":"-2001996708_29996708"},{"artist":"Wild
        Nothing","id":456239131,"owner_id":215286,"title":"Chinatown (2010)","duration":198,"access_key":"d4fbb31ed8a0216fa2","ads":{"content_id":"215286_456239131","duration":"198","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"track_code":"75a1dc8cq3MPGWYqZKztHTbdfU8guZbyg8zZpFJN19xkZHt4Wsyms4m6wV6VbgHs5l2L-3HX-Ybrpb62HEra02NranPbM6vurLreWQfE","url":"https:\/\/cs9-13v4.vkuseraudio.ru\/s\/v1\/acmp\/-jjzIAH8cfcO2sr0XitDWI2pyta0fqam4Z-JSlgae7-6NTmety5U46MclTKHZnKU38zINSDHFALv1gSEMhswTKcwYsk9VTXBJX_0gxQXJ-diBsgFj1NRuePjakPyjo47xdttXJqoDL8l-ed5-qDiEnJu3vmw1iy7bCtvbNLJGV7iVzArEQ.mp3?siren=1","date":1512669303,"genre_id":18},{"artist":"wild
        nothing","id":456381051,"owner_id":-213146212,"title":"chinatown (@nightcorebot)","duration":156,"access_key":"c5de2a35b292251ef3","ads":{"content_id":"-213146212_456381051","duration":"156","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"track_code":"cfc4cf0dEmKwj_j-M7Xm981al9zbp70lLydrWSqnKXzmAiosj0UfojYsX4rCdwoGHdphaIrJ0lFHTgxLZKAkc-ENOydk4LH-PBVmc6_cHUV16vq4-w","url":"https:\/\/psv4.vkuseraudio.ru\/s\/v1\/amp2\/P-zud[...]
