---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wild%20nothing%20chinatown&sig=d7ce106ab18b67fc00c07f8eb1b58080&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":13,"items":[{"artist":"Wild Nothing","id":29996708,"owner_id":-2001996708,"title":"Chinatown","duration":198,"access_key":"28d189dabf1ee45522","ads":{"content_id":"-2001996708_29996708","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"2281bb16X8OWNJTv-fxzYoUgAcsME1cPJ-0PzSsItmttuREjUEhTaFbDVpsaSt-waubz_Sx9OHtPjRTEbw64a229AZDPiZY9Gq4KYpswntL8SQ","url":"https:\/\/cs1-67v4.vkuseraudio.net\/s\/v1\/ac\/7qUxVT_kikGCyrq25XhAFwzIFlSerJ02fc2K1je8Hj4X6vRAyCU60OxfVKBqZ7ueg_WAQDEH5ampWPxW6Q6sP-hlRwY10KirDIpgwUncROi-r7Hi9hzKAXqx6NYtSK5kYgjtu-5rHW3khh67KClXMSRc5iRJRszG5VInJSZrDaMkrWM\/index.m3u8","date":1545232450,"lyrics_id":1,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=600x600&quality=96&sign=5725c11b3cfbb360bac06caa821942e5&c_uniq_tag=4I-9cK3v46N5lriyRv2Gqejv_SGnI5wrzXszJMQh1zU&type=audio","photo_1200":"https:\/\/sun1-15.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":456239048,"owner_id":-12001881,"title":"Chinatown","duration":196,"access_key":"3cc47c57f130c4891d","ads":{"content_id":"-12001881_456239048","duration":"196","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"e90b5c371WudpxSPDxrYt-TV2LwllCBRR7740F3vglvQDIeEpbPZwF1Q1vvsrHRlCxMqigX6TyUv3uPZGemMW9AIl0xpfiOSET2KAm26F2dKvbQ","url":"https:\/\/psv4.vkuseraudio.net\/s\/v1\/a2\/LsPwJEEgX-3O75025DsiEXSHm0ZRB4mFha7mXCO-bD5q0TIHbs2PGWspk3p1QkufWlwqMG7Z74eP2-NNCrzXL2_xuKvOa3K9gSMrUp1Y91QTYTZ_yT_TFmJB0UDudd9dWwkdZOi1Zsw9IP_qAHfKGbQyHDDsvSfrlw\/index.m3u8","date":1480186811,"genre_id":18,"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":456239225,"owner_id":160784679,"title":"Chinatown","duration":203,"access_key":"ee910502eb4eef9389","ads":{"content_id":"160784679_456239225","duration":"203","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"3f08fef1eiXeBidQcwjGOsB52R1lOOIA3FL_YwNb-PkQRtXmuw52jh7x5SSQvmroL78rK0VWjXS0MuRqR132-RBC[...]
