---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/releases/16233996?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 16233996, "status": "Accepted", "year": 1985, "resource_url":
        "https://api.discogs.com/releases/16233996", "uri": "https://www.discogs.com/Kate-Bush-Hounds-Of-Love/release/16233996",
        "artists": [{"name": "Kate Bush", "anv": "", "join": "", "role": "", "tracks":
        "", "id": 85929, "resource_url": "https://api.discogs.com/artists/85929"}],
        "artists_sort": "Kate Bush", "labels": [{"name": "EMI", "catno": "CDP 7 46164
        2", "entity_type": "1", "entity_type_name": "Label", "id": 26126, "resource_url":
        "https://api.discogs.com/labels/26126"}, {"name": "EMI", "catno": "CDP7 461642",
        "entity_type": "1", "entity_type_name": "Label", "id": 26126, "resource_url":
        "https://api.discogs.com/labels/26126"}, {"name": "EMI", "catno": "CDP7461642",
        "entity_type": "1", "entity_type_name": "Label", "id": 26126, "resource_url":
        "https://api.discogs.com/labels/26126"}], "series": [], "companies": [{"name":
        "Novercia Ltd.", "catno": "", "entity_type": "13", "entity_type_name": "Phonographic
        Copyright (p)", "id": 266601, "resource_url": "https://api.discogs.com/labels/266601"},
        {"name": "Novercia Ltd.", "catno": "", "entity_type": "14", "entity_type_name":
        "Copyright (c)", "id": 266601, "resource_url": "https://api.discogs.com/labels/266601"},
        {"name": "Kate Bush Music Publishing Ltd.", "catno": "", "entity_type": "14",
        "entity_type_name": "Copyright (c)", "id": 295774, "resource_url": "https://api.discogs.com/labels/295774"},
        {"name": "EMI", "catno": "", "entity_type": "14", "entity_type_name": "Copyright
        (c)", "id": 26126, "resource_url": "https://api.discogs.com/labels/26126"},
        {"name": "EMI Records Ltd.", "catno": "", "entity_type": "4", "entity_type_name":
        "Record Company", "id": 63404, "resource_url": "https://api.discogs.com/labels/63404"},
        {"name": "Windmill Lane Studios", "catno": "", "entity_type": "23", "entity_type_name":
        "Recorded At", "id": 273134, "resource_url": "https://api.discogs.com/labels/273134"}],
        "formats": [{"name": "CD", "qty": "1", "descriptions": ["Album"]}], "data_quality":
        "Needs Vote", "community": {"have": 12, "want": 19, "rating": {"count": 0,
        "average": 0.0}, "submitter": {"username": "FredBas", "resource_url": "https://api.discogs.com/users/FredBas"},
        "contributors": [{"username": "FredBas", "resource_url": "https://api.discogs.com/users/FredBas"}],
        "data_quality": "Needs Vote", "status": "Accepted"}, "format_quantity": 1,
        "date_added": "2020-11-18T08:18:06-08:00", "date_changed": "2020-11-18T12:15:39-08:00",
        "num_for_sale": 0, "lowest_price": null, "master_id": 28680, "master_url":
        "https://api.discogs.com/masters/28680", "title": "Hounds Of Love", "country":
        "Europe", "released": "1985", "notes": "\u2117 1985 Original Sound Recordings
        made by Novercia Ltd.\u00a9 1985 Novercia Ltd.\n\u00a9 1985 Kate Bush Music
        Publishing Ltd. / EMI.\n\nOn CD: \nMade in Japan\n\nSimilar version, but [url=https://www.discogs.com/Kate-Bush-Hounds-Of-Love/release/1734767]
        WITHOUT PRICE CODE \"PM 516\" AND WITH \"MADE IN JAPAN\" ON BACK COVER.[/url]\n\n",
        "released_formatted": "1985", "identifiers": [{"type": "Barcode", "value":
        "0 77774 61642 3"}, {"type": "Rights Society", "value": "Biem/Jasrac"}, {"type":
        "Matrix / Runout", "value": "CDP 7 46164 2 7C3"}, {"type": "Mould SID Code",
        "value": "none"}, {"type": "Mastering SID Code", "value": "none"}, {"type":
        "SPARS Code", "value": "ADD"}, {"type": "Price Code", "value": "PM 516"}],
        "videos": [{"uri": "https://www.youtube.com/watch?v=wp43OdtAAkM", "title":
        "Kate Bush - Running Up That Hill - Official Music Video", "description":
        "Official music video for the single Running Up That Hill written and produced
        by British singer Kate Bush.\n\nThe song was the first single from Kate''s
        1985 album Hounds of Love and released in the UK on 5 August 1985.\n  \nRunning
        Up That Hill entered th", "duration": 297, "embed": true}, {"uri": "https://www.youtube.com/watch?v=pllRW9wETzw",
        "title": "Kate Bush - Cloudbusting - Official Music Video", "description":
        "Official music video for the single Cloudbusting written, produced and performed
        by the British singer Kate Bush. It was the second single released from her
        no.1 1985 album Hounds of Love. Cloudbusting peaked at no.20 in the UK Singles
        Chart.\r\n\r\nThe m", "duration": 417, "embed": true}, {"uri": "https://www.youtube.com/watch?v=PXVxpgHjV1Y",
        "title": "Kate Bush - Running Up That Hill (Extended 12 Version)", "description":
        "", "duration": 633, "embed": true}, {"uri": "https://www.youtube.com/watch?v=sV7w5TaYjRA",
        "title": "Kate Bush - The Big Sky - Official Music Video", "description":
        "Official music video for the single The Big Sky written and produced by British
        singer Kate Bush.\r\n\r\nThe song was the fourth and final single from the
        No. 1 album Hounds of Love.  The single was released on 28th April 1986 and
        peaked at number 37 in the", "duration": 264, "embed": true}], "genres": ["Pop"],
        "styles": ["Pop Rock", "Ballad"], "tracklist": [{"position": "", "type_":
        "heading", "title": "Hounds Of Love", "duration": ""}, {"position": "1", "type_":
        "track", "title": "Running Up That Hill (A Deal With God)", "extraartists":
        [{"name": "Paddy Bush", "anv": "", "join": "", "role": "Balalaika", "tracks":
        "", "id": 281922, "resource_url": "https://api.discogs.com/artists/281922"},
        {"name": "Del Palmer", "anv": "", "join": "", "role": "Bass", "tracks": "",
        "id": 205697, "resource_url": "https://api.discogs.com/artists/205697"}, {"name":
        "Stuart Elliott", "anv": "", "join": "", "role": "Drums", "tracks": "", "id":
        304254, "resource_url": "https://api.discogs.com/artists/304[...]
