---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=release
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1&per_page=5>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1326&per_page=5>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1&per_page=5>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=3&per_page=5>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 1326, "per_page": 5, "items": 6626,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1&per_page=5",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1326&per_page=5",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=1&per_page=5",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&query=kate+bush&type=release&page=3&per_page=5"}},
        "results": [{"country": "Canada", "year": "1983", "format": ["Vinyl", "LP",
        "Mini-Album", "Limited Edition", "Compilation"], "label": ["EMI America",
        "EMI America", "Ever Reddy", "Capitol Records-EMI Of Canada Limited", "Capitol
        Records-EMI Of Canada Limited", "EMI America Recording Studios", "Novercia
        Ltd.", "EMI America Records", "EMI America Records", "Beechwood Music Corp.",
        "Screen Gems-EMI Music Inc.", "McClear Place", "Capitol Records-EMI Of Canada
        Limited"], "type": "release", "genre": ["Rock"], "style": ["Art Rock", "Pop
        Rock"], "id": 1944543, "barcode": ["19004-1", "19004-2", "MLP 19004 A! 1610
        \"diolge\" G. Mcl [bullseye stamp]", "MLP 19004 B! 1610 \"diolge\" G. Mcl
        [bullseye stamp]", "BMI"], "master_id": 119657, "master_url": "https://api.discogs.com/masters/119657",
        "uri": "/Kate-Bush-Kate-Bush/release/1944543", "catno": "MLP-19004", "title":
        "Kate Bush - Kate Bush", "thumb": "https://img.discogs.com/mQXucPdM3hVBFFHTQ7Mo2rkWxSo=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-1944543-1394392510-9359.jpeg.jpg",
        "cover_image": "https://img.discogs.com/_9TkWYcGrDxK7iAvxAFECKCsHHg=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1944543-1394392510-9359.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/1944543", "community": {"want":
        92, "have": 115}, "format_quantity": 1, "formats": [{"name": "Vinyl", "qty":
        "1", "text": "White", "descriptions": ["LP", "Mini-Album", "Limited Edition",
        "Compilation"]}]}, {"country": "Canada", "year": "1983", "format": ["Vinyl",
        "LP", "Mini-Album", "Compilation"], "label": ["EMI America", "EMI America",
        "Novercia Ltd.", "EMI America Records", "EMI America Records", "Capitol Records,
        Inc.", "Beechwood Music Corp.", "Screen Gems-EMI Music Inc.", "EMI America
        Recording Studios", "Capitol Records-EMI Of Canada Limited", "CBS Records
        Canada Ltd.", "Capitol Recor[...]
