---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=2&per_page=5&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=release
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=release>;
        rel="first", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1371&per_page=5&query=kate+bush&type=release>;
        rel="last", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=release>;
        rel="prev", <https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=release>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 1371, "per_page": 5, "items": 6853,
        "urls": {"first": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=release",
        "last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1371&per_page=5&query=kate+bush&type=release",
        "prev": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&query=kate+bush&type=release",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&query=kate+bush&type=release"}},
        "results": [{"country": "Canada", "year": "1983", "format": ["Vinyl", "LP",
        "Mini-Album", "Limited Edition", "Compilation"], "label": ["EMI America",
        "EMI America"], "type": "release", "genre": ["Rock"], "style": ["Art Rock",
        "Pop Rock"], "id": 2348032, "barcode": ["19004-1", "19004-2", "MLP 19004 A!
        1610 \"diolge\" G. M CC", "MLP 19004 B! 1610 \"diolge\" G. M CC"], "master_id":
        119657, "master_url": "https://api.discogs.com/masters/119657", "uri": "/Kate-Bush-Kate-Bush/release/2348032",
        "catno": "MLP-19004", "title": "Kate Bush - Kate Bush", "thumb": "https://img.discogs.com/iJz5G3uh1oYUX7xUfE-0HwwxyBw=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-2348032-1279627143.jpeg.jpg",
        "cover_image": "https://img.discogs.com/d5RKJvN8pMh4tY2UjB6xlmz397s=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2348032-1279627143.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/2348032", "community": {"want":
        107, "have": 119}, "format_quantity": 1, "formats": [{"name": "Vinyl", "qty":
        "1", "text": "Gold", "descriptions": ["LP", "Mini-Album", "Limited Edition",
        "Compilation"]}]}, {"country": "Canada", "year": "1983", "format": ["Vinyl",
        "LP", "Mini-Album", "Compilation"], "label": ["EMI America", "EMI America",
        "Novercia Ltd.", "EMI America Records", "EMI America Records", "Capitol Records,
        Inc.", "Beechwood Music Corp.", "Screen Gems-EMI Music Inc.", "EMI America
        Recording Studios", "Capitol Records-EMI Of Canada Limited", "CBS Records
        Canada Ltd.", "Capitol Recor[...]
