---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=20&pageToken&part=snippet&playlistId=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 404,
            "message": "The playlist identified with the request's \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found.",
            "errors": [
              {
                "message": "The playlist identified with the request's \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found.",
                "domain": "youtube.playlistItem",
                "reason": "playlistNotFound",
                "location": "playlistId",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Thu, 10 Jun 2021 09:09:07 GMT
recorded_with: VCR 6.0.0
