---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.ru/search/instant/mixed?filter=artist&page=0&pageSize=20&text=kate%20bush&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
      X-Retpath-Y:
      - https://music.yandex.ru/search?text=kate+bush
      X-Yandex-Music-Client:
      - YandexMusicWebNext/1.0.0
      X-Yandex-Music-Multi-Auth-User-Id:
      - '2273883602'
      X-Yandex-Music-Without-Invocation-Info:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yandex-Music-Hostname:
      - music-search-production-music-search-48.klg.yp-c.yandex.net
      X-Yandex-Music-Execution-Duration:
      - '88'
      Traceid:
      - 436f39f63a84cd86107fd48d218098c9
      Content-Type:
      - application/json
      X-Yandex-Music-Application:
      - music-search
    body:
      encoding: ASCII-8BIT
      string: '{"searchRequestId":"fa968bdf-0dcd-4418-91a1-97de30c3b0b7","text":"kate
        bush","misspellCorrected":false,"lastPage":true,"perPage":20,"results":[{"type":"artist","artist":{"id":"15446","name":"Kate
        Bush","various":false,"composer":false,"cover":{"prefix":"67876e03.a.24376-2","uri":"avatars.yandex.net/get-music-content/16508792/67876e03.a.24376-2/%%","type":"from-album-cover"},"ogImage":"avatars.yandex.net/get-music-content/16508792/67876e03.a.24376-2/%%","genres":["pop","rock"],"counts":{"tracks":63,"directAlbums":7,"alsoAlbums":38,"alsoTracks":21},"available":true,"disclaimers":[],"ratings":{"week":1559,"month":1465,"day":1511},"links":[{"title":"katebush.com","href":"http://www.katebush.com/","type":"official"},{"title":"katebushmusic","href":"https://twitter.com/katebushmusic","type":"social","socialNetwork":"twitter"},{"title":"user/KateBushMusic","href":"https://www.youtube.com/user/KateBushMusic","type":"social","socialNetwork":"youtube"}],"likesCount":0,"dbAliases":[],"extraActions":[],"derivedColors":{"average":"#64523d","waveText":"#ffe2c1","miniPlayer":"#c8b8a6","accent":"#b19a80"}}},{"type":"artist","artist":{"id":"7585341","name":"Kate
        Bush / EMI''s Team","various":false,"composer":false,"genres":[],"counts":{"tracks":1,"directAlbums":0,"alsoAlbums":1,"alsoTracks":1},"available":true,"disclaimers":[],"ratings":{"week":188860,"month":198895},"links":[],"likesCount":0,"dbAliases":[],"extraActions":[]}},{"type":"artist","artist":{"id":"3314525","name":"Karaoke
        - Kate Bush","various":false,"composer":false,"genres":[],"counts":{"tracks":1,"directAl[...]
