---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/tracks?client_id=<SOUNDCLOUD_TEST_V2_CLIENT_ID>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:2f21ea9acf3441be87d3876d5b42ff9a"}'
  recorded_at: Fri, 09 Apr 2021 15:35:35 GMT
recorded_with: VCR 6.0.0
