---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/albums?client_id=<SOUNDCLOUD_API_KEY>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:f4b7fd56e9df4f34a9b0ab7824c8112d"}'
  recorded_at: Sat, 02 Jan 2021 11:41:52 GMT
recorded_with: VCR 6.0.0
