---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=wejlhg239gh23&key=<GOOGLE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "RuuXzTIr0OoDqI4S0RU6n4FqKEM",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          }
        }
  recorded_at: Tue, 02 May 2023 09:26:47 GMT
recorded_with: VCR 6.1.0
