---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=1000&method=chart.getTopTags&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tags":{"tag":[{"name":"rock","url":"https://www.last.fm/tag/rock","reach":"396093","taggings":"3985367","streamable":"1","wiki":{}},{"name":"electronic","url":"https://www.last.fm/tag/electronic","reach":"254646","taggings":"2378079","streamable":"1","wiki":{}},{"name":"seen
        live","url":"https://www.last.fm/tag/seen+live","reach":"81762","taggings":"2143149","streamable":"1","wiki":{}},{"name":"alternative","url":"https://www.last.fm/tag/alternative","reach":"262246","taggings":"2097443","streamable":"1","wiki":{}},{"name":"indie","url":"https://www.last.fm/tag/indie","reach":"254023","taggings":"2020101","stream[...]
