---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=10&method=chart.getTopTags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tags":{"tag":[{"name":"rock","url":"https://www.last.fm/tag/rock","reach":"395802","taggings":"3982536","streamable":"1","wiki":{}},{"name":"electronic","url":"https://www.last.fm/tag/electronic","reach":"254397","taggings":"2375017","streamable":"1","wiki":{}},{"name":"seen
        live","url":"https://www.last.fm/tag/seen+live","reach":"81753","taggings":"2142769","streamable":"1","wiki":{}},{"name":"alternative","url":"https://www.last.fm/tag/alternative","reach":"262024","taggings":"2096456","streamable":"1","wiki":{}},{"name":"indie","url":"https://www.last.fm/tag/indie","reach":"253748","taggings":"2018724","streamable":"1","wiki":{}},{"name":"pop","url":"https://www.last.fm/tag/pop","reach":"226110","taggings":"1977643","streamable":"1","wiki":{}},{"name":"female
        vocalists","url":"https://www.last.fm/tag/female+vocalists","reach":"167886","taggings":"1600460","streamable":"1","wiki":{}},{"name":"metal","url":"https://www.last.fm/tag/metal","reach":"155719","taggings":"1260384","streamable":"1","wiki":{}},{"name":"alternative
        rock","url":"https://www.last.fm/tag/alternative+rock","reach":"166953","taggings":"1167841","streamable":"1","wiki":{}},{"name":"jazz","url":"https://www.last.fm/tag/jazz","reach":"146660","taggings":"1152119","streamable":"1","wiki":{}}],"@attr":{"page":"1","perPage":"10","totalPages":"273490","total":"2734893"}}}'
  recorded_at: Thu, 08 Oct 2020 18:52:34 GMT
recorded_with: VCR 6.0.0
