---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=1&per_page=20&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '52'
      X-Discogs-Ratelimit-Used:
      - '8'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 35, "per_page": 20, "items": 681,
        "urls": {"last": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=35&per_page=20&query=kate+bush&type=master",
        "next": "https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=2&per_page=20&query=kate+bush&type=master"}},
        "results": [{"country": "US", "year": "1983", "format": ["Vinyl", "LP", "Mini-Album",
        "Compilation", "Stereo"], "label": ["EMI America", "Screen Gems-EMI Music
        Inc.", "Novercia Ltd.", "EMI America Records", "EMI America Records", "Capitol
        Records, Inc.", "Liberty Recording Studios", "Capitol Records Pressing Plant,
        Jacksonville"], "type": "master", "genre": ["Rock"], "style": ["Art Rock",
        "Pop Rock"], "id": 119657, "barcode": ["BMI", "MLP-1-19004-P.2. #1 MASTERED
        BY LIBERTY", "MLP-2-19004-P.2. #1 MASTERED BY LIBERTY", "0", "07777190041",
        "MLP-1-19004-P.1. #1 MASTERED BY LIBERTY", "MLP-2-19004-P.2. #1 MASTERED BY
        LIBERTY", "MLP-1-19004-P.2. #2 MASTERED BY LIBERTY", "MLP-1-19004-P.1. #1
        MASTERED BY LIBERTY"], "master_id": 119657, "master_url": "https://api.discogs.com/masters/119657",
        "uri": "/Kate-Bush-Kate-Bush/master/119657", "catno": "MLP-19004", "title":
        "Kate Bush - Kate Bush", "thumb": "https://img.discogs.com/5Zt2fHc_N6Yb14J77nxRAuf9Jkg=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-483467-1335763473.jpeg.jpg",
        "cover_image": "https://img.discogs.com/giBVIqUaHUxOX8MC5nDJI6-rLFw=/fit-in/600x599/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-483467-1335763473.jpeg.jpg",
        "resource_url": "https://api.discogs.com/masters/119657", "community": {"want":
        1111, "have": 1902}}, {"country": "German Democratic Republic (GDR)", "year":
        "1984", "format": ["Vinyl", "LP", "Compilation", "Stereo"], "label": ["AMIGA",
        "VEB Deutsche Schallplatten Berlin", "VEB Deutsche Schallplatten Potsdam-Babelsberg",
        "EMI Records Ltd.", "EMI Records Ltd.", "VEB VMW \"Ernst Th\u00e4lmann\",
        Werk Gotha-Druck"], "type": "master", "genre": ["Electronic", "Rock"], "style":
        ["Pop Rock", "Synth-pop", "Experimental"], "id": 28649, "barcode": ["AWA",
 [...]
