---
http_interactions:
- request:
    method: get
    uri: https://api.audius.co/v1/full/search/full?api_key=<AUDIUS_API_KEY>&kind=users&limit=5&offset=5&query=john%20doe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 24 Jan 2026 12:56:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"albums":[],"playlists":[],"saved_albums":[],"saved_playlists":[],"saved_tracks":[],"saved_users":[],"tracks":[],"users":[{"album_count":0,"bio":null,"follower_count":10,"followee_count":3,"handle":"stevesweatpants","id":"6NZVE","user_id":311084,"is_verified":true,"twitter_handle":"stevesweatpants","instagram_handle":"stevesweatpants","tiktok_handle":null,"verified_with_twitter":true,"verified_with_instagram":true,"verified_with_tiktok":false,"website":"https://stevesweatpants.com/","donation":null,"location":"Brooklyn,
        NY","name":"Steven John Irby","playlist_count":0,"profile_type":null,"repost_count":19,"track_count":0,"is_deactivated":false,"is_available":true,"erc_wallet":"0x297d2c265fecc4635c59f71a8a8cb23d2569bade","spl_wallet":"4gXRyvPrwWWZSJV83VeXbpi529uJPmkVBzhZuzsqMygr","usdc_wallet":null,"spl_usdc_payout_wallet":null,"supporter_count":0,"supporting_count":0,"wallet":"0x297d2c265fecc4635c59f71a8a8cb23d2569bade","balance":"0","associated_wallets_balance":"0","total_balance":"5000000000000000000","total_audio_balance":5,"payout_wallet":"","waudio_balance":"500000000","associated_sol_wallets_balance":"0","blocknumber":40092336,"created_at":"2021-10-13T13:32:35Z","is_storage_v2":false,"creator_node_endpoint":"https://creatornode2.audius.co,https://audius-content-13.figment.io,https://blockdaemon-audius-content-03.bdnodes.net","current_user_followee_follow_count":0,"does_current_user_follow":false,"does_current_user_subscribe":false,"does_follow_current_user":false,"handle_lc":"stevesweatpants","updated_at":"2023-06-24T03:26:38Z","cover_photo_sizes":"QmcY5NXrkcWjfCRZZyuqivLKgpTrW4HBuMBz2rYfHeEtmV","cover_photo_cids":null,"cover_photo_legacy":null,"profile_picture_sizes":"Qme8bfGnf8Yz7wAfE3hhzCvjgnZvkhc1EQ2fdubQWxhMEu","profile_picture_cids":null,"profile_picture_legacy":null,"has_collectibles":false,"allow_ai_attribution":false,"coin_flair_mint":null,"artist_coin_badge":null,"artist_pick_track_id":null,"profile_picture":{"150x150":"https://audius-content-5.figment.io/content/Qme8bfGnf8Yz7wAfE3hhzCvjgnZvkhc1EQ2fdubQWxhMEu/150x150.jpg","480x480":"https://audius-content-5.figment.io/content/Qme8bfGnf8Yz7wAfE3hhzCvjgnZvkhc1EQ2fdubQWxhMEu/480x480.jpg","1000x1000":"https://audius-content-5.figment.io/content/Qme8bfGnf8Yz7wAfE3hhzCvjgnZvkhc1EQ2fdubQWxhMEu/1000x1000.jpg","mirrors":["https://cn1.shakespearetech.com","https://audius-content-13.cultur3stake.com","https://creatornode2.audius.co"]},"cover_photo":{"640x":"https://audius-content-6.cultur3stake.com/content/QmcY5NXrkcWjfCRZZyuqivLKgpTrW4HBuMBz2rYfHeEtmV/640x.jpg","2000x":"https://audius-content-6.cultur3stake.com/content/QmcY5NXrkcWjfCRZZyuqivLKgpTrW4HBuMBz2rYfHeEtmV/2000x.jpg","mirrors":["https://audius-02.staked.cloud","https://audius-content-5.cultur3stake.com","https://creatornode2.audius.co"]}},{"album_count":0,"bio":null,"follower_count":6,"followee_count":4,"handle":"ankhnasty","id":"5BGAY","user_id":317046,"is_verified":true,"twitte[...]
