---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/similarartists?artist=Wild%20Nothing&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '44398'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"main_artist":{"artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing","top_track":{"artist":"Wild
        Nothing","name":"Chinatown","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","listeners":234174,"scrobbles":1386123,"playlink":{"class":"chartlist-play-button
        js-playlink","title":"Play track","target":"_blank","href":"https://www.youtube.com/watch?v=WI1-gu5PTBk","data-affiliate":"youtube","data-affiliate-id":"WI1-gu5PTBk","data-youtube-id":"WI1-gu5PTBk","data-youtube-url":"https://www.youtube.com/watch?v=WI1-gu5PTBk","data-track-name":"Chinatown","data-track-url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","data-artist-name":"Wild
        Nothing","data-artist-url":"https://www.last.fm/music/Wild+Nothing"}}},"artist":[{"name":"Craft
        Spells","listeners":357008,"scrobbles":5788991,"weight":1.0,"url":"https://www.last.fm/music/Craft+Spells","image":"https://lastfm.freetls.fastly.net/i/u/174s/a35e30d548b8468c87e2616b9e8bc6bd.png"},{"name":"Beach
        Fossils","listeners":732956,"scrobbles":21417501,"weight":0.874001,"url":"https://www.last.fm/music/Beach+Fossils","image":"https://lastfm.freetls.fastly.net/i/u/174s/9973b2c67bc0641f1517eae3590ac972.png"},{"name":"DIIV","listeners":536603,"scrobbles":18427688,"weight":0.8205,"url":"https://www.last.fm/music/DIIV","image":"https://lastfm.freetls.fastly.net/i/u/174s/4879ebfee3484b0e974cffbccb[...]
