---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/playlists/wejlhg239gh23?client_id=<SOUNDCLOUD_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":400,"message":"Invalid playlist id: ''wejlhg239gh23''","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"400
        - Bad Request","errors":[{"error_message":"Invalid playlist id: ''wejlhg239gh23''"}],"error":null}'
  recorded_at: Sat, 09 Jan 2021 15:01:45 GMT
recorded_with: VCR 6.0.0
