---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/search?limit=5&page=2&q=a&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '2445'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"query":"a","totalArtists":"0","totalAlbums":"102145821","totalTracks":"0","artistmatches":{"artist":[]},"albummatches":{"album":[{"name":"Absolution","artist":"Muse","listeners":"2146143","url":"https://www.last.fm/music/Muse/Absolution","streamable":"0","image":"https://lastfm.freetls.fastly.net/i/u/174s/09a7dd691dba9ed475f1b5c1bef0074a.png","sr":{"artist_id":"4306015308686641900","w1":396523,"w2":0,"qw":12.0,"fw":"4758299","sw":"399822705","md5":"10226407771481197292","w":"0xFFFFFFFFFFB764E4|0xFFFFFFFFE82B308E|0x8DEB7FAFB36E4AEC"}},{"name":"A
        Fever You Can''t Sweat Out","artist":"Panic! at the Disco","listeners":"1599310","url":"https://www.last.fm/music/Panic%21+at+the+Disco/A+Fever+You+Can%27t+Sweat+Out","streamable":"0","image":"https://lastfm.freetls.fastly.net/i/u/174s/249a926fbef4487eb39bbb93d4a0618d.png","sr":{"artist_id":"12311805662367439525","w1":341451,"w2":0,"qw":13.8699999999999992,"fw":"4736631","sw":"309865584","m[...]
