---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=wild%20nothing%20nocturne&api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=album.search&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wild
        nothing nocturne","startPage":"2"},"opensearch:totalResults":"104","opensearch:startIndex":"5","opensearch:itemsPerPage":"5","albummatches":{"album":[{"name":"Nocturne
        - mu-sique.com","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne+-+mu-sique.com","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"Nocturne
        [+CD] Disc 1","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne+%5B%252BCD%5D+Disc+1","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"Nocturne
        (2012)","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne+(2012)","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"Wild
        Nothing - Nocturne (2012)","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Wild+Nothing+-+Nocturne+(2012)","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"2012
        - Nocturne","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/2012+-+Nocturne","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""}]},"@attr":{"for":"wild
        nothing nocturne"}}}'
  recorded_at: Fri, 24 Jun 2022 16:52:14 GMT
recorded_with: VCR 6.1.0
