---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=a&api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=album.search&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"a","startPage":"2"},"opensearch:totalResults":"122964092","opensearch:startIndex":"5","opensearch:itemsPerPage":"5","albummatches":{"album":[{"name":"AM","artist":"Arctic
        Monkeys","url":"https://www.last.fm/music/Arctic+Monkeys/AM","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/f579e414e20f40969185e41182d72472.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/f579e414e20f40969185e41182d72472.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/f579e414e20f40969185e41182d72472.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/f579e414e20f40969185e41182d72472.png","size":"extralarge"}],"streamable":"0","mbid":"bf584cf2-dc33-433e-b8b2-b85578822726"},{"name":"ASTROWORLD","artist":"Travis
        Scott","url":"https://www.last.fm/music/Travis+Scott/ASTROWORLD","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/4386a469e620103f8436b3e969075959.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/4386a469e620103f8436b3e969075959.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/4386a469e620103f8436b3e969075959.png","size":"large"},{"#text":"https://la[...]
