---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?album=wejlhg239gh23&api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=20&method=album.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wejlhg239gh23","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"20","albummatches":{"album":[]},"@attr":{"for":"wejlhg239gh23"}}}'
  recorded_at: Sun, 07 Dec 2025 18:39:04 GMT
recorded_with: VCR 6.3.1
