---
http_interactions:
- request:
    method: post
    uri: https://music.youtube.com/youtubei/v1/search?continuation
    body:
      encoding: UTF-8
      string: '{"context":{"client":{"clientName":"WEB_REMIX","clientVersion":"1.20230227.01.00","gl":"GB"}},"query":"wejlhg239gh23"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseContext": {
            "visitorData": "Cgs0anJjcHJGMHNSVSious3HBjIKCgJCWRIEGgAgGg%3D%3D",
            "serviceTrackingParams": [
              {
                "service": "CSI",
                "params": [
                  {
                    "key": "c",
                    "value": "WEB_REMIX"
                  },
                  {
                    "key": "cver",
                    "value": "1.20230227.01.00"
                  },
                  {
                    "key": "yt_li",
                    "value": "0"
                  },
                  {
                    "key": "GetSearch_rid",
                    "value": "0x57a4e4759ebcc054"
                  }
                ]
              },
              {
                "service": "GFEEDBACK",
                "params": [
                  {
                    "key": "logged_in",
                    "value": "0"
                  }
                ]
              },
              {
                "service": "ECATCHER",
                "params": [
                  {
                    "key": "client.version",
                    "value": "1.20000101"
                  },
                  {
                    "key": "client.name",
                    "value": "WEB_REMIX"
                  }
                ]
              }
            ],
            "maxAgeSeconds": 120
          },
          "contents": {
            "tabbedSearchResultsRenderer": {
              "tabs": [
                {
                  "tabRenderer": {
                    "title": "YT Music",
                    "selected": true,
                    "content": {
                      "sectionListRenderer": {
                        "contents": [
                          {
                            "itemSectionRenderer": {
                              "contents": [
                                {
                                  "messageRenderer": {
                                    "text": {
                                      "runs": [
                                        {
                                          "text": "No results for "
                                        },
                                        {
                                          "text": "wejlhg239gh23",
                                          "bold": true
                                        },
                                        {
                                          "text": "."
                                        }
                                      ]
                                    },
                                    "icon": {
                                      "iconType": "SEARCH"
                                    },
                                    "trackingParams": "CAQQ-pUBGAAiEwiAjuiBt62QAxUQU3oFHfBJDK0=",
                                    "subtext": {
                                      "messageSubtextRenderer": {
                                        "text": {
                                          "runs": [
                                            {
                                              "text": "Try different keywords"
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              ],
                              "trackingParams": "CAMQuy8YACITCICO6IG3rZADFRBTegUd8EkMrQ=="
                            }
                          }
                        ],
                        "trackingParams": "CAIQui8iEwiAjuiBt62QAxUQU3oFHfBJDK0="
                      }
                    },
                    "tabIdentifier": "music_search_catalog",
                    "trackingParams": "CAEQ8JMBGAAiEwiAjuiBt62QAxUQU3oFHfBJDK0="
                  }
                }
              ]
            }
          },
          "trackingParams": "CAAQvGkiEwiAjuiBt62QAxUQU3oFHfBJDK0="
        }
  recorded_at: Sat, 18 Oct 2025 09:26:00 GMT
[...]
