---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists?limit=5&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQANUzbn0K51z78z7_e29hhFbN2uiqul9Jcy9NwSLzY87rQxV7Tqh4y7OZZV2uUofiCwWRXYLJZnWvImWG0O_Rmr-38-Au1srHCOYvSucLoFKsDls83Hv0Qri0QCEwhvzQWjLLkLIbcIuaCj2lYcThiHPe3jYw4G-g8s3IrSByYIlT7ykNvmEWybljfdR3fCb_9OZvUXBkvbdONCtD9Yam1io2IqkDYFBEyw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjJiM2Y0ZmYzYmM3ZjI4MzJkYTVmNDU0NDA3YTQ2NjJiIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj/playlists?offset=5&limit=5",
          "items" : [ {
            "collaborative" : false,
            "description" : "",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/5Otq9ZokE8LGOrHjDfq29j"
            },
            "href" : "https://api.spotify.com/v1/playlists/5Otq9ZokE8LGOrHjDfq29j",
            "id" : "5Otq9ZokE8LGOrHjDfq29j",
            "images" : [ ],
            "name" : "My Playlist #8",
            "owner" : {
              "display_name" : "staniel",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/varkxpososm9sp59ojzpoc7rj"
              },
              "href" : "https://api.spotify.com/v1/users/varkxpososm9sp59ojzpoc7rj",
              "id" : "varkxpososm9sp59ojzpoc7rj",
              "type" : "user",
              "uri" : "spotify:user:varkxpososm9sp59ojzpoc7rj"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "MSxiMGVjOTExZmI4YTE0MGM1YzBlNDRhNjZmY2E2MzE5MTgxMTBlZDk1",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/5Otq9ZokE8LGOrHjDfq29j/tracks",
              "total" : 0
            },
            "type" : "playlist",
            "uri" : "spotify:playlist:5Otq9ZokE8LGOrHjDfq29j"
          }, {
            "collaborative" : false,
            "description" : "",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/6sU0dnbL9BPKHOIDFh7S3N"
            },
            "href" : "https://api.spotify.com/v1/playlists/6sU0dnbL9BPKHOIDFh7S3N",
            "id" : "6sU0dnbL9BPKHOIDFh7S3N",
            "images" : [ ],
            "n[...]
