---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wejlhg239gh23&sig=67e97371d10849700cec33720e0c8fa2&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Wed, 01 Nov 2023 19:54:29 GMT
recorded_with: VCR 6.2.0
