---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.searchArtists?access_token=<VK_ACCESS_TOKEN>&count=20&offset=0&q=wejlhg239gh23&sig=a8307fb28d577dda8d8a8210f868509e&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":0,"items":[]}}'
  recorded_at: Wed, 17 May 2023 10:25:23 GMT
recorded_with: VCR 6.1.0
