---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=5&method=chart.getTopTracks&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"good 4 u","duration":"0","playcount":"3274098","listeners":"213933","mbid":"","url":"https://www.last.fm/music/Olivia+Rodrigo/_/good+4+u","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Olivia
        Rodrigo","mbid":"","url":"https://www.last.fm/music/Olivia+Rodrigo"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]},{"name":"Kiss
        Me More (feat. SZA)","duration":"0","playcount":"3547682","listeners":"257275","mbid":"","url":"https://www.last.fm/music/Doja+Cat/_/Kiss+[...]
