---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album=wild%20nothing%20nocturne&api_key=<LASTFM_API_KEY>&autocorrect=1&format=json&limit=5&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wild
        nothing nocturne","startPage":"1"},"opensearch:totalResults":"95","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","albummatches":{"album":[{"name":"Nocturne","artist":"Wild
        Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"extralarge"}],"streamable":"0","mbid":"172124dd-72da-4822-9945-e81b262ca7b3"},{"name":"Nocturne
        [Bonus Tracks]","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne+%5BBonus+Tracks%5D","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"Wild
        Nothing - Nocturne","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Wild+Nothing+-+Nocturne","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"(2012)
        Nocturne","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/(2012)+Nocturne","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""},{"name":"Nocturne
        - mu-sique.com","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne+-+mu-sique.com","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"streamable":"0","mbid":""}]},"@attr":{"for":"wild
        nothing nocturne"}}}'
  recorded_at: Tue, 13 Oct 2020 20:40:11 GMT
recorded_with: VCR 6.0.0
