---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_ARTISTS>&fields=items(pagemap(cse_image,metatags(og:description,og:site_name,og:title,og:url))),queries(request(totalResults))&key=<GOOGLE_API_KEY>&q=a&start=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "18"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "A Strangely Isolated Place",
                    "og:title": "A Strangely Isolated Place",
                    "og:description": "Ambient adjacent.\n\nPlease check our site for all shipping/store options: http://asip.me/stockists",
                    "og:url": "https://astrangelyisolatedplace.bandcamp.com"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://f4.bcbits.com/img/0020131968_23.jpg"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "group A",
                    "og:title": "group A",
                    "og:description": "Experimental music and performance act based in Berlin/Tokyo",
                    "og:url": "https://groupa.bandcamp.com"
                  }
                ],
  [...]
