---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_ARTISTS>&key=<GOOGLE_API_KEY>&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 429,
            "message": "Quota exceeded for quota metric 'Site Restricted Queries' and limit 'Site Restricted Queries per day' of service 'customsearch.googleapis.com' for consumer 'project_number:135548979581'.",
            "errors": [
              {
                "message": "Quota exceeded for quota metric 'Site Restricted Queries' and limit 'Site Restricted Queries per day' of service 'customsearch.googleapis.com' for consumer 'project_number:135548979581'.",
                "domain": "global",
                "reason": "rateLimitExceeded"
              }
            ],
            "status": "RESOURCE_EXHAUSTED"
          }
        }
  recorded_at: Sat, 06 Feb 2021 13:06:26 GMT
recorded_with: VCR 6.0.0
