---
http_interactions:
- request:
    method: get
    uri: https://wmf.ok.ru/album;jsessionid=<ODNOKLASSNIKI_TEST_SESSION_ID>?albumId=122892151976711&imgfmt=base
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : [ {
            "id" : 122892149965596,
            "name" : "Indigo",
            "ensemble" : "Wild Nothing",
            "masterArtistId" : 122883968135759,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvTwKGYZZ4JlQgHdMdOjyy4fL3xpBf2sNXN7T2YdapBdE",
            "playlistId" : 15036976551,
            "tracksCount" : 11,
            "legal" : 1,
            "year" : 2018,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"
            }, {
              "id" : 21,
              "label" : "Alternative"
            }, {
              "id" : 138,
              "label" : "Indie"
            } ],
            "allArtists" : [ {
              "id" : 122883968135759,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvTwKGYZZ4JlQgHdMdOjyy4fL3xpBf2sNXN7T2YdapBdE",
              "name" : "Wild Nothing"
            } ]
          }, {
            "id" : 122892150768608,
            "name" : "Canyon on Fire",
            "ensemble" : "Wild Nothing",
            "masterArtistId" : 122883968135759,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvIrXqy7lb7IRFW30uvlVQgCFg2XlD0A3VMQJzdNizOfI",
            "playlistId" : 15036976767,
            "tracksCount" : 1,
            "legal" : 1,
            "year" : 2018,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"
            }, {
              "id" : 21,
              "label" : "Alternative"
            }, {
              "id" : 138,
              "label" : "Indie"
            } ],
            "allArtists" : [ {
              "id" : 122883968135759,
              "imageUrl" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvTwKGYZZ4JlQgHdMdOjyy4fL3xpBf2sNXN7T2YdapBdE",
              "name" : "Wild Nothing"
            } ],
            "single" : 1
          }, {
            "id" : 122892150834160,
            "name" : "Laughing Gas",
            "ensemble" : "Wild Nothing",
            "masterArtistId" : 122883968135759,
            "image" : "https://i.mycdn.me/i?r=ADEpfJ3IzjOIppVyQd5qHrqvrr-eq689RiytcWVfLGhause5H1Mhi4u-5pLSfhlXNwA",
            "playlistId" : 15036976887,
            "tracksCount" : 5,
            "legal" : 1,
            "year" : 2020,
            "genres" : [ {
              "id" : 2,
              "label" : "Rock"[...]
