---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&offset=5&q=a&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=a&type=artist&offset=5&limit=5",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/7Ln80lUS6He07XvHI8qqHH"
              },
              "followers" : {
                "href" : null,
                "total" : 10308989
              },
              "genres" : [ "garage rock", "modern rock", "permanent wave", "rock", "sheffield indie" ],
              "href" : "https://api.spotify.com/v1/artists/7Ln80lUS6He07XvHI8qqHH",
              "id" : "7Ln80lUS6He07XvHI8qqHH",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ed0552e9746ed2bbf04ae4bcb5525700ca31522d",
                "width" : 640
              }, {
                "height" : 320,
                "url" : "https://i.scdn.co/image/b435e99aa7f1e27db56b6a4dc9df85e5636b22d6",
                "width" : 320
              }, {
                "height" : 160,
                "url" : "https://i.scdn.co/image/73c4e49abed008fe0c5e4f1437b8b486c7670ecd",
                "width" : 160
              } ],
              "name" : "Arctic Monkeys",
              "popularity" : 86,
              "type" : "artist",
              "uri" : "spotify:artist:7Ln80lUS6He07XvHI8qqHH"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/4sj6D0zlMOl25nprDJBiU9"
              },
              "followers" : {
                "href" : null,
                "total" : 325939
              },
              "genres" : [ "adult standards", "easy listening", "mellow gold" ],
              "href" : "https://api.spotify.com/v1/artists/4sj6D0zlMOl25nprDJBiU9"[...]
