---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=474499137_456584653&sig=07ba6b44b1b904f3acbc0f10545d9ac9&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656010
      X-Trace-Id:
      - V_l2ziWloUm4DdWOAMtxWgNLcV5W_w
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"artist":"Sparks","id":456584653,"owner_id":474499137,"title":"At
        Home At Work At Play","duration":186,"access_key":"b168e39fd346c810dc","ads":{"content_id":"474499137_456584653","duration":"186","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"track_code":"79b5f37aGQ3inSWkF7eKJsPP_d1t6aHmeS55EG_cwAEmUrAylM9wyxZZocSvACX_ws9_","url":"https:\/\/cs9-4v4.vkuseraudio.ru\/s\/v1\/acmp\/OpEEJM1mYJ5LY_w3NDDQnWHgU9bpiNMyq24Epc1jXh_L7EfleXs-wF-_b_NDhAw7uthlUiGUrOlspyYTu5sOBwok605LrZWBsDwMck1yQ_S0dWuboIYRt6UHzrxA7b5977mo-IIXMaS4Vy7zAuc8LB2QRzYxIIl8f96zC2V2nfQijuLArQ.mp3?siren=1","date":1626952848,"lyrics_id":1,"album":{"id":285052,"title":"Propaganda
        (Digitally Remastered)","owner_id":-2000285052,"access_key":"4cbd1f4aea1cdf3c8e","thumb":{"width":300,"height":300,"id":"457239022","photo_34":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=34x34&quality=96&sign=6b5382393a9c860dff521ad6f4a722c0&c_uniq_tag=y56uEi2s4cySMQR9gcmQVWMe70CYNJppSwiuv9cGq8E&type=audio","photo_68":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=68x68&quality=96&sign=8726c7f61b35b4069f9fdfb4c423e235&c_uniq_tag=aTAQnm0TzFiARM6M2rQIYtv3_84NHm-m8OEP3PjspJY&type=audio","photo_135":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=135x135&quality=96&sign=8991826e524657e8378e8fd8beb82d0b&c_uniq_tag=TrIRSO2MkmEF1WBB5W1SxQOkCXU2pV5mjg5_9H9oRVQ&type=audio","photo_270":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=270x270&quality=96&sign=03746a8044c7afce645440347774a1aa&c_uniq_tag=lX9DbhQIJ96g_QUBul_zLyHtACWoPPvM2I_07ipb2aI&type=audio","photo_300":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=300x300&quality=96&sign=f7937594985a728e9fc653cf283767d0&c_uniq_tag=mQT4ANfR69CkEWL7ewg5iEpU7r-um7ijCIOWth_ckXk&type=audio","photo_600":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=600x600&quality=96&sign=326817f80a2eb9ecd42b84b5086f7d5a&c_uniq_tag=khmWzWzesHhzvWCvgeyyiIBsL5ihwhRbJccXifClP8U&type=audio","photo_1200":"https:\/\/sun1-30.vkuserphoto.ru\/impg\/c858328\/v858328311\/1b0d5c\/U6dQ6xshE8k.jpg?size=1184x1184&quality=96&sign=a6522345a9f1635a9bcc008f73547025&c_uniq_tag=wxqEUPSxUPv3ufVZnmEADJLDKEYfVbz0z82bSVyk9Qs&type=audio"},"main_color":"#011B0E"},"main_artists":[{"name":"Sparks","domain":"1812072207025459236","id":"1812072207025459236","is_followed":false,"can_follow":false}],"release_audio_id":"-2001641533_6641533"}]}'
  recorded_at: Mon, 22 Sep 2025 21:09:22 GMT
recorded_with: VCR 6.3.1
