---
http_interactions:
- request:
    method: get
    uri: https://music.yandex.ru/handlers/music-search.jsx?language=en&page=0&text=kate%20bush&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Compat:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"text":"kate bush","albums":{"items":[{"id":198406,"title":"Kate Bush","metaType":"music","contentWarning":"explicit","year":2008,"releaseDate":"2008-07-21T00:00:00+04:00","coverUri":"avatars.yandex.net/get-music-content/41288/8af15f3d.a.198406-1/%%","ogImage":"avatars.yandex.net/get-music-content/41288/8af15f3d.a.198406-1/%%","genre":"electronics","trackCount":6,"likesCount":2,"recent":false,"veryImportant":false,"artists":[{"id":329546,"name":"Viva
        City","various":false,"composer":false,"available":true,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/4467280/8f3762ca.a.15039700-1/%%","prefix":"8f3762ca.a.15039700-1"},"genres":[],"disclaimers":[]}],"available":true,"availableForPremiumUsers":true,"availableForOptions":["bookmate"],"availableForMobile":true,"availablePartially":false,"bests":[],"disclaimers":["explicit"],"labels":["Vert"],"storageDir":"8af15f3d.a.198406-1","regions":["RUSSIA","RUSSIA_PREMIUM"],"availableRegions":["tj","az","by","tm","kg","md","am","ru","kz","ua","ge","uz"]},{"id":9289032,"title":"Kate
        Bush","type":"single","metaType":"music","year":2019,"releaseDate":"2019-12-09T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/2114230/de894b92.a.9289032-1/%%","ogImage":"avatars.yandex.net/get-music-content/2114230/de894b92.a.9289032-1/%%","genre":"techno","trackCount":1,"likesCount":2,"recent":false,"veryImportant":false,"artists":[{"id":7118854,"name":"Sharpson","various":false,[...]
