---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/masters/28680?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 28680, "main_release": 197163, "most_recent_release": 12900313,
        "resource_url": "https://api.discogs.com/masters/28680", "uri": "https://www.discogs.com/Kate-Bush-Hounds-Of-Love/master/28680",
        "versions_url": "https://api.discogs.com/masters/28680/versions", "main_release_url":
        "https://api.discogs.com/releases/197163", "most_recent_release_url": "https://api.discogs.com/releases/12900313",
        "num_for_sale": 870, "lowest_price": 3.0, "images": [{"type": "primary", "uri":
        "https://img.discogs.com/hhTPrZI9OWGpxXwceG6W1mKUnd0=/fit-in/600x597/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-197163-1475590932-6411.jpeg.jpg",
        "resource_url": "https://img.discogs.com/hhTPrZI9OWGpxXwceG6W1mKUnd0=/fit-in/600x597/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-197163-1475590932-6411.jpeg.jpg",
        "uri150": "https://img.discogs.com/2OD9C3Mh-8jz6tzALCjdoLERAos=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-197163-1475590932-6411.jpeg.jpg",
        "width": 600, "height": 597}, {"type": "secondary", "uri": "https://img.discogs.com/sPwOIOECWDKQGrHNAXcLElMXdAw=/fit-in/600x596/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-197163-1475590944-5665.jpeg.jpg",
        "resource_url": "https://img.discogs.com/sPwOIOECWDKQGrHNAXcLElMXdAw=/fit-in/600x596/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-197163-1475590944-5665.jpeg.jpg",
        "uri150": "https://img.discogs.com/nuIT1IEVJXmTAF5Fybw9XL2OxXA=/fit-in/150x150/f[...]
