---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1105'
      X-Ratelimit-Reset:
      - '1683022726'
      Etag:
      - W/"792a4717e9cb8ac78e93f41980a22a4b"
    body:
      encoding: ASCII-8BIT
      string: '{"length":300000,"releases":[{"status":"Promotion","release-events":[{"area":{"disambiguation":"","iso-3166-1-codes":["FR"],"name":"France","sort-name":"France","type-id":null,"id":"08310658-51eb-3801-80de-5a0739207115","type":null},"date":"1985-07-30"}],"title":"Hounds
        of Love","quality":"normal","status-id":"518ffc83-5cde-34df-8627-81bff5093d92","packaging":"Cardboard/Paper
        Sleeve","disambiguation":"","date":"1985-07-30","artist-credit":[{"joinphrase":"","artist":{"tags":[{"count":1,"name":"alternative"},{"count":1,"name":"alternative
        rock"},{"count":2,"name":"ambient pop"},{"count":5,"name":"art pop"},{"name":"art
        rock","count":5},{"count":1,"name":"baroque pop"},{"count":1,"name":"british"},{"name":"crossover
        prog","count":1},{"count":1,"name":"indie rock"},{"name":"new wave","count":1},{"count":5,"name":"pop"},{"count":1,"name":"pop
        rock"},{"count":5,"name":"progressive pop"},{"count":3,"name":"rock"},{"count":1,"name":"singer-songwriter"}],"name":"Kate
        Bush","disambiguation":"","type":"Person","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396"},"name":"Kate Bush"}],"id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","country":"FR","text-representation":{"language":"eng","script":"Latn"},"tags":[],"barcode":"","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f"},{"date":"1985-08-05","disambiguation":"","packaging":"Cardboard/Paper
        Sleeve","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","title":"Running
        Up That Hill","quality":"normal","release-events":[{"area":{"name":"United
        Kingdom","iso-3166-1-codes":["GB"],"disambiguation":"","type":null,"id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","type-id":null,"sort-name":"United
        Kingdom"},"date":"1985-08-05"}],"status":"Official","packagin[...]
