---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"kate
        bush","specType":"album","firstLimit":20,"afterCursor":null,"isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Csrf-Rnd:
      - '135065070'
      Csrf-Token:
      - vvFjATQLAJqRlWvIaPMeKeK1UfUe9uX9SEdnbfemwF4=
      Csrf-Ts:
      - '1791631451'
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6aca28794f06a8c2bf3c5fd0fd69be1a
      X-Amzn-Requestid:
      - 6986ee35-af29-4e0a-aa53-da83c1d8c789
      Etag:
      - W/"6e01-HsIqE6teNbPNf4ebXWtDBN+G4f4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_95011c07e7","searchText":"kate
        bush","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":true,"endCursor":null,"token":"tztok-v2_yDSNVKX4qpd-k5g2XEe2TqeDi5k3Ii_80NSrNz-2zhngRDYpgML7497mp-7I-lOn","hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:album:asin:B0BXBPZ3ZN?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Album","id":"B0BXBPZ3ZN","uri":"mrn:1.0:catalog:album:asin:B0BXBPZ3ZN?territory=GB","title":"Hounds
        Of Love","images":[{"id":"61vdydZWpfL","url":"https://m.media-amazon.com/images/I/61vdydZWpfL.jpg","width":2400,"height":2400,"imageType":"PRIMARY","__typename":"Image"},{"id":"31tC0sl8UNL","url":"https://m.media-amazon.com/images/I/31tC0sl8UNL.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"}],"playParams":{"id":"mrn:1.0:catalog:album:asin:B0BXBPZ3ZN?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"shortTitle":"Hounds
        Of Love","parentalSettings":{"hasExplicitLanguage":false,"__typename":"ParentalSettings"},"url":"https://music.amazon.co.uk/albums/B0BXBPZ3ZN?ref=dm_ff_amazonmusic_greenhornet_web","audioQualities":[],"contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Kate
        Bush","__typename":"Artist","id":"B001EE18FM","uri":"mrn:1.0:catalog:artist:asin:B001EE18FM?territory=GB","url":"https://music.amazon.co.uk/artists/B001EE18FM?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"}}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:album:asin:B0BXFNJ4GG?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Album","id":"B0BXFNJ4GG","uri":"mrn:1.0:catalog:album:asin:B0BXFNJ4GG?territory=GB","title":"Hounds
        of Love (2018 Remaster)","images":[{"id":"71rARKjnqqL","url":"https://m.media-amazon.com/images/I/71rARKjnqqL.jpg","width":2560,"height":2560,"imageTy[...]
