---
http_interactions:
- request:
    method: post
    uri: https://eu.mesk.skill.music.a2z.com/api/searchCatalogAlbums
    body:
      encoding: UTF-8
      string: '{"keyword":"kate bush","headers":"{\"x-amzn-authentication\":\"{\\\"interface\\\":\\\"ClientAuthenticationInterface.v1_0.ClientTokenElement\\\",\\\"accessToken\\\":\\\"Atza|IwEBIIQd1ug2SOj_RQotgALoBSDScJuKIBKiCCEKJRv-OZJVTIc0AddPd7U7H7MM55xARpmkFBWyE91VPL9YXxNSXR0FeaeSqEu10ulIb3PuP9pIb3jJNGjYo437NY6nGaePiRftL55IyP014lrm3NcxsDPfasAtM31kzTpQ8Z-HN8enuJChGt3BCIbpYe_XJnK_hRHMwXXRCtY-Z606C2vLQQNniP-w5WEwutmtAhg14D02I3KHOryR5Sn0ajdJav3H41Pj0yL9xgw6ZXdh4yB-1XN8cy85zJjXmPtB-QJZtuK4cVS-qhnBlKL9nCaaXao4YW7lUFZOzTFpVM3zd4pbDJl1ON6eTHaLE3NbNlK1EK5GslLLNDs8DTRk10Oukp5GOaaR8xhpP8-fES7nEa4sIlRn\\\"}\",\"x-amzn-device-model\":\"WEBPLAYER\",\"x-amzn-device-width\":\"1920\",\"x-amzn-device-family\":\"WebPlayer\",\"x-amzn-device-id\":\"25814726589747619\",\"x-amzn-user-agent\":\"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41
        Safari/537.36\",\"x-amzn-device-height\":\"1080\",\"x-amzn-request-id\":\"682ea0cb-8395-4a1c-b99d-9e1f3a5d3e3a\",\"x-amzn-device-language\":\"en_GB\",\"x-amzn-os-version\":\"1.0\",\"x-amzn-application-version\":\"1.0.15759.0\",\"x-amzn-timestamp\":\"1739135576000\",\"x-amzn-page-url\":\"https://music.amazon.com\",\"x-amzn-video-player-token\":\"{}\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - FvEN2gaHjoEEMCA=
    body:
      encoding: ASCII-8BIT
      string: '{"methods":[{"interface":"TemplateListInterface.v1_0.BindTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.GalleryTemplateInterface.GalleryTemplate","widgets":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.VisualListingWidgetElement","items":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.SquareVerticalItemElement","primaryText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Hounds
        of Love (2018 Remaster)","disabled":false},"primaryLink":{"interface":"Web.PageInterface.v1_0.LinkElement","deeplink":"/albums/B0BXFNJ4GG","onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22SHOW_CATALOG_ALBUM%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%22%3A%5C%221%7CT%7C48%7C8%7CA54YPAC32X9F2ZWKM1G1%7C0%7C0%7C0%7CB0BXFNJ4GG%7C-1%7Cnull%7CMN4tDaJ8Oa%5C%22%7D%22%2C%22blockRef%22%3Anull%2C%22refMarker%22%3Anull%2C%22target%22%3Anull%2C%22localContentId%22%3Anull%2C%22actionDetail%22%3Anull%7D&userHash=%7B%22level%22%3A%22FREE_MEMBER%22%7D","clientInformation":[],"before":[],"after":[],"onSuccess":[],"onError":[],"queue":{"interface":"QueuesInterface.v1_0.MultiThreadedQueue","id":"MT_HTTP"},"forced":false},{"interface":"TemplateListInterface.v1_0.CreateTemplateMethod","template":{"interface":"Web.TemplatesInterface.v1_0.Touch.DetailTemplateInterface.DetailTemplate","headerText":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.TextElement","text":"Hounds
        of Love (2018 Remaster)","disabled":false},"widgets":[],"templateData":{"interface":"Web.PageInterface.v1_0.TemplateDataElement","deeplink":"/albums/B0BXFNJ4GG","seoHead":{"interface":"Web.PageInterface.v1_0.SEOHeadElement","title":"Play
        Hounds of Love (2018 Remaster) by Kate Bush on Amazon Music","meta":[{"interface":"Web.PageInterface.v1_0.SEOHeadMetaElement","name":"description","content":"Listen
        to your favourite songs from Hounds of Love (2018 Remaster) by Kate Bush now.  Stream
        ad-free with Amazon Music on mobile, desktop, and tablet. Download our mobile
        app now."}],"link":[{"interface":"Web.PageInterface.v1_0.SEOHeadLinkElement","rel":"canonical","href":"https://music.amazon.com/albums/B0BXFNJ4GG"}],"script":[]},"title":"Play
        Hounds of Love (2018 Remaster) by Kate Bush on Amazon Music","description":"","keywords":""},"backgroundImage":"https://m.media-amazon.com/images/I/71rARKjnqqL._AA500._SX1920_SY1080_BL30_QL100_.jpg","headerLabel":"Album","headerButtons":[{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.ButtonElement","text":"Shuffle","icon":"shuffle","iconOnly":false,"outline":false,"keepInSyncWithNavigationUrl":false,"disabled":false,"onItemSelected":[],"observer":{"interface":"StorageInterface.v1_0.StorageObserver","storageGroup":"PLAYBACK_STATE","storageKey":"B0BXFNJ4GG","states":{"PAUSED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.ButtonElement","text":"Shuffle","icon":"shuffle","iconOnly":false,"outline":false,"keepInSyncWithNavigationUrl":false,"disabled":false,"onItemSelected":[{"interface":"PlaybackInterface.v1_0.ResumeMediaMethod","queue":{"interface":"QueuesInterface.v1_0.SingleThreadedQueue","id":"PLAYBACK"},"forced":false}]},"STOPPED":{"interface":"Web.TemplatesInterface.v1_0.Touch.WidgetsInterface.ButtonElement","text":"Shuffle","icon":"shuffle","iconOnly":false,"outline":false,"keepInSyncWithNavigationUrl":false,"disabled":false,"onItemSelected":[{"interface":"InteractionInterface.v1_0.GlobalInvokeHttpSkillMethod","url":"https://eu.mesk.skill.music.a2z.com/api/elementClicked?info=%7B%22action%22%3A%22PLAY_CATALOG_ALBUM%22%2C%22pageType%22%3Anull%2C%22interactionType%22%3Anull%2C%22metricsToken%22%3A%22%7B%5C%22reference%5C%[...]
