---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release?fmt=json&inc=artist-credits&limit=20&offset=0&release-group=b3c5541a-e1d0-354f-b6c8-565c37dde332&status=official
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1022'
      X-Ratelimit-Reset:
      - '1681043993'
      Etag:
      - W/"2dac9e69c6fd79a97e73c59c080dfc43"
    body:
      encoding: ASCII-8BIT
      string: '{"releases":[{"artist-credit":[{"artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate","type":"Person","name":"Kate Bush"},"name":"Kate Bush","joinphrase":""}],"country":"DE","packaging":null,"id":"003b599f-6dcc-31ce-a811-01048c1ea41a","cover-art-archive":{"count":10,"front":true,"artwork":true,"back":true,"darkened":false},"text-representation":{"language":"eng","script":"Latn"},"status":"Official","packaging-id":null,"quality":"normal","date":"1980","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","title":"Never
        for Ever","barcode":null,"disambiguation":"","asin":null,"release-events":[{"date":"1980","area":{"disambiguation":"","type-id":null,"name":"Germany","type":null,"id":"85752fda-13c4-31a3-bee5-0e5cb1f51dad","iso-3166-1-codes":["DE"],"sort-name":"Germany"}}]},{"disambiguation":"","packaging-id":"c70b737a-0114-39a9-88f7-82843e54f906","date":"1980","quality":"normal","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","title":"Never
        for Ever","barcode":"5099910733943","asin":null,"release-events":[{"date":"1980","area":{"type-id":null,"disambiguation":"","type":null,"name":"United
        Kingdom","sort-name":"United Kingdom","id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","iso-3166-1-codes":["GB"]}}],"text-represent[...]
