---
http_interactions:
- request:
    method: post
    uri: https://music.youtube.com/youtubei/v1/search?continuation
    body:
      encoding: UTF-8
      string: '{"context":{"client":{"clientName":"WEB_REMIX","clientVersion":"1.20230227.01.00","gl":"GB"}},"query":"wejlhg239gh23"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseContext": {
            "visitorData": "CgtOYkM5YW01b1M3ayiZ_L-hBg%3D%3D",
            "serviceTrackingParams": [
              {
                "service": "CSI",
                "params": [
                  {
                    "key": "c",
                    "value": "WEB_REMIX"
                  },
                  {
                    "key": "cver",
                    "value": "1.20230227.01.00"
                  },
                  {
                    "key": "yt_li",
                    "value": "0"
                  },
                  {
                    "key": "GetSearch_rid",
                    "value": "0x7430e55fc8a1c6af"
                  }
                ]
              },
              {
                "service": "GFEEDBACK",
       [...]
[...]
