---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/albums?client_id=<SOUNDCLOUD_API_V2_KEY>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:5c33365b6e484981822062bb65710d0e"}'
  recorded_at: Tue, 09 Feb 2021 10:48:47 GMT
recorded_with: VCR 6.0.0
