---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&offset=5&q=a&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=a&type=track&offset=5&limit=5",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"
                  },
                  "href" : "https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J",
                  "id" : "2tIP7SsRs7vjIcLrU85W8J",
                  "name" : "The Kid LAROI",
                  "type" : "artist",
                  "uri" : "spotify:artist:2tIP7SsRs7vjIcLrU85W8J"
                } ],
                "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/3YjfdLdpQcVI72uKhooZst"
                },
                "href" : "https://api.spotify.com/v1/albums/3YjfdLdpQcVI72uKhooZst",
                "id" : "3YjfdLdpQcVI72uKhooZst",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273df16d539f508603bfb1efe02",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02df16d539f508603bfb1efe02",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851df16d539f508603bfb1efe02",
                  "width" : 64
                } ],
                "name" : "F*CK LOVE (SAVAGE)",
                "release_date" : "2020-11-06",
                "release_date_precision" : "day",
                "total_tracks" : 22,
                "type" : "album",
                "uri" : "spotify:album:3YjfdLdpQcVI72uKhooZst"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"
                },
                "href" : "https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J",
                "id" : "2tIP7SsRs7vjIcLrU85W8J",
                "name" : "The Kid LAROI",
                "type" : "artist",
                "uri" : "spotify:artist:2tIP7SsRs7vjIcLrU85W8J"
              } ],
              "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 151704,
              "explicit" : true,
              "external_ids" : {
                "isrc" : "USSM12006583"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/3QCU8BT0zDS9LPVfEhRFEE"
              },
              "href" : "https://api.spotify.com/v1/tracks/3QCU8BT0zDS9LPVfEhRFEE",
              "id" : "3QCU8BT0zDS9LPVfEhRFEE",
              "is_local" : false,
              "name" : "ALWAYS DO",
              "popularity" : 85,
              "preview_url" : "https://p.scdn.co/mp3-preview/3ef5e6d7a6dc9e7de92c98df9c733766adaee71d?cid=<SPOTIFY_API_KEY>",
              "track_number" : 4,
              "type" : "track",
              "uri" : "spotify:track:3QCU8BT0zDS9LPVfEhRFEE"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6KImCVD70vtIoJWnq6nGn3"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6KImCVD70vtIoJWnq6nGn3",
                  "id" : "6KImCVD70vtIoJWnq6nGn3",
 [...]
