---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&offset=5&q=a&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=a&type=track&offset=5&limit=5",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR"
                  },
                  "href" : "https://api.spotify.com/v1/artists/66CXWjxzNUsdJxJ2JdwvnR",
                  "id" : "66CXWjxzNUsdJxJ2JdwvnR",
                  "name" : "Ariana Grande",
                  "type" : "artist",
                  "uri" : "spotify:artist:66CXWjxzNUsdJxJ2JdwvnR"
                } ],
                "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/3euz4vS7ezKGnNSwgyvKcd"
                },
                "href" : "https://api.spotify.com/v1/albums/3euz4vS7ezKGnNSwgyvKcd",
                "id" : "3euz4vS7ezKGnNSwgyvKcd",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2735ef878a782c987d38d82b605",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e025ef878a782c987d38d82b605",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048515ef878a782c987d38d82b605",
                  "width" : 64
                } ],
                "name" : "Positions",
                "release_date" : "2020-10-30",
                "release_date_precision" : "day",
                "total_tracks" : 14,
                "type" : "album",
                "uri" : "spotify:album:3euz4vS7ezKGnNSwgyvKcd"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR"
                },
                "href" : "https://api.spotify.com/v1/artists/66CXWjxzNUsdJxJ2JdwvnR",
                "id" : "66CXWjxzNUsdJxJ2JdwvnR",
                "name" : "Ariana Grande",
                "type" : "artist",
                "uri" : "spotify:artist:66CXWjxzNUsdJxJ2JdwvnR"
              } ],
              "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 173710,
              "explicit" : true,
              "external_ids" : {
                "isrc" : "USUM72020423"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/6Im9k8u9iIzKMrmV7BWtlF"
              },
              "href" : "https://api.spotify.com/v1/tracks/6Im9k8u9iIzKMrmV7BWtlF",
              "id" : "6Im9k8u9iIzKMrmV7BWtlF",
              "is_local" : false,
              "name" : "34+35",
              "popularity" : 93,
              "preview_url" : null,
              "track_number" : 2,
              "type" : "track",
              "uri" : "spotify:track:6Im9k8u9iIzKMrmV7BWtlF"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4Gso3d4CscCijv0lmajZWs"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4Gso3d4CscCijv0lmajZWs",
                  "id" : "4Gso3d4CscCijv0lmajZWs",
 [...]
