---
http_interactions:
- request:
    method: get
    uri: https://genius.com/api/search/album?page=2&per_page=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d42ffb089f45560186f4944427e9a85"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"sections":[{"type":"album","hits":[{"highlights":[],"index":"album","type":"album","result":{"_type":"album","api_path":"/albums/477262","cover_art_thumbnail_url":"https://images.genius.com/9d35a5dff10090e6c1d5e077932cea99.300x300x1.jpg","cover_art_url":"https://images.genius.com/9d35a5dff10090e6c1d5e077932cea99.1000x1000x1.jpg","full_title":"After
        Hours by The Weeknd","id":477262,"name":"After Hours","name_with_artist":"After
        Hours (artist: The Weeknd)","release_date_components":{"year":2020,"month":3,"day":20},"url":"https://genius.com/albums/The-weeknd/After-hours","artist":{"_type":"artist","api_path":"/artists/2358","header_image_url":"https://images.genius.com/e7aef4529f05c3da2e21aec75a2861e9.1000x562x1.jpg","id":2358,"image_url":"https://images.genius.com/f0813e600d43b8b43c94e8ba1dde880a.640x640x1.png","index_character":"w","is_meme_verified":false,"is_verified":true,"name":"The
        Weeknd","slug":"The-weeknd","url":"https://genius.com/artists/The-weeknd","iq":6285}}},{"highlights":[],"index":"album","type":"album","result":{"_type":"album","api_path":"/albums/29884","cover_art_thumbnail_url":"https://images.genius.com/aa16cba40f43828a61bbb6212de712bd.300x300x1.jpg","cover_art_url":"https://images.genius.com/aa16cba40f43828a61bbb6212de712bd.750x750x1.jpg","full_title":"Acid
        Rap by Chance the Rapper","id":29884,"name":"Acid Rap","name_with_artist":"Acid
        Rap (artist: Chance the Rapper)","release_date_components":{"year":2013,"month":4,"d[...]
