---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.get?apikey=<MUSIXMATCH_API_KEY>&commontrack_id=6717709
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0042588710784912'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0042588710784912},"body":{"track":{"track_id":93514583,"track_name":"Chinatown","track_name_translation_list":[],"track_rating":60,"commontrack_id":6717709,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":54,"album_id":21497986,"album_name":"Gemini","artist_id":542702,"artist_name":"Wild
        Nothing","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Chinatown?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Wild-Nothing\/Chinatown\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2013-05-30T14:17:08Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]}}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:18 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIXMATCH_API_KEY>&commontrack_id=6717709
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0076208114624023'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0076208114624023},"body":{"lyrics":{"lyrics_id":8169238,"explicit":0,"lyrics_body":"Innocent
        love\nI need someone, somewhere\nI need some way to come down\nI need some
        way to make things right\n\nInnocent love\nI need someone, somewhere\nI need
        some way to come down\nI need some way to make things right\n\n...\n\n*******
        This Lyrics is NOT for Commercial use *******\n(1409621116560)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_8169238\/su_0\/rs_0\/tr_3vUCAEzu0WHmn6qNBsJveng7wHWjDN_xTo86ecFnAMOUXudt-VCXlwSIuWiLEnZS-XGMdKcYnlzhCUuHj16KJ0MlPpoluNOPq3uoTDPmA0MONRjq_uIbaJGFObNYR-MpL4zV8uIJ49RXzKtTRqPgdq9RkbXjFFqA7w1B0mIkqDCuaqf-rweU75VL5Fewmsa3agRzkiFV4lwCvz2y2BcnZgGqQA0CTsaUmXwjvr755SvrZavltNfHR4EopvxbbkxfD7LGbwCJtk9Eu2s5fdgywAZSSOwxHdhgVexxVLhgDvX6TE1i8YsimQbW4fNUlLf3cBUbwLKT6WAuShIziXdtALojGcWeflGi92tZrpp5FfzYFxbpdxrcjdtAOGZcKyNgyiIVgVsUyYorPsOzL4ENWafJk5AaImKXgj9VGCpK7rEfjjqFTqRxPXbe9vbg66oGvMK-\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_8169238\/su_0\/rs_0\/tr_3vUCAE4ROzG91gt1A_GL8sNiQIJKEf5fxFDs3aVpQeyZJ6VYmgJ7KIkxgokRBTirTzXKg1uu1itGjCO4Sdy7szzccTBBZE8bbTp3dJP4cTkYGdbYWhtr7no1zYlwi2PoxOL4C5HgDUsRskxdi8B3wqqD3dAPveg4BKToYZuWz_415Nzem22cady4Tk3vL1onp9LTvBLj0Yba4PUSLFDEiNmavEhTduYe0a0P1EWn746mwqvaDSoDbAmvqy1DRq3FE2vlgLpv5Yk18DU8-kzCikp1WA1SAe9ECsgsmsX4l0ARahfpYpB3L8P0n1-FbraX7qS7r_YgnhS6_RlPj6jDA-mrfecXuArTCBhra04qNQN4yZTb_E2LvNKTyHH3EV3lYzuB3jU-j7floZDa2XvqlUwUvBGFQMHJ_F321kfrOqmqON7igli7MZp-wHlPdAclwhdF\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2022-09-08T14:15:32Z"}}}}'
  recorded_at: Sat, 12 Aug 2023 17:20:19 GMT
recorded_with: VCR 6.2.0
