---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release?fmt=json&inc=artist-credits&limit=5&offset=5&release-group=b3c5541a-e1d0-354f-b6c8-565c37dde332&status=official
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '706'
      X-Ratelimit-Reset:
      - '1681044558'
      Etag:
      - W/"f0b1de1912fa863160134c4bdbdc2a45"
    body:
      encoding: ASCII-8BIT
      string: '{"release-count":18,"release-offset":5,"releases":[{"cover-art-archive":{"darkened":false,"front":true,"back":true,"artwork":true,"count":4},"id":"13dcd81c-28eb-4705-9abc-6d76143a681f","packaging":"Gatefold
        Cover","artist-credit":[{"joinphrase":"","name":"Kate Bush","artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","type":"Person","name":"Kate
        Bush","sort-name":"Bush, Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396"}}],"country":"BG","status":"Official","text-representation":{"script":"Latn","language":"eng"},"barcode":"","title":"Never
        for Ever","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","packaging-id":"e724a489-a7e8-30a1-a17c-30dfd6831202","quality":"normal","date":"1988","disambiguation":"","release-events":[{"area":{"type-id":null,"disambiguation":"","type":null,"name":"Bulgaria","id":"114c14ad-9776-34e9-81b0-6299507f3771","sort-name":"Bulgaria","iso-3166-1-codes":["BG"]},"date":"1988"}],"asin":null},{"text-representation":{"script":"Latn","language":"eng"},"status":"Official","id":"7072100e-d8f1-4b7d-bcd3-c6d7f6c35d68","packaging":"Jewel
        Case","country":"US","artist-credit":[{"artist":{"name":"Kate Bush","type":"Person","sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"},"name":"Kate
        Bush","joinphrase":""}],"cover-art-archive":{"darkened":false,"artwork":true,"back":false,"fr[...]
