---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL/top-tracks?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : [ {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
                },
                "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
                "id" : "1aSxMhuvixZ8h9dK9jIDwL",
                "name" : "Kate Bush",
                "type" : "artist",
                "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
              } ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/5NKTuBLCYhN0OwqFiGdXd1"
              },
              "href" : "https://api.spotify.com/v1/albums/5NKTuBLCYhN0OwqFiGdXd1",
              "id" : "5NKTuBLCYhN0OwqFiGdXd1",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b27330da683c0c018535adbaf0e5",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e0230da683c0c018535adbaf0e5",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d0000485130da683c0c018535adbaf0e5",
                "width" : 64
              } ],
              "name" : "The Kick Inside",
              "release_date" : "1978-02-17",
              "release_date_precision" : "day",
              "total_tracks" : 13,
              "type" : "album",
              "uri" : "spotify:album:5NKTuBLCYhN0OwqFiGdXd1"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
              },
              "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
              "id" : "1aSxMhuvixZ8h9dK9jIDwL",
              "name" : "Kate Bush",
              "type" : "artist",
              "uri" : "spotify:artist:1aSxMhuvixZ8h9dK9jIDwL"
            } ],
            "disc_number" : 1,
            "duration_ms" : 269066,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "GBAYE7700223"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/5YSI1311X8t31PBjkBG4CZ"
            },
            "href" : "https://api.spotify.com/v1/tracks/5YSI1311X8t31PBjkBG4CZ",
            "id" : "5YSI1311X8t31PBjkBG4CZ",
            "is_local" : false,
            "is_playable" : true,
            "name" : "Wuthering Heights",
            "popularity" : 70,
            "preview_url" : "https://p.scdn.co/mp3-preview/3aaf3ec1603f1f8c9a8b2c5925bcff0319790a5b?cid=<SPOTIFY_API_KEY>",
            "track_number" : 6,
            "type" : "track",
            "uri" : "spotify:track:5YSI1311X8t31PBjkBG4CZ"
          }, {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1aSxMhuvixZ8h9dK9jIDwL"
                },
                "href" : "https://api.spotify.com/v1/artists/1aSxMhuvixZ8h9dK9jIDwL",
                "id" : "1aSxMhuvixZ8h9dK9jIDwL",
                "name" [...]
