---
http_interactions:
- request:
    method: post
    uri: https://bandcamp.com/api/bcsearch_public_api/1/autocomplete_elastic
    body:
      encoding: UTF-8
      string: '{"search_text":"wild nothing","search_filter":"t","full_page":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bc-App-Description:
      - lindacentral02-bc-search1
      X-Bc-App-Id:
      - '2580138'
    body:
      encoding: ASCII-8BIT
      string: '{"auto":{"results":[{"type":"t","id":1709958085,"art_id":3861181658,"img_id":null,"name":"Blue
        Wings","band_id":2228040235,"band_name":"Wild Nothing","album_name":null,"item_url_root":"https://wildnothingct.bandcamp.com","item_url_path":"https://wildnothingct.bandcamp.com/track/blue-wings","img":"https://f4.bcbits.com/img/3861181658_3.jpg","album_id":null,"stat_params":"search_item_id=1709958085&search_item_type=t&search_match_part=%3F&search_page_id=2291599143&search_page_no=0&search_rank=1"},{"type":"t","id":3619953540,"art_id":1315545409,"img_id":null,"name":"Wild
        Nothing","band_id":4140417542,"band_name":"Moongazing Hare","album_name":"Wild
        Nothing","item_url_root":"https://moongazinghare.bandcamp.com","item_url_path":"https://moongazinghare.bandcamp.com/track/wild-nothing-2","img":"https://f4.bcbits.com/img/1315545409_3.jpg","album_id":112[...]
