---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=Wild%20Nothing&autocorrect=0&format=json&limit=20&method=artist.getTopAlbums&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topalbums":{"album":[{"name":"Gemini","playcount":9152302,"mbid":"039052fd-5aa9-4271-a81b-9d7935753e29","url":"https://www.last.fm/music/Wild+Nothing/Gemini","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/5f9adfddde71487a97f1c493f67460f0.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/5f9adfddde71487a97f1c493f67460f0.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/5f9adfddde71487a97f1c493f67460f0.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/5f9adfddde71487a97f1c493f67460f0.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Nocturne","playcount":8259417,"mbid":"1601e79e-2682-4c51-ba37-314da2eb5c5a","url":"https://www.last.fm/music/Wild+Nothing/Nocturne","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"medium[...]
