---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=Wild%20Nothing&autocorrect=0&format=json&limit=20&method=artist.getTopAlbums&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topalbums":{"album":[{"name":"Gemini","playcount":7554304,"mbid":"98174762-4674-4382-827f-db7248c4806c","url":"https://www.last.fm/music/Wild+Nothing/Gemini","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/5f9adfddde71487a97f1c493f67460f0.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/5f9adfddde71487a97f1c493f67460f0.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/5f9adfddde71487a97f1c493f67460f0.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/5f9adfddde71487a97f1c493f67460f0.png","size":"extralarge"}]},{"name":"Nocturne","playcount":6716486,"mbid":"172124dd-72da-4822-9945-e81b262ca7b3","url":"https://www.last.fm/music/Wild+Nothing/Nocturne","artist":{"name":"W[...]
