---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=0&format=json&limit=5&method=artist.getTopAlbums&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topalbums":{"album":[{"name":"Indigo","playcount":1176566,"mbid":"d3001cdd-bea7-45c8-a8bc-730676967bdb","url":"https://www.last.fm/music/Wild+Nothing/Indigo","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/ffe0345f1e6bb0728de877faeb1917c9.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/ffe0345f1e6bb0728de877faeb1917c9.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/ffe0345f1e6bb0728de877faeb1917c9.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/ffe0345f1e6bb0728de877faeb1917c9.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Blue
        Wings","playcount":274223,"mbid":"9359d598-24c4-4dcb-8e85-bfb1bea3677c","url":"https://www.last.fm/music/Wild+Nothing/Blue+Wings","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/dd033b0c73ea5970fb5a941d35cbc2f9.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/dd033b0c73ea5970fb5a941d35cbc2f9.png","si[...]
