---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=wejlhg239gh23&autocorrect=1&format=json&limit=500&method=artist.getTopAlbums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"The artist you supplied could not be found","links":[]}'
  recorded_at: Mon, 04 Oct 2021 12:41:46 GMT
recorded_with: VCR 6.0.0
