---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=<DISCOGS_API_KEY>&page=1&per_page=20&query=kate%20bush&secret=<DISCOGS_API_SECRET>&type=label
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '54'
      X-Discogs-Ratelimit-Used:
      - '6'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 20, "items": 20,
        "urls": {}}, "results": [{"id": 398040, "type": "label", "master_id": null,
        "master_url": null, "uri": "/label/398040-Kate-Bush", "title": "Kate Bush",
        "thumb": "", "cover_image": "https://img.discogs.com/ff591de98745b0dc6f6345d2314025182ac8bed7/images/spacer.gif",
        "resource_url": "https://api.discogs.com/labels/398040"}, {"id": 269254, "type":
        "label", "master_id": null, "master_url": null, "uri": "/label/269254-Kate-Bush-Music-Ltd",
        "title": "Kate Bush Music Ltd.", "thumb": "", "cover_image": "https://img.discogs.com/ff591de98745b0dc6f6345d2314025182ac8bed7/images/spacer.gif",
        "resource_url": "https://api.discogs.com/labels/269254"}, {"id": 295774, "type":
        "label", "master_id": null, "master_url": null, "uri": "/label/295774-Kate-Bush-Mu[...]
