---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/wejlhg239gh23/with-tracks?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"req-id":"1636181977111372-7930359439054752065","hostname":"music-stable-back-man-38.man.yp-c.yandex.net"},"error":{"name":"not-found","message":"Requested
        action for /albums/wejlhg239gh23/with-tracks was not found"}}'
  recorded_at: Sat, 06 Nov 2021 06:59:37 GMT
recorded_with: VCR 6.0.0
