---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/albums/wejlhg239gh23/with-tracks?lang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"req-id":"1633032911418310-2294443101336097907","hostname":"music-stable-back-vla-18.vla.yp-c.yandex.net"},"error":{"name":"not-found","message":"Requested
        action for /albums/wejlhg239gh23/with-tracks was not found"}}'
  recorded_at: Thu, 30 Sep 2021 20:15:11 GMT
recorded_with: VCR 6.0.0
