---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getById?access_token=<VK_ACCESS_TOKEN>&audios=-2001472560_55472560&sig=919c2bc10b55b3f44dd31b0de9db1a02&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656210
      X-Trace-Id:
      - Zj7QZbgjSZqWsbMYWgIjla-DzGqaqw
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"artist":"Wild Nothing","id":55472560,"owner_id":-2001472560,"title":"Chinatown","duration":209,"access_key":"39b2a7bf08bf939f6a","ads":{"content_id":"-2001472560_55472560","duration":"209","account_age_type":"3","puid1":"554","puid22":"14"},"is_explicit":false,"is_focus_track":false,"track_code":"32e83151F9nIDMQ2RCNchRGg41UpuE25rSFODbeOk992opKt-Nt-DkumZ6_OsNd6EBDIGfV-Sw","url":"https:\/\/psv4.vkuseraudio.ru\/s\/v1\/amp2\/HXPleDO5LRFui1TS6uJoXZ-gQLgfxqzq9JvwkCMRyz_QS_tLtBx5LL0loz2i1pDx2ymyow6Qw6-rYuJkGJrgmWB05lepaT1ijL7hB4C3Yo0V4QM3goUX7eiwyytjjxofivQ-3tr8bYugshMdDldZ3bT0RssiqVqWMYl2.mp3?siren=1","date":1568505313,"lyrics_id":1,"album":{"id":5454320,"title":"Live
        from Brooklyn Steel","owner_id":-2000454320,"access_key":"166cffd3d0327ec0cc","thumb":{"width":300,"height":300,"id":"457239028","photo_34":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=34x34&quality=96&sign=efe48076b60f85ca57cebf0581c54fc8&c_uniq_tag=Jqii9jmsKmaxPrYoWcuVoHDNR4xE0KT8PIFZKicsXOU&type=audio","photo_68":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=68x68&quality=96&sign=0e73ed2c223ff91b30747c33c8fea069&c_uniq_tag=ANkmqf7VdE2FdDriXt9p3G0Ch_NU_BPw8VMul3pFwRI&type=audio","photo_135":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=135x135&quality=96&sign=99ea5546e3a9b487b898085589a1ea94&c_uniq_tag=OCZE1BLK7aUPDiXlGmmuiGLDxtRKlThjKKvZ03E3r_c&type=audio","photo_270":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=270x270&quality=96&sign=8e977b610e3cf9878eb482085b6c865d&c_uniq_tag=hYtaA5FAWkkFNAPhP2vr__69nEVSLgRiFJh1Whcoo4U&type=audio","photo_300":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=300x300&quality=96&sign=fd17594c84929d4a52996a4b5431c7a5&c_uniq_tag=ASZ0WepKlJpGU9co5t2ScQqoo-Vmb4i1VnOQ2JX-cn4&type=audio","photo_600":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=600x600&quality=96&sign=bb2ad0eaabf1234a22690727e2382930&c_uniq_tag=R5jqhGOkQZdHX6zJ_wz3SPWsLuoqgSi7zYn0_gcjzTo&type=audio","photo_1200":"https:\/\/sun1-26.vkuserphoto.ru\/impg\/sfBsk4gbfr3ZjE7L4uld9eywOFZ3G5TpNg4Ggg\/kM7ge1SfVUQ.jpg?size=1184x1184&quality=96&sign=8c2a8c2dca6e21d7e0c54d10cb4caf23&c_uniq_tag=EMvOA0L5D4AxG9xyg0LIkKBP2FrpAyYalXay64YL5Uc&type=audio"},"main_color":"#F2F3F5"},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"subtitle":"Live
        from Brooklyn Steel","release_audio_id":"-2001472560_55472560"}]}'
  recorded_at: Mon, 22 Sep 2025 21:08:24 GMT
recorded_with: VCR 6.3.1
