---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/tracks/2203363?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"invocationInfo":{"req-id":"1636181981585391-18411122254556624779","hostname":"music-stable-back-vla-29.vla.yp-c.yandex.net","exec-duration-millis":3},"result":[{"id":"2203363","realId":"2203363","title":"Running
        up That Hill (A Deal with God)","major":{"id":4,"name":"WARNER"},"available":true,"availableForPremiumUsers":true,"availableFullWithoutPermission":false,"storageDir":"","durationMs":298930,"fileSize":0,"normalization":{"gain":-3.52,"peak":32766},"r128":{"i":-15.63,"tp":0.17},"previewDurationMs":30000,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","prefix":"8eeff4ab.a.218262-1"},"genres":[]}],"albums":[{"id":218262,"title":"The
        Whole Story","metaType":"music","year":1986,"releaseDate":"1986-11-10T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","ogImage":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","genre":"pop","buy":[],"trackCount":12,"likesCount":132,"recent":false,"veryImportant":false,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","prefix":"8eeff4ab.a.218262-1"},"genres":[]}],"labels":[{"id":40593,"name":"Parlophone"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[2203363,34174607,240527],"trackPosition":{"volume":1,"index":7}},{"id":288149,"title":"Hounds
        Of Love","metaType":"music","year":1985,"releaseDate":"2011-05-16T00:00:00+04:00","coverUri":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","ogImage":"avatars.yandex.net/get-music-content/41288/812453f8.a.288149-2/%%","genre":"pop","buy":[],"trackCount":12,"likesCount":118,"recent":false,"veryImportant":false,"artists":[{"id":15446,"name":"Kate
        Bush","various":false,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","prefix":"8eeff4ab.a.218262-1"},"genres":[]}],"labels":[{"id":589640,"name":"Noble
        And Brite"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":false,"bests":[2203361,2203363,2203362],"trackPosition":{"volume":1,"index":1}},{"id":2688178,"title":"Cirkeln","type":"compilation","metaType":"music","version":"Official
        Motion Picture Soundtrack","year":2015,"releaseDate":"2015-03-04T00:00:00+03:00","coverUri":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","ogImage":"avatars.yandex.net/get-music-content/34131/d3018a83.a.2688178-1/%%","genre":"soundtrack","buy":[],"trackCount":38,"likesCount":4,"recent":false,"veryImportant":false,"artists":[{"id":171,"name":"Various
        artists","various":true,"composer":false,"cover":{"type":"from-album-cover","uri":"avatars.yandex.net/get-music-content/4468850/da39e4dd.a.18731883-1/%%","prefix":"da39e4dd.a.18731883-1"},"genres":[]}],"labels":[{"id":450532,"name":"RMV
        Grammofon"}],"available":true,"availableForPremiumUsers":true,"availableForMobile":true,"availablePartially":true,"bests":[2203363,23340352,23340367],"trackPosition":{"volume":1,"index":9}}],"coverUri":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","ogImage":"avatars.yandex.net/get-music-content/38044/8eeff4ab.a.218262-1/%%","lyricsAvailable":true,"type":"music","rememberPosition":false,"trackSharingFlag":"COVER_ONLY"}]}'
  recorded_at: Sat, 06 Nov 2021 06:59:41 GMT
- request:
    method: get
    uri: https://music.yandex.ru/api/v2.1/handlers/track/2203363/web-album_track-track-track-main/download/m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Retpath-Y:
      - https://music.yandex.ru/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.txt
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Session:
      - Need reset
      X-Compat:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"codec":"mp3","bitrate":192,"src":"//storage.mds.yandex.net/file-download-info/1750849_f7e70bd0.2877831.5.2203363/2?sign=df5cfd1c4cf5b9c569764090cc5819dc89db14a57c2d0efea165858bafde0a50&ts=61862819&offset=46551","gain":false,"preview":false}'
  recorded_at: Sat, 06 Nov 2021 06:59:42 GMT
- request:
    method: get
    uri: https://storage.mds.yandex.net/file-download-info/1750849_f7e70bd0.2877831.5.2203363/2?format=json&offset=46551&sign=df5cfd1c4cf5b9c569764090cc5819dc89db14a57c2d0efea165858bafde0a50&ts=61862819
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mds-Request-Id:
      - 1ad239f6d9ff818c
    body:
      encoding: ASCII-8BIT
      string: '{"s":"a828a9757bfa931ac102e93306ff966d8ba16d734bca6684801d9275b988042a","ts":"0005d01a2468e9c4","path":"/rmusic/U2FsdGVkX1-dHdau33KS9BgygZtVLRl0vfVAh4tLyT-cKIxJjcpltXMLY0aT2JkSr2ePYPRP9eYuVRil-1GgpO41hmRsGvO2M4AQpNZkij0/a828a9757bfa931ac102e93306ff966d8ba16d734bca6684801d9275b988042a/46551","host":"s58iva.storage.yandex.net"}'
  recorded_at: Sat, 06 Nov 2021 06:59:42 GMT
recorded_with: VCR 6.0.0
