---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/tracks/wejlhg239gh23?lang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"invocationInfo":{"req-id":"1633032924585558-5121954280682903762","hostname":"music-stable-back-sas-33.sas.yp-c.yandex.net"},"error":{"name":"validate","message":"Parameters
        requirements are not met"}}'
  recorded_at: Thu, 30 Sep 2021 20:15:24 GMT
recorded_with: VCR 6.0.0
