---
http_interactions:
- request:
    method: get
    uri: https://open.spotify.com/api/token?productType=web-player&reason=init&totp=842947&totpServer=842947&totpVer=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"clientId":"d8a5ed958d274c2e8ee717e6a4b0971d","accessToken":"BQDWcGQwx7dZ_zGOoUo9hFfaLDKA4ifWng3WXMtjY3_E7prsRbUL_2aRp1RWZoM21OYh2vD_WTJQeYNbj2PvlvZDfxbsdpb6PBmFYn_2h4GNmz1Mu4FCooXAOLxQYbeo6EuSJIynbu311JYxCcsRTO-bDCt-9zE8MdzYj2yseaRxz-sOqKmvHzoBNK0mo94VZLWqJ38sCjCTIz7s1gQLl5JqieeT70C6kXcFUcJTZ8inPRnRweVSNjSd2X63MIDgKnZHXX4CsVfxQ5hyRWjwjOODlB1d8b3CXiQFzlowV2Zyj_fNY7ShL_9sXBT3gVP82mftu192VLjXeJ0pRWfLDAXwGW0UZMAuCrfxHUvdxpxN7F-uHw6kJ60z6_mrpSPDbw","accessTokenExpirationTimestampMs":1751793016736,"isAnonymous":false,"_notes":"Usage
        of this endpoint is not permitted under the Spotify Developer Terms and Developer
        Policy, and applicable law"}'
  recorded_at: Sun, 06 Jul 2025 08:15:49 GMT
recorded_with: VCR 6.3.1
