---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&country=united%20states&format=json&limit=5&method=geo.getTopTracks&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"505","duration":"305","listeners":"58393","mbid":"1025dd60-a781-4f30-8b12-2ab8bdef509c","url":"https://www.last.fm/music/Arctic+Monkeys/_/505","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Arctic
        Monkeys","mbid":"ada7a83c-e3e1-40f1-93f9-3e73dbc9298a","url":"https://www.last.fm/music/Arctic+Monkeys"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"0"}},{"name":"Let
        Down","duration":"337","listeners":"51246","mbid":"9e3e014f-14d1-47da-9712-0dc1dfe00421","url":"https://www.last.fm/music/Radiohead/_/Let+Down","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Radiohead","mbid":"a74b1b7f-71a5-4011-9441-d0b5e4122711","url":"https://www.last.fm/music/Radiohead"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s[...]
