---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=chart.getTopTracks&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"End of Beginning","duration":"159","playcount":"26908909","listeners":"1659326","mbid":"74f3b043-c0b4-4590-8c10-bfc4e3a06fef","url":"https://www.last.fm/music/Djo/_/End+of+Beginning","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Djo","mbid":"83cedfd0-a118-48eb-ad71-72f4c2f95fd2","url":"https://www.last.fm/music/Djo"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]},{"name":"Creep","duration":"234","playcount":"54912064","listeners":"3883764","url":"https://www.last.fm/music/Radiohead/_/Creep","streamable":{"#text":"0","ful[...]
