---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SOUNDCLOUD_TEST_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":400,"message":"Invalid track id: ''wejlhg239gh23''","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"400
        - Bad Request","errors":[{"error_message":"Invalid track id: ''wejlhg239gh23''"}],"error":null}'
  recorded_at: Tue, 05 Oct 2021 06:23:05 GMT
recorded_with: VCR 6.0.0
