---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/playlists/249480404
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SOUNDCLOUD_TEST_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"duration":2556735,"genre":"Pop","release_day":1,"permalink":"gemini-16","permalink_url":"https://soundcloud.com/wildnothing/sets/gemini-16","release_month":1,"release_year":2010,"description":null,"uri":"https://api.soundcloud.com/playlists/249480404","label_name":null,"label_id":null,"label":null,"tag_list":"","track_count":12,"user_id":3820545,"last_modified":"2018/02/18
        21:29:51 +0000","license":"all-rights-reserved","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000194665247-0u9he3-large.jpg","id":3820545,"kind":"user","permalink_url":"https://soundcloud.com/wildnothing","uri":"https://api.soundcloud.com/users/3820545","username":"Wild_Nothing","permalink":"wildnothing","created_at":"2011/03/24
        14:41:58 +0000","last_modified":"2020/11/19 16:12:41 +0000","first_name":"WIld
        Nothing","last_name":"","full_name":"WIld Nothing","city":"New York","description":"\r\nhttp://capturedtracks.com/\r\nhttp://bellaunion.com/\r\nFor
        North/South American Bookings: john@groundcontroltouring.com\r\nFor Rest of
        the World: rob@codaagency.com\r\n\r\nhttps://itunes.apple.com/us/album/empty-estate/id636159436\r\nhttps://itunes.apple.com/us/album/nocturne/id553227907\r\nhttps://itunes.apple.com/us/album/gemini/id613623092","country":"United
        States","track_count":111,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":"wildnothing","discogs_name":null,"website_title":"Store","website":"http://wildnothingmusic.com","comments_count":0,"online":false,"likes_count":0,"playlist_count":15,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"playlist_type":"album","type":"album","id":249480404,"downloadable":null,"likes_count":194,"sharing":"public","created_at":"2016/08/11
        18:51:07 +0000","release":null,"tags":"","kind":"playlist","title":"Gemini","purchase_title":null,"ean":null,"streamable":true,"embeddable_by":"all","artwork_url":"https://i1.sndcdn.com/artworks-15f325d5-dcac-4cd3-846a-729ef85538ba-0-large.jpg","purchase_url":null,"tracks_uri":"https://api.soundcloud.com/playlists/249480404/tracks","tracks":[{"kind":"track","id":275266309,"created_at":"2016/07/25
        12:39:56 +0000","duration":30000,"commentable":true,"comment_count":8,"sharing":"public","tag_list":"
        ","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"genre":"Alternative
        Rock","title":"Live in Dreams","description":null,"label_name":"Captured Tracks","release":null,"key_signature":null,"isrc":"US8YA1010070","bpm":null,"release_year":2010,"release_month":5,"release_day":25,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/275266309","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000194665247-0u9he3-large.jpg","id":3820545,"kind":"user","permalink_url":"https://soundcloud.com/wildnothing","uri":"https://api.soundcloud.com/users/3820545","username":"Wild_Nothing","permalink":"wildnothing","created_at":"2011/03/24
        14:41:58 +0000","last_modified":"2020/11/19 16:12:41 +0000"[...]
