---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/releases/197163?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '57'
      X-Discogs-Ratelimit-Used:
      - '3'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 197163, "status": "Accepted", "year": 1985, "resource_url":
        "https://api.discogs.com/releases/197163", "uri": "https://www.discogs.com/Kate-Bush-Hounds-Of-Love/release/197163",
        "artists": [{"name": "Kate Bush", "anv": "", "join": "", "role": "", "tracks":
        "", "id": 85929, "resource_url": "https://api.discogs.com/artists/85929"}],
        "artists_sort": "Kate Bush", "labels": [{"name": "EMI", "catno": "KAB1", "entity_type":
        "1", "entity_type_name": "Label", "id": 26126, "resource_url": "https://api.discogs.com/labels/26126"},
        {"name": "EMI", "catno": "EJ 24 0384 1", "entity_type": "1", "entity_type_name":
        "Label", "id": 26126, "resource_url": "https://api.discogs.com/labels/26126"},
        {"name": "EMI", "catno": "EJ2403841", "entity_type": "1", "entity_type_name":
        "Label", "id": 26126, "resource_url": "https://api.discogs.com/labels/26126"}],
        "series": [], "companies": [{"name": "Kate Bush Music Ltd.", "catno": "",
        "entity_type": "21", "entity_type_name": "Published By", "id": 269254, "resource_url":
        "https://api.discogs.com/labels/269254"}, {"name": "EMI Music Publishing Ltd.",
        "catno": "", "entity_type": "21", "entity_type_name": "Published By", "id":
        265460, "resource_url": "https://api.discogs.com/labels/265460"}, {"name":
        "Novercia Ltd.", "catno": "", "entity_type": "13", "entity_type_name": "Phonographic
        C[...]
