---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/artist?index=5&limit=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-142
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1263299,"name":"Trazendo a Arca","link":"https:\/\/www.deezer.com\/artist\/1263299","picture":"https:\/\/api.deezer.com\/artist\/1263299\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/84ecdf180ba452414790e46cea7af2eb\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/84ecdf180ba452414790e46cea7af2eb\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/84ecdf180ba452414790e46cea7af2eb\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/84ecdf180ba452414790e46cea7af2eb\/1000x1000-000000-80-0-0.jpg","nb_album":18,"nb_fan":295725,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/1263299\/top?limit=50","type":"artist"},{"id":3473031,"name":"Jotta
        A","link":"https:\/\/www.deezer.com\/artist\/3473031","picture":"https:\/\/api.deezer.com\/artist\/3473031\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f26ed2a31ea41e500fd1c4e31756aa10\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f26ed2a31ea41e500fd1c4e31756aa10\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f26ed2a31ea41e50[...]
