---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/releases/13812684?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 13812684, "status": "Accepted", "year": 2019, "resource_url":
        "https://api.discogs.com/releases/13812684", "uri": "https://www.discogs.com/Labrinth-Sia-Diplo-Present-LSD-LSD/release/13812684",
        "artists": [{"name": "Labrinth", "anv": "", "join": ",", "role": "", "tracks":
        "", "id": 1154116, "resource_url": "https://api.discogs.com/artists/1154116"},
        {"name": "Sia", "anv": "", "join": "&", "role": "", "tracks": "", "id": 21991,
        "resource_url": "https://api.discogs.com/artists/21991"}, {"name": "Diplo",
        "anv": "", "join": "Present", "role": "", "tracks": "", "id": 191242, "resource_url":
        "https://api.discogs.com/artists/191242"}, {"name": "LSD (53)", "anv": "",
        "join": "", "role": "", "tracks": "", "id": 6470489, "resource_url": "https://api.discogs.com/artists/6470489"}],
        "artists_sort": "Labrinth, Sia & Diplo Present LSD (53)", "labels": [{"name":
        "Columbia", "catno": "19075904821", "entity_type": "1", "entity_type_name":
        "Label", "id": 1866, "resource_url": "https://api.discogs.com/labels/1866"},
        {"name": "Records (11)", "catno": "19075904821", "entity_type": "1", "entity_type_name":
        "Label", "id": 1097844, "resource_url": "https://api.discogs.com/labels/1097844"},
        {"name": "Mad Decent", "catno": "19075904821", "entity_type": "1", "entity_type_name":
        "Label", "id": 56916, "resource_url": "https://api.discogs.com/labels/56916"},
        {"name": "Monkey Puzzle Records", "catno": "19075904821", "entity_type": "1",
        "entity_type_name": "Label", "id": 110344, "resource_url": "https://api.discogs.com/labels/110344"},
        {"name": "Sony Music", "catno": "19075904821", "entity_type": "1", "entity_type_name":
        "Label", "id": 25487, "resource_url": "https://api.discogs.com/labels/25487"}],
        "series": [], "companies": [{"name": "RECORDS, LLC", "catno": "", "entity_type":
        "14", "entity_type_name": "Copyright (c)", "id": 885675, "resource_url": "https://api.discogs.com/labels/885675"},
        {"name": "RECORDS, LLC", "catno": "", "entity_type": "13", "entity_type_name":
        "Phonographic Copyright (p)", "id": 885675, "resource_url": "https://api.discogs.com/labels/885675"},
        {"name": "Columbia", "catno": "", "entity_type": "14", "entity_type_name":
        "Copyright (c)", "id": 1866, "reso[...]
