---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1193'
      X-Ratelimit-Reset:
      - '1681047686'
      Etag:
      - W/"ce5f411f68dd46b4d818772995e058ca"
    body:
      encoding: ASCII-8BIT
      string: '{"disambiguation":"","first-release-date":"1985-07-30","tags":[{"count":3,"name":"alternative"},{"name":"alternative
        pop/rock","count":3},{"count":1,"name":"alternative/indie rock"},{"count":1,"name":"art
        pop"},{"name":"art rock","count":1},{"count":1,"name":"college rock"},{"name":"j-pop","count":1},{"count":8,"name":"pop"},{"count":3,"name":"pop
        rock"},{"name":"pop/rock","count":1},{"count":1,"name":"progressive rock"},{"count":1,"name":"rock"},{"count":1,"name":"synth-pop"}],"id":"6029d549-5858-4936-9156-b90770d2ae92","video":false,"artist-credit":[{"joinphrase":"","artist":{"disambiguation":"","sort-name":"Bush,
        Kate","tags":[{"count":1,"name":"alternative"},{"name":"alternative rock","count":1},{"name":"ambient
        pop","count":2},{"name":"art pop","count":5},{"name":"art rock","count":5},{"name":"baroque
        pop","count":1},{"name":"british","count":1},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"name":"new wave","count":1},{"name":"pop","count":5},{"count":1,"name":"pop
        rock"},{"name":"progressive pop","count":5},{"count":3,"name":"rock"},{"name":"singer-songwriter","count":1}],"type":"Person","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"},"name":"Kate Bush"}],"releases":[{"title":"Hounds
        of Love","id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","packaging":"Cardboard/Paper
        Sleeve","date":"1985-07-30","text-representation":{"language":"eng","script":"Latn"},"status":"Promotion","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","sort-name":"Bush,
        Kate","tags":[{"name":"alternative","count":1},{"count":1,"name":"alternative
        rock"},{"count":2,"name":"ambient pop"},{"count":5,"name":"art pop"},{"count":5,"name":"art
        rock"},{"name":"baroque pop","count":1},{"name":"british","count":1},{"name":"crossover
        prog","count":1},{"name":"indie rock","count":1},{"name":"new wave","count":1},{"count":5,"name":"pop"},{"count":1,"name":"pop
        rock"},{"count":5,"name":"progressive pop"},{"name":"rock","count":3},{"count":1,"name":"singer-songwriter"}],"type":"Person"}}],"packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","barcode":"","country":"FR","tags":[],"release-events":[{"date":"1985-07-30","area":{"sort-name":"France","id":"08310658-51eb-3801-80de-5a0739207115","disambiguation":"","iso-3166-1-codes":["FR"],"name":"France","type-id":null,"type":null}}],"quality":"normal","status-id":"518ffc83-5cde-34df-8627-81bff5093d92","disambiguation":""},{"disambiguation":"","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","quality":"normal","release-events":[{"date":"1985-08-05","area":{"type-id":null,"name":"United
        Kingdom","type":null,"sort-name":"United Kingdom","iso-3166-1-codes":["GB"],"id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","disambiguation":""}}],"tags":[],"country":"GB","barcode":"","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","artist-credit":[{"joinphrase[...]
