---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&page=2&per_page=5&secret=<DISCOGS_API_SECRET>&sort=year&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&sort=year&sort_order=desc>;
        rel="first", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=34776&per_page=5&sort=year&sort_order=desc>;
        rel="last", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&sort=year&sort_order=desc>;
        rel="prev", <https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&sort=year&sort_order=desc>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 2, "pages": 34776, "per_page": 5, "items":
        173877, "urls": {"first": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&sort=year&sort_order=desc",
        "last": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=34776&per_page=5&sort=year&sort_order=desc",
        "prev": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=1&per_page=5&sort=year&sort_order=desc",
        "next": "https://api.discogs.com/labels/26126/releases?key=<DISCOGS_API_KEY>&secret=<DISCOGS_API_SECRET>&page=3&per_page=5&sort=year&sort_order=desc"}},
        "releases": [{"status": "Accepted", "format": "2xLP", "catno": "UPCH-20520",
        "thumb": "https://img.discogs.com/Zg128zGuXBDiwx1TSCSYAZ-11Ug=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-18872866-1621925086-7052.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/18872866", "title": "\u5929\u6c17\u306e\u5b50",
        "id": 18872866, "year": 2021, "artist": "Radwimps"}, {"status": "Accepted",
        "format": "CD, Album, SHM + CD, EP, SHM + Ltd, RE, RM", "catno": "UICY-79559/60",
        "thumb": "https://img.discogs.com/8Tw3JU16ncdnKCY6Gq9X9uH3ksc=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-18837250-1621705016-8048.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/18837250", "title": "Made
        In Heaven", "id": 18837250, "year": 2021, "artist": "Queen"}, {"status": "Accepted",
 [...]
