---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=chart.getTopTags&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tags":{"tag":[{"name":"rock","url":"https://www.last.fm/tag/rock","reach":"402608","taggings":"4065364","streamable":"1","wiki":{}},{"name":"electronic","url":"https://www.last.fm/tag/electronic","reach":"261874","taggings":"2492705","streamable":"1","wiki":{}},{"name":"seen
        live","url":"https://www.last.fm/tag/seen+live","reach":"82553","taggings":"2192173","streamable":"1","wiki":{}},{"name":"alternative","url":"https://www.last.fm/tag/alternative","reach":"267012","taggings":"2129425","streamable":"1","wiki":{}},{"name":"pop","url":"https://www.last.fm/tag/pop","reach":"233524","taggings":"2077738","streamable[...]
