---
http_interactions:
- request:
    method: get
    uri: https://music.yandex.ru/handlers/music-search.jsx?lang=en&page=0&text=wejlhg239gh23&type=tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Compat:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"text":"wejlhg239gh23","albums":{"items":[]},"tracks":{"items":[]},"podcasts":{"items":[]},"podcast_episodes":{"items":[]},"artists":{"items":[]},"videos":{"items":[]},"playlists":{"items":[]},"users":{"items":[]},"request_id":"1612095480403190-15539719753425223625.2","searchRequestId":"music-stable-back-man-32.man.yp-c.yandex.net-1612095480403190-15539719753425223625.2-1612095480465","extendedParams":{},"misspell":{},"counts":{"artists":0,"albums":0,"tracks":0,"podcasts":0,"podcast_episodes":0,"videos":6,"playlists":0,"users":0}}'
  recorded_at: Sun, 31 Jan 2021 12:18:00 GMT
recorded_with: VCR 6.0.0
