---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"SpecSearchSeeMorePage","variables":{"searchText":"wild
        nothing","specType":"album","firstLimit":5,"afterCursor":"tztok-v2_yDSNVKX4qpd-k5g2XEe2ToDdDKuOZLVbT5UIZ_OK3xRP7LEReAsHM6shHmMhjN-X","isAuthenticated":true,"audiobooksEnabled":true,"merchEnabled":false,"categoryInEntityUnionEnabled":false},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"a56e537d67f08be3baf17a4e1dd52b1fcfce1231b1ead35bc06f5f11635cb3c8"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac976c6058f59ba8b24777d351cd377
      X-Amzn-Requestid:
      - 9d27b705-e48e-467f-8baf-a9af76a5d5c2
      Etag:
      - W/"1e31-XnNtau896EfelIM5FeqFGK8qk3A"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"specificationSearch":{"id":"search_e25b86451d","searchText":"wild
        nothing","result":[{"__typename":"SpecificationSearchResult","pageInfo":{"hasNextPage":true,"endCursor":null,"token":"tztok-v2_yDSNVKX4qpd-k5g2XEe2Tq8bcrJ5lzg4KgCTrdN2dPN2u2Y9NDYoMl4Ph5yiqTTO","hasPreviousPage":null,"startCursor":null,"__typename":"PageInfo"},"label":"requiredButUnused","edges":[{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:album:asin:B0H8G7V6HV?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Album","id":"B0H8G7V6HV","uri":"mrn:1.0:catalog:album:asin:B0H8G7V6HV?territory=GB","title":"Hold
        [Explicit]","images":[{"id":"81VFkhBUMWL","url":"https://m.media-amazon.com/images/I/81VFkhBUMWL.jpg","width":2560,"height":2560,"imageType":"PRIMARY","__typename":"Image"},{"id":"31KwcP1eTgL","url":"https://m.media-amazon.com/images/I/31KwcP1eTgL.jpg","width":500,"height":500,"imageType":"PRIMARY","__typename":"Image"}],"playParams":{"id":"mrn:1.0:catalog:album:asin:B0H8G7V6HV?territory=GB","selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"shortTitle":"Hold","parentalSettings":{"hasExplicitLanguage":true,"__typename":"ParentalSettings"},"url":"https://music.amazon.co.uk/albums/B0H8G7V6HV?ref=dm_ff_amazonmusic_greenhornet_web","audioQualities":[],"contributingArtists":{"edges":[{"role":"PRIMARY","node":{"name":"Wild
        Nothing","__typename":"Artist","id":"B002ZXIYRG","uri":"mrn:1.0:catalog:artist:asin:B002ZXIYRG?territory=GB","url":"https://music.amazon.co.uk/artists/B002ZXIYRG?ref=dm_ff_amazonmusic_greenhornet_web"},"__typename":"ArtistEdge"}],"__typename":"ArtistConnection"},"likesContext":{"state":"NEUTRAL","__typename":"LikesContext"}}},{"__typename":"EntityEdge","playParams":{"id":"mrn:1.0:catalog:album:asin:B07SF8PKJX?territory=GB","containerIds":[],"selections":["SHUFFLE","STATION"],"__typename":"PlayParams"},"node":{"__typename":"Album","id":"B07SF8PKJX","uri":"mrn:1.0:catalog:album:asin:B07SF8PKJX?territory=GB","title":"Nothing
        but Wild [Explicit]","images":[{"id":"71z1hgsFHCL","url":"https://m.media-amazon.com/images/I/71z1hgsFHCL.jpg","width":1448,"height":1448,"imageType"[...]
