---
http_interactions:
- request:
    method: get
    uri: https://genius.com/api/search/artist?page=2&per_page=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3456c35396aaafa3b62fa51e822f7dfd"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"sections":[{"type":"artist","hits":[{"highlights":[],"index":"artist","type":"artist","result":{"_type":"artist","api_path":"/artists/26507","header_image_url":"https://images.genius.com/0b63409589894fbd955a658fc89f08dd.1000x429x1.jpg","id":26507,"image_url":"https://images.genius.com/d36a47955ac0ddb12748c5e7c2bd4b4b.640x640x1.jpg","index_character":"a","is_meme_verified":false,"is_verified":true,"name":"Ariana
        Grande","slug":"Ariana-grande","url":"https://genius.com/artists/Ariana-grande","iq":2468}},{"highlights":[],"index":"artist","type":"artist","result":{"_type":"artist","api_path":"/artists/12417","header_image_url":"https://images.genius.com/4631ca30c1de3b660f5e2492e9dcbc85.1000x333x1.jpg","id":12417,"image_url":"https://images.genius.com/f20bb1eec5e435894d2818613d46265e.1000x1000x1.jpg","index_character":"a","is_meme_verified":false,"is_verified":true,"name":"A$AP
        Rocky","slug":"A-ap-rocky","url":"https://genius.com/artists/A-ap-rocky","iq":29508}},{"highlights":[],"in[...]
