---
http_interactions:
- request:
    method: get
    uri: https://genius.com/api/search/artist?page=1&per_page=20&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f6209817b737e063cc9fe0bdc612ba2"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200},"response":{"sections":[{"type":"artist","hits":[]}],"next_page":null}}'
  recorded_at: Thu, 13 May 2021 13:03:40 GMT
recorded_with: VCR 6.0.0
