---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording?fmt=json&limit=20&offset=0&query=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '888'
      X-Ratelimit-Reset:
      - '1680898611'
      Last-Modified:
      - Fri, 07 Apr 2023 20:06:37 GMT
      Etag:
      - '"ZjQ3NTE0MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:16:50.988Z","count":0,"offset":0,"recordings":[]}'
  recorded_at: Fri, 07 Apr 2023 20:16:51 GMT
recorded_with: VCR 6.1.0
