---
http_interactions:
- request:
    method: get
    uri: https://music.yandex.ru/handlers/music-search.jsx?lang=en&page=0&text=kate%20bush&type=albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Compat:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"text":"kate bush","albums":{"items":[{"id":12874238,"storageDir":"170b7b50.a.12874238","originalReleaseYear":2020,"year":2020,"artists":[{"id":243849,"name":"Stoner","cover":{"type":"from-album-cover","prefix":"832e32a7.a.13026647-1","uri":"avatars.yandex.net/get-music-content/2806365/832e32a7.a.13026647-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2411511/170b7b50.a.12874238-1/%%","trackCount":1,"genre":"rock","available":true,"availableForPremiumUsers":true,"type":"single","title":"Kate
        Bush","availableRegions":["ge","am","uz","kg","tm","il","kz","ua","ru","md","az","tj","by"],"labels":["Stoner"],"regions":["BELARUS_PREMIUM","BELARUS"]},{"id":9289032,"storageDir":"de894b92.a.9289032","originalReleaseYear":2019,"year":2019,"artists":[{"id":7118854,"name":"Sharpson","cover":{"type":"from-album-cover","prefix":"ebb0ab57.a.12379575-1","uri":"avatars.yandex.net/get-music-content/2806365/ebb0ab57.a.12379575-1/%%"},"composer":false,"various":false,"decomposed":[]}],"coverUri":"avatars.yandex.net/get-music-content/2114230/de894b92.a.9289032-1/%%","trackCount":1,"genre":"techno","available":true,"available[...]
