---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getArtistById?access_token=<VK_ACCESS_TOKEN>&artist_id=4333005440018923962&sig=3ffb90839af2101bdba2b8ba12c97758&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661010
      X-Trace-Id:
      - jo8_2jd7cFu-C-un3-1vsiwGjTc0mw
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"name":"Wild Nothing","domain":"wildnothing","id":"4333005440018923962","is_followed":false,"can_follow":true,"genres":[{"id":21,"name":"Alternative"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:19 GMT
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getAlbumsByArtist?access_token=<VK_ACCESS_TOKEN>&artist_id=4333005440018923962&count=20&offset=0&sig=4f500caddd5ab1e157fb4e5f4c6bce78&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661612
      X-Trace-Id:
      - 382wQvg-qF97KmIVMWFwdky2Tbms0A
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":1,"items":[{"id":3885619,"owner_id":-2000885619,"type":1,"title":"Shadow","description":"","count":1,"followers":8,"plays":323,"create_time":1541803898,"update_time":1541803918,"genres":[{"id":21,"name":"Alternative"}],"is_following":false,"year":2012,"photo":{"width":300,"height":300,"id":"456239021","photo_34":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=34x34&quality=96&sign=42457bd223e5c3a27774567695b8458d&c_uniq_tag=KCu5kRkc7x5LddPRHoVxP2gNjP0yDFN_wHdSEo0CMSI&type=audio","photo_68":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=68x68&quality=96&sign=069e971c526e9d25d34a1d787d0c35e7&c_uniq_tag=n_CpVSE5gfP1OCdDr8LPOMLL8InN1UuslxT7HeeSWUw&type=audio","photo_135":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=135x135&quality=96&sign=07cf431c636eb16e356ac48abc3ea583&c_uniq_tag=AnhyjTLhFYjpteWs6s-533AHT5NZ0d0lgYCCOgwISmg&type=audio","photo_270":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=270x270&quality=96&sign=6a0381a75398fd96756121985562746d&c_uniq_tag=cTumORQbEKX8lPHiJJ3RuwBjQDo6VDXF_ymG5dimgUU&type=audio","photo_300":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=300x300&quality=96&sign=510939371db3c54c2d59f6122a6be80d&c_uniq_tag=NU7cHD7VLeWHF_b6C7gEct7bAIT8ionf6kmufFOrLlo&type=audio","photo_600":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=600x600&quality=96&sign=47b1f5e5495826e392506090c3280c23&c_uniq_tag=V625QyoXTrbtwBx00XUJt1XJVlTL5Vp_AhUxvpDtSao&type=audio","photo_1200":"https:\/\/sun1-94.vkuserphoto.ru\/impg\/c850236\/v850236916\/66d8f\/uW1Chou5zQM.jpg?size=1184x1184&quality=96&sign=d99ea62d4e8660e605cb156d6da2d4b2&c_uniq_tag=52jbHa2Kimoiwm6Ffsn_gIUITnaaznKIp3ePb-CVXuA&type=audio"},"permissions":{"play":true,"share":true,"edit":false,"follow":true,"delete":false,"boom_download":true},"subtitle_badge":false,"play_button":false,"access_key":"154554fc908e1e4c72","is_explicit":false,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"album_type":"main_only","main_color":"#F3CD8F"}]}}'
  recorded_at: Mon, 22 Sep 2025 21:08:19 GMT
recorded_with: VCR 6.3.1
