---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.getArtistById?access_token=<VK_ACCESS_TOKEN>&artist_id=wejlhg239gh23&sig=85e3b425f2c2cd36a49b9ed3661d855b&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661612
      X-Trace-Id:
      - V-jd218aVx1y7YKMaOzm877Ez6za4Q
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"name":"","is_followed":false,"can_follow":false}}'
  recorded_at: Mon, 22 Sep 2025 21:08:20 GMT
recorded_with: VCR 6.3.1
