---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.getArtistById?access_token=<VK_ACCESS_TOKEN>&artist_id=wejlhg239gh23&sig=09381483c727b7445436afef6577e2ba&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"name":"","is_followed":false,"can_follow":false}}'
  recorded_at: Wed, 01 Nov 2023 19:54:22 GMT
recorded_with: VCR 6.2.0
