---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-176
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmWQJWdlo-vntLRbpG05XMU5Z16sHFdXi6s1zQoAsh1fEwdITsSPEsYdWTCOIvdjfkgFqnh3QM0PkesA_rTfJbSnG4Dii7SQgwxyQDsY2ABc","expiration_timestamp":1705241575,"license_country":"GB","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1703945575,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"onboarding_musictogether":true,"onboarding_musictogether_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"GB","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[],"partner":{"partner_ids":"[]"}},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search","percent":100},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing","percent":50},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha","percent":100},"catalog_pages_sign-up_banner_1122":{"id":"catalog_pages_sign-up_banner_1122","option":"a","behaviour":"New
        reg journey on the web","percent":100},"ad_pressure":{"id":"ad_pressure","option":"default","behaviour":"Default
        ad pressure","percent":100},"mobile_midroll_video_ads":{"id":"mobile_midroll_video_ads","option":"a","behaviour":"Mid-roll
        video ads","percent":100},"new_paywall_eoy_design_v2":{"id":"new_paywall_eoy_design_v2","option":"control","behaviour":"Default
        behaviour, get the new component without the countdown","percent":50}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"GB","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"d6c9d225885832725aefb2795367de6ae661893ff4ce3c895a883ec4d9b1908b","PLAYLIST_WELCOME_ID":"63141574","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"GB","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1703945575,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a3871c5ee593e75e007002cc7b9cb26c752a4e31d5ae0e3870e7578e0141cb91cc461f48667eb014b142b2f5488fa727fe7aad1634394df7fc52c68b24ef31dc9a83311906bf77813432b54ec71ab89754b6475a4b5c8bfb74bd700a190418567e05186639347f076fd6bb4d6eaba1b6ffd12423d870483f5a57a84b10cb320fa3d30d0ec29c52c1d99956b19604939559e44222de44653c54293d8eb44ce606c85b32a8f97e84138d7eff49f3f312bc66c75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
