---
http_interactions:
- request:
    method: get
    uri: https://api.music.yandex.net/artists/wejlhg239gh23?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"invocationInfo":{"req-id":"1636181972982917-16581176988081636890","hostname":"music-stable-back-vla-16.vla.yp-c.yandex.net"},"error":{"name":"validate","message":"Parameters
        requirements are not met"}}'
  recorded_at: Sat, 06 Nov 2021 06:59:33 GMT
recorded_with: VCR 6.0.0
