---
http_interactions:
- request:
    method: post
    uri: https://music.youtube.com/youtubei/v1/next
    body:
      encoding: UTF-8
      string: '{"videoId":"wejlhg239gh23","context":{"client":{"userAgent":"Mozilla/5.0
        (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7445.3
        Safari/537.36","clientName":"WEB_REMIX","clientVersion":"1.20251013.03.00"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseContext": {
            "visitorData": "Cgt3S1V3QUgyeEN6SSioor7HBjIKCgJCWRIEGgAgXg%3D%3D",
            "serviceTrackingParams": [
              {
                "service": "CSI",
                "params": [
                  {
                    "key": "c",
                    "value": "WEB_REMIX"
                  },
                  {
                    "key": "cver",
                    "value": "1.20251013.03.00"
                  },
                  {
                    "key": "yt_li",
                    "value": "0"
                  },
                  {
                    "key": "GetWatchNext_rid",
                    "value": "0x17bdaadc3f743fbc"
                  }
                ]
              },
              {
                "service": "GFEEDBACK",
                "params": [
                  {
                    "key": "logged_in",
                    "value": "0"
                  }
                ]
              },
              {
                "service": "ECATCHER",
                "params": [
                  {
                    "key": "client.version",
                    "value": "1.20000101"
                  },
                  {
                    "key": "client.name",
                    "value": "WEB_REMIX"
                  }
                ]
              }
            ]
          },
          "contents": {
            "singleColumnMusicWatchNextResultsRenderer": {
              "tabbedRenderer": {
                "watchNextTabbedResultsRenderer": {
                  "tabs": [
                    {
                      "tabRenderer": {
                        "title": "Up next",
                        "content": {
                          "musicQueueRenderer": {
                            "hack": true,
                            "header": {
                              "musicQueueHeaderRenderer": {
                                "title": {
                                  "runs": [
                                    {
                                      "text": "Playing from"
                                    }
                                  ]
                                },
                                "subtitle": {
                                  "runs": [
                                    {
                                      "text": "Your Queue"
                                    }
                                  ]
                                },
                                "buttons": [
                                  {
                                    "chipCloudChipRenderer": {
                                      "style": {
                                        "styleType": "STYLE_TRANSPARENT"
                                      },
                                      "text": {
                                        "runs": [
                                          {
                                            "text": "Save"
                                          }
                                        ]
                                      },
                                      "navigationEndpoint": {
                                        "clickTrackingParams": "CAUQ0-cHGAAiEwjh1ceFmKaQAxVY2EIFHRl8H7_KAQTf3L8z",
                                        "modalEndpoint": {
                                          "modal": {
                                            "modalWithTitleAndButtonRenderer": {
                                              "title": {
                                                "runs": [
                                                  {
                                                    "text": "Save this for later"
                                                  }
                                                ]
                                              },
                                              "content": {
                                                "runs": [
                                                  {
                                                    "text": "Make playlists and share them after signing in"
                                                  }
                                                ]
                                              },
                                              "button": {
                                                "buttonRenderer": {
                                                  "style": "STYLE_BLUE_TEXT",
                                                  "isDisabled": false,
                                                  "text": {
                                                    "runs": [
                                                      {
                                                        "text": "Sign in"
                                                      }
                                                    ]
                                                  },
                                                  "navigationEndpoint": {
                                                    "clickTrackingParams": "CAYQ8FsiEwjh1ceFmKaQAxVY2EIFHRl8H7_KAQTf3L8z",
                                                    "signInEndpoint": {
                                                      "hack": true
                                                    }
                                                  },
                                                  "trackingParams": "CAYQ8FsiEwjh1ceFmKaQAxVY2EIFHRl8H78="
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "saveQueueToPlaylistCommand": {}
                                      },
                                      "trackingParams": "CAUQ0-cHGAAiEwjh1ceFmKaQAxVY2EIFHRl8H78=",
                                      "icon": {
                                        "iconType": "ADD_TO_PLAYLIST"
                                      },
                                      "accessibilityData": {
                                        "accessibilityData": {
                                          "label": "Save"
                                        }
                                      },
                                      "isSelected": false,
                                      "uniqueId": "Save"
                                    }
                                  }
                                ],
                                "trackingParams": "CAQQ0ecHIhMI4dXHhZimkAMVWNhCBR0ZfB-_"
                              }
                            }
                          }
                        },
                        "trackingParams": "CAMQn7QFGAAiEwjh1ceFmKaQAxVY2EIFHRl8H78="
                      }
                    },
                    {
                      "tabRenderer": {
                        "title": "Lyrics",
                        "trackingParams": "CAIQk80FGAEiEwjh1ceFmKaQAxVY2EIFHRl8H78=",
                        "unselectable": true
                      }
                    },
                    {
                      "tabRenderer": {
                        "title": "Related",
                        "trackingParams": "CAEQlc0FGAIiEwjh1ceFmKaQAxVY2EIFHRl8H78=",
                        "unselectable": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "trackingParams": "CAAQg2ciEwjh1ceFmKaQAxVY2EIFHRl8H78=",
          "queueContextParams": "CAEaACDZ7seFmKaQA0IAUABaBAgAEAF4AQ=="
        }
  recorded_at: Wed, 15 Oct 2025 12:18:48 GMT
recorded_with: VCR 6.3.1
