---
http_interactions:
- request:
    method: post
    uri: https://music.amazon.co.uk/EU/api/dmls/
    body:
      encoding: UTF-8
      string: '{"deviceToken":{"deviceId":"25814726589747619","deviceTypeId":"A16ZV8BU3SN1N3"},"customerId":"A2ZUU2NB43P99O","contentIdList":[{"identifier":"B00BRRGTQ4","identifierType":"ASIN"}],"musicDashVersionList":["SIREN_KATANA_NO_CLEAR_LEAD"],"contentProtectionList":["TRACK_PSSH"],"customerInfo":{"marketplaceId":"A1F83G8C2ARO7P","territoryId":"GB"},"appInfo":{"musicAgent":"Maestro/1.0
        WebCP/1.0.15759.0 (2304-bacb-WebC-8fee-37964)"}}'
    headers:
      X-Amz-Target:
      - com.amazon.digitalmusiclocator.DigitalMusicLocatorServiceExternal.getDashManifestsV2
      Csrf-Rnd:
      - '1533618916'
      Csrf-Token:
      - co4KZ+YisVWVE/UZXJkqXZ6CeIwO1F38N7Yvsnv1c2I=
      Csrf-Ts:
      - '1725608500761'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - 48KNZA08DRXD24FCMQP7
      X-Amzn-Requestid:
      - bebfceb7-758a-4546-9e9a-08eb22bfeef9
    body:
      encoding: UTF-8
      string: '{"contentResponseList":[{"cdnType":"cf-d17vo8z6jop21h","contentIdentifier":{"identifier":"B00BRRGTQ4","identifierType":"ASIN"},"contentResponseStatusCode":"SUCCESS","contentResponseStatusMessage":"","manifest":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<MPD minBufferTime=\"PT2S\"
        type=\"static\" mediaPresentationDuration=\"PT198.84271240234375S\" profiles=\"urn:mpeg:dash:profile:isoff-on-demand:2011\"
        xmlns=\"urn:mpeg:dash:schema:mpd:2011\" xmlns:amz-music=\"urn:amazon:music:drm:2019\"
        xmlns:cenc=\"urn:mpeg:cenc:2013\" xmlns:mspr=\"urn:microsoft:playready\">\n    <Period
        id=\"0\">\n        <AdaptationSet id=\"1\" contentType=\"audio\" selectionPriority=\"1000\">\n            <ContentProtection
        schemeIdUri=\"urn:mpeg:dash:mp4protection:2011\" cenc:default_KID=\"6b722031-1cf1-7b38-0d6c-d04dc13e4c0f\"
        value=\"cenc\"/>\n            <ContentProtection schemeIdUri=\"urn:uuid:edef8ba9-79d6-4ace-a3c8-27dcd51d21ed\">\n                <cenc:pssh>AAAAXXBzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAAD0SEGtyIDEc8Xs4DWzQTcE+TA8aC0FtYXpvbk11c2ljIhxjaWQ6YTNJZ01SenhlemdOYk5CTndUNU1Edz09</cenc:pssh>\n            </ContentProtection>\n            <SupplementalProperty
        schemeIdUri=\"urn:mpeg:mpegB:cicp:ProgramLoudness\" value=\"-8.2 LUFS\"/>\n            <SupplementalProperty
        schemeIdUri=\"amz-music:trackType\" value=\"SD\"/>\n            <SupplementalProperty
        schemeIdUri=\"urn:mpeg:dash:adaptation-set-switching:2016\" value=\"3\"/>\n            <SupplementalProperty
        schemeIdUri=\"urn:mpeg:mpegB:cicp:AnchorLoudness\" value=\"-6.9 LUFS\"/>\n            <Representation
        id=\"1\" qualityRanking=\"3\" codecs=\"opus\" audioSamplingRate=\"48000\"
        bandwidth=\"53033\" mimeType=\"audio/mp4\">\n                <AudioChannelConfiguration
        schemeIdUri=\"urn:mpeg:dash:23003:3:audio_channel_configuration:2011\" value=\"2\"/>\n                <BaseURL>https://d17vo8z6jop21h.cloudfront.net/0f1dc314-b45a-4236259249/c686e156-e8ab-3adf-84be-62fceb1fd944.mp4?r=bebfceb7-758a-4546-9e9a-08eb22bfeef9&amp;rs=EU&amp;mt=GB&amp;ql=SD_LOW&amp;dtype=A16ZV8BU3SN1N3</BaseURL>\n                <SegmentList
        timescale=\"48000\" duration=\"480000\">\n                    <Initialization
        range=\"0-976\"/>\n                    <SegmentURL mediaRange=\"1249-65565\"/>\n                    <SegmentURL
        mediaRange=\"65566-129754\"/>\n                    <SegmentURL mediaRange=\"129755-193943\"/>\n                    <SegmentURL
        mediaRange=\"193944-258132\"/>\n                    <SegmentURL mediaRange=\"258133-322321\"/>\n                    <SegmentURL
        mediaRange=\"322322-386510\"/>\n                    <SegmentURL mediaRange=\"386511-450699\"/>\n                    <SegmentURL
        mediaRange=\"450700-5148[...]
