---
http_interactions:
- request:
    method: post
    uri: https://music.amazon.co.uk/EU/api/dmls/
    body:
      encoding: UTF-8
      string: '{"deviceToken":{"deviceId":"25814726589747619","deviceTypeId":"A16ZV8BU3SN1N3"},"customerId":"A2ZUU2NB43P99O","contentIdList":[{"identifier":"wejlhg239gh23","identifierType":"ASIN"}],"musicDashVersionList":["SIREN_KATANA_NO_CLEAR_LEAD"],"contentProtectionList":["TRACK_PSSH"],"customerInfo":{"marketplaceId":"A1F83G8C2ARO7P","territoryId":"GB"},"appInfo":{"musicAgent":"Maestro/1.0
        WebCP/1.0.15759.0 (2304-bacb-WebC-8fee-37964)"}}'
    headers:
      X-Amz-Target:
      - com.amazon.digitalmusiclocator.DigitalMusicLocatorServiceExternal.getDashManifestsV2
      Csrf-Rnd:
      - '1533618916'
      Csrf-Token:
      - co4KZ+YisVWVE/UZXJkqXZ6CeIwO1F38N7Yvsnv1c2I=
      Csrf-Ts:
      - '1725608500761'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - 5M8DQJHK6PSMQ98QTQJF
      X-Amzn-Requestid:
      - cbac5e03-30b9-42a4-afad-4ec308b9b7a1
    body:
      encoding: UTF-8
      string: '{"contentResponseList":[{"cdnType":"UNKNOWN","contentIdentifier":{"identifier":"wejlhg239gh23","identifierType":"ASIN"},"contentResponseStatusCode":"CONTENT_NOT_ELIGIBLE","contentResponseStatusMessage":"Content
        is not eligible for playback","manifest":"","musicDashVersion":""}]}'
  recorded_at: Sun, 09 Feb 2025 21:13:32 GMT
recorded_with: VCR 6.3.1
