---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1/siterestrict?cx=<GOOGLE_SCOPES_BANDCAMP_TRACKS>&fields=items(pagemap(cse_image,metatags(og:description,og:site_name,og:title,og:url))),queries(request(totalResults))&key=<GOOGLE_API_KEY>&q=wild%20nothing&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "queries": {
            "request": [
              {
                "totalResults": "6740"
              }
            ]
          },
          "items": [
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:description": "track by Wild Nothing",
                    "og:title": "Blue Wings, by Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com/track/blue-wings"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://f4.bcbits.com/img/a3861181658_5.jpg"
                  }
                ]
              }
            },
            {
              "pagemap": {
                "metatags": [
                  {
                    "og:site_name": "Wild Nothing",
                    "og:description": "from the album Life of Pause",
                    "og:title": "Life of Pause, by Wild Nothing",
                    "og:url": "https://wildnothingct.bandcamp.com/track/life-of-pause"
                  [...]
