---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1&method=chart.getTopTracks&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"Stateside + Zara Larsson","duration":"176","playcount":"18228995","listeners":"1152867","mbid":"ffbf7862-2476-4164-ac32-f5904ccefe0f","url":"https://www.last.fm/music/PinkPantheress/_/Stateside+%252B+Zara+Larsson","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"PinkPantheress","mbid":"7441014f-f8f5-494f-81db-ff166fbc078d","url":"https://www.last.fm/music/PinkPantheress"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]}],"@attr":{"page":"1","perPage":"1","totalPages":"10000","total":"10000"}}}'
  recorded_at: Sat, 18 Apr 2026 14:24:18 GMT
recorded_with: VCR 6.4.0
