---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/bee184b6-493b-46bc-a3a1-31e434367c4a?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1139'
      X-Ratelimit-Reset:
      - '1683015503'
      Etag:
      - W/"4f0a6168f269c558d101fe247726952c"
    body:
      encoding: ASCII-8BIT
      string: '{"barcode":"","media":[{"format":"12\" Vinyl","format-id":"3e9080b0-5e6c-34ab-bd15-f526b6306a64","position":1,"title":"","tracks":[{"recording":{"artist-credit":[{"joinphrase":"","artist":{"disambiguation":"","sort-name":"Bush,
        Kate","type":"Person","name":"Kate Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"},"name":"Kate
        Bush"}],"length":208000,"disambiguation":"","first-release-date":"1980-06-27","title":"Babooshka","video":false,"id":"21026567-8554-45f3-9644-ec251571f8c1","tags":[{"name":"art
        pop","count":2},{"name":"art rock","count":1},{"name":"baroque pop","count":1},{"name":"piano
        rock","count":1},{"name":"pop","count":2},{"name":"pop rock","count":4},{"count":2,"name":"progressive
        pop"}]},"length":197000,"artist-credit":[{"name":"Kate Bush","artist":{"disambiguation":"","type":"Person","sort-name":"Bush,
        Kate","name":"Kate Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"},"joinphrase":""}],"position":1,"title":"Babooshka","number":"A1","id":"9d944fb3-3034-4de8-b3bf-20256a1e013c"},{"position":2,"title":"Delius","number":"A2","id":"8ac431ce-3392-41ab-b18c-cbcbcae6fb25","length":169000,"recording":{"tags":[{"name":"art
        pop","count":2},{"name":"art rock","count":1},{"name":"baroque pop","count":1},{"count":1,"name":"pop
        rock"},{"name":"progressive pop","count":2},{"name":"rock","count":1}],"id":"7988093a-eba1-4a9c-8b10-1cff436f4cba","video":false,"title":"Delius
        (Song of Summer)","first-release-date":"[...]
