---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/bee184b6-493b-46bc-a3a1-31e434367c4a?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1100'
      X-Ratelimit-Reset:
      - '1681043656'
      Etag:
      - W/"3665d607b9f2cfb2f494ba3ae7abeb6d"
    body:
      encoding: ASCII-8BIT
      string: '{"media":[{"format":"12\" Vinyl","format-id":"3e9080b0-5e6c-34ab-bd15-f526b6306a64","title":"","tracks":[{"recording":{"artist-credit":[{"joinphrase":"","artist":{"type":"Person","name":"Kate
        Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","sort-name":"Bush,
        Kate"},"name":"Kate Bush"}],"title":"Babooshka","length":208000,"video":false,"id":"21026567-8554-45f3-9644-ec251571f8c1","tags":[{"count":2,"name":"art
        pop"},{"count":1,"name":"art rock"},{"count":1,"name":"baroque pop"},{"count":1,"name":"piano
        rock"},{"count":2,"name":"pop"},{"name":"pop rock","count":4},{"name":"progressive
        pop","count":2}],"first-release-date":"1980-06-27","disambiguation":""},"position":1,"number":"A1","title":"Babooshka","length":197000,"artist-credit":[{"joinphrase":"","artist":{"type":"Person","name":"Kate
        Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate"},"name":"Kate Bush"}],"id":"9d944fb3-3034-4de8-b3bf-20256a1e013c"},{"recording":{"disambiguation":"","tags":[{"count":2,"name":"art
        pop"},{"name":"art rock","count":1},{"name":"baroque pop","count":1},{"name":"pop
    [...]
