---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=5&pageToken=CAUQAA&part=snippet&q=80s&type=playlist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "fdIbKUBBWMR0DGKcrleDa-z6gu4",
          "nextPageToken": "CAoQAA",
          "prevPageToken": "CAUQAQ",
          "regionCode": "BY",
          "pageInfo": {
            "totalResults": 55259,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "QnDGarCikwR7FitMQqgKeqYRL54",
              "id": {
                "kind": "youtube#playlist",
                "playlistId": "PLkF8z4_rEiHgaiTjiX6nWkR_GE71a9BlB"
              },
              "snippet": {
                "publishedAt": "2015-04-23T19:09:21Z",
                "channelId": "UCqAQGuvzmjgjGQOlVuWIzrA",
                "title": "80&#39;s Playlist New Wave Music From The 1980&#39;s",
                "description": "CosimaNiehaus #DelphineCormier #Cophine #CloneClub #OrphanBlack #TatianaMaslany #EvelyneBrochu #OB #AlisonHendrix ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/qsMz9vIaLwQ/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/qsMz9vIaLwQ/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/qsMz9vIaLwQ/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "amazontracy",
                "liveBroadcastContent": "none",
                "publishTime": "2015-04-23T19:09:21Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "mD2zxSrmk9KTvu3x5iNH9UwnYus",
              "id": {
                "kind": "youtube#playlist",
                "playlistId": "PLpYWKGMgRA1uU9lyMtR8vQBzc4HrjpqYu"
              },
              "snippet": {
                "publishedAt": "2013-06-19T01:37:51Z",
                "channelId": "UCrygZjLoQ-EsLooJbbrlBwQ",
                "title": "80s playlist - 13[...]
