---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&offset=5&q=a&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=a&type=album&offset=5&limit=5",
            "items" : [ {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6LuN9FCkKOj5PcnpouEgny"
                },
                "href" : "https://api.spotify.com/v1/artists/6LuN9FCkKOj5PcnpouEgny",
                "id" : "6LuN9FCkKOj5PcnpouEgny",
                "name" : "Khalid",
                "type" : "artist",
                "uri" : "spotify:artist:6LuN9FCkKOj5PcnpouEgny"
              } ],
              "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/6kf46HbnYCZzP6rjvQHYzg"
              },
              "href" : "https://api.spotify.com/v1/albums/6kf46HbnYCZzP6rjvQHYzg",
              "id" : "6kf46HbnYCZzP6rjvQHYzg",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b273988ede5e1276e758b5f9e577",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e02988ede5e1276e758b5f9e577",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d00004851988ede5e1276e758b5f9e577",
                "width" : 64
              } ],
              "name" : "American Teen",
              "release_date" : "2017-04-27",
              "release_date_precision" : "day",
              "total_tracks" : 15,
              "type" : "album",
              "uri" : "spotify:album:6kf46HbnYCZzP6rjvQHYzg"
            }, {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7Ln80lUS6He07XvHI8qqHH"
                },
                "href" : "https://api.spotify.com/v1/artists/7Ln80lUS6He07XvHI8qqHH",
                "id" : "7Ln80lUS6He07XvHI8qqHH",
                "name" : "Arctic Monkeys[...]
