---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH_API_KEY>&page=2&page_size=5&q=a&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.23248195648193'
      X-Mxm-Header-Status:
      - '200'
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.23248195648193,"available":10000},"body":{"track_list":[{"track":{"track_id":259245201,"track_name":"What
        Was I Made For? [From The Motion Picture \"Barbie\"]","track_name_translation_list":[],"track_rating":99,"commontrack_id":161074192,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":63,"album_id":57610143,"album_name":"What
        Was I Made For? [From The Motion Picture \"Barbie\"]","artist_id":29247465,"artist_name":"Billie
        Eilish","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Billie-Eilish\/What-Was-I-Made-For-From-The-Motion-Picture-Barbie?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Billie-Eilish\/What-Was-I-Made-For-From-The-Motion-Picture-Barbie\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2023-08-10T11:50:55Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":16,"music_genre_parent_id":34,"music_genre_name":"Soundtrack","music_genre_name_extended":"Soundtrack","music_genre_vanity":"Soundtrack"}}]}}},{"track":{"track_id":256522131,"track_name":"Dance
        The Night (From Barbie The Album)","track_name_translation_list":[],"track_rating":99,"commontrack_id":159305876,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":51,"album_id":57193843,"album_name":"Dance
        The Night (From Barbie The Album)","artist_id":33491593,"artist_name":"Dua
        Lipa","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Dua-Lipa\/Dance-[...]
