---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH_API_KEY>&page=2&page_size=5&q=wild%20nothing%20-%20chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.023138046264648'
      X-Mxm-Header-Status:
      - '200'
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-cdt-apisite-api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.023138046264648,"available":10000},"body":{"track_list":[{"track":{"track_id":130315172,"track_name":"Nothing
        Left","track_name_translation_list":[],"track_rating":1,"commontrack_id":72598855,"instrumental":0,"explicit":0,"has_lyrics":0,"has_subtitles":0,"has_richsync":0,"num_favourite":0,"album_id":26195559,"album_name":"15
        Dollars","artist_id":33665343,"artist_name":"Chinatown Suzy feat. Julianna","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Chinatown-Suzy-feat-Julianna\/Nothing-Left?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Chinatown-Suzy-feat-Julianna\/Nothing-Left\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2017-05-28T02:22:49Z","primary_genres":{"music_genre_list":[]}}},{"track":{"track_id":58222925,"track_name":"Chinatown
        (From ''Chinatown'')","track_name_translation_list":[],"track_rating":1,"commontrack_id":29077600,"instrumental":0,"explicit":0,"has_lyrics":0,"has_subtitles":0,"has_richsync":0,"num_favourite":0,"album_id":17610554,"album_name":"TV
        and Film Themes, Vol. 2","artist_id":24623868,"artist_name":"Hanny Williams","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Hanny-Williams\/Chinatown-From-Chinatown?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Hanny-Williams\/Chinatown-From-Chinatown\/edit?utm_source=application&utm_campaign=api&utm_medium=home%3A1409621116560","restricted":0,"updated_time":"2014-02-25T13:42:52Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":1168,"music_genre_parent_id":16,"music_genre_name":"Original
        Score","music_genre_name_extended":"Soundtrack \/ Original Score","music_genre_vanity":"Soundtrack-Original-Score"}},{"music_genre":{"music_genre_id":16,"music_genre_parent_id":34,"music_genre_name":"Soundtrack","music_genre_name_extended":"Soundtrack","music_genre_vanity":"Soundtrack"}}]}}},{"track":{"track_id":87669861,"track_name":"Nothing''s
        Gonna Stop Me Now - 132 Bpm","track_name_translation_list":[],"track_rating":1,"commontrack_id":49225026,"instrumental":0,"explicit":0,"has_lyrics":0,"has_subtitles":0,"has_richsync":0,"num_favourite":0,"album_id":16124124,"album_n[...]
