---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH_API_KEY>&page=1&page_size=20&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.014705896377563'
      X-Mxm-Header-Status:
      - '200'
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-cdt-apisite-api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.014705896377563,"available":0},"body":{"track_list":[]}}}'
  recorded_at: Thu, 27 Feb 2025 22:04:47 GMT
recorded_with: VCR 6.3.1
