---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&input=3&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-96
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmAL5MVgH6tFq1NXJBN8AwPne_ZBfUWSXBbZcsRYCqoGV0Um4HLDC7WxTF9P0YUd2H51oPFHBEP8s8M9F7tT_R4lc0nE0TPSHa4EBe7BRVI0","expiration_timestamp":1612688197,"ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1611392197,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"BY","has_joined_family":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"featurefm_token":false,"test_format":false,"force_adsource":"auto"},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card","option":"svd_discovery","behaviour":"new
        discovery algorithm, based on nearest neighbours search"},"artistmix_algorithms":{"id":"ARTIST_MIXES","option":"default","behaviour":"default
        artist mix algorithm"},"flow_algorithms":{"id":"Flow-2021","option":"D","behaviour":"default
        algorithm"},"showstab_newbie":{"id":"showstab_newbie","option":"default","behaviour":"default
        showstab"},"playlists_suggestion_algorithm_october_2020":{"id":"playlists_suggestion_algorithm_october_2020","option":"default","behaviour":"Playlists
        suggestion using thompson sampling reinforcement learning on als user artist
        cluster embeddings"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"BY","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"<DEEZER_SESSION_ID>","USER_TOKEN":"ca6435030c9ed895803fcff6dbe2419d3cc94f804d7a72b253392ada501fe286","PLAYLIST_WELCOME_ID":"1362496565","OFFER_ID":"0","OFFER_ELIGIBILITIES":[],"COUNTRY":"BY","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1611392197,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a39f13a0e2080988115d5f5677005e1b7e8201b1ceebdac0fdace7f9dd29a2f6d976c13879ed3316677bcd17ebb8539f15c6dd26edcee9ebe246f24540aa06ad2c6509db975f1438596728d403efff263afae6c12d538ee2a0c0b400bc5a27d8e82044f62165175647b7b7cfdd00f97a12e2fda33afb9f884172e4b73f59639141e5cd160cb28e5a45694a9d364e3b3663839cfe569fbdb67af05eb275be7916ba2692197ed07db9583ba1c0bb56b8d3719166048ffd48c2bc53a47250751bc30d6fef6106853a8478dde271897fa51477e195dec09c7ed1f2c0520c35ee27a3e82ba92c30ea198bfa821112467f5976b9d120ff66f06e6ec4fddb95665ea50eceb76d5d55291ccd55b1dd8112a4b39847e5204d12396302b71aa07a102e7125ed339fee56ff2c881dda05c43a6f7b58ca2afc00c31882fa71b4bc4350bd217ab963a66254f90c9f9e057f9e0e63fb9ec1edfd0648281ea16bf5948503fba4c30e0a11b7aa3d7ff86387df1e501656f57c565f4b8fb0d7f1011d588c276dd370e49f85109a26c651ed2c204a0d857777d2e97cfeaf737e4ff481088bd36bd5be3c6d2de58ec7df93051ae4ec0e54c07e730ccfb660c3c9296cc39174cdbbef11f1c051aa637c96e8b9bfd835a34ca147e91bb2e0981e1ac118787208b6dc3252155d066c690b0e5eb3567c50c502c9e78ab01d9f0867eb8e0924deb2cc118c5257ae74d8109c4b741eb3bba4a7a59267b7455d6b2038c56c989b6475d3e952e82a2d494f853a3fcba7bf4edb6887f94cd714f4b6ae7dec8c00ede28373d22b22b05b77647e91acea723b504f6410811d2aa9ac22af69ea21abd74d56b62fce5f0a4a89edf12c8aa91eda24f5fa149a72a4f30f30c659681460f3ce39775684fbd2ca1886cd442013ef51fba1628857f7d8a706df5f2b91f1b480abe497d830b08f809fa2f18cdb5142fe5011d381fb905d15e1c7583fba6ba2a688255a3aa0237e","checkForm":"<DEEZER_TEST_API_TOKEN>","FROM_ONBOARDING":"false","CUSTO":"","SETTING_REFERER_UPLOAD":"FR","REG_FLOW":["email"],"LOGIN_FLOW":["email"],"__DZR_GATEKEEPS__":{"story_video_background":false,"show_short_lyrics":false,"artist_mix_as_feature":false,"lego_adapter_album_page":false,"lego_adapter_artist_page":false,"mena_launch":false,"mobile_masthead_v2":false,"share_instagram_story":false,"share_lyrics_instagram_story":false,"artist_highlight":true,"concert_page":false,"share_snapchat_story":false,"activate_becks_landing_redirection":true,"activate_optin_confirmation":true,"ads_debug":false,"ad_mobile_formats":false,"ad_sponsored_tracks":true,"ad_disable_inmobi":true,"ad_pressure":false,"ads_transparency_report":false,"api_rest_restriction":false,"app_launch_custo":false,"app_premium_tab":false,"apprating_electron":false,"apprating_incentive":false,"apprating_mobile":false,"audio_ads":false,"authentication_phone":false,"banner_ad":false,"block_appboy_messages":false,"box_conversion_free":false,"box_conversion_mobile_tablet":false,"consent_screen_v0":false,"custo_collect_optin":false,"disable_conversion_boxes":false,"disable_call_push_notification_status_change":true,"family_b2c":true,"family_screen":false,"fan_mediation_ios":false,"force_homepage_redirection_to_hifi_page":false,"free_xp_hide_contextual_menu_mod_actions":false,"free_xp_snackbar_wordings_shuffle":false,"reset_queuelist_on_switch_to_free":false,"iam_new_release":false,"is_internal_early_access":false,"log_premium_with_ads":false,"inbox_v0":true,"canvas_test":false,"mobile_trial_manual":false,"mobile_signup_incentive":false,"mysetting_family_entrypoint":false,"native_ad":false,"native_app_rating_android":true,"native_app_rating_ios":true,"new_hp_artwork":false,"optimove":false,"passculture_landing_availability":false,"payment_api_ng":false,"performance_monitoring":false,"premium_box":false,"push_collect_optin":false,"push_custo_collect_optin":false,"push-trial-end":false,"radiobydeezer_landing_availability":false,"reactivation_desktop_notification":false,"restricted_shuffle":false,"restricted_shuffle_algos":false,"random_discography":false,"seasonal_offer":false,"seasonal_offer_group1":false,"seasonal_offer_group2":false,"seasonal_offer_group3":true,"seasonal_offer_logged":false,"seasonal_offer_unlogged":false,"seasonal_offer_custo_app_home":false,"seasonal_offer_custo_app_endoftrial":false,"family_seasonal_offer":false,"smart_offer":false,"student_offer":false,"track_preview":false,"webchat_desktop":false,"webchat_mobile":false,"dismissable_custo":false,"disable_subprofile_optin_access":false,"cast_receiver_v5":false,"free_on_cast":false,"partner_activation_journey":false,"gcast_force_beta":false,"gift_page_preview":false,"operator_v2":false,"operator_termsconditions":false,"talk_api":false,"voicecallback":false,"voice_control_freemium_amazon":true,"waze":false,"force_v5":true,"mobile_offline_expiration":false,"synchro_web_to_mobile":false,"console_log":false,"operator_test":false,"employee_feature":false,"instant_auth":true,"cell_add_to_library":false,"facebook_sso_wp":false,"news_entertainment":false,"material_design":false,"android_sponge":false,"android_jukebox":false,"video_ads":false,"ios_request_engine_v2":true,"ios_new_filter_swift":false,"mobile_mod_player":false,"ios_websocket_ng":false,"awareness_headphones":false,"batch_utm_logs":false,"exo_player_2":false,"open_explicit_display":true,"explicit_user_settings":true,"ucps_box":false,"ios_developer_menu":false,"ucps_website":true,"student_special_offer":false,"force_manual_trial_in_cb":false,"post_reg_conversion_push":false,"linear_track_preview_artist_page":true,"linear_track_preview_album_page":true,"new_track_cell":false,"personal_stats":false,"share_facebook_story":false,"android_labs":false,"api_mob_ssl":true,"dark_mode":true,"deeztools":false,"dynamic_calculated_smartcache":true,"batch_requests":true,"use_media_service":true,"use_url_generation":true,"metric.start_time":false,"metric.storage":false,"metric.timetoauth":false,"metric.timetoplay":false,"metric.the_reichenbach_fall":false,"metric.media_request_errors":true,"metric.podcastdownload":true,"metric.api":false,"cdn_metrics":false,"metric.playback_errors":false,"metric.playback_attempts":false,"avaudioengine":false,"change_chunk_size":true,"dzplayer_refacto":false,"gapless_playback":false,"prefetch_multiple_tracks":false,"triforce_queuelist_messages":false,"triforce_queuelist_ui":false,"volume_normalization":true,"public_api_album":false,"public_api_test":false,"public_api_track":false,"public_api_visible_test":true,"read_buffer_v2":false,"sentry":false,"single_instance_playback":false,"ad_triton":false,"iam_new_release_test_mode":false,"iam_new_release_only_on_friday":false,"android_auth_module_integration":false,"appcusto_testing":false,"appcusto_audio_settings":false,"appcusto_subscription_renewal":true,"disable_conversion_boxes_family":true,"appcusto_conversion_box":false,"disable_change_password":false,"disable_change_email":false,"secured_change_password":true,"secured_change_email":true,"secured_session_constant_code":false,"siwa_disabled":false,"register_no_emoji":true,"new_social_connect_errors":false,"disable_device_limitation":false,"free_xp_happy_hour":false,"braze_customer_message_enabled":false,"inbox_v1":true,"inbox_v2":true,"onboarding_artists":true,"launch_onboarding":true,"opening_interstitial_android":false,"opening_interstitial_ios":false,"opening_interstitial_mobile_v2":false,"tcfv2_consent_screen_webview":true,"ios_app_tracking_transparency":false,"deactivate_trial_mobile":true,"webview_dark_mode_enabled":false,"android_auto":true,"conversion_entrypoints_ng":true,"desktop_client_windows":true,"electron_html5_playback":true,"filter_content_for_verified_artists":true,"fnac_migration":true,"GDPR":true,"multi_account":true,"multi_account_subscribe":true,"native_reg_wp":true,"notification_center":true,"onboarding_handle_genre":true,"player_ng":true,"recaptcha_login":true,"recaptcha_signup":true,"sponsored_track_audio_signal":true,"up_next":true,"lyrics_on_cast":true,"hhe_enabled":false,"ios_homepod_setup":false,"30s_preview":false,"audiobook":false,"inapp_audiobooks":false,"carplay":false,"curator_edito":false,"curator_local":false,"curator_feature":false,"datagrid_refacto":false,"dynamic_page_v21":true,"channels":true,"christmas_easter_egg_player":true,"family_profile_migration":true,"family_parental_control":true,"family_picker_with_sub_accounts":true,"family_account_invitation":true,"favorites_tab_redesign":false,"mymusic_recently_played":true,"mymusic_display_dislikes":true,"mymusic_masthead":true,"mymusic_nodatas":true,"mymusic_tests_2016aug":true,"feed_empty":false,"flow_back_queuelist":false,"flow_in_homepage":true,"tab_flow_v1":false,"close_block_feature":true,"remove_lasttab":true,"metric.dynamic_page_loading":true,"metric.playlist_page_loading":true,"onboarding_channels":true,"onboarding_split":false,"linear_track_preview_playlist_page":true,"playlist_page_with_lego":false,"playlist_create":false,"playlist_assistant":false,"playlist_limit_2000":false,"songcatcher_playlist":false,"new_track_cells_playlists":false,"talk":true,"tab_podcast":true,"podcast_page_refacto":false,"downloaded_podcast_episodes":false,"talk_latest_playlist":true,"podcast_notifications_enabled":false,"podcast_notifications_disabled":true,"episode_download_in_player":false,"latest_episodes":true,"recommendation_country":true,"network_status_bar":true,"offline_search":false,"search_autocorrect":true,"search_enriched_topresult":false,"search_query_suggestions":true,"search_refacto":false,"search_tag":false,"search_topresult":false,"search_page_filter_type":false,"trending_queries":true,"songcatcher":false,"new_bottomtabbar":false,"unlimited_favorite_tracks":false,"unlimited_favorite_tracks_parallel_fetch":false},"thirdParty":{"facebook":{"appData":{"id":241284008322,"namespace":"deezer-app","scope":"email,user_birthday","version":"9.0","channel":"https:\/\/www.deezer.com\/fbgateway.html"},"lang":"en_GB"},"googleplus":{"appData":{"client_id":"630457285321-d5nmkpnjktjoeh426nvdu40rch1b1qe0.apps.googleusercontent.com","client_key":"AIzaSyC27tg4VNAkkQ-9P4fY45vUEfeYGSbDz_o","name":"Deezer","scope":"https:\/\/www.googleapis.com\/auth\/userinfo.profile
        https:\/\/www.googleapis.com\/auth\/userinfo.email https:\/\/www.googleapis.com\/auth\/user.emails.read
        https:\/\/www.googleapis.com\/auth\/user.birthday.read https:\/\/www.googleapis.com\/auth\/user.gender.read","redirect_uri":"postmessage","access_type":"offline","cookie_policy":"single_host_origin","request_visible_actions":"http:\/\/schemas.google.com\/AddActivity
        http:\/\/schemas.google.com\/ListenActivity http:\/\/schemas.google.com\/CommentActivity","version":"v1"},"uid":null,"accessToken":null},"braze":{"apiKey":"5ba97124-1b79-4acc-86b7-9547bc58cb18","isAvailable":true}},"URL_MEDIA":"https:\/\/media.deezer.com","GAIN":{"TARGET":"-15","ADS":"-13"},"checkFormLogin":"oT1Z8hfDO_PoFLcKCQEvFRpPWCMddCFe"}}'
  recorded_at: Sat, 23 Jan 2021 08:56:37 GMT
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=<DEEZER_TEST_API_TOKEN>&api_version=1.0&input=3&method=song.getListData
    body:
      encoding: UTF-8
      string: '{"sng_ids":[null]}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-90
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"data":[],"count":0,"total":0,"filtered_count":0}}'
  recorded_at: Sat, 23 Jan 2021 08:56:37 GMT
recorded_with: VCR 6.0.0
