---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=5&offset=5&q=wild%20nothing&sig=c739f6aaa7eb851f7ef04a97bacbfbbf&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front661806
      X-Trace-Id:
      - r32MOqNtbk-EgBLO-n75vR69IY9tEA
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":604,"items":[{"artist":"Wild Nothing","id":456246721,"owner_id":-218946932,"title":"The
        Bodybuilder","duration":257,"access_key":"9c5127f88908e18813","ads":{"content_id":"-218946932_456246721","duration":"257","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"track_code":"e3e08e649M1OjBe7bE8Pz33V99w3wDlaK-Ymi8eXNOoW2JzxHZpnfpp4LMkPJw_DA8n13HLIP0Am68QpC4A90y8hrWBunD4SPOl2","url":"https:\/\/cs1-42v4.vkuseraudio.ru\/s\/v1\/acmp\/iZ-iQvvPTranG0ln30w7qisSyUzWqsg4Lwt7DN1oQDi3AOsRn5syFG5MOxpxnaRF-Z2A3ygmffDUwPmhh3xMJgXQ0pyMOlQCRkNmVJyTuqMllJH_VNH1iRHStlcWw65AMTS0x_FM7qS2p7whO9MMNTmHNDn157BzXfV4F6A5DK2y1ktwcQ.mp3?siren=1","date":1698331350,"genre_id":18},{"artist":"Wild
        Nothing","id":456245930,"owner_id":-218946932,"title":"Dial Tone","duration":203,"access_key":"e22edb8f906906178d","ads":{"content_id":"-218946932_456245930","duration":"203","account_age_type":"3","puid1":"554","puid22":"11"},"is_explicit":false,"is_focus_track":false,"track_code":"37429039RcZVO8G_BJzaPnN4Jh28zz0hptAia0LilpXLeGAeJ4_WdYHP-s1n9NoyDWQkHfnHOzur3cDJjvWfrPKBUY8_h48ZJ16g","url":"https:\/\/cs9-13v4.vkuseraudio.ru\/s\/v1\/acmp\/1G5Bjt0bIYi35CQak5Hs1bOUz7XZfTd[...]
