---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=5&offset=5&q=wild%20nothing&sig=12b77293df5f63a1e158500faf8d9733&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":725,"items":[{"artist":"Wild Nothing","id":10334252,"owner_id":-2001334252,"title":"Adore","duration":295,"access_key":"0918ae5890373a2fb4","ads":{"content_id":"-2001334252_10334252","duration":"295","account_age_type":"3","puid22":"14"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"0fbde8dcQYEZmwTZMWagwiJDD6pN-kchmJyfmQcODpcLchTBLcKQZNICNKtSDqDOXF8NqgjyQTuVkWVe3z4v4l6LK15IvLuDag","url":"","date":1545228709,"lyrics_id":1,"album":{"id":936094,"title":"Life
        of Pause","owner_id":-2000936094,"access_key":"644037192016737d8b","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=34x34&quality=96&sign=fd0766620ddf6b3a7a88675df5aefa76&c_uniq_tag=LHJLN34Z_Qe9AoBcIdVa_dTXJRoa5Xl7nI8Ml0Pfbss&type=audio","photo_68":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=68x68&quality=96&sign=335f66b92ac17d97eeec73214de4b1dd&c_uniq_tag=cdZCx0seBAFzjmSUgwag_Hlm-EPh6-GdYacqiT5ZHsA&type=audio","photo_135":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=135x135&quality=96&sign=ee3ec11701e6452982b183caf297fc6c&c_uniq_tag=fPEOh68thz22IBjYPNifENrJPdtt4EjEDvqbex8L70Q&type=audio","photo_270":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=270x270&quality=96&sign=97f9fff8bb837d04e73a475f55fc6894&c_uniq_tag=V0eb_dvoLSvin2yKnzixMRkbmw6FfIrYuVLBRw1iMKA&type=audio","photo_300":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=300x300&quality=96&sign=ff05be4206156352da43964a9bc5b9c8&c_uniq_tag=m4n7xLifYoOnzn67HXjriqkyAioUy4YCL9T6QWJMC5U&type=audio","photo_600":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=600x600&quality=96&sign=1e835b2d29b8d40e4ae6a746fc9e3615&c_uniq_tag=RlWJgSWrDpNU9KbN6vPQTk6faPPouEsk1Hy_0VWg5fQ&type=audio","photo_1200":"https:\/\/sun19-2.userapi.com\/impf\/JzhUKfMscF7lZwWgUP8HWpyTulbnwPrghlH5UA\/jx1OFrzGCNI.jpg?size=1184x1184&quality=96&sign=3e4b451e6f3a6a328b07851aa65ef0f7&c_uniq_tag=gEJF8EwTjefsW7uKgCrxDNw28HSavu0mJS8R28LVJp0&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962","is_followed":false,"can_follow":false}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":29996703,"owner_id":-2001996703,"title":"Summer Holiday","duration":242,"access_key":"2776707a72a8cd382d","ads":{"content_id":"-2001996703_29996703","duration":"242","account_age_type":"3","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"6354811eRkqFBcQ51EzaOHKv3BE6XuMDzxipvNWFc5h5MgexIL2Xr06c9Eu3JNo0DLPeEX9W5RnCFSYzerVS7SzLOC52zuxC9g","url":"","date":1545232450,"album":{"id":1018186,"title":"Gemini","owner_id"[...]
