---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=5&offset=5&q=wild%20nothing&sig=e062707e645eb0f1853bde17ba2a094c&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":601,"items":[{"artist":"Wild Nothing","id":41080244,"owner_id":-2001080244,"title":"Letting
        Go","duration":221,"access_key":"f5aafc99522b178836","ads":{"content_id":"-2001080244_41080244","duration":"221","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"81af0925Mv6nJfE_fNDsewuCblcHVzPIMIHVlEX9nQYMQPt8Dn7yYVbK-00fuOx3dZ5sV0JfNdI9jHcTovrWa1C5ha03P_Xr1A","url":"https:\/\/cs1-62v4.vkuseraudio.net\/s\/v1\/ac\/8bhcrasqyhzIyzP6wtZDOH7FX1H3Hmbyr6M8qWAuOXoyrIMcREGSoYNoxcUhyqinqO6Ei5dtOGwp7CH08lg8OdJVR-F7r5lZGWDLc5KoGnmPv4QnhN1hKfK96M03-Iy5dcznvgWTAkWhNDw1KrWqm-GtNeaBb3KlHiqFwtHdctvxf6c\/index.m3u8","date":1545230184,"lyrics_id":1,"album":{"id":3304250,"title":"Indigo","owner_id":-2000304250,"access_key":"49128a5e0b8b2f1d6e","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=34x34&quality=96&sign=c03d58fa2ee8db9e3f63cad57e66820f&c_uniq_tag=zGapPijUGd_5T223ZZHmKc6orfx5vIV_yqvITvzx_t0&type=audio","photo_68":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=68x68&quality=96&sign=155e0d2de02725b00a8707fac8734e7e&c_uniq_tag=BZ3K_5i48M_PByG3ibEMNPip9fwt4Qs264MxiROxpyQ&type=audio","photo_135":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=135x135&quality=96&sign=b56c9f22a3a2851fc8e93e88c17825cb&c_uniq_tag=U4ZXl1MNqkow-LZS8CMIDf2j38-jt4mDFJflRJnGdes&type=audio","photo_270":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=270x270&quality=96&sign=554a0abde58dfcfca329fc32097c5626&c_uniq_tag=l6rOkVT6rFj7DfE-Zkh9zVwp6wyMXizN03WLpFtGKxU&type=audio","photo_300":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=300x300&quality=96&sign=390b8a5f7f50b6f9d58f7530bbf89269&c_uniq_tag=Yxtl50AB5TuxHXXnBMecZXsCrXD9ZCzUNpBQv2lxxQ0&type=audio","photo_600":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=600x600&quality=96&sign=635634f52b7c42255b9168b3823738d8&c_uniq_tag=eccc6f_BeSnmRpXdM6VE6cW6vBOdEH57zc8-hJO4574&type=audio","photo_1200":"https:\/\/sun1-84.userapi.com\/impf\/Qj1DMDinmvSyStx7Wf_FAKF-bDQE3tyiD8teIA\/7bt4ifVTs64.jpg?size=1184x1184&quality=96&sign=d7059090a7e1eb7fa1b426d4512384cd&c_uniq_tag=Cs56DwNFKuwWhzBhAksNRxTwJDJnw9IYlGrWtBFCFwY&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":29996703,"owner_id":-2001996703,"title":"Summer Holiday","duration":242,"access_key":"d628ef84a9a5634c3b","ads":{"content_id":"-2001996703_29996703","duration":"242","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"e9baf8b5iIA6_ieB2uaue-0AL-Jo8RDfwEV6pLjSB9fCOLB6DatIH8sRLfO5jq53kxwt4i35FsXNSPUrF9VMup7BzqsfrCKISQ","url":"https:\/\/cs1-75v4.vkuseraudio.net\/s\/v1\/ac\/xv0YZZ31[...]
