---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=5&offset=5&q=wild%20nothing&sig=e5e9476e8f42be94581c89a58e4a323e&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":10,"items":[{"artist":"Wild Nothing","id":456491618,"owner_id":371745449,"title":"Chinatown","duration":198,"access_key":"d621a9fa001e3e5b85","ads":{"content_id":"371745449_456491618","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"11fc4c1bsl7glua2a8f-cx_6kT4LEEi57jbpikSJKrUjmKwyhCy6","url":"https:\/\/cs1-41v4.vkuseraudio.net\/p10\/7a9c957a9aa69c.mp3?extra=scGVEMYOddBUBTcF8hKEyJOziyTtDGE4xbOkvjlWTOetaWQ_UP7lP1OHN1I-grF_GrQG3vXUpWhIJUdHuz6v-9RZUXMJnJ0Hq-8-97VhDVTEM6M1bTUfqxswSR95L2wgiKfwmD7VPIM8KyrKaWARiXfGbw&long_chunk=1","date":1509417381,"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":29996703,"owner_id":-2001996703,"title":"Summer Holiday","duration":242,"access_key":"a76e306e44b8ec6e88","ads":{"content_id":"-2001996703_29996703","duration":"242","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"17adda60tBBjJLfXDrNh9-1yvqkFJicCAFH3QHFYUs5vJIN88tO8","url":"https:\/\/cs1-78v4.vkuseraudio.net\/p1\/11a0eaf46f0f6c.mp3?extra=veA35mHQQGkr-ZTRlZdp8z-4aX6Fn8agqvwj[...]
