---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/audio.search?access_token=<VK_ACCESS_TOKEN>&count=5&offset=5&q=wild%20nothing&sig=a61e472ef9127f661b8d4bedc3925f45&v=5.131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":10,"items":[{"artist":"Wild Nothing","id":456491618,"owner_id":371745449,"title":"Chinatown","duration":198,"access_key":"d621a9fa001e3e5b85","ads":{"content_id":"371745449_456491618","duration":"198","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"f71c1e46FO9vRPtZ_IKeVs6I4jzxlbOAtIF_EUTCV7_a7hmyYW8c","url":"https:\/\/cs1-41v4.vkuseraudio.net\/p19\/acfdab9489d\/ce1565ed53f0df\/index.m3u8?extra=AtDXDl9ffXDmG3iAnr0eLy5ZMTv-wInP_80LntvWj3ueDSkOm3BldEk1pK7pf3hARcl-gggAHceRlLqgck4n0CFIcWbXWMjDeJN_WztED3H0jW0wTGf-vmEa6GgYFLxgtxcL7vJfBhOmdlJ_Pg8M25wz&long_chunk=1","date":1509417381,"album":{"id":1018186,"title":"Gemini","owner_id":-2000018186,"access_key":"4b0d541e5c641772e4","thumb":{"width":300,"height":300,"photo_34":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=34x34&quality=96&sign=7ca7a705355da95898c977542fbede24&c_uniq_tag=Sb1yeDD0HD1oE57ZljzlDGX4l2z1WNOjVMtbDU_78kU&type=audio","photo_68":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=68x68&quality=96&sign=b5536bef2e3c2f211e2c614cd67aa5de&c_uniq_tag=IDUI8oPxv2dAdpdTgqNRMVAtuI0ojpt860deMZkpAAU&type=audio","photo_135":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=135x135&quality=96&sign=f439fc40b39662d3502cd04ce0dc980a&c_uniq_tag=JJwukBzU7HDc-odMLLalYMq48tI80yEDAPiHpbpX1hs&type=audio","photo_270":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=270x270&quality=96&sign=f6029d198924f9af5e5690bac45e78bc&c_uniq_tag=HSQp0RldS3K1kfh6rBo9_VWDl8nm7GFoowF0nqzZQ4U&type=audio","photo_300":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=300x300&quality=96&sign=780df2d0f43267d0823a047745d74bee&c_uniq_tag=vCuotlb-H-xxr2HanceeBA7wA6o3YTaInV9nM5wakmQ&type=audio","photo_600":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=592x592&quality=96&sign=4471d9ae1975f96b1827917f0feb9fb4&c_uniq_tag=9KrQQh2CWDlN-PsjvwN99JFI7blIWX83iH1ru25Em5s&type=audio","photo_1200":"https:\/\/sun2.cosmostv-by-minsk.userapi.com\/impf\/PB84ihseW_qqDa6UKi_TVekbLxqD-LC9065osw\/Ee0Vi-il4r0.jpg?size=1184x1184&quality=96&sign=5383c4d938d99bba407ce02c26e164a4&c_uniq_tag=FCGoiyZtkuCuS8upex9Hcx2wZHpOasxh_XT6xq0scCQ&type=audio"}},"main_artists":[{"name":"Wild
        Nothing","domain":"4333005440018923962","id":"4333005440018923962"}],"short_videos_allowed":false,"stories_allowed":false,"stories_cover_allowed":false},{"artist":"Wild
        Nothing","id":29996703,"owner_id":-2001996703,"title":"Summer Holiday","duration":242,"access_key":"a76e306e44b8ec6e88","ads":{"content_id":"-2001996703_29996703","duration":"242","account_age_type":"3","puid1":"554","puid22":"4"},"is_explicit":false,"is_focus_track":false,"is_licensed":true,"track_code":"7abf9ef6ECvcbRHYp0c6nzqlOq1WmtKuQhmwi01948OWaT91dlMY","url":"https:\/\/cs1-66v4.vkuseraudio.net\/p1\/ac43ea20a58\/305582e6821deb\/index.m3u8?extra=XKWi5KSOCJQ2ugR[...]
