---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/search?limit=5&page=2&q=a&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '2041'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"query":"a","totalArtists":"21137963","totalAlbums":"0","totalTracks":"0","artistmatches":{"artist":[{"name":"A$AP
        Rocky","listeners":"1684574","url":"https://www.last.fm/music/A$AP+Rocky","streamable":"0","image":"https://lastfm.freetls.fastly.net/i/u/174s/a435f62d0eb4e00321f4902b00483edc.png","sr":{"w1":765992,"w2":0,"qw":12.0,"fw":"9191919","sw":"1078359668","md5":"13709067655428264261","w":"0xFFFFFFFFFF73BE10|0xFFFFFFFFBFB9898B|0xBE4064661B995145"}},{"name":"AC/DC","listeners":"3242315","url":"https://www.last.fm/music/AC%2FDC","streamable":"0","image":"https://lastfm.freetls.fastly.net/i/u/174s/63a9486e422e4d219d9a4d0e1ad7f343.png","sr":{"w1":751589,"w2":0,"qw":12.0,"fw":"9019089","sw":"1070280118","md5":"14922339712503220546","w":"0xFFFFFFFFFF76612E|0xFFFFFFFFC034D249|0xCF16CCE815758942"}},{"name":"System
        of a Down","listeners":"3964755","url":[...]
