---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/search?limit=20&page=1&q=wejlhg239gh23&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '178'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"query":"wejlhg239gh23","totalArtists":"0","totalAlbums":"0","totalTracks":"0","artistmatches":{"artist":[]},"albummatches":{"album":[]},"trackmatches":{"track":[]}}}'
  recorded_at: Tue, 05 Jul 2022 18:35:12 GMT
recorded_with: VCR 6.1.0
