---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/charts?f=tag:Wild%20Nothing&nr=1000&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '223'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"artist":[{"listeners":"6969","name":"RHEYA","scrobbles":"47481","weight":400,"url":"https://www.last.fm/music/RHEYA","image":"https://lastfm.freetls.fastly.net/i/u/174s/96ace13a81e59ce2cce815852b7772ae.png"}]}}'
  recorded_at: Tue, 14 Jun 2022 13:34:49 GMT
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&artist=RHEYA&autocorrect=0&format=json&limit=750&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"toptracks":{"track":[{"name":"FRANCHISE","playcount":"20266","listeners":"4372","url":"https://www.last.fm/music/Rheya/_/FRANCHISE","streamable":"0","artist":{"name":"Rheya","url":"https://www.last.fm/music/Rheya"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"When
        No One Else Is Around","playcount":"6311","listeners":"2062","url":"https://www.last.fm/music/Rheya/_/When+No+One+Else+Is+Around","streamable":"0","artist":{"name":"Rheya","url":"https://www.last.fm/music/Rheya"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fast[...]
