---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/album/1063611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-161
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"id":1063611,"title":"Hounds Of Love","upc":"5099902930152","link":"https:\/\/www.deezer.com\/album\/1063611","share":"https:\/\/www.deezer.com\/album\/1063611?utm_source=deezer&utm_content=album-1063611&utm_term=0_1611658521&utm_medium=web","cover":"https:\/\/api.deezer.com\/album\/1063611\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/9f2d90023183010d657b01cba6bd5f19\/1000x1000-000000-80-0-0.jpg","md5_image":"9f2d90023183010d657b01cba6bd5f19","genre_id":132,"genres":{"data":[{"id":132,"name":"Pop","picture":"https:\/\/api.deezer.com\/genre\/132\/image","type":"genre"}]},"label":"Parlophone
        UK","nb_tracks":12,"duration":2842,"fans":24250,"rating":0,"release_date":"2011-05-16","record_type":"album","available":true,"tracklist":"https:\/\/api.deezer.com\/album\/1063611\/tracks","explicit_lyrics":false,"explicit_content_lyrics":7,"explicit_content_cover":2,"contributors":[{"id":1049,"name":"Kate
        Bush","link":"https:\/\/www.deezer.com\/artist\/1049","share":"https:\/\/www.deezer.com\/artist\/1049?utm_source=deezer&utm_content=artist-1049&utm_term=0_1611658521&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/1049\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist","role":"Main"}],"artist":{"id":1049,"name":"Kate
        Bush","picture":"https:\/\/api.deezer.com\/artist\/1049\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist"},"type":"album","tracks":{"data":[{"id":11616579,"readable":true,"title":"Running
        Up That Hill (A Deal With God)","title_short":"Running Up That Hill (A Deal
        With God)","title_version":"","link":"https:\/\/www.deezer.com\/track\/11616579","duration":298,"rank":488919,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-2.dzcdn.net\/stream\/c-20d97b302bb6209f943e23a2a153300d-7.mp3","md5_image":"9f2d90023183010d657b01cba6bd5f19","artist":{"id":1049,"name":"Kate
        Bush","tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist"},"type":"track"},{"id":11616580,"readable":true,"title":"Hounds
        Of Love","title_short":"Hounds Of Love","title_version":"","link":"https:\/\/www.deezer.com\/track\/11616580","duration":183,"rank":455160,"explicit_lyrics":false,"[...]
