---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/track?index=5&limit=5&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-148
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1211059202,"readable":true,"title":"A Place A Time","title_short":"A
        Place A Time","title_version":"","link":"https:\/\/www.deezer.com\/track\/1211059202","duration":182,"rank":100000,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-5.dzcdn.net\/stream\/c-56234bf68521f0989c0da2db9f2ac2a2-2.mp3","md5_image":"c2ed0439b021611f291c8d8bd00ee3a1","artist":{"id":87400502,"name":"Abigail
        Marazzini","link":"https:\/\/www.deezer.com\/artist\/87400502","picture":"https:\/\/api.deezer.com\/artist\/87400502\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c2cd3eedcbe99b7a6c13f89e0c022b05\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c2cd3eedcbe99b7a6c13f89e0c022b05\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c2cd3eedcbe99b7a6c13f89e0c022b05\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c2cd3eedcbe99b7a6c13f89e0c022b05\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/87400502\/top?limit=50","type":"artist"},"album":{"id":200447422,"title":"House
        Relax, Vol. 8 (Deep and Chill Selection)","cover":"https:\/\/api.deezer.com\/album\/200447422\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c2ed0439b021611f291c8d8bd00ee3a1\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c2ed0439b021611f291c8d8bd00ee3a1\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c2ed0439b021611f291c8d8bd00ee3a1\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c2ed0439b021611f291c8d8bd00ee3a1\/1000x1000-000000-80-0-0.jpg","md5_image":"c2ed0439b021611f291c8d8bd00ee3a1","tracklist":"https:\/\/api.deezer.com\/album\/200447422\/tracks","type":"album"},"type":"track"},{"id":1196837882,"readable":true,"title":"A
        Poco a Poco","title_short":"A Poco a Poco","title_version":"","link":"https:\/\/www.deezer.com\/track\/1196837882","duration":172,"rank":100000,"explicit_lyrics":false,"explicit_content_lyri[...]
