---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: UTF-8
      string: client_id=<AMAZON_MUSIC_CLIENT_ID>&client_secret&grant_type=refresh_token&refresh_token=<AMAZON_MUSIC_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - 4MEFD4ZBJX7XTGPSQCP1
      X-Amzn-Requestid:
      - d498fed5-0b7c-4ca1-9369-b8736028bcc5
      X-Amz-Date:
      - Tue, 30 Sep 2025 20:50:44 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"Atza|IwEBIOfUjhhw4tytLskZV3MJh2Anc6nXRYJPMWA8I4k_ixHJx0WcGNH8s6EEsTc4M7T4RqWXvxRmT584VKPV7yGUmixy9QtihShb19R6Ss5hQPG5HaW0eKjfxylyfvh2BYLL9GLCQ1g3DTwP2k-MZ8ZrbOwVPbm5bkDKGmC85H8vCq_wIWW3Ndh86cNjzmv77QONkzNUBYwvw632598MFtrNI9aoXKHC07mjAZI5IeD54JOm_zd0ZIoiBDGE1kwZmzTFw4UADotQQ1hGJjD_XRjZwXSOU5p1f73mgyI6qxDpZSssTA-R16_6cO75mo2h_CTQRIna6LwPqO1AaR79HpfiSf28HrGIwANB73Yz5b6o1GYjfoI3bQ_WFjGUXyoI_jlciusy8kQ-OTb6jHgZ60kEMRft","refresh_token":"<AMAZON_MUSIC_REFRESH_TOKEN>","token_type":"bearer","expires_in":3600}'
  recorded_at: Tue, 30 Sep 2025 20:50:44 GMT
recorded_with: VCR 6.3.1
