---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token?client_id=<AMAZON_MUSIC_CLIENT_ID>&client_secret=<AMAZON_MUSIC_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<AMAZON_MUSIC_REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - 41WSABNH66AZ9MT7CMR4
      X-Amzn-Requestid:
      - 2011758d-3c22-4f95-ab05-c5451ccb5989
      X-Amz-Date:
      - Sun, 09 Feb 2025 21:13:32 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"Atza|IwEBIP24QvbT576xhX1poHFb6za16fmkq6G7K4Hoer1apRDefZRDJZQC1wYeX9sVQsal5Of7vml82ZXmSK4L5IhyCBjSfaOtJkul4wSMHUhAaMxcNV_w4w8ADKn2C6BtPEqflxZfSerB1VJnAMtzMW0j7X0mkecDco-xDaQDiUmV5idSu3NrCtTBkuOX7v3CO8JNwkUx9JxUA8JE5HHijpwtzAEeBGZhrFf-1zAQNhhJkjUZKUUPUJA-ani3k_XLhjmjjToESlTe3rNQPOWMBVA18q0H2eqkkP4gIRQdp_uZPdGLA_xVFtNt_ulFRXruWtZbDETlWvj16Nv1Az17ZX9WrKvOgaI5-wjstbwtuTCdFxXZG3VdL3UooTpoMzYBrwzztylU1dAGirWN-LFN1LCB8mwi","refresh_token":"<AMAZON_MUSIC_REFRESH_TOKEN>","token_type":"bearer","expires_in":3600}'
  recorded_at: Sun, 09 Feb 2025 21:13:32 GMT
recorded_with: VCR 6.3.1
