---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=1000&method=tag.getTopAlbums&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"albums":{"album":[{"name":"LOVE YOURSELF 結 ''Answer''","mbid":"","url":"https://www.last.fm/music/BTS","artist":{"name":"BTS","mbid":"0d79fe8e-ba27-4859-bb8c-2f255f346853","url":"https://www.last.fm/music/BTS"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/99ae58158640614ffce8d6cbbf23c99b.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/99ae58158640614ffce8d6cbbf23c99b.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/99ae58158640614ffce8d6cbbf23c99b.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/99ae58158640614ffce8d6cbbf23c99b.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Lover","mbid":"","url":"https://www.last.fm/music/Taylor+Swift","artist":{"name":"Taylor
        Swift","mbid":"20244d07-534f-4eff-b4d4-930878889970","url":"https://www.last.fm/music/Taylor+Swift"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/d3f083370c371a3ba1cddafaf193c27d.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/d3f083370c371a3ba1cddafaf193c27d.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/d3f083370c37[...]
