---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=tag.getTopAlbums&page=2&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"albums":{"album":[{"name":"Dangerous Woman","mbid":"","url":"https://www.last.fm/music/Ariana+Grande","artist":{"name":"Ariana
        Grande","mbid":"f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387","url":"https://www.last.fm/music/Ariana+Grande"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/c01e49f1304ed48f058e28387f85749a.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/c01e49f1304ed48f058e28387f85749a.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/c01e49f1304ed48f058e28387f85749a.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/c01e49f1304ed48f058e28387f85749a.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"1989","mbid":"b15d9a20-5fe8-4b35-ad58-bf686787d950","url":"https://www.last.fm/music/Taylor+Swift","artist":{"name":"Taylor
        Swift","mbid":"20244d07-534f-4eff-b4d4-930878889970","url":"https://www.last.fm/music/Taylor+Swift"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/7eb6cacc9dae4d3ccd436317add8cf4c.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/7eb6cacc9dae4d3ccd436317add8cf4c.png","size":"medium"},{"#text":"https://lastfm.freet[...]
