---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=5&method=tag.getTopAlbums&page=2&tag=pop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"albums":{"album":[{"name":"The Dutchess","mbid":"028388ff-2e86-4a86-ae46-9258fb3facbe","url":"https://www.last.fm/music/Fergie/The+Dutchess","artist":{"name":"Fergie","mbid":"4f9675d2-f6d5-486c-9b26-33dcca998500","url":"https://www.last.fm/music/Fergie"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/95571dda073a7262a5486794fe39fd88.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/95571dda073a7262a5486794fe39fd88.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/95571dda073a7262a5486794fe39fd88.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/95571dda073a7262a5486794fe39fd88.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"Spice","mbid":"11f89a03-558a-36c9-a192-34bc8f4873aa","url":"https://www.last.fm/music/Spice+Girls/Spice","artist":{"name":"Spice
        Girls","mbid":"bf0caafc-2b20-4e07-ab85-87e14ff430ce","url":"https://www.last.fm/music/Spice+Girls"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/a73ddc45f4dc75a5b1c097754fe7643f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/a73ddc45f4dc75a5b1c097754fe7643f.png","size":"medium"},{"#text":"https://lastfm.f[...]
