---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=20&method=tag.getTopAlbums&page=1&tag=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"albums":{"album":[],"@attr":{"tag":"wejlhg239gh23","page":"1","perPage":"20","totalPages":"0","total":"0"}}}'
  recorded_at: Sun, 07 Dec 2025 18:46:24 GMT
recorded_with: VCR 6.3.1
