---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/playlists/447196953?client_id=<SOUNDCLOUD_TEST_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"artwork_url":"https://i1.sndcdn.com/artworks-000301405641-dfua7i-large.jpg","created_at":"2018-02-12T23:39:36Z","description":"https://illuminatedpaths.bandcamp.com/album/late-night-delight-remastered","duration":2183393,"embeddable_by":"all","genre":"Vaporwave","id":447196953,"kind":"playlist","label_name":null,"last_modified":"2018-02-13T00:58:15Z","license":"all-rights-reserved","likes_count":1624,"managed_by_feeds":false,"permalink":"saint-pepsi-luxury-elite-late","permalink_url":"https://soundcloud.com/user-398251261/sets/saint-pepsi-luxury-elite-late","public":true,"purchase_title":null,"purchase_url":null,"release_date":"2013-02-02T00:00:00Z","reposts_count":79,"secret_token":null,"sharing":"public","tag_list":"\"SAINT
        PEPSI\" \"LUXURY ELITE\"","title":"SAINT PEPSI // LUXURY ELITE - Late Night
        Delight","uri":"https://api.soundcloud.com/playlists/447196953","user_id":391403154,"set_type":"album","is_album":true,"published_at":"2018-02-12T23:39:36Z","display_date":"2018-02-12T23:39:36Z","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000398944464-ui2gvt-large.jpg","first_name":"V
        A P O R","followers_count":647,"full_name":"V A P O R W A V E","id":391403154,"kind":"user","last_modified":"2018-09-19T14:36:06Z","last_name":"W
        A V E","permalink":"user-398251261","permalink_url":"https://soundcloud.com/user-398251261","uri":"https://api.soundcloud.com/users/391403154","urn":"soundcloud:users:391403154","username":"Vaporwave
        Essential","verified":false,"city":null,"country_code":null,"badges":{"pro":false,"pro_unlimited":false,"verified":false},"station_urn":"soundcloud:system-playlists:artist-stations:391403154","station_permalink":"artist-stations:391403154"},"tracks":[{"artwork_url":"https://i1.sndcdn.com/artworks-000301398708-ho43yk-large.jpg","caption":null,"commentable":true,"comment_count":7,"created_at":"2018-02-13T00:37:43Z","description":"https://illuminatedpaths.bandcamp.com/album/late-night-delight-remastered","downloadable":false,"download_count":0,"duration":104132,"full_duration":104132,"embeddable_by":"all","genre":"VAPORWAVE","has_downloads_left":false,"id":398718360,"kind":"track","label_name":null,"last_modified":"2022-04-17T21:53:12Z","license":"all-rights-reserved","likes_count":458,"permalink":"luxury-elite-mild-seven","permalink_url":"https://soundcloud.com/user-398251261/luxury-elite-mild-seven","playback_count":44229,"public":true,"publisher_metadata":{"id":398718360,"urn":"soundcloud:tracks:398718360"},"purchase_title":null,"purchase_url":null,"release_date":null,"reposts_count":20,"secret_token":null,"sharing":"public","state":"finished","streamable":true,"tag_list":"\"Luxury
        Elite\"","title":"LUXURY ELITE - MILD SEVEN","uri":"https://api.soundcloud.com/tracks/398718360","urn":"soundcloud:tracks:398718360","user_id":391403154,"visuals":null,"waveform_url":"https://wave.sndcdn.com/rkkzLwsQt7Hw_m.json","display_date":"2018-02-13T00:37:43Z","media":{"transcodings":[{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:398718360/863e08e8-0d73-4ec2-938c-7f1c22b0e92c/stream/hls","preset":"mp3_0_0","duration":104132,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mpeg"},"quality":"sq"},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:398718360/863e08e8-0d73-4ec2-938c-7f1c22b0e92c/stream/progressive","preset":"mp3_0_0","duration":104132,"snipped":false,"format":{"protocol":"progressive","mime_type":"audio/mpeg"},"quality":"sq"},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:398718360/e01776a7-5305-449d-900c-156dea19e296/stream/hls","preset":"opus_0_0","duration":104132,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/ogg;
        codecs=\"opus\""},"quality":"sq"}]},"station_urn":"soundcloud:system-playlists:track-stations:398718360","station_permalink":"track-stations:398718360","track_authorization":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJCWSIsInN1YiI6IiIsInJpZCI6IjlmNDdkNWRiLTI0YjctNDIzNy1hNWE2LTdjNDEzY2FlMzIzYiIsImlhdCI6MTcxODgyOTY2M30.Hk_nUdwS66IY7oKIaay6cSOWeFulXvVt8dVWtepZvME","monetization_model":"NOT_APPLICABLE","policy":"ALLOW","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000398944464-ui2gvt-large.jpg","first_name":"V
        A P O R","followers_count":647,"full_name":"V A P O R W A V E","id":391403154,"kind":"user","last_modified":"2018-09-19T14:36:06Z","last_name":"W
        A V E","permalink":"user-398251261","permalink_url":"https://soundcloud.com/user-398251261","uri":"https://api.soundcloud.com/users/391403154","urn":"soundcloud:users:391403154","username":"Vaporwave
        Essential","verified":f[...]
