---
http_interactions:
- request:
    method: get
    uri: https://api-v2.soundcloud.com/search/tracks?client_id=<SOUNDCLOUD_TEST_CLIENT_ID>&limit=20&offset=0&q=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collection":[],"total_results":0,"query_urn":"soundcloud:search:40085b095f954fadb12a628566fc2180"}'
  recorded_at: Fri, 09 Apr 2021 15:34:42 GMT
recorded_with: VCR 6.0.0
