---
http_interactions:
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=&api_version=1.0&method=deezer.getUserData
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-82
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmRQvoVkZIUFEr_vrxjKbHMD1UZE0kPfGhtXckTqolbZ5pcGPL0jluijSqirGeWzKLPeV8njYeDBZOoUQEPKQY4-8YNBOdJav4IIg9bdOs3Z","expiration_timestamp":1684309253,"license_country":"GB","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1683013253,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"web_streaming_used":0,"ads":false},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"Balanced","description":"Improve
        audio quality when connected to WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"off","onboarding":false,"onboarding_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"GB","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[]},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"FAVORITE_TAG":0,"ABTEST":{"discovery_algorithms":{"id":"discovery_card_november_2021","option":"svd_discovery","behaviour":"discovery
        algorithm, based on nearest neighbours search"},"premium_tab_native":{"id":"premium_tab_native","option":"A","behaviour":"premium
        tab native"},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing"},"screenshot_sharing":{"id":"screenshot_sharing","option":"C","behaviour":"sharing
        menu screenshot"},"botmanager_0721":{"id":"botmanager_0721","option":"botmanager_0721-enabled-recaptcha_enterprise","behaviour":"Enterprise
        recaptcha"},"catalog_pages_sign-up_banner_1122":{"id":"catalog_pages_sign-up_banner_1122","option":"a","behaviour":"New
        reg journey on the web"},"mobile_trial_v2":{"id":"mobile_trial_v2","option":"default","behaviour":"Normal
        behaviour, no mobile trial"},"tnb_reminder":{"id":"tnb_reminder","option":"control","behaviour":"Normal
        behaviour, no steeper no reminder"},"ad_config_profile_pressure":{"id":"ad_config_profile_pressure","option":"A","behaviour":"Advertising
        pressure is increased"},"catalog_pages_streamable_extract_0422":{"id":"catalog_pages_streamable_extract_0422","option":"b","behaviour":"clicking
        on the \"play\" button displays a 1 CTA dismissible popup"},"premium_acq_toggle_0423":{"id":"premium_acq_toggle_0423","option":"a","behaviour":"new
        challenging toggle that switches between premium and family offers"}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"GB","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"3726816282","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"en","SETTING_LOCALE":"en-GB","DIRECTION":"ltr","SESSION_ID":"free45c5f853efb81b5e9c224fccee5f855d31c8","USER_TOKEN":"788328351d0c4efb8fa9893d07ac12f2d889fb3f89e90ad6765a44688e61b0b7","PLAYLIST_WELCOME_ID":"63141574","OFFER_ID":0,"OFFER_NAME":"Deezer
        Free","OFFER_ELIGIBILITIES":[],"COUNTRY":"GB","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1683013253,"PLAYER_TOKEN":"c6587216592c97c810e52b29569f58a33ff68057f417cd24646901fbdcf30f239914b6f5bd7b45d7394aff3419ec1f6e2ebcef921ee797595045ec35a9058334cf1b2a8846f393691e776c3d6efc5f10172c228679d1d1cf749de96cacf7809b23d8ac9adc9d4aa846fe5603abea6f6b9e0d63a6de28693d59e8bd9f296d566eae2a6d44966954f7712652687e9deb2c6448646bd8651583b9af69fb78d92ea12b1541e8e3192a52006f7b7863d688225b32a8f97e84138d7eff49f3f312bc66c75c68339c170957ecc5aa1652e4c4bb6cc24c45099f10bee9593a19e3d3d34279a544ae56398811a9a5795ddee844ce6d663b66690ea456bb7[...]
- request:
    method: post
    uri: https://www.deezer.com/ajax/gw-light.php?api_token=Dc6oIesMF2d95YGiEyWbyhbJqHDIjp8F&api_version=1.0&method=deezer.pageAlbum
    body:
      encoding: UTF-8
      string: '{"alb_id":"8548989","lang":"en"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Deezer-Client-Ip:
      - 178.172.193.8
      X-Host:
      - blm-web-191
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"error":[],"results":{"DATA":{"ALB_ID":"8548989","ART_ID":"4088","ART_NAME":"Tony
        Bennett","ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"1","ART_NAME":"Tony
        Bennett","ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"578644","LOCALES":{"lang_en":{"name":"Tony
        Bennett"},"lang_ja-hrkt":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c4\u30c8"},"lang_ja-jpan":{"name":"\u30c8\u30cb\u30fc\u30fb\u30d9\u30cd\u30c3\u30c8"},"lang_ja-kana":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c3\u30c8"},"lang_zh-hant":{"name":"\u6771\u5c3c\u73ed\u5c3c\u7279"},"lang_zh-cn":{"name":"\u6258\u5c3c\u73ed\u5c3c\u7279"},"lang_ar":{"name":"\u062a\u0648\u0646\u064a
        \u0628\u064a\u0646\u064a\u062a"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"},{"ART_ID":"75491","ROLE_ID":"0","ARTISTS_ALBUMS_ORDER":"2","ART_NAME":"Lady
        Gaga","ART_PICTURE":"83110025016968b8882a1c92a3284a6b","RANK":"966172","LOCALES":{"lang_en":{"name":"Lady
        Gaga"},"lang_ja-hrkt":{"name":"\u30ec\u30c7\u30a3\u30fc\u30ac\u30ac"},"lang_ja-jpan":{"name":"\u30ec\u30c7\u30a3\u30fc\u30fb\u30ac\u30ac"},"lang_ja-kana":{"name":"\u30ec\u30c7\u30a3\u30ac\u30ac"},"lang_ja":{"name":"Lady
        Gaga"},"lang_fr":{"name":"Lady Gaga"}},"ARTIST_IS_DUMMY":false,"__TYPE__":"artist"}],"URL_REWRITING":"tony-bennett","LABEL_NAME":"Streamline\/Columbia\/Interscope","STYLE_NAME":"","ALB_TITLE":"Cheek
        To Cheek (Deluxe)","VERSION":"","ALB_PICTURE":"84a017eef6b55d499bea52ab8d336f86","DIGITAL_RELEASE_DATE":"2014-09-23","PHYSICAL_RELEASE_DATE":"2014-09-23","ORIGINAL_RELEASE_DATE":"2014-09-19","PROVIDER_ID":"427","SONY_PROD_ID":"","UPC":"602537972241","STATUS":"1","ALB_CONTRIBUTORS":{"main_artist":["Tony
        Bennett","Lady Gaga"]},"NB_FAN":48511,"AVAILABLE":true,"EXPLICIT_ALBUM_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":0},"SUBTYPES":{"isStudio":false,"isLive":false,"isCompilation":false,"isKaraoke":false},"PRODUCER_LINE":"\u2117
        2014 Columbia Records, a division of Sony Music Entertainment \/Interscope
        Records, a division of UMG Recordings, Inc.","COPYRIGHT":"\u00a9 2014 Columbia
        Records, a division of Sony Music Entertainment \/Interscope Records, a division
        of UMG Recordings, Inc.","__TYPE__":"album"},"SONGS":{"data":[{"SNG_ID":"84791891","PRODUCT_TRACK_ID":"147676781","UPLOAD_ID":0,"SNG_TITLE":"Anything
        Goes","ART_ID":"4088","PROVIDER_ID":"427","ART_NAME":"Tony Bennett","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Tony
        Bennett","ARTIST_IS_DUMMY":false,"ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"578644","LOCALES":{"lang_en":{"name":"Tony
        Bennett"},"lang_ja-hrkt":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c4\u30c8"},"lang_ja-jpan":{"name":"\u30c8\u30cb\u30fc\u30fb\u30d9\u30cd\u30c3\u30c8"},"lang_ja-kana":{"name":"\u30c8\u30cb\u30fc\u30d9\u30cd\u30c3\u30c8"},"lang_zh-hant":{"name":"\u6771\u5c3c\u73ed\u5c3c\u7279"},"lang_zh-cn":{"name":"\u6258\u5c3c\u73ed\u5c3c\u7279"},"lang_ar":{"name":"\u062a\u0648\u0646\u064a
        \u0628\u064a\u0646\u064a\u062a"}},"__TYPE__":"artist"},{"ART_ID":"75491","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"2","ART_NAME":"Lady
        Gaga","ARTIST_IS_DUMMY":false,"ART_PICTURE":"83110025016968b8882a1c92a3284a6b","RANK":"966172","LOCALES":{"lang_en":{"name":"Lady
        Gaga"},"lang_ja-hrkt":{"name":"\u30ec\u30c7\u30a3\u30fc\u30ac\u30ac"},"lang_ja-jpan":{"name":"\u30ec\u30c7\u30a3\u30fc\u30fb\u30ac\u30ac"},"lang_ja-kana":{"name":"\u30ec\u30c7\u30a3\u30ac\u30ac"},"lang_ja":{"name":"Lady
        Gaga"},"lang_fr":{"name":"Lady Gaga"}},"__TYPE__":"artist"}],"ALB_ID":"8548989","ALB_TITLE":"Cheek
        To Cheek (Deluxe)","TYPE":0,"VIDEO":false,"DURATION":"123","ALB_PICTURE":"84a017eef6b55d499bea52ab8d336f86","ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK_SNG":"433861","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_128":"1984469","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_MHM1_RA1":"0","FILESIZE_MHM1_RA2":"0","FILESIZE_MHM1_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"1984469","GAIN":"-10","MEDIA_VERSION":"4","DISK_NUMBER":"1","TRACK_NUMBER":"1","TRACK_TOKEN":"AAAAAWRQvoZkUdfGnK8i9KJCWMaBf57lVPEuLXG-yuGY8XkEvgGQ1Q0KjUQ8FwI-_oSsy_GdwyJt8RYma9DXnsdX1Jw5qu6DbMng91QSzoq6-TW3dM-vIS3ObCmjks2FUwFhyjKdgMWQEVJEwhOLOA","TRACK_TOKEN_EXPIRE":1683085254,"VERSION":"","MEDIA":[{"TYPE":"preview","HREF":"https:\/\/cdns-preview-f.dzcdn.net\/stream\/c-f7a9a2ab7d518d3b65a256a6d349757c-4.mp3"}],"EXPLICIT_LYRICS":"0","RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"ISRC":"USUM71410776","HIERARCHICAL_TITLE":"","SNG_CONTRIBUTORS":{"main_artist":["Tony
        Bennett","Lady Gaga"],"composer":["Cole Porter"]},"LYRICS_ID":1826386,"EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":0},"__TYPE__":"song","S_MOD":1,"S_PREMIUM":1,"DATE_START_PREMIUM":"2000-01-01","DATE_START":"2000-01-01","STATUS":1,"USER_ID":0,"URL_REWRITING":"tony-bennett"},{"SNG_ID":"84791893","PRODUCT_TRACK_ID":"183671031","UPLOAD_ID":0,"SNG_TITLE":"Cheek
        To Cheek","ART_ID":"4088","PROVIDER_ID":"427","ART_NAME":"Tony Bennett","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"4088","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"1","ART_NAME":"Tony
        Bennett","ARTIST_IS_DUMMY":false,"ART_PICTURE":"9bf3d058ce4c5675e70f62fc419eb527","RANK":"578644","LOCALES":{"lang_en":{"nam[...]
