---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album=nocturne&api_key=<LASTFM_API_KEY>&artist=wild%20nothing&autocorrect=1&format=json&limit=50&method=album.getTopTags&page&track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"2012","url":"https://www.last.fm/tag/2012"},{"count":85,"name":"dream
        pop","url":"https://www.last.fm/tag/dream+pop"},{"count":47,"name":"best of
        2012","url":"https://www.last.fm/tag/best+of+2012"},{"count":39,"name":"indie","url":"https://www.last.fm/tag/indie"},{"count":39,"name":"favorite
        albums","url":"https://www.last.fm/tag/favorite+albums"},{"count":31,"name":"indie
        pop","url":"https://www.last.fm/tag/indie+pop"},{"count":24,"name":"indie
        rock","url":"https://w[...]
