---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?album=nocturne&api_key=<LASTFM_API_KEY>&artist=wejlhg239gh23&autocorrect=1&format=json&limit=50&method=album.getTopTags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"Album not found","links":[]}'
  recorded_at: Mon, 12 Oct 2020 11:26:44 GMT
recorded_with: VCR 6.0.0
