---
http_interactions:
- request:
    method: get
    uri: https://kerve.last.fm/kerve/charts?f=tag:wild%20nothing&nr=2500&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Raw-Content-Length:
      - '1661'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"track":[{"artist":"Wild Nothing","listeners":"609878","name":"My
        Angel Lonely","scrobbles":"20510801","weight":240,"artist_url":"https://www.last.fm/music/Wild+Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/My+Angel+Lonely","image":"https://lastfm.freetls.fastly.net/i/u/174s/85382d1d98294ee85c063271310c048d.png","playlink":{"class":"chartlist-play-button
        js-playlink","title":"Play track","target":"_blank","href":"https://www.youtube.com/watch?v=ee29L0xoXEo","data-affiliate":"youtube","data-affiliate-id":"ee29L0xoXEo","data-youtube-id":"ee29L0xoXEo","data-youtube-url":"https://www.youtube.com/watch?v=ee29L0xoXEo","data-track-name":"My
        Angel Lonely","data-track-url":"https://www.last.fm/music/Wild+Nothing/_/My+Angel+Lonely","data-artist-name":"Wild
        Nothing","data-artist-url":"https://www.last.fm/music/Wild+Nothing"}},{"artist":"Wild
        Nothing","listeners":"609878","name":"Take Me In","scrobbles":"20510801","weight":200,"artist_url":"https://www.last.fm/music/Wild+Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Take+Me+In","image":"https://lastfm.freetls.fastly.net/i/u/174s/85382d1d98294ee85c063271310c048d.png","playlink":{"class":"chartlist-play-button
        js-playlink","title":"Play track","target":"_blank","href":"https://www.youtube.com/watch?v=YO2Jevc3LS4","data-affiliate":"youtube","data-affiliate-id":"YO2Jevc3LS4","data-youtube-id":"YO2Jevc3LS4","data-youtube-url":"https://www.youtube.com/watch?v=YO2Jevc3LS4","data-track-name":"Take
        Me In","data-track-url":"https://www.last.fm/music/Wild+Nothing/_/Take+Me+In","data-artist-name":"Wild
        Nothing","data-artist-url":"https://www.last.fm/music/Wild+Nothing"}}]}}'
  recorded_at: Tue, 14 Jun 2022 13:03:54 GMT
recorded_with: VCR 6.1.0
