---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/6029d549-5858-4936-9156-b90770d2ae92?fmt=json&inc=artist-credits%2Btags%2Breleases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1152'
      X-Ratelimit-Reset:
      - '1683619354'
      Etag:
      - W/"8b3eb04483a13e8211af60956381f16e"
    body:
      encoding: ASCII-8BIT
      string: '{"tags":[{"name":"alternative","count":3},{"count":3,"name":"alternative
        pop/rock"},{"name":"alternative/indie rock","count":1},{"name":"art pop","count":1},{"count":1,"name":"art
        rock"},{"count":1,"name":"college rock"},{"name":"j-pop","count":1},{"count":8,"name":"pop"},{"count":3,"name":"pop
        rock"},{"count":1,"name":"pop/rock"},{"name":"progressive rock","count":1},{"count":1,"name":"rock"},{"count":1,"name":"synth-pop"}],"artist-credit":[{"artist":{"disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","tags":[{"name":"alternative","count":1},{"count":1,"name":"alternative
        rock"},{"name":"ambient pop","count":2},{"count":5,"name":"art pop"},{"count":5,"name":"art
        rock"},{"count":1,"name":"baroque pop"},{"count":1,"name":"british"},{"count":1,"name":"crossover
        prog"},{"name":"indie rock","count":1},{"name":"new wave","count":1},{"name":"pop","count":5},{"name":"pop
        rock","count":1},{"count":5,"name":"progressive pop"},{"name":"rock","count":3},{"name":"singer-songwriter","count":1}],"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush","sort-name":"Bush, Kate","type":"Person"},"joinphrase":"","name":"Kate
        Bush"}],"disambiguation":"","id":"6029d549-5858-4936-9156-b90770d2ae92","video":false,"releases":[{"id":"352cac7d-a33f-4878-8ecb-960bcd9cf125","packaging":"Cardboard/Paper
        Sleeve","disambiguation":"","tags":[],"barcode":"","status":"Promotion","country":"FR","date":"1985-07-30","text-representation":{"script":"Latn","language":"eng"},"artist-credit":[{"name":"Kate
        Bush","joinphrase":"","artist":{"name":"Kate Bush","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"name":"ambient pop","count":2},{"name":"art pop","count":5},{"count":5,"name":"art
        rock"},{"count":1,"name":"baroque pop"},{"name":"british","count":1},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"count":1,"name":"new wave"},{"count":5,"name":"pop"},{"name":"pop
        rock","count":1},{"name":"progressive pop","count":5},{"count":3,"name":"rock"},{"name":"singer-songwriter","count":1}],"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","sort-name":"Bush,
        Kate","type":"Person"}}],"release-events":[{"date":"1985-07-30","area":{"id":"08310658-51eb-3801-80de-5a0739207115","disambiguation":"","type-id":null,"name":"France","sort-name":"France","type":null,"iso-3166-1-codes":["FR"]}}],"status-id":"518ffc83-5cde-34df-8627-81bff5093d92","quality":"normal","packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","title":"Hounds
        of Love"},{"quality":"normal","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","artist-credit":[{"joinphrase":"","name":"Kate
        Bush","artist":{"name":"Kate Bush","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":"","tags":[{"name":"alternative","count":1},{"name":"alternative
        rock","count":1},{"name":"ambient pop","count":2},{"count":5,"name":"art pop"},{"count":5,"name":"art
        rock"},{"count":1,"name":"baroque pop"},{"name":"british","count":1},[...]
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/352cac7d-a33f-4878-8ecb-960bcd9cf125?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1054'
      X-Ratelimit-Reset:
      - '1683619354'
      Etag:
      - W/"40ac851020e7b868172f847e76e23e26"
    body:
      encoding: ASCII-8BIT
      string: '{"text-representation":{"script":"Latn","language":"eng"},"label-info":[{"label":{"type-id":"7aaa37fe-2def-3476-b359-80245850062d","type":"Original
        Production","tags":[{"name":"pop","count":1},{"count":1,"name":"post-rock"},{"name":"uk","count":1}],"label-code":542,"name":"EMI","disambiguation":"EMI
        Records, since 1972","sort-name":"EMI","id":"c029628b-6633-439e-bcee-ed02e8a338f7"},"catalog-number":"240384"},{"label":{"disambiguation":"EMI
        Records, since 1972","sort-name":"EMI","id":"c029628b-6633-439e-bcee-ed02e8a338f7","type-id":"7aaa37fe-2def-3476-b359-80245850062d","type":"Original
        Production","tags":[{"name":"pop","count":1},{"name":"post-rock","count":1},{"count":1,"name":"uk"}],"label-code":542,"name":"EMI"},"catalog-number":"7461642"}],"packaging-id":"f7101ce3-0384-39ce-9fde-fbbd0044d35f","asin":null,"quality":"normal","media":[{"tracks":[{"recording":{"video":false,"length":300000,"first-release-date":"1985-07-30","id":"6029d549-5858-4936-9156-b90770d2ae92","artist-credit":[{"joinphrase":"","artist":{"type":"Person","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush","sort-name":"Bush, Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":""},"name":"Kate
        Bush"}],"disambiguation":"","title":"Running Up That Hill (A Deal With God)","tags":[{"name":"alternative","count":3},{"count":3,"name":"alternative
        pop/rock"},{"count":1,"name":"alternative/indie rock"},{"name":"art pop","count":1},{"name":"art
        rock","count":1},{"count":1,"name":"college rock"},{"name":"j-pop","count":1},{"name":"pop","count":8},{"name":"pop
        rock","count":3},{"count":1,"name":"pop/rock"},{"name":"progressive rock","count":1},{"name":"rock","count":1},{"count":1,"name":"synth-pop"}]},"artist-credit":[{"artist":{"disambiguation":"","sort-name":"Bush,
        Kate","id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate Bush","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person"},"name":"Kate
        Bush","joinphrase":""}],"id":"0b1a04d3-2ce4-4f84-a73a-7d9e525bc668","title":"Running
        Up That Hill","position":1,"number":"A1","length":null},{"number":"A2","length":null,"position":2,"title":"Hounds
        of Love","recording":{"first-release-date":"1985-07-30","id":"984deb15-92f3-4917-9929-c0e930dc8a54","disambiguation":"","artist-credit":[{"artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","type":"Person","name":"Kate
        Bush","disambiguation":"","id":"4b585938-f271-45e2-b19a-91c634b5e396","sort-name":"Bush,
        Kate"},"name":"Kate Bush","joinphrase":""}],"title":"Hounds of Love","tags":[{"coun[...]
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/release/989aab5c-d5bf-45d8-a867-6e30ecc35ad4?fmt=json&inc=artist-credits%2Btags%2Blabels%2Brecordings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '962'
      X-Ratelimit-Reset:
      - '1683619354'
      Etag:
      - W/"bb482c91b8fa06ee091293f15c858223"
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Running Up That Hill","id":"989aab5c-d5bf-45d8-a867-6e30ecc35ad4","asin":null,"cover-art-archive":{"artwork":false,"count":0,"front":false,"darkened":false,"back":false},"label-info":[{"label":{"disambiguation":"EMI
        Records, since 1972","name":"EMI","type-id":"7aaa37fe-2def-3476-b359-80245850062d","sort-name":"EMI","type":"Original
        Production","id":"c029628b-6633-439e-bcee-ed02e8a338f7","tags":[{"name":"pop","count":1},{"name":"post-rock","count":1},{"count":1,"name":"uk"}],"label-code":542},"catalog-number":"KB
        1"}],"country":"GB","artist-credit":[{"joinphrase":"","name":"Kate Bush","artist":{"type":"Person","tags":[{"count":1,"name":"alternative"},{"count":1,"name":"alternative
        rock"},{"name":"ambient pop","count":2},{"name":"art pop","count":5},{"name":"art
        rock","count":5},{"count":1,"name":"baroque pop"},{"count":1,"name":"british"},{"count":1,"name":"crossover
        prog"},{"count":1,"name":"indie rock"},{"name":"new wave","count":1},{"count":5,"name":"pop"},{"name":"pop
        rock","count":1},{"count":5,"name":"progressive pop"},{"name":"rock","count":3},{"name":"singer-songwriter","count":1}],"id":"4b585938-f271-45e2-b19a-91c634b5e396","name":"Kate
        Bush","disambiguation":"","sort-name":"Bush, Kate","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"}}],"text-representation":{"script":"Latn","language":"eng"},"media":[{"track-count":2,"position":1,"track-offset":0,"format-id":"1d5a48e4-e94a-36dc-84e2-0c5f9f880aa7","tracks":[{"title":"Running
        Up That Hill","id":"c293201a-4122-3738-bb25-a67953a11ddd","number":"A","artist-credit":[{"name":"Kate
        Bush","artist":{"sort-name":"Bush, Kate","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Kate
        Bush","type":"Person","id":"4b585938-f271-45e2-b19a-91c634b5e396","disambiguation":""},"joinphrase":""}],"recording":{"artist-credit":[{"joinphrase":"","artist":{"disambiguation":"","id":"4b585938-f271-45[...]
