---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=<LASTFM_API_KEY>&autocorrect=0&format=json&limit=20&method=chart.getTopTracks&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tracks":{"track":[{"name":"Easy On ME","duration":"0","playcount":"3892241","listeners":"400259","mbid":"","url":"https://www.last.fm/music/Adele/_/Easy+On+ME","streamable":{"#text":"0","fulltrack":"0"},"artist":{"name":"Adele","mbid":"cc2c9c3c-b7bc-4b8b-84d8-4fbd8779e493","url":"https://www.last.fm/music/Adele"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]},{"name":"good
        4 u","duration":"0","playcount":"13982639","listeners":"633115","mbid":"","url":"https://www.last.fm/music/Olivia+Rodrigo/_/good+4+u","str[...]
