---
http_interactions:
- request:
    method: post
    uri: https://api-partner.spotify.com/pathfinder/v2/query
    body:
      encoding: UTF-8
      string: '{"variables":{"includePreReleases":false,"numberOfTopResults":20,"searchTerm":"a","offset":5,"limit":5,"includeAudiobooks":true,"includeAuthors":false},"operationName":"searchArtists","extensions":{"persistedQuery":{"version":1,"sha256Hash":"72c8c7c1e789a9f11e261c4f9ae35a9465bbb90137c584428989573617b6c08d"}}}'
    headers:
      Authorization:
      - Bearer BQClTkaY77eY_KsGJLdQiidDfsyCW4dXHD9crKMUomPnjF17BVYYzYTl0S6MC3cICmpgueSNZ_-xgPHrtGiVxz5MaZin7XNW1HE77rgUxzbNzexL77OTMDGDQDkECNpKvFHFX4sYL9DNjK4v_Mi2EpvHVd8wxqY6sheaC2EOFV443rmY-ysvFzLNbKfebstWUQzKc5mZgEfP6daaq2JOP_2rQbA-tbnn9z653esCTs1LGa_v1XrNKBTpuWEhvU0tv7yw_M0YWi4x6XYdZn3qvu-9xVY-xb_FTqGSg_v14CtqFQVTQoFv1bFg82bCdbDjQmjYuS_YKqQWzVEv4c3_QmEGsZjEajVbtTL2o-c6tDGJbQqMVePBjmXudK9byaPNggwqWJT-vGvEG37a
      Client-Token:
      - "<SPOTIFY_CLIENT_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"searchV2":{"artists":{"items":[{"__typename":"ArtistResponseWrapper","data":{"__typename":"Artist","profile":{"name":"Arctic
        Monkeys"},"uri":"spotify:artist:7Ln80lUS6He07XvHI8qqHH","visualIdentity":{"squareCoverImage":{"__typename":"VisualIdentityImage","extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":176,"green":177,"red":218},"highContrast":{"backgroundBase":{"alpha":255,"blue":40,"green":40,"red":72},"backgroundTintedBase":{"alpha":255,"blue":74,"green":74,"red":109},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":194,"green":195,"red":238}},"higherContrast":{"backgroundBase":{"alpha":255,"blue":40,"green":40,"red":72},"backgroundTintedBase":{"alpha":255,"blue":74,"green":74,"red":109},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":96,"green":215,"red":30},"textSubdued":{"alpha":255,"blue":194,"green":195,"red":238}},"minContrast":{"backgroundBase":{"alpha":255,"blue":40,"green":40,"red":72},"backgroundTintedBase":{"alpha":255,"blue":74,"green":74,"red":109},"textBase":{"alpha":255,"blue":255,"green":255,"red":255},"textBrightAccent":{"alpha":255,"blue":255,"green":255,"red":255},"textSubdued":{"alpha":255,"blue":255,"green":255,"red":255}}}}},"visuals":{"avatarImage":{"extractedColors":{"colorDark":{"hex":"#482828","isFallback":false}},"sources":[{"height":640,"url":"https://i.scdn.co/image/ab6761610000e5eb7da39dea0a72f581535fb11f","width":640},{"height":160,"url":"https://i.scdn.co/image/ab6761610000f1787da39dea0a72f581535fb11f","width":160},{"height":320,"url":"https://i.scdn.co/image/ab676161000051747da39dea0a72f581535fb11f","width":320}]}}}},{"__typename":"ArtistResponseWrapper","data":{"__typename":"Artist","profile":{"name":"AC/DC"},"uri":"spotify:artist:711MCceyCBcFnzjGY4Q7Un","visualIdentity":{"squareCoverImage":{"__typename":"VisualIdentityImage","extractedColorSet":{"encoreBaseSetTextColor":{"alpha":255,"blue":240,"green[...]
