---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search/track?index=0&limit=20&q=kate%20bush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-75
      Content-Type:
      - application/json; charset=utf-8
      X-Org:
      - FR
    body:
      encoding: UTF-8
      string: '{"data":[{"id":3127829,"readable":true,"title":"Babooshka","title_short":"Babooshka","title_version":"","link":"https:\/\/www.deezer.com\/track\/3127829","duration":209,"rank":875345,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-9.dzcdn.net\/stream\/c-9c50db40bbba831665adc3c543c5aa5b-13.mp3","md5_image":"87e5abddfa462f4c7f300ef3e7fb6a69","artist":{"id":1049,"name":"Kate
        Bush","link":"https:\/\/www.deezer.com\/artist\/1049","picture":"https:\/\/api.deezer.com\/artist\/1049\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ccbaf14c0164d376285f6500944fba21\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1049\/top?limit=50","type":"artist"},"album":{"id":301642,"title":"Never
        for Ever","cover":"https:\/\/api.deezer.com\/album\/301642\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/87e5abddfa462f4c7f300ef3e7fb6a69\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/87e5abddfa462f4c7f300ef3e7fb6a69\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/87e5abddfa462f4c7f300ef3e7fb6a69\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/87e5abddfa462f4c7f300ef3e7fb6a69\/1000x1000-000000-80-0-0.jpg","md5_image":"87e5abddfa462f4c7f300ef3e7fb6a69","tracklist":"https:\/\/api.deezer.com\/album\/301642\/tracks","type":"album"},"type":"track"},{"id":3128004,"readable":true,"title":"Wuthering
        Heights","title_short":"Wuthering Heights","title_version":"","link":"https:\/\/www.deezer.com\/track\/3128004","duration":269,"rank":778976,"explicit_lyrics":false,"explicit_content_lyrics"[...]
