---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.get?apikey=<MUSIXMATCH_API_KEY>&artist_id=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Mxm-Api-Application-Id:
      - '1409621116560'
      X-Mxm-Header-Execute-Time:
      - '0.0026569366455078'
      X-Mxm-Header-Status:
      - '404'
      X-Mxm-Nginx-Ingress-Controller:
      - nginx-cdt-apisite-api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":404,"execute_time":0.0026569366455078},"body":""}}'
  recorded_at: Tue, 09 Sep 2025 07:41:59 GMT
recorded_with: VCR 6.3.1
