---
http_interactions:
- request:
    method: post
    uri: https://gql.music.amazon.co.uk/
    body:
      encoding: UTF-8
      string: '{"operationName":"ArtistSeo","variables":{"id":"B001E3EXN2"},"extensions":{"clientLibrary":{"name":"@apollo/client","version":"4.1.6"},"persistedQuery":{"version":1,"sha256Hash":"15ac3f03bd4f65df9a36a6d91667362cd6459fdfd55a8b9734f36a0df57d9c04"}}}'
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json
      Csrf-Rnd:
      - '1059232176'
      Csrf-Token:
      - SGLLHatnSPrFfa0q29BcgrTQtbdkc4f1yjq2ypSC5NU=
      Csrf-Ts:
      - '1791577333'
      Music-Territory:
      - GB
      X-Amzn-Client-Subscription-Tier:
      - AMF
      X-Amzn-Device-Id:
      - '52070736753726032'
      X-Amzn-Device-Type:
      - A16ZV8BU3SN1N3
      X-Amzn-Feature-Flags:
      - api-cache,use-ups
      X-Amzn-Session-Id:
      - 520-7073675-3726032
      X-Amzn-Trace-Start:
      - '1791577336001'
      X-Api-Key:
      - amzn1.application.4ff5579ca2e3407aba989a1f5dbdaf69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 6ac9779c5483860826f54849b09f0385
      X-Amzn-Requestid:
      - dc501f35-3200-4230-aeba-159a2eda7782
      Etag:
      - W/"504-zDloq57GrVfC1QmVtqSqaen8/gI"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"id":"owv7cmmodx5vq73ta6giqaajta","__typename":"User","tier":"FREE"},"artist":{"__typename":"Artist","id":"B001E3EXN2","name":"Johnny
        Cash","url":"https://music.amazon.co.uk/artists/B001E3EXN2?ref=dm_ff_amazonmusic_greenhornet_web","images":[{"id":"91LY6p6bbhL:BACKGROUND","url":"https://m.media-amazon.com/images/I/91LY6p6bbhL.jpg","__typename":"Image"},{"id":"51w2X-BPtNL:PROFILE","url":"https://m.media-amazon.com/images/I/51w2X-BPtNL.jpg","__typename":"Image"},{"id":"418q73aHi8L:BACKGROUND","url":"https://m.media-amazon.com/images/I/418q73aHi8L.jpg","__typename":"Image"},{"id":"91o5i8r29OL:PROFILE","url":"https://m.media-amazon.com/images/I/91o5i8r29OL.jpg","__typename":"Image"}],"topSongs":{"edges":[{"node":{"__typename":"Track","id":"B001GTQH8S","title":"Highwayman
        [Explicit]","duration":184,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"},{"node":{"__typename":"Track","id":"B00CURK9SO","title":"Hurt","duration":217,"parentalSettings":{"isKidFriendly":false,"__typename":"ParentalSettings"}},"__typename":"SearchTrackEdge"}],"__typename":"SearchTrackResults"}}},"extensions":{"appConfig":{},"context":{},"headers":{},"trace":{"requestTrace":{"extensionDurationMs":0},"requestDurationMs":10}}}'
  recorded_at: Fri, 09 Oct 2026 23:24:12 GMT
recorded_with: VCR 6.4.0
