---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/label?fmt=json&limit=20&offset=0&query=wejlhg239gh23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '780'
      X-Ratelimit-Reset:
      - '1680898559'
      Last-Modified:
      - Fri, 07 Apr 2023 19:53:05 GMT
      Etag:
      - '"Y2FlODQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: ASCII-8BIT
      string: '{"created":"2023-04-07T20:15:59.301Z","count":0,"offset":0,"labels":[]}'
  recorded_at: Fri, 07 Apr 2023 20:15:59 GMT
recorded_with: VCR 6.1.0
